/*
 * @(#)theme.css 1.0 04/03/14 
 * 
 * All rights reserved.    
 * PROPRIETARY: E-DEAS
 */

/**
 * Hoja de estilos generales para el sistema CG_PWB           
 * @author Sergio Henao -E-DEAS-
 * @version 1.0, 02/03/15
 * @modifier Sergio Henao -E-DEAS- 02/03/15
 */
 
/**********************************
	Estilos para los encabezados
***********************************/
.imgLoading{
	content:url(/PVSWeb/resources/images/DEFAULT/Loading.gif);
	width: 183px;
	height: 17px;
}
.headerGrid{
	display: none !important;
	height: 0px !important;
}

.layoutHeader{
	height: 70px !important;
}

.layoutHeader .ui-layout-unit-content{
	height: 70px !important;
}

.header-btnMenu{
	font-family: FontAwesome !important;
	font-size: 40px !important;
}

.header-btnMenu .ui-button-text{
	display: none;
}

.header-btnActions{
	font-family: FontAwesome !important;
	font-size: 40px !important;
}

.header-btnActions .ui-button-text{
	display: none;
}

.headerNombreApp{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
}

/**********************************
	Estilos para el footer
***********************************/

.layoutFooter{
	display: none !important;
	height: 0px !important;
}


/**********************************
	Estilos para el login
***********************************/

.login-grid-ppal{
	text-align: center;
}

.imgLogoLogin{
	content:url(../../images/CG/CG_Logo.jpg.faces);
	width: auto;
	height: auto;
	margin-top: 10px;
	margin-bottom: 20px;
}

.login-app-tt{
	text-transform: uppercase;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14pt;
}

.login-field-label{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	margin-top: 10px;
	margin-bottom: 10px;
}

.login-field-value{
	font-size: 10pt !important;
	width: 250px;
}

.login-button{
	text-align: center;
	margin-top: 10px;
}

.login-accessrequest{
	margin-top: 30px;
	text-align: center;
}

.login-accessrequest a label{
	color: gray;
	font-size: 16pt !important;
	cursor: pointer;
}

/********************************
	Estilos para el menú
*********************************/

.customMenu{
	background: white;
	border: 0px;
	padding: 0px;
	left: 0px !important;
	width: 95% !important;
	overflow-y: scroll;      
  	height: 80%;
}

.customMenu .ui-menu-list{
}

.customMenu .ui-menu-list .ui-widget-header{
	min-height: 40px;
	color: #444444;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14pt;
	text-align: left;
	font-weight: bold;
}

.customMenu .ui-widget .ui-widget-content{
	background: none;
	background-color: #FFFFFF;
	border: 0px solid;
	padding: 2px;
	margin-left: 2px;
	margin-top: 0px;
}

.customMenu .ui-menuitem-link {
	background: none;
	background-color: #DDDDDD;
	height: 40px;
	vertical-align: middle;
	margin-right: 2px;
}

.customMenu .ui-menuitem a {
	width: 95% !important;
}

.customMenu .ui-menuitem a span {
	margin-top: 10px;
}

.customMenu .ui-menuitem-text{
	color: #444444;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	text-align: left;
	font-weight: normal;
}

/***************************************
	Estilos de las páginas de listas	
****************************************/

.list_title{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14pt;
	font-weight: bold;
	margin-left: 10px;
	margin-top: 10px;
}

.list-button-add-new{
	font-family: FontAwesome !important;
	font-size: 16px !important;
	margin-top: 10px;
	margin-bottom: 5px;
}

.list-button-add-new .ui-button-text{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px !important;
}

.list-button-read{
	font-family: FontAwesome !important;
	font-size: 50px !important;
	margin-left: 20px;
	margin-top: 3px;
	width: 60px;
}

.list-button-read .ui-button-text{
	display: none;
}

.list-button-edit{
	font-family: FontAwesome !important;
	font-size: 24px !important;
	margin-left: 20px;
	margin-top: 3px;
	width: 60px;
}

.list-button-edit .ui-button-text{
	display: none;
}

.list-button-delete{
	font-family: FontAwesome !important;
	font-size: 24px !important;
	margin-left: 20px;
	margin-top: 3px;
	width: 60px;
}

.list-button-delete .ui-button-text{
	display: none;
}

.list-datatable{
	
}

.list-datatable .ui-paginator{
	font-size: 12pt
}

.list-datatable .ui-column-title{
	font-size: 9pt
}

.list-datatable .ui-column-filter{
	font-size: 9pt
}

.list-datatable .ui-datatable-data{
	font-size: 9pt
}

.list-datatable .ui-datatable-footer{
	font-size: 9pt
}

/***************************************
	Estilos del diálogo de confirmación	
****************************************/
.confirmDialog{
	
}

.confirmDialog .ui-dialog-titlebar{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt !important;
}

.confirmDialog .ui-dialog-content{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt !important;
}

.confirmDialog .ui-dialog-buttonpane{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt !important;
}

.confirmDialog button{
	font-family: FontAwesome !important;
	font-size: 16px !important;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 5px;
}

.confirmDialog .ui-button-text{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px !important;
}

/**********************************
	Estilos para el CRUD
***********************************/
.layoutContent{
	padding: 0px !important;
	border: 0px solid !important;
}

.layoutContent .ui-layout-unit-content{
	padding: 0px !important;
}

.crudFieldset{
	padding-top: 70px !important;
	border: 0px solid !important;
}

.crudFieldset .ui-grid-row{
	padding-top: 5px !important;
}

.ribbons{
	position: fixed;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	height: 55px;
	padding: 2px !important;
	z-index: 100;
}

.ribbons .ui-toolbar-group-left{
	font-size: 24px !important;
	padding-top: 10px !important;
}

.crud-button-save{
	font-family: FontAwesome !important;
	font-size: 50px !important;
	margin-left: 10px;
	margin-bottom: 5px;
}

.crud-button-save .ui-button-text{
	display: none !important;
}

.crud-button-edit{
	font-family: FontAwesome !important;
	font-size: 50px !important;
	margin-left: 10px;
	margin-bottom: 5px;
}

.crud-button-edit .ui-button-text{
	display: none !important;
}

.crud-button-delete{
	font-family: FontAwesome !important;
	font-size: 50px !important;
	margin-left: 10px;
	margin-bottom: 5px;
}

.crud-button-delete .ui-button-text{
	display: none !important;
}

.crud-button-password{
	font-family: FontAwesome !important;
	font-size: 24px !important;
	margin-left: 10px;
	margin-bottom: 5px;
}

.crud-button-password .ui-button-text{
	display: none !important;
}

.crud-button-approve{
	font-family: FontAwesome !important;
	font-size: 24px !important;
	margin-left: 10px;
	margin-bottom: 5px;
}

.crud-button-approve .ui-button-text{
	display: none !important;
}

.crud-button-refuse{
	font-family: FontAwesome !important;
	font-size: 24px !important;
	margin-left: 10px;
	margin-bottom: 5px;
}

.crud-button-refuse .ui-button-text{
	display: none !important;
}

.crud-button-download{
	font-family: FontAwesome !important;
	font-size: 24px !important;
	margin-left: 10px;
	margin-bottom: 5px;
}

.crud-button-download .ui-button-text{
	display: none !important;
}

.crud-requiredMsg{
	width: 100%;
	font-size: 18px;
	font-style: italic;
	text-align: center;
}

.crud-field-label{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt !important;
	font-weight: bold;
}

.crud-field-value{
	font-size: 10pt !important;
	width: 250px;
	margin-left: 20px;
}

.crud-field-label-one-col{
	font-size: 14pt !important;
	font-style: italic;
}

.crud-field-value-one-col{
	font-size: 14pt !important;
	margin-left: 50px !important;
}

.crud-field-select-value-one-col{
	font-size: 14pt !important;
	margin-left: 50px;
}

.crud-field-radio-value-one-col{
	margin-left: 50px;
}

.crud-field-radio-value-one-col label{
	color: #4f4f4f !important;
	font-size: 14pt !important;
}

.crud-panelgrid tr, .crud-panelgrid td {
    border: none;
    border-width: 0px !important;
}

.dialogHidden{
	display: ;
}

.crud-button-back{
	font-family: FontAwesome !important;
	font-size: 50px !important;
	margin-left: 10px;
	margin-bottom: 5px;
}

.crud-button-back .ui-button-text{
	display: none !important;
}

.crud-file-upload{
	font-size: 10pt !important;
	width: 100%;
}

.crud-file-upload .ui-fileupload-files{
	font-size: 10pt !important;
}

/***************************************
	Estilos de los mensajes GROWL
****************************************/
.ui-growl {
	font-weight: normal;
	color: red;
}

.ui-growl-title {
	font-weight: normal;
}

.ui-growl-message p {
	font-weight: normal;
}

/***************************************
	Estilos de la consignacion
****************************************/
.consignacion_cliente_icono{
	font-family: FontAwesome !important;
	font-size: 100px !important;
	color: #40a2ea !important;
}

.consignacion_vehiculo_icono{
	font-family: FontAwesome !important;
	font-size: 100px !important;
	color: #40a2ea !important;
}

.consignacion_detalle_icono{
	font-family: FontAwesome !important;
	font-size: 100px !important;
	color: #40a2ea !important;
}

.consignacion_negocio_icono{
	font-family: FontAwesome !important;
	font-size: 100px !important;
	color: #40a2ea !important;
}