/*
 * @(#)theme_definirCia.css 1.0
 * 
 * All rights reserved.    
 * PROPRIETARY: E-DEAS
 */

/**
 * Hoja de estilos para la página inicial de definición de compañía         
 * @author Sergio Henao -E-DEAS-
 * @version 1.0, 02/03/15
 * @modifier Sergio Henao -E-DEAS- 02/03/15
 */
 .imgLoading{
	background:url(/PVSWeb/resources/images/DEFAULT/Loading.gif);
	width: 183px;
	height: 17px;
}

.defCia-grid-ppal{
	text-align: center;
}

.defCia-grid-tt{
	text-transform: uppercase;
	margin-top: 50px;
	font-weight: bold;
}

.defCia-grid-nota{
	margin-top: 50px;
}

.defCia-grid-selector{
	margin-top: 50px;
	width: 300px;
}

.defCia-grid-button{
	margin-top: 50px;
}