/*
 * @(#)theme.css 1.0 04/03/14 
 * 
 * All rights reserved.    
 * PROPRIETARY: E-DEAS
 */

/**
 * Hoja de estilos generales para el sistema PVS (Default)           
 * @author Sergio Henao
 * @version 1.0, 02/03/15
 * @modifier Sergio Henao 02/03/15
 */
 
 /********************************
	Estilos para los generics
*********************************/
.imgLoading{
	background:url(/PVSWeb/resources/images/DEFAULT/Loading.gif);
	width: 183px;
	height: 17px;
}


/********************************
	Estilos para los encabezados
*********************************/
.layoutHeader{
	padding: 0px !important;
	height: 101px !important;
}

.layoutHeader .ui-layout-unit-content{
	padding: 0px !important;
	height: 101px !important;
}

.headerLogo{
	width: 241px;
	height: 101px;
}

.imgLogo{
	background:url(/PVSWeb/resources/images/DEFAULT/PVS_Logo.jpg);
	width: 241px;
	height: 101px;
	background-size: 241px 101px;
    background-repeat: no-repeat;
}

.headerNombreApp{	
	margin-top: 20px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
}

.headerNombreCiaLabel{
	
}

.headerNombreAppLabel{
	display: none;
}

.headerGridMobile{
	display: none;
}

.headerGrid{
	background-color: #CCCCCC;
}

.headerUserInfo table tr td{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

.header_help{
	font-family: FontAwesome !important;
	font-size: 28px !important;
	color: blue;
	cursor: pointer;
}

.header_help_container{
	text-align: right;
	margin-right: 20px;
}

/**********************************
	Estilos para el footer
***********************************/
.layoutFooter{
	background-color: #CCCCCC;
}

.layoutFooter .ui-layout-unit-content{
	background-color: #CCCCCC;
	height: 40px !important;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	margin-top: 10px;
	color: #000000;
}

.footerCenterText{	
	text-align: center;
	margin-top: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
}

.footerLeftLogo{
	text-align: right;
}

.footerLeftImgLogo{
	
}

/********************************
	Estilos para el menú
*********************************/

.ui-layout-north {
	z-index:200 !important;
	overflow:visible !important;
}

.ui-layout-north .ui-layout-unit-content {
	overflow:visible !important;
}

.customMenu{
	background: none;
	border: 0px;
	padding: 0px;
	left: 0px;
	width: 100%;
	margin-top: 5px;
}

.customMenu .ui-widget .ui-widget-content{
	background: none;
	background-color: #FFFFFF;
	border: 0px;
	padding: 2px;
	width: 160px !important;
	margin-left: 2px;
	margin-top: 0px;
}

.customMenu .ui-menuitem-link {
	background: none;
	background-color: #B22222;
	height: 10px;
	vertical-align: middle;
	margin-right: 2px;
}

.customMenu .ui-menuitem a {
	width: 150px !important;
}

.customMenu .ui-menuitem a:hover{
	background-color: #B11111;
}

.customMenu .ui-menuitem-text{
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	text-align: left;
	font-weight: bold;
}

.customMenu .ui-menuitem a:hover .ui-menuitem-text{
	color: gray;
}

/********************************
	Estilos para el login
*********************************/

.login-grid-ppal{
	margin-top: 20px !important;
}

.login-grid-ppal .ui-grid-row{
	width: 500px;
	margin: 0 auto;
	padding: 10px;
}

.login-app-tt{
	text-transform: uppercase;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
}

.login-field-label{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

.login-field-value{
	font-size: 10pt !important;
	width: 250px;
}

.login-button{
	text-align: center;
	margin-top: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt !important;
}

.login-accessrequest{
	text-align: right;
}

.login-accessrequest a label{
	color: gray;
	font-size: 10pt !important;
	cursor: pointer;
}

/***************************************
	Estilos del diálogo de confirmación	
****************************************/
.confirmDialog{
	
}

.confirmDialog .ui-dialog-titlebar{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt !important;
}

.confirmDialog .ui-dialog-content{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt !important;
}

.confirmDialog .ui-dialog-buttonpane{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt !important;
}

.confirmDialog button{
	font-family: FontAwesome !important;
	font-size: 16px !important;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 5px;
}

.confirmDialog .ui-button-text{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px !important;
}

/***************************************
	Estilos de las páginas de listas	
****************************************/

.list_title{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14pt;
	font-weight: bold;
	margin-top: 30px;
	text-align: center;
}

.list-button-add-new{
	font-family: FontAwesome !important;
	font-size: 16px !important;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 5px;
}

.list-button-add-new .ui-button-text{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px !important;
}

.list-button-add-new-min{
	font-family: FontAwesome !important;
	font-size: 16px !important;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 5px;
	width: 30px;
}

.list-button-add-new-min .ui-button-text{
	display: none !important;
}

.list-button-read{
	font-family: FontAwesome !important;
	font-size: 16px !important;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 5px;
}

.list-button-read .ui-button-text{
	display: none;
}

.list-button-edit{
	font-family: FontAwesome !important;
	font-size: 16px !important;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 5px;
}

.list-button-edit .ui-button-text{
	display: none;
}

.list-button-delete{
	font-family: FontAwesome !important;
	font-size: 16px !important;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 5px;
}

.list-button-delete .ui-button-text{
	display: none;
}

.list-datatable{
	margin-left: 10px;
	margin-right: 10px;
}

.list-datatable .ui-paginator{
	font-size: 9pt
}

.list-datatable .ui-column-title{
	font-size: 9pt
}

.list-datatable .ui-column-filter{
	font-size: 9pt
}

.list-datatable .ui-datatable-data{
	font-size: 9pt
}

.list-datatable .ui-datatable-footer{
	font-size: 9pt
}

/***************************************
	Estilos de los modales	
****************************************/

.ui-dialog .ui-dialog-titlebar{
	font-size: 14px !important;
}

/**********************************
	Estilos para el CRUD
***********************************/
.layoutContent{
	padding: 0px !important;
}

.layoutContent .ui-layout-unit-content{
	padding: 0px !important;
}

.crudFieldset{
	padding-top: 50px !important;
	border: 0px solid !important;
}

.crudFieldset .ui-grid-row{
	padding-top: 5px !important;
}

.ribbons{
	position: fixed;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	height: 30px;
	padding: 2px !important;
	z-index:100 !important;
}

.ribbons .ui-toolbar-group-left{
	font-size: 14px !important;
	padding-top: 10px !important;
}

.crud-button-save{
	font-family: FontAwesome !important;
	font-size: 24px !important;
	margin-left: 10px;
	margin-bottom: 5px;
}

.crud-button-save .ui-button-text{
	display: none !important;
}

.crud-button-edit{
	font-family: FontAwesome !important;
	font-size: 24px !important;
	margin-left: 10px;
	margin-bottom: 5px;
}

.crud-button-edit .ui-button-text{
	display: none !important;
}

.crud-button-delete{
	font-family: FontAwesome !important;
	font-size: 24px !important;
	margin-left: 10px;
	margin-bottom: 5px;
}

.crud-button-delete .ui-button-text{
	display: none !important;
}

.crud-button-password{
	font-family: FontAwesome !important;
	font-size: 24px !important;
	margin-left: 10px;
	margin-bottom: 5px;
}

.crud-button-password .ui-button-text{
	display: none !important;
}

.crud-button-approve{
	font-family: FontAwesome !important;
	font-size: 24px !important;
	margin-left: 10px;
	margin-bottom: 5px;
}

.crud-button-approve .ui-button-text{
	display: none !important;
}

.crud-button-refuse{
	font-family: FontAwesome !important;
	font-size: 24px !important;
	margin-left: 10px;
	margin-bottom: 5px;
}

.crud-button-refuse .ui-button-text{
	display: none !important;
}

.crud-button-download{
	font-family: FontAwesome !important;
	font-size: 24px !important;
	margin-left: 10px;
	margin-bottom: 5px;
}

.crud-button-download .ui-button-text{
	display: none !important;
}

.crud-requiredMsg{
	width: 100%;
	font-size: 11px;
	font-style: italic;
	text-align: right;
}

.crud-field-label{
	font-size: 10pt !important;
	font-style: italic;
}

.crud-field-value{
	font-size: 10pt !important;
	width: 250px;
}

.crud-field-select-value{
	font-size: 10pt !important;
	width: 250px !important;
}

.ui-selectonemenu-panel{
	width: 250px !important;
}

.crud-field-radio-value label{
	color: #4f4f4f !important;
	font-size: 10pt !important;
}

.crud-field-label-one-col{
	font-size: 10pt !important;
	font-style: italic;
	font-weight: bold;
}

.crud-field-value-one-col{
	font-size: 10pt !important;
	width: 200px !important;
	margin-left: 20px !important;
}

.crud-field-select-value-one-col{
	font-size: 10pt !important;
	width: 200px !important;
	margin-left: 20px;
}

.crud-field-radio-value-one-col{
	margin-left: 20px;
}

.crud-field-radio-value-one-col label{
	color: #4f4f4f !important;
	font-size: 10pt !important;
}

.crud-field-select-panel{
	font-size: 10pt !important;
}

.dialogHidden{
	display: ;
}

.crud-button-back{
	font-family: FontAwesome !important;
	font-size: 24px !important;
	margin-left: 10px;
	margin-bottom: 5px;
}

.crud-button-back .ui-button-text{
	display: none !important;
}

.crud-file-upload{
	font-size: 10pt !important;
	width: 100%;
}

.crud-file-upload .ui-fileupload-files{
	font-size: 10pt !important;
}

.crud-panelgrid tr, .crud-panelgrid td {
    border-width: 0px !important;
}

/***************************************
	Estilos de los mensajes GROWL
****************************************/
.ui-growl {
	font-weight: normal;
}

.ui-growl-title {
	font-weight: normal;
}

.ui-growl-message p {
	font-weight: normal;
}

/***************************************
	Estilos para la página de error 
****************************************/
.errorPage-title{
	text-align: center;
	text-transform: uppercase;
	margin-top: 30px;
	font-weight: bold;
}

.errorPage-text{
	text-align: center;
	margin-top: 30px;
}

.errorPage-link{
	text-align: center;
	margin-top: 30px;
}

/***************************************
	Estilos para la página de usuario no autenticado
****************************************/
.usuNoAut-title{
	text-align: center;
	text-transform: uppercase;
	margin-top: 30px;
	font-weight: bold;
}

.usuNoAut-text{
	text-align: center;
	margin-top: 30px;
}

.usuNoAut-link{
	text-align: center;
	margin-top: 30px;
}

/***************************************
	Estilos de las subsecciones
****************************************/
.crud_subsection_title{
	margin-top: 10px;
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
}

.crud_accordion .ui-accordion-header{
	font-size: 14px !important;
}

.crud_accordion .ui-accordion-content{
	padding-left: 0px !important;
}

.crudFieldsetNoRibbon{
	padding-top: 0px !important;
	border: 0px solid !important;
}

.crudFieldsetNoRibbon .ui-grid-row{
	padding-top: 5px !important;
}

.crud_fieldset_title{
	font-size: 12px !important;
	font-weight: bold;
	font-style: italic;
	height: 500px;
}

.crud_fieldset_title_no_height{
	font-size: 12px !important;
	font-weight: bold;
	font-style: italic;
}


/***************************************
	Estilos específicos de la consignación
****************************************/
.consignacion_cliente_icono{
	font-family: FontAwesome !important;
	font-size: 100px !important;
	color: #40a2ea !important;
}

.consignacion_vehiculo_icono{
	font-family: FontAwesome !important;
	font-size: 100px !important;
	color: #40a2ea !important;
}

.consignacion_detalle_icono{
	font-family: FontAwesome !important;
	font-size: 100px !important;
	color: #40a2ea !important;
}

.consignacion_negocio_icono{
	font-family: FontAwesome !important;
	font-size: 100px !important;
	color: #40a2ea !important;
}

/***************************************
	Estilos específicos de la retoma
****************************************/
.retoma_cliente_icono{
	font-family: FontAwesome !important;
	font-size: 100px !important;
	color: #40a2ea !important;
}

.retoma_concesionario_icono{
	font-family: FontAwesome !important;
	font-size: 100px !important;
	color: #40a2ea !important;
}

.retoma_vehiculo_icono{
	font-family: FontAwesome !important;
	font-size: 100px !important;
	color: #40a2ea !important;
}

.retoma_detalle_icono{
	font-family: FontAwesome !important;
	font-size: 100px !important;
	color: #40a2ea !important;
}

.retoma_negocio_icono{
	font-family: FontAwesome !important;
	font-size: 100px !important;
	color: #40a2ea !important;
}

/***************************************
	Estilos específicos de la venta
****************************************/
.venta_cliente_icono{
	font-family: FontAwesome !important;
	font-size: 100px !important;
	color: #40a2ea !important;
}

.venta_vehiculo_icono{
	font-family: FontAwesome !important;
	font-size: 100px !important;
	color: #40a2ea !important;
}

.venta_detalle_icono{
	font-family: FontAwesome !important;
	font-size: 100px !important;
	color: #40a2ea !important;
}

.venta_negocio_icono{
	font-family: FontAwesome !important;
	font-size: 100px !important;
	color: #40a2ea !important;
}

/***************************************
	Estilos específicos de la hoja de negocio
****************************************/
.hojanegocio_vendedor_icono{
	font-family: FontAwesome !important;
	font-size: 100px !important;
	color: #40a2ea !important;
}

.hojanegocio_vehiculo_icono{
	font-family: FontAwesome !important;
	font-size: 100px !important;
	color: #40a2ea !important;
}

.hojanegocio_comprador_icono{
	font-family: FontAwesome !important;
	font-size: 100px !important;
	color: #40a2ea !important;
}

.hojanegocio_dt_gastos .ui-column-title{
	font-size: 10px;
}

.hojanegocio_dt_gastos .ui-datatable-data td{
	font-size: 10px;
}

