/*
 * @(#)theme.css 1.0 04/03/14 
 * 
 * All rights reserved.    
 * PROPRIETARY: E-DEAS
 */

/**
 * Hoja de estilos generales para el sistema PVS (DEFAULT)         
 * @author Sergio Henao
 * @version 1.0, 02/03/15
 * @modifier Sergio Henao 02/03/15
 */


/**********************************
	Estilos para el encabezado
***********************************/
.imgLoading{
	background:url(/PVSWeb/resources/images/DEFAULT/Loading.gif);
	width: 183px;
	height: 17px;
}

.layoutHeader{
	display: none !important;
	height: 0px !important;
}

/**********************************
	Estilos para el footer
***********************************/
.layoutFooter{
	display: none !important;
	height: 0px !important;
}

/**********************************
	Estilos para el contenedor central
***********************************/
.layoutContent{
	padding: 0px !important;
	border: 0px solid !important;
}

.layoutContent .ui-layout-unit-content{
	padding: 0px !important;
}

.crudFieldset{
	padding-top: 50px !important;
	border: 0px solid !important;
}

.crudFieldset .ui-grid-row{
	padding-top: 5px !important;
}

.ribbons{
	position: fixed;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	height: 30px;
	padding: 2px !important;
}

.ribbons .ui-toolbar-group-left{
	font-size: 14px !important;
	padding-top: 10px !important;
}

.crud-button-save{
	font-family: FontAwesome !important;
	font-size: 24px !important;
	margin-left: 10px;
	margin-bottom: 5px;
}

.crud-button-save .ui-button-text{
	display: none !important;
}

.crud-button-edit{
	font-family: FontAwesome !important;
	font-size: 24px !important;
	margin-left: 10px;
	margin-bottom: 5px;
}

.crud-button-edit .ui-button-text{
	display: none !important;
}

.crud-button-delete{
	font-family: FontAwesome !important;
	font-size: 24px !important;
	margin-left: 10px;
	margin-bottom: 5px;
}

.crud-button-delete .ui-button-text{
	display: none !important;
}

.crud-button-password{
	font-family: FontAwesome !important;
	font-size: 24px !important;
	margin-left: 10px;
	margin-bottom: 5px;
}

.crud-button-password .ui-button-text{
	display: none !important;
}

.crud-button-approve{
	font-family: FontAwesome !important;
	font-size: 24px !important;
	margin-left: 10px;
	margin-bottom: 5px;
}

.crud-button-approve .ui-button-text{
	display: none !important;
}

.crud-button-refuse{
	font-family: FontAwesome !important;
	font-size: 24px !important;
	margin-left: 10px;
	margin-bottom: 5px;
}

.crud-button-refuse .ui-button-text{
	display: none !important;
}

.crud-button-download{
	font-family: FontAwesome !important;
	font-size: 24px !important;
	margin-left: 10px;
	margin-bottom: 5px;
}

.crud-button-download .ui-button-text{
	display: none !important;
}

.crud-requiredMsg{
	width: 100%;
	font-size: 11px;
	font-style: italic;
	text-align: right;
}

.crud-field-label{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt !important;
	font-weight: bold;
}

.crud-field-value{
	font-size: 10pt !important;
	width: 250px;
}

.crud-field-radio-value label{
	color: #4f4f4f !important;
	font-size: 10pt !important;
}

.crud-field-select-value{
	font-size: 10pt !important;
	width: 250px !important;
}

.ui-selectcheckboxmenu-list{
	font-size: 10pt !important;
}

.ui-selectonemenu-panel{
	width: 250px !important;
}

.dialogHidden{
	display: none !important;
}

.crud-file-upload{
	font-size: 10pt !important;
	width: 100%;
}

.crud-file-upload .ui-fileupload-files{
	font-size: 10pt !important;
}
/***************************************
	Estilos de los mensajes GROWL
****************************************/
.ui-growl {
	font-family: Verdana, Arial, Helvetica, sans-serif !important;
	font-weight: normal !important;
	font-size: 12px !important;
}

.ui-growl-title {
	font-family: Verdana, Arial, Helvetica, sans-serif !important;
	font-weight: normal !important;
	font-size: 14px !important;
}

.ui-growl-message p {
	font-family: Verdana, Arial, Helvetica, sans-serif !important;
	font-weight: normal !important;
	font-size: 14px !important;
}

/***************************************
	Estilos del diálogo de confirmación	
****************************************/
.confirmDialog{
	
}

.confirmDialog .ui-dialog-titlebar{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt !important;
}

.confirmDialog .ui-dialog-content{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt !important;
}

.confirmDialog .ui-dialog-buttonpane{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt !important;
}

.confirmDialog button{
	font-family: FontAwesome !important;
	font-size: 16px !important;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 5px;
}

.confirmDialog .ui-button-text{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px !important;
}

/***************************************
	Estilos de las páginas de listas	
****************************************/

.list_title{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14pt;
	font-weight: bold;
	margin-top: 30px;
	text-align: center;
}

.list-button-add-new{
	font-family: FontAwesome !important;
	font-size: 16px !important;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 5px;
}

.list-button-add-new .ui-button-text{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px !important;
}

.list-button-read{
	font-family: FontAwesome !important;
	font-size: 16px !important;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 5px;
}

.list-button-read .ui-button-text{
	display: none;
}

.list-button-edit{
	font-family: FontAwesome !important;
	font-size: 16px !important;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 5px;
}

.list-button-edit .ui-button-text{
	display: none;
}

.list-button-delete{
	font-family: FontAwesome !important;
	font-size: 16px !important;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 5px;
}

.list-button-delete .ui-button-text{
	display: none;
}

.list-datatable{
	margin-left: 10px;
	margin-right: 10px;
}

.list-datatable .ui-paginator{
	font-size: 9pt
}

.list-datatable .ui-column-title{
	font-size: 9pt
}

.list-datatable .ui-column-filter{
	font-size: 9pt
}

.list-datatable .ui-datatable-data{
	font-size: 9pt
}

.list-datatable .ui-datatable-footer{
	font-size: 9pt
}

.crud-button-back{
	font-family: FontAwesome !important;
	font-size: 24px !important;
	margin-left: 10px;
	margin-bottom: 5px;
}

.crud-button-back .ui-button-text{
	display: none !important;
}

/***************************************
	Estilos de las subsecciones
****************************************/
.crud_subsection_title{
	margin-top: 10px;
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
}

.crud_accordion .ui-accordion-header{
	font-size: 14px !important;
}

.crud_accordion .ui-accordion-content{
	padding-left: 0px !important;
}

.crudFieldsetNoRibbon{
	padding-top: 0px !important;
	border: 0px solid !important;
}

.crudFieldsetNoRibbon .ui-grid-row{
	padding-top: 5px !important;
}

.crud-panelgrid tr, .crud-panelgrid td {
    border: none;
    border-width: 0px !important;
}