/*
 * @(#)theme.css 1.0 04/03/14 
 * 
 * All rights reserved.    
 * PROPRIETARY: E-DEAS
 */

/**
 * Hoja de estilos generales para el catálogo        
 * @author Sergio Henao -E-DEAS-
 * @version 1.0, 02/03/15
 * @modifier Sergio Henao -E-DEAS- 02/03/15
 */
 
 
/********************************
	Estilos para los encabezados
*********************************/
body{
	margin: 0px;
}
.logoContent{
	width: 210px !important;
    margin: 0 auto;
    background-color: #CCCCCC;
}

.headerGrid{
	width: 100%;
    background-color: #CCCCCC;
    padding: 0px !important;
	margin: 0px !important;
}

.imgLogo{
	content:url(../../images/DEFAULT/PVS_Logo.jpg.faces);
	width: 210px;
}

/********************************
	Estilos para la sección de contenido
*********************************/
.contentGrid{
	margin-top: 20px !important;
	margin-right: 40px !important;
	margin-left: 40px !important;
}

/********************************
	Estilos para la sección del datagrid
*********************************/
.grid-cars-ppal .ui-datagrid-header{
	font-size: 14pt;
	font-weight: bold;
}
.grid-cars-ppal .ui-paginator{
	font-size: 10pt;
	font-weight: normal;
}
.grid-cars-ppal .ui-paginator-pages .ui-paginator-page{	
	font-size: 10pt;
	font-weight: normal;
}

.grid-cars-ppal .ui-datagrid-content .ui-grid-row .ui-datagrid-column .ui-panel .ui-panel-titlebar{	
	font-size: 10pt;
	font-weight: normal;
}

.grid-cars-ppal .ui-datagrid-content .ui-grid-row .ui-datagrid-column .ui-panel .ui-panel-content{	
	font-size: 10pt;
	font-weight: normal;
}

/********************************
	Estilos para la sección de detalle de cada vehículo
*********************************/
.grid_detail_car .ui-galleria{
	margin:0 auto;
	width: 100%;
}

.grid_detail_car_table{
	margin:0 auto;
	width: 200px;
}

.grid_detail_car_table .lbl{
	text-align: left;
	font-weight: bold;
}

.grid_detail_car_table .value{
	text-align: left;
}
