<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/generics/template.xhtml">
	
	<ui:define name="content">
		
		<h:form id="frm">
		
			<p:outputPanel id="panelPerfil">
				<p:outputPanel rendered="#{!perfilMBean.panelForm}">
				
					<p:toolbar id="ribbons" styleClass="ribbons">
						<f:facet name="left">
							<p:outputLabel value="#{msg.perfil_dialogTitle}"/>
						</f:facet>
						<f:facet name="right">
						
							<p:commandButton 
								styleClass="dialogHidden crud-button-back fa fa-arrow-left"
								ajax="false" 
								immediate="true" 
								value="#{msg.generics_Regresar}" 
								onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
								action="/seguridad/perfil/perfilList.faces"/>
								
							<p:commandButton 
								update=":frm :frm:growl"
								rendered="#{(perfilMBean.mode == utilityConstantes.modecreate and perfilMBean.hasPermissionTo(utilityConstantes.actioncreate)) or (perfilMBean.mode == utilityConstantes.modeedit and perfilMBean.hasPermissionTo(utilityConstantes.actionupdate))}"
								ajax="#{!utilityMethods.isMobile()}"
								title="#{msg.generics_guardar}" 
								action="#{perfilMBean.saveEntity()}"
								styleClass="crud-button-save fa fa-floppy-o"
								onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
										
							<p:commandButton 
								rendered="#{perfilMBean.mode == utilityConstantes.modeview and perfilMBean.hasPermissionTo(utilityConstantes.actionupdate)}"
								ajax="false"
								title="#{msg.generics_editar}" 
								action="#{perfilMBean.editEntity(perfilMBean.entity.id, false)}"
								styleClass="crud-button-edit fa fa-edit"
								onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
									
							<p:commandButton 
								rendered="#{perfilMBean.mode == utilityConstantes.modeview and perfilMBean.hasPermissionTo(utilityConstantes.actiondelete)}"
								ajax="true" 
								title="#{msg.generics_eliminar}" 
								action="#{perfilMBean.deleteEntity(perfilMBean.entity.id, false)}"
								styleClass="crud-button-delete fa fa-trash-o"
								onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
								<p:confirm header="#{msg.generics_Confirm}" 
							 		message="#{msg.generics_Confirm_msg_delete}"
							 		icon="ui-icon-alert"/>	
							</p:commandButton>
							
						</f:facet>
					</p:toolbar>
					
					<p:fieldset styleClass="crudFieldset">
						<div class="crud-requiredMsg">#{msg.generics_requiredText}</div>
						<p:separator/>
						
						<div class="ui-grid ui-grid-responsive">
							<div class="ui-grid-row">
								<div class="ui-grid-col-4">
									<p:outputLabel 
										styleClass="crud-field-label" 
										value="#{msg.perfil_dialog_Nombre}: (*)"/>
								</div>
								<div class="ui-grid-col-8">
									<p:outputLabel
										styleClass="crud-field-value"
										value="#{perfilMBean.entity.nombre}"
										rendered="#{perfilMBean.mode == utilityConstantes.modeview}" />
									
									<p:inputText
										styleClass="crud-field-value"
										value="#{perfilMBean.entity.nombre}"
										rendered="#{perfilMBean.mode != utilityConstantes.modeview}" 
										maxlength="40"
										required="true"
										requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','perfil_dialog_Nombre')}"/>			
								</div>
							</div>
							<div class="ui-grid-row">
								<div class="ui-grid-col-4">
									<p:outputLabel
										styleClass="crud-field-label"  
										value="#{msg.perfil_dialog_Descripcion}: (*)"/>
								</div>
								<div class="ui-grid-col-8">
									<p:outputLabel
										styleClass="crud-field-value"
										value="#{perfilMBean.entity.descripcion}"
										rendered="#{perfilMBean.mode == utilityConstantes.modeview}" />
									
									<p:inputTextarea
										styleClass="crud-field-value"
										value="#{perfilMBean.entity.descripcion}"
										rendered="#{perfilMBean.mode != utilityConstantes.modeview}"
										required="true"
										requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','perfil_dialog_Descripcion')}"
										/>				
								</div>
							</div>
							
							<div class="ui-grid-row">
								<div class="ui-grid-col-4">
									<p:outputLabel value="#{msg.perfil_dialog_Estado}: (*)"
										styleClass="crud-field-label" />
								</div>
								<div class="ui-grid-col-8">
									<p:outputLabel
										styleClass="crud-field-value"
										value="#{perfilMBean.entity.esActivo == true ? msg.generics_Activo : msg.generics_Inactivo}"
										rendered="#{perfilMBean.mode == utilityConstantes.modeview}" />
										
									<p:selectOneRadio
										styleClass="crud-field-value"
										value="#{perfilMBean.entity.esActivo}"
										rendered="#{perfilMBean.mode != utilityConstantes.modeview}"
										required="true"
										requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','formulario_dialog_Estado')}">
										<f:selectItem itemLabel="#{msg.generics_Activo}" itemValue="#{true}"/>
										<f:selectItem itemLabel="#{msg.generics_Inactivo}" itemValue="#{false}"/>
									</p:selectOneRadio>
									
								</div>
							</div>
							
						</div>
						
						<p:outputPanel rendered="#{perfilMBean.mode != utilityConstantes.modecreate}">
							<div class="ui-grid ui-grid-responsive">
								<div class="ui-grid-row">
									<div class="ui-grid-col-12">
										<p:separator/>
									</div>
								</div>
								
								<div class="ui-grid-row">
									<div class="ui-grid-col-12">
										<p:outputLabel styleClass="list_title" value="#{msg.perfil_dialog_Permisos}"/>
									</div>
								</div>
								
								<div class="ui-grid-row">
									<div class="ui-grid-col-12">
										<p:commandButton
											actionListener="#{perfilMBean.abrirPermisos()}"
											value="#{msg.button_addElement}"
											styleClass="list-button-add-new fa fa-plus"
											update="panelPermisos panelPerfil"
											rendered="#{perfilMBean.mode == utilityConstantes.modeedit and 
									            	 perfilMBean.hasPermissionTo(utilityConstantes.actionupdate)}"
											onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
										</p:commandButton>
									
									</div>
								</div>
								
								<div class="ui-grid-row">
									<div class="ui-grid-col-12">
										<p:dataTable 
											id="dataTablePermisos" 
											var="permiso" 
											value="#{perfilMBean.entity.permisosToPerfil}" 
											widgetVar="tablaPermisos"  
											rows="5"
											paginator="true" 
											paginatorTemplate="  {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}" 
						            		emptyMessage="#{msg.generics_RegistrosNoEncontrados}" 
						                	styleClass="list-datatable">
						                									                	
						                	<p:column 
									        	headerText="#{msg.perfil_dialog_Formulario}"  
									        	style="align:center; width:30%">  
									            <h:outputText value="#{permiso[0]}" /> 
									        </p:column>
									        <p:column 
									        	headerText="#{msg.perfil_dialog_Acciones}"  
									        	style="align:center; width:40%">  
									            <h:outputText value="#{permiso[1]}" /> 
									        </p:column>
									        
									        <p:column 
									        	headerText="#{msg.generics_acciones}"  
									        	style="align:center; width:20%"
									        	rendered="#{perfilMBean.mode == utilityConstantes.modeedit}">
									            <p:commandButton 
									            	process="@this dataTablePermisos"
									            	actionListener="#{perfilMBean.eliminarPermiso(permiso)}"  
								            		title="#{msg.generics_eliminar}"
									            	update=":frm:dataTablePermisos :frm:growl"
									            	onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
									            	rendered="#{perfilMBean.mode == utilityConstantes.modeedit and 
									            	 perfilMBean.hasPermissionTo(utilityConstantes.actionupdate)}"
									            	styleClass="crud-button-delete fa fa-trash-o">
									            	<p:confirm header="#{msg.generics_Confirm}" message="#{msg.generics_Confirm_msg_delete}" icon="ui-icon-alert" />
									            </p:commandButton>
									        </p:column>
										</p:dataTable>
									</div>
								</div>
							</div>
						
						</p:outputPanel>
						
					</p:fieldset>
				</p:outputPanel>
			</p:outputPanel>
			
			<p:outputPanel id="panelPermisos" >
				<p:outputPanel rendered="#{perfilMBean.panelForm}">
					<p:toolbar styleClass="ribbons">
						<f:facet name="left">
							<p:outputLabel value="#{msg.perfil_dialog_Permisos}"/>
						</f:facet>
						<f:facet name="right">
						
							<p:commandButton 
								styleClass="crud-button-back fa fa-arrow-left"
								immediate="true" 
								actionListener="#{perfilMBean.abrirPerfil()}"
								value="#{msg.generics_Regresar}" 
								onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
								update="panelPermisos panelPerfil"/>
								
							<p:commandButton
								actionListener="#{perfilMBean.guardarPermiso}"
								title="#{msg.generics_guardar}" 
								styleClass="crud-button-save fa fa-floppy-o"
								onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
								update="panelPermisos panelPerfil :frm:growl"
								 /> 
								
						</f:facet>
					</p:toolbar>
						
					<p:fieldset styleClass="crudFieldset">
						<div class="crud-requiredMsg">#{msg.generics_requiredText}</div>
						<p:separator/>
						
						<div class="ui-grid ui-grid-responsive">
							<div class="ui-grid-row">
								<div class="ui-grid-col-4">
									<p:outputLabel 
										styleClass="crud-field-label" 
										value="#{msg.permisos_dialog_Formulario}: (*)"/>
								</div>
								<div class="ui-grid-col-8">
									<p:selectOneMenu 
										id="selectForms"
										value="#{perfilMBean.idFormulario}" 
										required="true" 
										styleClass="crud-field-value"
										requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','permisos_dialog_Formulario')}">
							            <f:selectItem itemLabel="" itemValue="" noSelectionOption="true"/>
							            <f:selectItems 
							            	value="#{perfilMBean.formulariosDropDown}" 
							            	var="formulario" 
							            	itemLabel="#{formulario.nombreDescriptivo}" 
							            	itemValue="#{formulario.id}"/>
							            <p:ajax update="accionesxform"
              								listener="#{perfilMBean.llenarAccionesxFormularioDropDown()}" />  
							        </p:selectOneMenu>
								</div>
							</div>
							
							<div class="ui-grid-row">
								<div class="ui-grid-col-4">
									<p:outputLabel 
										styleClass="crud-field-label" 
										value="#{msg.permisos_dialog_Acciones}: (*)"/>
								</div>
								<div class="ui-grid-col-8">
									<p:selectCheckboxMenu
										id="accionesxform" 
										required="true"
										panelStyle="width: 200px"
										value="#{perfilMBean.accionesxFormulario}" 
										styleClass="crud-field-value"
										requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','permisos_dialog_Acciones')}">
							            <f:selectItems value="#{perfilMBean.accionesxFormularioAvailable}"/>  
							        </p:selectCheckboxMenu> 
								</div>
							</div>
						</div>
					</p:fieldset>
				</p:outputPanel>
			</p:outputPanel>
				
				<!-- Hidden Fields -->
			<ui:include src="/generics/generics.xhtml"/>
			
		</h:form>
		
	</ui:define>
</ui:composition>