<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/generics/template.xhtml">
	
	<ui:define name="content">
			
		<h:form id="frm">
		
			<div class="ui-grid ui-grid-responsive">
				<div class="ui-grid-row">
					<div class="ui-grid-col-12 list_title">
						<p:outputLabel value="#{msg.perfil_Title}"/>
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-12">
						<p:commandButton
							value="#{msg.button_addElement}"
							actionListener="#{perfilMBean.newEntity()}"
							rendered="#{perfilMBean.hasPermissionTo(utilityConstantes.actioncreate)}"
							styleClass="list-button-add-new fa fa-plus"
							process="frm"
							ajax="#{!utilityMethods.isMobile()}"
							onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
							<p:ajax 
								event="dialogReturn" 
								listener="#{perfilMBean.dialogListener()}"  
								update="dta :frm:growl"
								oncomplete="PF('dtaWV').filter()"/>
						</p:commandButton>
					
					</div>
				</div>
				
				<div class="ui-grid-row">
					<div class="ui-grid-col-12">
					
						<!-- Sección del datatable -->
						<p:dataTable
							id="dta" 
							widgetVar="dtaWV"
							var="entity" 
							value="#{perfilMBean.entityList}"
							emptyMessage="#{msg.generics_RegistrosNoEncontrados}"
							filteredValue="#{perfilMBean.entityFilterList}"
							paginator="true"
							rows="10"
							paginatorTemplate="  {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
							currentPageReportTemplate="({currentPage} de {totalPages})"
							sortMode="multiple"
							styleClass="list-datatable">
							
							<f:facet name="footer">
							 	<h:outputFormat value="#{msg.generics_list_total}" 
							 		rendered="#{perfilMBean.entityList != null}">
							 		 <f:param value="#{perfilMBean.entityList.size()}" />
							 	</h:outputFormat>
							</f:facet>
							
							<p:column
								headerText="#{msg.perfil_dialog_Nombre}"
								sortBy="#{entity.nombre}"
								filterBy="#{entity.nombre}"
								filterMatchMode="contains">
								<h:outputText value="#{entity.nombre}" />
							</p:column>
							
							<p:column
								headerText="#{msg.perfil_dialog_Descripcion}"
								rendered="#{!utilityMethods.isMobile()}"
								sortBy="#{entity.descripcion}"
								filterBy="#{entity.descripcion}"
								filterMatchMode="contains">
								<h:outputText value="#{entity.descripcion}" />
							</p:column>
							
							<p:column
								headerText="#{msg.perfil_dialog_Estado}"
								sortBy="#{entity.esActivo}"
								filterBy="#{entity.esActivo == true ? msg.generics_Activo : msg.generics_Inactivo}"
								filterMatchMode="contains">
								<h:outputText value="#{entity.esActivo == true ? msg.generics_Activo : msg.generics_Inactivo}" />
							</p:column>
							
							<p:column
								headerText="#{msg.generics_tabla_acciones}">
								
								<p:commandButton 
									title="#{msg.generics_consultar}"
									rendered="#{perfilMBean.hasPermissionTo(utilityConstantes.actionread)}"
									styleClass="list-button-read fa fa-search"
									includeViewParams="true"
									actionListener="#{perfilMBean.selectEntity(entity.id)}"
									onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
									ajax="#{!utilityMethods.isMobile()}">
									<p:ajax event="dialogReturn" listener="#{perfilMBean.dialogListener()}" update="dta :frm:growl" oncomplete="PF('dtaWV').filter()"/>				
								</p:commandButton>
								
								<p:commandButton 
									title="#{msg.generics_editar}"
									rendered="#{perfilMBean.hasPermissionTo(utilityConstantes.actionupdate)}"
									styleClass="list-button-edit fa fa-edit"
									includeViewParams="true" 
									actionListener="#{perfilMBean.editEntity(entity.id, true)}"
									onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
									ajax="#{!utilityMethods.isMobile()}">
									<p:ajax event="dialogReturn" update="dta :frm:growl" listener="#{perfilMBean.dialogListener()}" oncomplete="PF('dtaWV').filter()"/>					
								</p:commandButton>
								
								<p:commandButton 
									title="#{msg.generics_eliminar}"
									rendered="#{perfilMBean.hasPermissionTo(utilityConstantes.actiondelete)}"
									styleClass="list-button-delete fa fa-trash-o" 
									update="dta :frm:growl" 
									actionListener="#{perfilMBean.deleteEntity(entity.id, true)}"
									onclick="PF('statusDialog').show()" oncomplete="PF('dtaWV').filter();PF('statusDialog').hide()"
									ajax="true">
								 	<p:confirm header="#{msg.generics_Confirm}" 
								 		message="#{msg.generics_Confirm_msg_delete}"
								 		icon="ui-icon-alert"/>											
								</p:commandButton>
								
							</p:column>
							
		                </p:dataTable>
					</div>
				</div>
				
			</div>
			
			<ui:include src="/generics/generics.xhtml"/>
			
		</h:form>
	</ui:define>
</ui:composition>
	
