<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/generics/template.xhtml">
	
	<ui:define name="content">
		
		<h:form id="frm">

			<p:toolbar id="ribbons" styleClass="ribbons">
				<f:facet name="left">
					<p:outputLabel value="#{msg.plantilla_dialogTitle}"/>
				</f:facet>
				<f:facet name="right">
					<p:commandButton 
						styleClass="dialogHidden crud-button-back fa fa-arrow-left"
						ajax="false" 
						immediate="true" 
						value="#{msg.generics_Regresar}" 
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
						action="/configuracion/plantilla/plantillaList.faces"/>
						
					<p:commandButton 
								update=":frm :frm:growl"
								rendered="#{(plantillaMBean.mode == utilityConstantes.modecreate and plantillaMBean.hasPermissionTo(utilityConstantes.actioncreate)) or (plantillaMBean.mode == utilityConstantes.modeedit and plantillaMBean.hasPermissionTo(utilityConstantes.actionupdate))}"
								ajax="#{!utilityMethods.isMobile()}"
								value="#{msg.generics_guardar}" 
								action="#{plantillaMBean.saveEntity()}"
								styleClass="crud-button-save fa fa-floppy-o"
								onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
								
					<p:commandButton 
							rendered="#{plantillaMBean.mode == utilityConstantes.modeview and plantillaMBean.hasPermissionTo(utilityConstantes.actionupdate)}"
							ajax="false"
							value="#{msg.generics_editar}" 
							action="#{plantillaMBean.editEntity(plantillaMBean.entity.id, false)}"
							styleClass="crud-button-edit fa fa-edit"
							onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
							
					<p:commandButton 
							rendered="#{plantillaMBean.mode == utilityConstantes.modeview and plantillaMBean.hasPermissionTo(utilityConstantes.actiondelete)}"
							ajax="true" 
							value="#{msg.generics_eliminar}" 
							action="#{plantillaMBean.deleteEntity(plantillaMBean.entity.id, false)}"
							styleClass="crud-button-delete fa fa-trash-o"
							onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
							<p:confirm header="#{msg.generics_Confirm}" 
							 		message="#{msg.generics_Confirm_msg_delete}"
							 		icon="ui-icon-alert"/>	
						</p:commandButton>
								
				</f:facet>
			</p:toolbar>
			
			<p:fieldset styleClass="crudFieldset">
				
				<div class="crud-requiredMsg">#{msg.generics_requiredText}</div>
				
				<p:separator/>
				
				<div class="ui-grid ui-grid-responsive">
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.plantilla_dialog_Nombre}: (*)"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								value="#{plantillaMBean.entity.nombre}"
								styleClass="crud-field-value"
								rendered="#{plantillaMBean.mode == utilityConstantes.modeview}" />
							
							<p:inputText
								value="#{plantillaMBean.entity.nombre}"
								rendered="#{plantillaMBean.mode != utilityConstantes.modeview}"
								maxlength="100"
								required="true"
								styleClass="crud-field-value"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','plantilla_dialog_Nombre')}"/>			
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.plantilla_dialog_Estado}: (*)"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								value="#{plantillaMBean.entity.esActivo == true ? msg.generics_Activo : msg.generics_Inactivo}"
								styleClass="crud-field-value"
								rendered="#{plantillaMBean.mode == utilityConstantes.modeview}" />
							
							<p:selectOneRadio
								value="#{plantillaMBean.entity.esActivo}"
								rendered="#{plantillaMBean.mode != utilityConstantes.modeview}"
								required="true"
								styleClass="crud-field-value"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','plantilla_dialog_Estado')}">
								<f:selectItem itemLabel="#{msg.generics_Activo}" itemValue="#{true}"/>
								<f:selectItem itemLabel="#{msg.generics_Inactivo}" itemValue="#{false}"/>
							</p:selectOneRadio>
						
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.plantilla_dialog_Proceso}:"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								value="#{utilityConstantes.getNombreProceso(plantillaMBean.entity.proceso)}"
								styleClass="crud-field-value"
								rendered="#{plantillaMBean.mode == utilityConstantes.modeview}" />
							
							<p:selectOneMenu 
									value="#{plantillaMBean.entity.proceso}"
									styleClass="crud-field-value"
									rendered="#{plantillaMBean.mode != utilityConstantes.modeview}">
					            <f:selectItems value="#{utilityConstantes.procesos}" />
					        </p:selectOneMenu>
        
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.plantilla_dialog_Descripcion}:"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								value="#{plantillaMBean.entity.descripcion}"
								styleClass="crud-field-value"
								rendered="#{plantillaMBean.mode == utilityConstantes.modeview}" />
							
							<p:inputTextarea
								value="#{plantillaMBean.entity.descripcion}"
								styleClass="crud-field-value"
								rendered="#{plantillaMBean.mode != utilityConstantes.modeview}"/>			
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.plantilla_dialog_Adjunto}:"/>
						</div>
						<div class="ui-grid-col-8">
							
							<p:outputLabel
								id="nombrearchivo"
								value="#{plantillaMBean.entity.nombreArchivo}"
								styleClass="crud-field-label"
								rendered="true" />
								
							<p:commandButton
								id="descargararchivo"
								immediate="true"
								update=":frm:growl"
								action="#{plantillaMBean.descargarArchivo}"
								ajax="false"
								styleClass="crud-button-download fa fa-download"/>	
							
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-12">
							
							<p:fileUpload 
								id="fileUploadControl" 
								value="#{plantillaMBean.archivoSubido}"
								rendered="#{plantillaMBean.mode != utilityConstantes.modeview}"
								required="true"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','plantilla_dialog_Adjunto')}"
								fileUploadListener="#{plantillaMBean.fileListener}"
								update="fileUploadControl nombrearchivo"
								mode="advanced" 
								fileLimit="1" 
								fileLimitMessage="#{msg.generics_max_number_file_exceeded}"
								invalidFileMessage="#{msg.generics_invalid_file_type}"
								cancelLabel="#{msg.generics_cancel}"
								uploadLabel="#{msg.generics_upload}" 
								label="#{msg.generics_choose}"
								process="fileUploadControl"
								allowTypes="/(\.|\/)(doc|docx)$/"
								styleClass="crud-file-upload"/>
																
						</div>
					</div>
					
				</div>
				
			</p:fieldset>
			
			<ui:include src="/generics/generics.xhtml"/>
			
		</h:form>
		
	</ui:define>
</ui:composition>