<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/generics/template.xhtml">
	
	<ui:define name="content">
			
		<h:form id="frm">
		
			<div class="ui-grid ui-grid-responsive">
				<div class="ui-grid-row">
					<div class="ui-grid-col-12 list_title">
						<p:outputLabel value="#{msg.consignacion_Title}"/>
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-12">
						
						<p:commandButton
							value="#{msg.button_addElement}"
							actionListener="#{consignacionMBean.newEntity()}"
							rendered="#{consignacionMBean.hasPermissionTo(utilityConstantes.actioncreate)}"
							styleClass="list-button-add-new fa fa-plus"
							process="frm"
							ajax="false"
							onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
							<p:ajax 
								event="dialogReturn" 
								listener="#{consignacionMBean.dialogListener}"  
								update="dta :frm:growl"
								oncomplete="PF('dtaWV').filter()"/>
						</p:commandButton>
						
					</div>
				</div>
				
				<div class="ui-grid-row">
					<div class="ui-grid-col-12">
					
						<!-- Sección del datatable -->
						<p:dataTable
							id="dta" 
							widgetVar="dtaWV"
							var="entity" 
							value="#{consignacionMBean.entityList}"
							emptyMessage="#{msg.generics_RegistrosNoEncontrados}"
							filteredValue="#{consignacionMBean.entityFilterList}"
							paginator="true"
							rows="10"
							paginatorTemplate="  {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
							currentPageReportTemplate="({currentPage} de {totalPages})"
							sortMode="multiple"
							styleClass="list-datatable">
							
							<f:facet name="footer">
							 	<h:outputFormat value="#{msg.generics_list_total}" 
							 		rendered="#{consignacionMBean.entityList != null}">
							 		 <f:param value="#{consignacionMBean.entityList.size()}" />
							 	</h:outputFormat>
							</f:facet>
							
							<p:column
								headerText="#{msg.consignacion_dialog_Codigo}"
								sortBy="#{entity.codigo}"
								filterBy="#{entity.codigo}"
								filterMatchMode="contains"
								width="10%">
								<h:outputText value="#{entity.codigo}" />
							</p:column>
							
							<p:column
								headerText="#{msg.consignacion_infocliente_Cliente}"
								sortBy="#{entity.cliente.cedula} - #{entity.cliente.nombres} #{entity.cliente.apellidos}"
								filterBy="#{entity.cliente.cedula} - #{entity.cliente.nombres} #{entity.cliente.apellidos}"
								filterMatchMode="contains">
								<h:outputText value="#{entity.cliente.cedula} - #{entity.cliente.nombres} #{entity.cliente.apellidos}" />
							</p:column>
							
							<p:column
								headerText="#{msg.consignacion_infovehiculo_Vehiculo}"
								sortBy="#{entity.vehiculo.placa}"
								filterBy="#{entity.vehiculo.placa}"
								filterMatchMode="contains"
								width="10%">
								<h:outputText value="#{entity.vehiculo.placa}" />
							</p:column>
							
							<p:column
								headerText="#{msg.consignacion_infovehiculo_Marca}"
								sortBy="#{entity.vehiculo.marca.nombre}"
								filterBy="#{entity.vehiculo.marca.nombre}"
								filterMatchMode="contains">
								<h:outputText value="#{entity.vehiculo.marca.nombre}" />
							</p:column>
							
							<p:column
								headerText="#{msg.consignacion_infovehiculo_Linea}"
								sortBy="#{entity.vehiculo.linea}"
								filterBy="#{entity.vehiculo.linea}"
								filterMatchMode="contains">
								<h:outputText value="#{entity.vehiculo.linea}" />
							</p:column>
							
							<p:column
								headerText="#{msg.consignacion_infovehiculo_Modelo}"
								sortBy="#{entity.vehiculo.modelo}"
								filterBy="#{entity.vehiculo.modelo}"
								filterMatchMode="contains"
								width="10%">
								<h:outputText value="#{entity.vehiculo.modelo}" />
							</p:column>
							
							<p:column
								headerText="#{msg.consignacion_dialog_Estado}"
								sortBy="#{entity.estadoLbl}"
								filterBy="#{entity.estadoLbl}"
								filterMatchMode="contains"
								width="10%">
								<h:outputText value="#{entity.estadoLbl}"  />
							</p:column>
							
							<p:column headerText="#{msg.generics_tabla_acciones}">
									
								<p:commandButton 
										rendered="#{consignacionMBean.hasPermissionTo(utilityConstantes.actionread)}"
										styleClass="list-button-read fa fa-search"
										includeViewParams="true"
										actionListener="#{consignacionMBean.selectEntity(entity.id)}"
										onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
										ajax="false">
									<p:ajax event="dialogReturn" listener="#{consignacionMBean.dialogListener}" update="dta :frm:growl" oncomplete="PF('dtaWV').filter()"/>				
								</p:commandButton>
									
							</p:column>
							
		                </p:dataTable>
					</div>
				</div>
				
			</div>
			
			<ui:include src="/generics/generics.xhtml"/>
			
		</h:form>
	</ui:define>
</ui:composition>
	
