<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/generics/template.xhtml">
	
	<ui:define name="content">
	
		<h:form id="frm">
		
			<p:toolbar id="ribbons" styleClass="ribbons">
				<f:facet name="left">
					<p:outputLabel value="#{msg.consignacion_dialogTitle}: #{consignacionMBean.entity.codigo} (#{consignacionMBean.entity.estadoLbl})"/>
				</f:facet>
				<f:facet name="right">
					
					<p:commandButton 
						styleClass="dialogHidden crud-button-back fa fa-arrow-left"
						ajax="false" 	
						immediate="true" 
						title="#{msg.generics_Regresar}" 
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
						action="/consignacion/consignacionList.faces"/>
						
					<p:commandButton 
						update=":frm :frm:growl"
						rendered="#{(consignacionMBean.mode == utilityConstantes.modecreate and consignacionMBean.hasPermissionTo(utilityConstantes.actioncreate)) or (consignacionMBean.mode == utilityConstantes.modeedit and consignacionMBean.entity.estado != 'FI' and consignacionMBean.entity.estado != 'DC' and consignacionMBean.hasPermissionTo(utilityConstantes.actionupdate))}"
						ajax="#{!utilityMethods.isMobile()}"
						title="#{msg.generics_guardar}" 
						action="#{consignacionMBean.saveEntity()}"
						styleClass="crud-button-save fa fa-floppy-o"
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
								
					<p:commandButton 
						rendered="#{consignacionMBean.mode == utilityConstantes.modeview and consignacionMBean.hasPermissionTo(utilityConstantes.actionupdate) and consignacionMBean.entity.estado != 'FI' and consignacionMBean.entity.estado != 'DC'}"
						ajax="false"
						title="#{msg.generics_editar}" 
						action="#{consignacionMBean.editEntity(consignacionMBean.entity.id, false)}"
						styleClass="crud-button-edit fa fa-edit"
						immediate="true"
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
						
					<p:commandButton 
						rendered="#{consignacionMBean.mode == utilityConstantes.modeview and consignacionMBean.hasPermissionTo(utilityConstantes.actionimprimir) and consignacionMBean.entity.estado != 'FI' and consignacionMBean.entity.estado != 'DC'}"
						ajax="true"
						title="#{msg.generics_imprimir}" 
						action="#{consignacionMBean.openGenerarPlantillaForm()}"
						styleClass="crud-button-edit fa fa-print"
						immediate="true"
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
						
					<p:commandButton 
						rendered="#{consignacionMBean.mode == utilityConstantes.modeview and consignacionMBean.hasPermissionTo(utilityConstantes.actiondeclinar) and consignacionMBean.entity.estado == 'CI'}"
						ajax="true" 
						title="#{msg.consignacion_declinar_btn}" 
						action="#{consignacionMBean.declinarConsignacion()}"
						styleClass="crud-button-delete fa fa-ban"
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
						<p:confirm header="#{msg.generics_Confirm}" 
							 message="#{msg.consignacion_declinar_confirm}"
							 icon="ui-icon-alert"/>	
					</p:commandButton>
							
					<p:commandButton 
						rendered="#{consignacionMBean.mode == utilityConstantes.modeview and consignacionMBean.hasPermissionTo(utilityConstantes.actiondelete) and consignacionMBean.entity.estado == 'CI'}"
						ajax="true" 
						title="#{msg.generics_eliminar}" 
						action="#{consignacionMBean.deleteEntity(consignacionMBean.entity.id, false)}"
						styleClass="crud-button-delete fa fa-trash-o"
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
						<p:confirm header="#{msg.generics_Confirm}" 
							 message="#{msg.generics_Confirm_msg_delete}"
							 icon="ui-icon-alert"/>	
					</p:commandButton>
								
				</f:facet>
			</p:toolbar>
			
			<p:fieldset styleClass="crudFieldset">
				
				<div class="crud-requiredMsg">#{msg.generics_requiredText}</div>
				
				<p:separator/>
				
				<div class="ui-grid ui-grid-responsive">
					
					<div class="ui-grid-row">
						
						<div class="ui-grid-col-4">
						
							<p:fieldset legend="#{msg.consignacion_infocliente_Title}"
								toggleable="true" toggleSpeed="500"  style="height:600px"
								styleClass="crud_fieldset_title_no_height">
								
								<div style="width: 100%; text-align: center">
								
									<a class="consignacion_cliente_icono fa fa-user"/>
									
									<p:confirmDialog widgetVar="dataChangeDlgCliente" appendTo="@(body)" 
										global="true" showEffect="fade" hideEffect="fade" styleClass="confirmDialog" 
										message="#{msg.consignacion_clienteNoExiste}">
										<p:commandButton value="#{msg.generics_SI}" oncomplete="PF('dataChangeDlgCliente').hide();" onclick="PF('dataChangeDlgCliente').hide();$('#frm\\:btnOpenNewClienteForm').click();"/>
										<p:commandButton value="#{msg.generics_NO}"   onclick="PF('dataChangeDlgCliente').hide();" />
									</p:confirmDialog>
										
									<p:commandButton id="btnOpenNewClienteForm"
										actionListener="#{clienteMBean.newEntity(consignacionMBean.entity.cliente.cedula)}"
										rendered="#{clienteMBean.hasPermissionTo(utilityConstantes.actioncreate) and consignacionMBean.mode != utilityConstantes.modeview}"
										styleClass="list-button-add-new fa fa-plus"
										process="@this"
										immediate="true"
										value="Nuevo"
										ajax="#{!utilityMethods.isMobile()}"
										onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
										<p:ajax event="dialogReturn" listener="#{consignacionMBean.dialogListenerCliente()}" 
											oncomplete="PF('dataChangeDlgCliente').hide();" 
											update=":frm:growl autoCompleteClienteID panelDatosCliente"/>
									</p:commandButton>
										
									<p:remoteCommand name="rc" update=":frm:growl autoCompleteClienteID panelDatosCliente" immediate="true" actionListener="#{consignacionMBean.loadCliente()}" />
											
									<p:panelGrid styleClass="crud-panelgrid" id="panelDatosCliente" style="width:100%">
										<p:row>
											<p:column colspan="2">
												<p:outputLabel value="#{msg.consignacion_infocliente_Cliente}: (*)"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row>
											<p:column>
												<p:outputLabel 
													value="#{consignacionMBean.entity.cliente.cedula}"
													styleClass="crud-field-value-one-col"
													rendered="#{consignacionMBean.mode != utilityConstantes.modecreate}"/>
												<p:autoComplete 
													id="autoCompleteClienteID"
													value="#{consignacionMBean.entity.cliente.cedula}" 
													completeMethod="#{consignacionMBean.autocompleteClientes}" 
													effect="fade"
													required="true"
													dropdown="true"
													rendered="#{consignacionMBean.mode == utilityConstantes.modecreate}"
													onkeypress="if (event.keyCode == 13) {event.preventDefault();rc();}"
													styleClass="crud-field-select-value-one-col"
													panelStyleClass="crud-field-select-panel"
													requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','consignacion_infocliente_Cliente')}">
													<p:ajax event="itemSelect" listener="#{consignacionMBean.loadCliente()}" update="panelDatosCliente"/>
												</p:autoComplete>
												<p:inputText
													id="autoCompleteClienteIDView"
													style="display:none"
													value="#{consignacionMBean.entity.cliente.cedula}"  />
											</p:column>
											<p:column>
												<p:commandButton
													id="btnSearchClienteForm"
													styleClass="list-button-read fa fa-search"
													includeViewParams="true"
													actionListener="#{clienteMBean.selectEntityFromConsignacion()}"
													immediate="true"
													style="margin-left:0px;margin-top:1px;"
													onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
													ajax="#{!utilityMethods.isMobile()}">
												<p:ajax 
													event="dialogReturn" 
													listener="#{consignacionMBean.dialogListenerCliente()}"  
													update=":frm:growl autoCompleteClienteID panelDatosCliente"/>				
												</p:commandButton>
											</p:column>
										</p:row>
										
										<p:row rendered="#{consignacionMBean.mode == utilityConstantes.modeview}">
											<p:column>
												<p:outputLabel 
													value="#{msg.consignacion_infocliente_Nombres}:"
													styleClass="crud-field-label-one-col" />
											</p:column>
											<p:column>
												<p:outputLabel 
													value="#{msg.consignacion_infocliente_Apellidos}:"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row rendered="#{consignacionMBean.mode == utilityConstantes.modeview}">
											<p:column>
												<p:outputLabel 
													value="#{consignacionMBean.entity.cliente.nombres}"
													styleClass="crud-field-value-one-col"/>
											</p:column>
											<p:column>
												<p:outputLabel 
													value="#{consignacionMBean.entity.cliente.apellidos}"
													styleClass="crud-field-value-one-col"/>
											</p:column>
										</p:row>
										<p:row>
											<p:column>
												<p:outputLabel
														value="#{msg.cliente_dialog_EsEmpresa}:"
														styleClass="crud-field-label-one-col" />
											</p:column>
											<p:column>
												<p:outputLabel
														rendered="#{consignacionMBean.entity.cliente.esEmpresa}"
														value="#{msg.generics_SI}"
														styleClass="crud-field-value-one-col"/>
												<p:outputLabel
														rendered="#{!consignacionMBean.entity.cliente.esEmpresa}"
														value="#{msg.generics_NO}"
														styleClass="crud-field-value-one-col"/>
											</p:column>
										</p:row>
										<p:row>
											<p:column>
												<p:outputLabel 
													value="#{msg.consignacion_infocliente_Tel1}:"
													styleClass="crud-field-label-one-col" />
											</p:column>
											<p:column>
												<p:outputLabel 
													value="#{msg.consignacion_infocliente_Celular1}:"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row>
											<p:column>
												<p:outputLabel 
													value="#{consignacionMBean.entity.cliente.telefono1}"
													styleClass="crud-field-value-one-col"/>
											</p:column>
											<p:column>
												<p:outputLabel 
													value="#{consignacionMBean.entity.cliente.celular1}"
													styleClass="crud-field-value-one-col"/>
											</p:column>
										</p:row>
										
										<p:row>
											<p:column colspan="2">
												<p:outputLabel 
													value="#{msg.consignacion_infocliente_Correo}:"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row>
											<p:column colspan="2">
												<p:outputLabel 
													value="#{consignacionMBean.entity.cliente.correoElectronico}"
													styleClass="crud-field-value-one-col"/>
											</p:column>
										</p:row>
											
										<p:row>
											<p:column colspan="2">
												<p:outputLabel 
													value="#{msg.consignacion_infocliente_ReqDatosMatricula}: (*)"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row>
											<p:column colspan="2">
												<p:selectOneRadio 
													value="#{consignacionMBean.entity.requiereDatosMatricula}" 
													styleClass="crud-field-radio-value-one-col"
													rendered="#{consignacionMBean.mode != utilityConstantes.modeview}"
													required="true"
													requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','consignacion_infocliente_ReqDatosMatricula')}">
													<p:ajax process="@this" update="panelInfoDM"/>
											            <f:selectItem itemLabel="#{msg.generics_SI}" itemValue="true" />
											            <f:selectItem itemLabel="#{msg.generics_NO}" itemValue="false" />
										        </p:selectOneRadio>
										        
										        <p:outputLabel
													value="#{msg.generics_SI}"
													styleClass="crud-field-value-one-col"
													rendered="#{consignacionMBean.mode == utilityConstantes.modeview and consignacionMBean.entity.requiereDatosMatricula}"/>
														
												<p:outputLabel
													value="#{msg.generics_NO}"
													styleClass="crud-field-value-one-col"
													rendered="#{consignacionMBean.mode == utilityConstantes.modeview and !consignacionMBean.entity.requiereDatosMatricula}"/>
											</p:column>
										</p:row>
										
									</p:panelGrid>
									
									<p:panelGrid styleClass="crud-panelgrid" id="panelInfoDM">
										<p:row rendered="#{consignacionMBean.entity.requiereDatosMatricula}">
											<p:column>
												<p:outputLabel
									        		value="#{msg.consignacion_infocliente_reqmat_cedula}: (*)"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row rendered="#{consignacionMBean.entity.requiereDatosMatricula}">
											<p:column colspan="2">
												<p:outputLabel 
													value="#{consignacionMBean.entity.identificacionMatricula}"
													rendered="#{consignacionMBean.mode == utilityConstantes.modeview}"
													styleClass="crud-field-value-one-col" />
													
												<p:inputText
													value="#{consignacionMBean.entity.identificacionMatricula}"
													rendered="#{consignacionMBean.mode != utilityConstantes.modeview}"
													maxlength="50"
													required="true"
													styleClass="crud-field-value-one-col"
													converterMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_validateNumber','consignacion_infocliente_reqmat_cedula')}"
													requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','consignacion_infocliente_reqmat_cedula')}">
													<f:convertNumber type="number"/>
												</p:inputText>
											</p:column>
										</p:row>
										
										<p:row rendered="#{consignacionMBean.entity.requiereDatosMatricula}">
											<p:column colspan="2">
												<p:outputLabel 
													value="#{msg.consignacion_infocliente_reqmat_nombre}: (*)"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row rendered="#{consignacionMBean.entity.requiereDatosMatricula}">
											<p:column colspan="2">
												<p:outputLabel 
													value="#{consignacionMBean.entity.nombreMatricula}"
													rendered="#{consignacionMBean.mode == utilityConstantes.modeview}"
													styleClass="crud-field-value-one-col" />
													
												<p:inputText
													value="#{consignacionMBean.entity.nombreMatricula}"
													rendered="#{consignacionMBean.mode != utilityConstantes.modeview}"
													maxlength="200"
													required="true"
													styleClass="crud-field-value-one-col"
													requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','consignacion_infocliente_reqmat_nombre')}"/>
											</p:column>
										</p:row>
									</p:panelGrid>
										
								</div>
									
							</p:fieldset>
							
						</div>
						
						<div class="ui-grid-col-4">
				
							<p:fieldset legend="#{msg.consignacion_infovehiculo_Title}" 
								toggleable="true" toggleSpeed="500" style="height:600px"
								styleClass="crud_fieldset_title_no_height">
											
								<div style="width: 100%; text-align: center">
					
									<a class="consignacion_vehiculo_icono fa fa-car"/>
										
									<p:confirmDialog widgetVar="dataChangeDlgVehiculo" appendTo="@(body)" 
										global="true" showEffect="fade" hideEffect="fade" styleClass="confirmDialog"
										message="#{msg.consignacion_vehiculoNoExiste}">
										<p:commandButton value="#{msg.generics_SI}" oncomplete="PF('dataChangeDlgVehiculo').hide();" onclick="PF('dataChangeDlgVehiculo').hide();$('#frm\\:btnOpenNewVehiculoForm').click();"/>
										<p:commandButton value="#{msg.generics_NO}"   onclick="PF('dataChangeDlgVehiculo').hide();" /> 
									</p:confirmDialog>
									
									<p:commandButton
										id="btnOpenNewVehiculoForm"
										actionListener="#{vehiculoMBean.newEntity(consignacionMBean.entity.vehiculo.placa)}"
										rendered="#{vehiculoMBean.hasPermissionTo(utilityConstantes.actioncreate) and consignacionMBean.mode != utilityConstantes.modeview}"
										styleClass="list-button-add-new fa fa-plus"
										process="@this"
										value="Nuevo"
										immediate="true"
										ajax="#{!utilityMethods.isMobile()}"
										onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
										<p:ajax 
											event="dialogReturn" 
											oncomplete="PF('dataChangeDlgVehiculo').hide();" 
											listener="#{consignacionMBean.dialogListenerVehiculo()}"  
											update="autoCompleteVehiculoID :frm:growl panelDatosVehiculo"/>
									</p:commandButton>
										
									<p:remoteCommand name="rcV" update="autoCompleteVehiculoID :frm:growl panelDatosVehiculo" immediate="true" actionListener="#{consignacionMBean.loadVehiculo()}" />
							
									<p:panelGrid styleClass="crud-panelgrid" id="panelDatosVehiculo">
									
										<p:row>
											<p:column colspan="2">
												<p:outputLabel 
													value="#{msg.consignacion_infovehiculo_Vehiculo}: (*)"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row>
											<p:column>
												<p:outputLabel 
													value="#{consignacionMBean.entity.vehiculo.placa}"
													styleClass="crud-field-value-one-col"
													rendered="#{consignacionMBean.mode != utilityConstantes.modecreate}"/>
													
												<p:autoComplete 
													id="autoCompleteVehiculoID"
													value="#{consignacionMBean.entity.vehiculo.placa}" 
													completeMethod="#{consignacionMBean.autocompleteVehiculos}" 
													effect="fade"
													required="true"
													dropdown="true"
													rendered="#{consignacionMBean.mode == utilityConstantes.modecreate}"
													onkeypress="if (event.keyCode == 13) {event.preventDefault();rcV();}"
													styleClass="crud-field-select-value-one-col"
													panelStyleClass="crud-field-select-panel"
													requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','consignacion_infovehiculo_Vehiculo')}">
													<p:ajax event="itemSelect" listener="#{consignacionMBean.loadVehiculo()}" update="autoCompleteVehiculoID :frm:growl panelDatosVehiculo"/>
												</p:autoComplete>
												
												<p:inputText
													id="autoCompleteVehiculoIDView"
													style="display:none"
													value="#{consignacionMBean.entity.vehiculo.placa}"  />
											</p:column>
											<p:column>
												<p:commandButton
													id="btnSearchVehiculoForm"
													styleClass="list-button-read fa fa-search"
													includeViewParams="true"
													actionListener="#{vehiculoMBean.selectEntityFromConsignacion()}"
													immediate="true"
													style="margin-left:0px;margin-top:1px;"
													onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
													ajax="#{!utilityMethods.isMobile()}">
												<p:ajax 
													event="dialogReturn" 
													listener="#{consignacionMBean.dialogListenerVehiculo()}"  
													update="autoCompleteVehiculoID :frm:growl panelDatosVehiculo"/>				
												</p:commandButton>
											</p:column>
										</p:row>
										
										<p:row>
											<p:column>
												<p:outputLabel 
													value="#{msg.consignacion_infovehiculo_Marca}:"
													styleClass="crud-field-label-one-col" />
											</p:column>
											<p:column>
												<p:outputLabel 
													value="#{msg.consignacion_infovehiculo_Linea}:"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row>
											<p:column>
												<p:outputLabel
													value="#{consignacionMBean.entity.vehiculo.marca.nombre}"
													styleClass="crud-field-value-one-col"/>
											</p:column>
											<p:column>
												<p:outputLabel
													value="#{consignacionMBean.entity.vehiculo.linea}"
													styleClass="crud-field-value-one-col"/>
											</p:column>
										</p:row>
										
										<p:row>
											<p:column>
												<p:outputLabel 
													value="#{msg.consignacion_infovehiculo_Cilindraje}:"
													styleClass="crud-field-label-one-col" />
											</p:column>
											<p:column>
												<p:outputLabel 
													value="#{msg.consignacion_infovehiculo_Modelo}:"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row>
											<p:column>
												<p:outputLabel
													value="#{consignacionMBean.entity.vehiculo.cilindraje}"
													styleClass="crud-field-value-one-col"/>
											</p:column>
											<p:column>
												<p:outputLabel
													value="#{consignacionMBean.entity.vehiculo.modelo}"
													styleClass="crud-field-value-one-col"/>
											</p:column>
										</p:row>
										<p:row>
											<p:column colspan="2">
												<p:outputLabel
														value="#{msg.vehiculo_dialog_Servicio}:"
														styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row>
											<p:column colspan="2">
												<p:outputLabel
														rendered="#{consignacionMBean.entity.vehiculo.servicio=='Pa'}"
														value="#{msg.vehiculo_dialog_Servicio_Pa}"
														styleClass="crud-field-value-one-col"/>
												<p:outputLabel
														rendered="#{consignacionMBean.entity.vehiculo.servicio=='Pu'}"
														value="#{msg.vehiculo_dialog_Servicio_Pu}"
														styleClass="crud-field-value-one-col"/>
											</p:column>
										</p:row>
										
										<p:row>
											<p:column colspan="2">
												<p:outputLabel 
													value="#{msg.consignacion_infovehiculo_Kilometraje}:"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row>
											<p:column colspan="2">
												<p:outputLabel
													value="#{consignacionMBean.entity.kilometraje}"
													styleClass="crud-field-value-one-col"
													rendered="#{consignacionMBean.mode == utilityConstantes.modeview}"/>
													
												<p:inputText
													value="#{consignacionMBean.entity.kilometraje}"
													required="false"
													styleClass="crud-field-value-one-col"
													rendered="#{consignacionMBean.mode != utilityConstantes.modeview}"
													converterMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_validateNumber','consignacion_infovehiculo_Kilometraje')}">
													<f:convertNumber type="number"/>
												</p:inputText>
											</p:column>
										</p:row>
										
										<p:row>
											<p:column colspan="2">
												<p:outputLabel 
													value="#{msg.consignacion_infovehiculo_FchVenSoat}:"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row>
											<p:column colspan="2">
												<p:outputLabel 
													value="#{consignacionMBean.entity.fchVenceSoat}"
													styleClass="crud-field-value-one-col"
													rendered="#{consignacionMBean.mode == utilityConstantes.modeview}">
													<f:convertDateTime pattern="dd/MM/yyyy" />
												</p:outputLabel>
														
												<p:calendar 
											 		value="#{consignacionMBean.entity.fchVenceSoat}"
											 		rendered="#{consignacionMBean.mode != utilityConstantes.modeview}"
											 		required="false"
											 		showOn="button"
													styleClass="crud-field-value-one-col"
													pattern="dd/MM/yyyy"
													navigator="true"/>
											</p:column>
										</p:row>
										
										<p:row>
											<p:column colspan="2">
												<p:outputLabel 
													value="#{msg.consignacion_infovehiculo_aplicaRevisionTM}: (*)"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row>
											<p:column colspan="2">
												<p:selectOneRadio 
													value="#{consignacionMBean.entity.aplicaRevisionTM}" 
													styleClass="crud-field-radio-value-one-col"
													rendered="#{consignacionMBean.mode != utilityConstantes.modeview}"
													required="true"
													requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','consignacion_infovehiculo_aplicaRevisionTM')}">
													<p:ajax process="@this" update="panelInfoRTM"/>
													<f:selectItem itemLabel="#{msg.generics_SI}" itemValue="true" />
													<f:selectItem itemLabel="#{msg.generics_NO}" itemValue="false" />
										        </p:selectOneRadio>
										        
										        <p:outputLabel
													value="#{msg.generics_SI}"
													styleClass="crud-field-value-one-col"
													rendered="#{consignacionMBean.mode == utilityConstantes.modeview and consignacionMBean.entity.aplicaRevisionTM}"/>
														
												<p:outputLabel
													value="#{msg.generics_NO}"
													styleClass="crud-field-value-one-col"
													rendered="#{consignacionMBean.mode == utilityConstantes.modeview and !consignacionMBean.entity.aplicaRevisionTM}"/>
											</p:column>
										</p:row>
											
									</p:panelGrid>
										
									<p:panelGrid id="panelInfoRTM" styleClass="crud-panelgrid">
										<p:row>
											<p:column>
												<p:outputLabel 
													value="#{msg.consignacion_infovehiculo_FchVenRT}: (*)"
													rendered="#{consignacionMBean.entity.aplicaRevisionTM}"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row>
											<p:column>
												<p:outputLabel 
													value="#{consignacionMBean.entity.fchVenceRevtm}"
													styleClass="crud-field-value-one-col"
													rendered="#{consignacionMBean.mode == utilityConstantes.modeview and consignacionMBean.entity.aplicaRevisionTM}">
													<f:convertDateTime pattern="dd/MM/yyyy" />
												</p:outputLabel>
													
												<p:calendar 
											 		value="#{consignacionMBean.entity.fchVenceRevtm}"
											 		rendered="#{consignacionMBean.mode != utilityConstantes.modeview and consignacionMBean.entity.aplicaRevisionTM}"
											 		required="#{consignacionMBean.entity.aplicaRevisionTM}"
													styleClass="crud-field-value-one-col"
													pattern="dd/MM/yyyy"
													navigator="true"
													showOn="button"
												requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','consignacion_infovehiculo_FchVenRT')}"/>
											</p:column>
										</p:row>
													
									</p:panelGrid>
							
								</div>
									
							</p:fieldset>
							
						</div>
						
						<div class="ui-grid-col-4">
						
							<p:fieldset legend="#{msg.consignacion_term_neg_Title}" 
											toggleable="true" toggleSpeed="500"
											styleClass="crud_fieldset_title_no_height" style="height: 600px;">
											
								<div style="width: 100%; text-align: center">
									<a class="consignacion_negocio_icono fa fa-credit-card"/>
								</div>
								
								<div style="width: 100%;">
									<p:panelGrid styleClass="crud-panelgrid">
									
										<p:row>
											<p:column>
												<p:outputLabel 
													value="#{msg.consignacion_term_neg_PrecioVenta}: (*)"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										
										<p:row>
											<p:column>
												<p:outputLabel 
													value="#{consignacionMBean.entity.valorVehiculo}"
													rendered="#{consignacionMBean.mode == utilityConstantes.modeview}"
													styleClass="crud-field-value-one-col">
													<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0"/>
												</p:outputLabel>
												
												<p:inputText
													value="#{consignacionMBean.entity.valorVehiculo}"
													rendered="#{consignacionMBean.mode != utilityConstantes.modeview}"
													required="true"
													styleClass="crud-field-value-one-col"
													requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','consignacion_term_neg_PrecioVenta')}"
													converterMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_validateNumber','consignacion_term_neg_PrecioVenta')}">
													<f:convertNumber type="number"/>
												</p:inputText>
											</p:column>
										</p:row>

										<p:row>
											<p:column>
												<p:outputLabel
														value="#{msg.consignacion_term_neg_precioMinimo}:"
														styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>

										<p:row>
											<p:column>
												<p:outputLabel
														value="#{consignacionMBean.entity.precioMinimo}"
														rendered="#{consignacionMBean.mode == utilityConstantes.modeview}"
														styleClass="crud-field-value-one-col">
													<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0"/>
												</p:outputLabel>

												<p:inputText
														value="#{consignacionMBean.entity.precioMinimo}"
														rendered="#{consignacionMBean.mode != utilityConstantes.modeview}"
														styleClass="crud-field-value-one-col"
														converterMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_validateNumber','consignacion_term_neg_precioMinimo')}">
													<f:convertNumber type="number"/>
												</p:inputText>
											</p:column>
										</p:row>
										
										<p:row>
											<p:column>
												<p:outputLabel 
													value="#{msg.consignacion_term_neg_Negociable}: (*)"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row>
											<p:column>
												<p:selectOneRadio 
													value="#{consignacionMBean.entity.negociable}" 
													styleClass="crud-field-radio-value-one-col"
													rendered="#{consignacionMBean.mode != utilityConstantes.modeview}"
													required="true"
													requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','consignacion_term_neg_Negociable')}">
											        <f:selectItem itemLabel="#{msg.generics_SI}" itemValue="true" />
											        <f:selectItem itemLabel="#{msg.generics_NO}" itemValue="false" />
									        	</p:selectOneRadio>
								        
										        <p:outputLabel
													value="#{msg.generics_SI}"
													styleClass="crud-field-value-one-col"
													rendered="#{consignacionMBean.mode == utilityConstantes.modeview and consignacionMBean.entity.negociable}"/>
														
												<p:outputLabel
													value="#{msg.generics_NO}"
													styleClass="crud-field-value-one-col"
													rendered="#{consignacionMBean.mode == utilityConstantes.modeview and !consignacionMBean.entity.negociable}"/>
											</p:column>
										</p:row>

										<p:row>
											<p:column>
												<p:outputLabel
														value="#{msg.consignacion_term_neg_tieneMatricula}: (*)"
														styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row>
											<p:column>
												<p:selectOneRadio
														value="#{consignacionMBean.entity.tieneMatricula}"
														styleClass="crud-field-radio-value-one-col"
														rendered="#{consignacionMBean.mode != utilityConstantes.modeview}"
														required="true"
														requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','consignacion_term_neg_tieneMatricula')}">
													<f:selectItem itemLabel="#{msg.generics_SI}" itemValue="true" />
													<f:selectItem itemLabel="#{msg.generics_NO}" itemValue="false" />
												</p:selectOneRadio>

												<p:outputLabel
														value="#{msg.generics_SI}"
														styleClass="crud-field-value-one-col"
														rendered="#{consignacionMBean.mode == utilityConstantes.modeview and consignacionMBean.entity.tieneMatricula}"/>

												<p:outputLabel
														value="#{msg.generics_NO}"
														styleClass="crud-field-value-one-col"
														rendered="#{consignacionMBean.mode == utilityConstantes.modeview and !consignacionMBean.entity.tieneMatricula}"/>
											</p:column>
										</p:row>

										<p:row>
											<p:column>
												<p:outputLabel
														value="#{msg.consignacion_term_neg_tieneSoat}: (*)"
														styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row>
											<p:column>
												<p:selectOneRadio
														value="#{consignacionMBean.entity.tieneSoat}"
														styleClass="crud-field-radio-value-one-col"
														rendered="#{consignacionMBean.mode != utilityConstantes.modeview}"
														required="true"
														requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','consignacion_term_neg_tieneSoat')}">
													<f:selectItem itemLabel="#{msg.generics_SI}" itemValue="true" />
													<f:selectItem itemLabel="#{msg.generics_NO}" itemValue="false" />
												</p:selectOneRadio>

												<p:outputLabel
														value="#{msg.generics_SI}"
														styleClass="crud-field-value-one-col"
														rendered="#{consignacionMBean.mode == utilityConstantes.modeview and consignacionMBean.entity.tieneSoat}"/>

												<p:outputLabel
														value="#{msg.generics_NO}"
														styleClass="crud-field-value-one-col"
														rendered="#{consignacionMBean.mode == utilityConstantes.modeview and !consignacionMBean.entity.tieneSoat}"/>
											</p:column>
										</p:row>

										<p:row>
											<p:column>
												<p:outputLabel
														value="#{msg.consignacion_term_neg_tieneTecnoMecanica}: (*)"
														styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row>
											<p:column>
												<p:selectOneRadio
														value="#{consignacionMBean.entity.tieneTecnoMecanica}"
														styleClass="crud-field-radio-value-one-col"
														rendered="#{consignacionMBean.mode != utilityConstantes.modeview}"
														required="true"
														requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','consignacion_term_neg_tieneTecnoMecanica')}">
													<f:selectItem itemLabel="#{msg.generics_SI}" itemValue="true" />
													<f:selectItem itemLabel="#{msg.generics_NO}" itemValue="false" />
												</p:selectOneRadio>

												<p:outputLabel
														value="#{msg.generics_SI}"
														styleClass="crud-field-value-one-col"
														rendered="#{consignacionMBean.mode == utilityConstantes.modeview and consignacionMBean.entity.tieneTecnoMecanica}"/>

												<p:outputLabel
														value="#{msg.generics_NO}"
														styleClass="crud-field-value-one-col"
														rendered="#{consignacionMBean.mode == utilityConstantes.modeview and !consignacionMBean.entity.tieneTecnoMecanica}"/>
											</p:column>
										</p:row>

										<p:row>
											<p:column>
												<p:outputLabel
														value="#{msg.consignacion_term_neg_tieneCopiaLlave}: (*)"
														styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row>
											<p:column>
												<p:selectOneRadio
														value="#{consignacionMBean.entity.tieneCopiaLlave}"
														styleClass="crud-field-radio-value-one-col"
														rendered="#{consignacionMBean.mode != utilityConstantes.modeview}"
														required="true"
														requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','consignacion_term_neg_tieneCopiaLlave')}">
													<f:selectItem itemLabel="#{msg.generics_SI}" itemValue="true" />
													<f:selectItem itemLabel="#{msg.generics_NO}" itemValue="false" />
												</p:selectOneRadio>

												<p:outputLabel
														value="#{msg.generics_SI}"
														styleClass="crud-field-value-one-col"
														rendered="#{consignacionMBean.mode == utilityConstantes.modeview and consignacionMBean.entity.tieneCopiaLlave}"/>

												<p:outputLabel
														value="#{msg.generics_NO}"
														styleClass="crud-field-value-one-col"
														rendered="#{consignacionMBean.mode == utilityConstantes.modeview and !consignacionMBean.entity.tieneCopiaLlave}"/>
											</p:column>
										</p:row>

										<p:row>
											<p:column>
												<p:outputLabel
														value="#{msg.consignacion_term_neg_copiaLlaveEntregada}: (*)"
														styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row>
											<p:column>
												<p:selectOneRadio
														value="#{consignacionMBean.entity.copiaLlaveEntregada}"
														styleClass="crud-field-radio-value-one-col"
														rendered="#{consignacionMBean.mode != utilityConstantes.modeview}"
														required="true"
														requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','consignacion_term_neg_copiaLlaveEntregada')}">
													<f:selectItem itemLabel="#{msg.generics_SI}" itemValue="true" />
													<f:selectItem itemLabel="#{msg.generics_NO}" itemValue="false" />
												</p:selectOneRadio>

												<p:outputLabel
														value="#{msg.generics_SI}"
														styleClass="crud-field-value-one-col"
														rendered="#{consignacionMBean.mode == utilityConstantes.modeview and consignacionMBean.entity.copiaLlaveEntregada}"/>

												<p:outputLabel
														value="#{msg.generics_NO}"
														styleClass="crud-field-value-one-col"
														rendered="#{consignacionMBean.mode == utilityConstantes.modeview and !consignacionMBean.entity.copiaLlaveEntregada}"/>
											</p:column>
										</p:row>
												
									</p:panelGrid>
								</div>

							</p:fieldset>
							
						</div>
						
					</div>
					
				</div>
				
			</p:fieldset>
			
			<ui:include src="/generics/generics.xhtml"/>
			
		</h:form>
		
	</ui:define>
</ui:composition>
