<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/generics/template.xhtml">
	
	<ui:define name="content">
			
		<h:form id="frm">
		
			<div class="ui-grid ui-grid-responsive">
				<div class="ui-grid-row">
					<div class="ui-grid-col-12 list_title">
						<p:outputLabel value="#{msg.cliente_Title}"/>
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-12">
						
						<p:commandButton
							value="#{msg.button_addElement}"
							actionListener="#{clienteMBean.newEntity()}"
							rendered="#{clienteMBean.hasPermissionTo(utilityConstantes.actioncreate)}"
							styleClass="list-button-add-new fa fa-plus"
							process="frm"
							ajax="#{!utilityMethods.isMobile()}"
							onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
							<p:ajax 
								event="dialogReturn" 
								listener="#{clienteMBean.dialogListener}"  
								update="dta :frm:growl"
								oncomplete="PF('dtaWV').filter()"/>
						</p:commandButton>
						
					</div>
				</div>
				
				<div class="ui-grid-row">
					<div class="ui-grid-col-12">
					
						<!-- Sección del datatable -->
						<p:dataTable
							id="dta" 
							widgetVar="dtaWV"
							var="entity" 
							value="#{clienteMBean.entityList}"
							emptyMessage="#{msg.generics_RegistrosNoEncontrados}"
							filteredValue="#{clienteMBean.entityFilterList}"
							paginator="true"
							rows="10"
							paginatorTemplate="  {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink} {Exporters}"
							currentPageReportTemplate="({currentPage} de {totalPages})"
							sortMode="multiple"
							styleClass="list-datatable">
							
							<f:facet name="{Exporters}">
								<h:commandLink>
									<p:graphicImage name="/images/DEFAULT/excel.png" width="24"/>
									<p:dataExporter type="xls" target="dta" fileName="clientes" />
								</h:commandLink>
							</f:facet>
							
							<f:facet name="footer">
							 	<h:outputFormat value="#{msg.generics_list_total}" 
							 		rendered="#{clienteMBean.entityList != null}">
							 		 <f:param value="#{clienteMBean.entityList.size()}" />
							 	</h:outputFormat>
							</f:facet>
							
							<p:column
								headerText="#{msg.cliente_dialog_Cedula}"
								sortBy="#{entity.cedula}"
								filterBy="#{entity.cedula}"
								filterMatchMode="contains">
								<h:outputText value="#{entity.cedula}" />
							</p:column>
							
							<p:column
								headerText="#{msg.cliente_dialog_Nombres}"
								sortBy="#{entity.nombres}"
								filterBy="#{entity.nombres}"
								filterMatchMode="contains">
								<h:outputText value="#{entity.nombres}" />
							</p:column>
							
							<p:column
								headerText="#{msg.cliente_dialog_Apellidos}"
								sortBy="#{entity.apellidos}"
								filterBy="#{entity.apellidos}"
								filterMatchMode="contains">
								<h:outputText value="#{entity.apellidos}" />
							</p:column>
							
							<p:column
								headerText="#{msg.cliente_dialog_Telefono1}"
								sortBy="#{entity.telefono1}"
								filterBy="#{entity.telefono1}"
								filterMatchMode="contains">
								<h:outputText value="#{entity.telefono1}" />
							</p:column>
							
							<p:column
								headerText="#{msg.cliente_dialog_Celular1}"
								sortBy="#{entity.celular1}"
								filterBy="#{entity.celular1}"
								filterMatchMode="contains">
								<h:outputText value="#{entity.celular1}" />
							</p:column>
							
							<p:column exportable="false" headerText="#{msg.generics_tabla_acciones}">
									
									<p:commandButton 
											rendered="#{clienteMBean.hasPermissionTo(utilityConstantes.actionread)}"
											styleClass="list-button-read fa fa-search"
											includeViewParams="true"
											actionListener="#{clienteMBean.selectEntity(entity.id)}"
											onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
											ajax="#{!utilityMethods.isMobile()}">
										<p:ajax event="dialogReturn" listener="#{clienteMBean.dialogListener}" update="dta :frm:growl" oncomplete="PF('dtaWV').filter()"/>				
									</p:commandButton>
									
									<p:commandButton 
											rendered="#{clienteMBean.hasPermissionTo(utilityConstantes.actionupdate)}"
											styleClass="list-button-edit fa fa-edit"
											includeViewParams="true" 
											actionListener="#{clienteMBean.editEntity(entity.id, true)}"
											onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
											ajax="#{!utilityMethods.isMobile()}">
										<p:ajax event="dialogReturn" update="dta :frm:growl" listener="#{clienteMBean.dialogListener()}" oncomplete="PF('dtaWV').filter()"/>					
									</p:commandButton>
									
									<p:commandButton 
											rendered="#{clienteMBean.hasPermissionTo(utilityConstantes.actiondelete)}"
											styleClass="list-button-delete fa fa-trash-o" 
											update="dta :frm:growl" 
											actionListener="#{clienteMBean.deleteEntity(entity.id, true)}"
											onclick="PF('statusDialog').show()" oncomplete="PF('dtaWV').filter();PF('statusDialog').hide()"
											ajax="true">
										 <p:confirm header="#{msg.generics_Confirm}" 
										 		message="#{msg.generics_Confirm_msg_delete}"
										 		icon="ui-icon-alert"/>											
									</p:commandButton>
													
							</p:column>
							
		                </p:dataTable>
					</div>
				</div>
				
			</div>
			
			<ui:include src="/generics/generics.xhtml"/>
			
		</h:form>
	</ui:define>
</ui:composition>
	
