<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/generics/template.xhtml">
	
	<ui:define name="content">
		
		<h:form id="frm">

			<p:toolbar id="ribbons" styleClass="ribbons">
				<f:facet name="left">
					<p:outputLabel value="#{msg.cliente_dialogTitle}"/>
				</f:facet>
				<f:facet name="right">
					<p:commandButton 
						styleClass="dialogHidden crud-button-back fa fa-arrow-left"
						ajax="false" 
						immediate="true" 
						value="#{msg.generics_Regresar}" 
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
						action="/configuracion/cliente/clienteList.faces"/>
						
					<p:commandButton 
								update=":frm :frm:growl"
								rendered="#{!clienteMBean.noOptions and ((clienteMBean.mode == utilityConstantes.modecreate and clienteMBean.hasPermissionTo(utilityConstantes.actioncreate)) or (clienteMBean.mode == utilityConstantes.modeedit and clienteMBean.hasPermissionTo(utilityConstantes.actionupdate)))}"
								ajax="#{!utilityMethods.isMobile()}"
								value="#{msg.generics_guardar}" 
								action="#{clienteMBean.saveEntity()}"
								styleClass="crud-button-save fa fa-floppy-o"
								onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
								
					<p:commandButton 
							rendered="#{!clienteMBean.noOptions and (clienteMBean.mode == utilityConstantes.modeview and clienteMBean.hasPermissionTo(utilityConstantes.actionupdate))}"
							ajax="false"
							value="#{msg.generics_editar}" 
							action="#{clienteMBean.editEntity(clienteMBean.entity.id, false)}"
							styleClass="crud-button-edit fa fa-edit"
							onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
							
					<p:commandButton 
							rendered="#{!clienteMBean.noOptions and (clienteMBean.mode == utilityConstantes.modeview and clienteMBean.hasPermissionTo(utilityConstantes.actiondelete))}"
							ajax="true" 
							value="#{msg.generics_eliminar}" 
							action="#{clienteMBean.deleteEntity(clienteMBean.entity.id, false)}"
							styleClass="crud-button-delete fa fa-trash-o"
							onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
							<p:confirm header="#{msg.generics_Confirm}" 
							 		message="#{msg.generics_Confirm_msg_delete}"
							 		icon="ui-icon-alert"/>	
						</p:commandButton>
								
				</f:facet>
			</p:toolbar>
			
			<p:fieldset styleClass="crudFieldset">
				
				<div class="crud-requiredMsg">#{msg.generics_requiredText}</div>
				
				<p:separator/>
				
				<div class="ui-grid ui-grid-responsive">

					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel value="#{msg.cliente_dialog_EsEmpresa}: (*)"
										   styleClass="crud-field-label"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
									styleClass="crud-field-value"
									value="#{clienteMBean.entity.esEmpresa == true ? msg.generics_SI : msg.generics_NO}"
									rendered="#{clienteMBean.mode == utilityConstantes.modeview}" />

							<p:selectOneRadio
									styleClass="crud-field-value"
									value="#{clienteMBean.entity.esEmpresa}"
									rendered="#{clienteMBean.mode != utilityConstantes.modeview}"
									required="true"
									requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','cliente_dialog_EsEmpresa')}">
								<f:selectItem itemLabel="#{msg.generics_SI}" itemValue="#{true}"/>
								<f:selectItem itemLabel="#{msg.generics_NO}" itemValue="#{false}"/>
							</p:selectOneRadio>

						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.cliente_dialog_Cedula}: (*)"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								value="#{clienteMBean.entity.cedula}"
								styleClass="crud-field-value"
								rendered="#{clienteMBean.mode == utilityConstantes.modeview}" />
							
							<p:inputText
								value="#{clienteMBean.entity.cedula}"
								rendered="#{clienteMBean.mode != utilityConstantes.modeview}"
								maxlength="45"
								required="true"
								styleClass="crud-field-value"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','cliente_dialog_Cedula')}"/>			
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.cliente_dialog_Nombres}: (*)"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								value="#{clienteMBean.entity.nombres}"
								styleClass="crud-field-value"
								rendered="#{clienteMBean.mode == utilityConstantes.modeview}" />
							
							<p:inputText
								value="#{clienteMBean.entity.nombres}"
								rendered="#{clienteMBean.mode != utilityConstantes.modeview}"
								maxlength="200"
								required="true"
								styleClass="crud-field-value"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','cliente_dialog_Nombres')}"/>			
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.cliente_dialog_Apellidos}: (*)"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								value="#{clienteMBean.entity.apellidos}"
								styleClass="crud-field-value"
								rendered="#{clienteMBean.mode == utilityConstantes.modeview}" />
							
							<p:inputText
								value="#{clienteMBean.entity.apellidos}"
								rendered="#{clienteMBean.mode != utilityConstantes.modeview}"
								maxlength="200"
								required="true"
								styleClass="crud-field-value"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','cliente_dialog_Apellidos')}"/>			
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.cliente_dialog_Telefono1}:"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								value="#{clienteMBean.entity.telefono1}"
								styleClass="crud-field-value"
								rendered="#{clienteMBean.mode == utilityConstantes.modeview}" />
							
							<p:inputText
								value="#{clienteMBean.entity.telefono1}"
								rendered="#{clienteMBean.mode != utilityConstantes.modeview}"
								maxlength="45"
								required="false"
								styleClass="crud-field-value"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','cliente_dialog_Telefono1')}"/>			
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.cliente_dialog_Celular1}: (*)"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								value="#{clienteMBean.entity.celular1}"
								styleClass="crud-field-value"
								rendered="#{clienteMBean.mode == utilityConstantes.modeview}" />
							
							<p:inputText
								value="#{clienteMBean.entity.celular1}"
								rendered="#{clienteMBean.mode != utilityConstantes.modeview}"
								maxlength="45"
								required="true"
								styleClass="crud-field-value"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','cliente_dialog_Celular1')}"/>			
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.cliente_dialog_CorreoElectronico}:"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								value="#{clienteMBean.entity.correoElectronico}"
								styleClass="crud-field-value"
								rendered="#{clienteMBean.mode == utilityConstantes.modeview}" />
							
							<p:inputText
								value="#{clienteMBean.entity.correoElectronico}"
								rendered="#{clienteMBean.mode != utilityConstantes.modeview}"
								maxlength="200"
								required="false"
								styleClass="crud-field-value"
								validatorMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_validateEmail','cliente_dialog_CorreoElectronico')}"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','cliente_dialog_CorreoElectronico')}">
								<f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />			
							</p:inputText>
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.cliente_dialog_Ciudad}:"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								value="#{clienteMBean.entity.ciudad}"
								styleClass="crud-field-value"
								rendered="#{clienteMBean.mode == utilityConstantes.modeview}" />
							
							<p:inputText
								value="#{clienteMBean.entity.ciudad}"
								rendered="#{clienteMBean.mode != utilityConstantes.modeview}"
								maxlength="200"
								required="false"
								styleClass="crud-field-value"/>			
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.cliente_dialog_Direccion}:"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								value="#{clienteMBean.entity.direccion}"
								styleClass="crud-field-value"
								rendered="#{clienteMBean.mode == utilityConstantes.modeview}" />
							
							<p:inputText
								value="#{clienteMBean.entity.direccion}"
								rendered="#{clienteMBean.mode != utilityConstantes.modeview}"
								maxlength="500"
								required="false"
								styleClass="crud-field-value"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','cliente_dialog_Direccion')}"/>			
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.cliente_dialog_Telefono2}:"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								value="#{clienteMBean.entity.telefono2}"
								styleClass="crud-field-value"
								rendered="#{clienteMBean.mode == utilityConstantes.modeview}" />
							
							<p:inputText
								value="#{clienteMBean.entity.telefono2}"
								rendered="#{clienteMBean.mode != utilityConstantes.modeview}"
								maxlength="45"
								required="false"
								styleClass="crud-field-value"/>			
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.cliente_dialog_Celular2}:"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								value="#{clienteMBean.entity.celular2}"
								styleClass="crud-field-value"
								rendered="#{clienteMBean.mode == utilityConstantes.modeview}" />
							
							<p:inputText
								value="#{clienteMBean.entity.celular2}"
								rendered="#{clienteMBean.mode != utilityConstantes.modeview}"
								maxlength="45"
								required="false"
								styleClass="crud-field-value"/>			
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.cliente_dialog_Empresa}:"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								value="#{clienteMBean.entity.empresa}"
								styleClass="crud-field-value"
								rendered="#{clienteMBean.mode == utilityConstantes.modeview}" />
							
							<p:inputText
								value="#{clienteMBean.entity.empresa}"
								rendered="#{clienteMBean.mode != utilityConstantes.modeview}"
								maxlength="45"
								required="false"
								styleClass="crud-field-value"/>			
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.cliente_dialog_Cargo}:"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								value="#{clienteMBean.entity.cargo}"
								styleClass="crud-field-value"
								rendered="#{clienteMBean.mode == utilityConstantes.modeview}" />
							
							<p:inputText
								value="#{clienteMBean.entity.cargo}"
								rendered="#{clienteMBean.mode != utilityConstantes.modeview}"
								maxlength="45"
								required="false"
								styleClass="crud-field-value"/>			
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.cliente_dialog_Observaciones}:"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								value="#{clienteMBean.entity.observaciones}"
								styleClass="crud-field-value"
								rendered="#{clienteMBean.mode == utilityConstantes.modeview}" />
							
							<p:inputTextarea
								value="#{clienteMBean.entity.observaciones}"
								styleClass="crud-field-value"
								rendered="#{clienteMBean.mode != utilityConstantes.modeview}"/>			
						</div>
					</div>
					
				</div>
				
			</p:fieldset>
			
			<ui:include src="/generics/generics.xhtml"/>
			
		</h:form>
		
	</ui:define>
</ui:composition>
