<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/generics/template.xhtml">
	
	<ui:define name="content">
	
		<h:form id="frm">
		
			<p:toolbar id="ribbons" styleClass="ribbons">
				<f:facet name="left">
					<p:outputLabel value="#{msg.ventaTercero_dialogTitle}: #{ventaTerceroMBean.entity.codigo}"/>
				</f:facet>
				<f:facet name="right">
					
					<p:commandButton 
						styleClass="dialogHidden crud-button-back fa fa-arrow-left"
						ajax="false" 
						immediate="true" 
						title="#{msg.generics_Regresar}" 
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
						action="/venta/ventaTerceroList.faces"/>
						
					<p:commandButton 
						update=":frm :frm:growl"
						rendered="#{(ventaTerceroMBean.mode == utilityConstantes.modecreate and ventaTerceroMBean.hasPermissionTo(utilityConstantes.actioncreate)) or (ventaTerceroMBean.mode == utilityConstantes.modeedit and ventaTerceroMBean.hasPermissionTo(utilityConstantes.actionupdate))}"
						ajax="#{!utilityMethods.isMobile()}"
						title="#{msg.generics_guardar}" 
						action="#{ventaTerceroMBean.saveEntity()}"
						styleClass="crud-button-save fa fa-floppy-o"
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
								
					<p:commandButton 
						rendered="#{ventaTerceroMBean.mode == utilityConstantes.modeview and ventaTerceroMBean.hasPermissionTo(utilityConstantes.actionupdate)}"
						ajax="false"
						title="#{msg.generics_editar}" 
						action="#{ventaTerceroMBean.editEntity(ventaTerceroMBean.entity.id, false)}"
						styleClass="crud-button-edit fa fa-edit"
						immediate="true"
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
						
					<p:commandButton 
						rendered="#{ventaTerceroMBean.mode == utilityConstantes.modeview and ventaTerceroMBean.hasPermissionTo(utilityConstantes.actiondelete)}"
						ajax="true" 
						title="#{msg.generics_eliminar}" 
						action="#{ventaTerceroMBean.deleteEntity(ventaTerceroMBean.entity.id, false)}"
						styleClass="crud-button-delete fa fa-trash-o"
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
						<p:confirm header="#{msg.generics_Confirm}" 
							 message="#{msg.generics_Confirm_msg_delete}"
							 icon="ui-icon-alert"/>	
					</p:commandButton>
								
				</f:facet>
			</p:toolbar>
			
			<p:fieldset styleClass="crudFieldset">
				
				<div class="crud-requiredMsg">#{msg.generics_requiredText}</div>
				
				<p:separator/>
				
				<div class="ui-grid ui-grid-responsive">
					
					<div class="ui-grid-row">
						
						<div class="ui-grid-col-4">
						
							<p:fieldset legend="#{msg.ventaTercero_infocliente_Title}"
								toggleable="true" toggleSpeed="500"  style="height:550px"
								styleClass="crud_fieldset_title_no_height">
								
								<div style="width: 100%; text-align: center">
								
									<a class="ventaTercero_cliente_icono fa fa-user"/>
									
									<p:confirmDialog widgetVar="dataChangeDlgCliente" appendTo="@(body)" 
										global="true" showEffect="fade" hideEffect="fade" styleClass="confirmDialog" 
										message="#{msg.ventaTercero_clienteNoExiste}">
										<p:commandButton value="#{msg.generics_SI}" oncomplete="PF('dataChangeDlgCliente').hide();" onclick="PF('dataChangeDlgCliente').hide();$('#frm\\:btnOpenNewClienteForm').click();"/>
										<p:commandButton value="#{msg.generics_NO}"   onclick="PF('dataChangeDlgCliente').hide();" />
									</p:confirmDialog>
										
									<p:commandButton id="btnOpenNewClienteForm"
										actionListener="#{clienteMBean.newEntity(ventaTerceroMBean.entity.cliente.cedula)}"
										rendered="#{clienteMBean.hasPermissionTo(utilityConstantes.actioncreate) and ventaTerceroMBean.mode != utilityConstantes.modeview}"
										styleClass="list-button-add-new-min fa fa-plus"
										process="@this"
										style="display:none"
										immediate="true"
										ajax="#{!utilityMethods.isMobile()}"
										onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
										<p:ajax event="dialogReturn" listener="#{ventaTerceroMBean.dialogListenerCliente()}" 
											oncomplete="PF('dataChangeDlgCliente').hide();" 
											update=":frm:growl autoCompleteClienteID panelDatosCliente"/>
									</p:commandButton>
										
									<p:remoteCommand name="rc" update=":frm:growl autoCompleteClienteID panelDatosCliente" immediate="true" actionListener="#{ventaTerceroMBean.loadCliente()}" />
											
									<p:panelGrid styleClass="crud-panelgrid" id="panelDatosCliente" style="width:100%">
										<p:row>
											<p:column colspan="2">
												<p:outputLabel value="#{msg.ventaTercero_infocliente_Cliente}: (*)"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row>
											<p:column>
												<p:outputLabel 
													value="#{ventaTerceroMBean.entity.cliente.cedula}"
													styleClass="crud-field-value-one-col"
													rendered="#{ventaTerceroMBean.mode != utilityConstantes.modecreate}"/>
												<p:autoComplete 
													id="autoCompleteClienteID"
													value="#{ventaTerceroMBean.entity.cliente.cedula}" 
													completeMethod="#{ventaTerceroMBean.autocompleteClientes}" 
													effect="fade"
													required="true"
													dropdown="true"
													rendered="#{ventaTerceroMBean.mode == utilityConstantes.modecreate}"
													onkeypress="if (event.keyCode == 13) {event.preventDefault();rc();}"
													styleClass="crud-field-select-value-one-col"
													panelStyleClass="crud-field-select-panel"
													requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','ventaTercero_infocliente_Cliente')}">
													<p:ajax event="itemSelect" listener="#{ventaTerceroMBean.loadCliente()}" update="panelDatosCliente"/>
												</p:autoComplete>
											</p:column>
											<p:column>
												<p:commandButton
													id="btnSearchClienteForm"
													styleClass="list-button-read fa fa-search"
													includeViewParams="true"
													actionListener="#{clienteMBean.selectEntityFromVentaTercero()}"
													immediate="true"
													style="margin-left:0px;margin-top:1px;"
													onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
													ajax="#{!utilityMethods.isMobile()}"
													rendered="#{ventaTerceroMBean.mode != utilityConstantes.modeview}">
												<p:ajax 
													event="dialogReturn" 
													listener="#{ventaTerceroMBean.dialogListenerCliente()}"  
													update=":frm:growl autoCompleteClienteID panelDatosCliente"/>				
												</p:commandButton>
											</p:column>
										</p:row>
										
										<p:row rendered="#{ventaTerceroMBean.mode == utilityConstantes.modeview}">
											<p:column>
												<p:outputLabel 
													value="#{msg.ventaTercero_infocliente_Nombres}:"
													styleClass="crud-field-label-one-col" />
											</p:column>
											<p:column>
												<p:outputLabel 
													value="#{msg.ventaTercero_infocliente_Apellidos}:"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row rendered="#{ventaTerceroMBean.mode == utilityConstantes.modeview}">
											<p:column>
												<p:outputLabel 
													value="#{ventaTerceroMBean.entity.cliente.nombres}"
													styleClass="crud-field-value-one-col"/>
											</p:column>
											<p:column>
												<p:outputLabel 
													value="#{ventaTerceroMBean.entity.cliente.apellidos}"
													styleClass="crud-field-value-one-col"/>
											</p:column>
										</p:row>
										
										<p:row>
											<p:column>
												<p:outputLabel 
													value="#{msg.ventaTercero_infocliente_Tel1}:"
													styleClass="crud-field-label-one-col" />
											</p:column>
											<p:column>
												<p:outputLabel 
													value="#{msg.ventaTercero_infocliente_Celular1}:"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row>
											<p:column>
												<p:outputLabel 
													value="#{ventaTerceroMBean.entity.cliente.telefono1}"
													styleClass="crud-field-value-one-col"/>
											</p:column>
											<p:column>
												<p:outputLabel 
													value="#{ventaTerceroMBean.entity.cliente.celular1}"
													styleClass="crud-field-value-one-col"/>
											</p:column>
										</p:row>
										
										<p:row>
											<p:column colspan="2">
												<p:outputLabel 
													value="#{msg.ventaTercero_infocliente_Correo}:"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row>
											<p:column colspan="2">
												<p:outputLabel 
													value="#{ventaTerceroMBean.entity.cliente.correoElectronico}"
													styleClass="crud-field-value-one-col"/>
											</p:column>
										</p:row>
											
									</p:panelGrid>
									
								</div>
									
							</p:fieldset>
							
						</div>
						
						<div class="ui-grid-col-4">
				
							<p:fieldset legend="#{msg.ventaTercero_infovehiculo_Title}" 
								toggleable="true" toggleSpeed="500" style="height:550px"
								styleClass="crud_fieldset_title_no_height">
											
								<div style="width: 100%; text-align: center">
					
									<a class="ventaTercero_vehiculo_icono fa fa-car"/>
										
									<p:confirmDialog widgetVar="dataChangeDlgVehiculo" appendTo="@(body)" 
										global="true" showEffect="fade" hideEffect="fade" styleClass="confirmDialog"
										message="#{msg.ventaTercero_vehiculoNoExiste}">
										<p:commandButton value="#{msg.generics_SI}" oncomplete="PF('dataChangeDlgVehiculo').hide();" onclick="PF('dataChangeDlgVehiculo').hide();$('#frm\\:btnOpenNewVehiculoForm').click();"/>
										<p:commandButton value="#{msg.generics_NO}"   onclick="PF('dataChangeDlgVehiculo').hide();" /> 
									</p:confirmDialog>
										
									<p:commandButton
										id="btnOpenNewVehiculoForm"
										actionListener="#{vehiculoMBean.newEntity(ventaTerceroMBean.entity.vehiculo.placa)}"
										rendered="#{vehiculoMBean.hasPermissionTo(utilityConstantes.actioncreate) and ventaTerceroMBean.mode != utilityConstantes.modeview}"
										styleClass="list-button-add-new-min fa fa-plus"
										process="@this"
										style="display:none"
										immediate="true"
										ajax="#{!utilityMethods.isMobile()}"
										onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
										<p:ajax 
											event="dialogReturn" 
											oncomplete="PF('dataChangeDlgVehiculo').hide();" 
											listener="#{ventaTerceroMBean.dialogListenerVehiculo()}"  
											update="autoCompleteVehiculoID :frm:growl panelDatosVehiculo"/>
									</p:commandButton>
										
									<p:remoteCommand name="rcV" update="autoCompleteVehiculoID :frm:growl panelDatosVehiculo" immediate="true" actionListener="#{ventaTerceroMBean.loadVehiculo()}" />
							
									<p:panelGrid styleClass="crud-panelgrid" id="panelDatosVehiculo">
									
										<p:row>
											<p:column colspan="2">
												<p:outputLabel 
													value="#{msg.ventaTercero_infovehiculo_Vehiculo}: (*)"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row>
											<p:column>
												<p:outputLabel 
													value="#{ventaTerceroMBean.entity.vehiculo.placa}"
													styleClass="crud-field-value-one-col"
													rendered="#{ventaTerceroMBean.mode != utilityConstantes.modecreate}"/>
													
												<p:autoComplete 
													id="autoCompleteVehiculoID"
													value="#{ventaTerceroMBean.entity.vehiculo.placa}" 
													completeMethod="#{ventaTerceroMBean.autocompleteVehiculos}" 
													effect="fade"
													required="true"
													dropdown="true"
													rendered="#{ventaTerceroMBean.mode == utilityConstantes.modecreate}"
													onkeypress="if (event.keyCode == 13) {event.preventDefault();rcV();}"
													styleClass="crud-field-select-value-one-col"
													panelStyleClass="crud-field-select-panel"
													requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','ventaTercero_infovehiculo_Vehiculo')}">
													<p:ajax event="itemSelect" listener="#{ventaTerceroMBean.loadVehiculo()}" update="autoCompleteVehiculoID :frm:growl panelDatosVehiculo"/>
												</p:autoComplete>
											</p:column>
											<p:column>
												<p:commandButton
													id="btnSearchVehiculoForm"
													styleClass="list-button-read fa fa-search"
													includeViewParams="true"
													actionListener="#{vehiculoMBean.selectEntityFromVentaTercero()}"
													immediate="true"
													style="margin-left:0px;margin-top:1px;"
													onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
													ajax="#{!utilityMethods.isMobile()}"
													rendered="#{ventaTerceroMBean.mode != utilityConstantes.modeview}">
												<p:ajax 
													event="dialogReturn" 
													listener="#{ventaTerceroMBean.dialogListenerVehiculo()}"  
													update="autoCompleteVehiculoID :frm:growl panelDatosVehiculo"/>				
												</p:commandButton>
											</p:column>
										</p:row>
										
										<p:row>
											<p:column>
												<p:outputLabel 
													value="#{msg.ventaTercero_infovehiculo_Marca}:"
													styleClass="crud-field-label-one-col" />
											</p:column>
											<p:column>
												<p:outputLabel 
													value="#{msg.ventaTercero_infovehiculo_Linea}:"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row>
											<p:column>
												<p:outputLabel
													value="#{ventaTerceroMBean.entity.vehiculo.marca.nombre}"
													styleClass="crud-field-value-one-col"/>
											</p:column>
											<p:column>
												<p:outputLabel
													value="#{ventaTerceroMBean.entity.vehiculo.linea}"
													styleClass="crud-field-value-one-col"/>
											</p:column>
										</p:row>
										
										<p:row>
											<p:column>
												<p:outputLabel 
													value="#{msg.ventaTercero_infovehiculo_Cilindraje}:"
													styleClass="crud-field-label-one-col" />
											</p:column>
											<p:column>
												<p:outputLabel 
													value="#{msg.ventaTercero_infovehiculo_Modelo}:"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row>
											<p:column>
												<p:outputLabel
													value="#{ventaTerceroMBean.entity.vehiculo.cilindraje}"
													styleClass="crud-field-value-one-col"/>
											</p:column>
											<p:column>
												<p:outputLabel
													value="#{ventaTerceroMBean.entity.vehiculo.modelo}"
													styleClass="crud-field-value-one-col"/>
											</p:column>
										</p:row>
										
									</p:panelGrid>
										
								</div>
									
							</p:fieldset>
							
						</div>
						
						<div class="ui-grid-col-4">
						
							<p:fieldset legend="#{msg.ventaTercero_term_neg_Title}" 
											toggleable="true" toggleSpeed="500"
											styleClass="crud_fieldset_title_no_height" style="height: 550px;">
											
								<div style="width: 100%; text-align: center">
									<a class="ventaTercero_negocio_icono fa fa-credit-card"/>
								</div>
								
								<div style="width: 100%;">
									<p:panelGrid styleClass="crud-panelgrid">
									
										<p:row>
											<p:column>
												<p:outputLabel 
													value="#{msg.ventaTercero_term_neg_Comision}: (*)"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										
										<p:row>
											<p:column>
												<p:outputLabel 
													value="#{ventaTerceroMBean.entity.comision}"
													rendered="#{ventaTerceroMBean.mode == utilityConstantes.modeview}"
													styleClass="crud-field-value-one-col">
													<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0"/>
												</p:outputLabel>
												
												<p:inputText
													value="#{ventaTerceroMBean.entity.comision}"
													rendered="#{ventaTerceroMBean.mode != utilityConstantes.modeview}"
													required="true"
													styleClass="crud-field-value-one-col"
													requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','ventaTercero_term_neg_Comision')}"
													converterMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_validateNumber','ventaTercero_term_neg_Comision')}">
													<f:convertNumber type="number"/>
												</p:inputText>
											</p:column>
										</p:row>
										
										<p:row>
											<p:column>
												<p:outputLabel 
													value="#{msg.ventaTercero_term_neg_VlrVehiculo}: (*)"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										
										<p:row>
											<p:column>
												<p:outputLabel 
													value="#{ventaTerceroMBean.entity.vlrVehiculo}"
													rendered="#{ventaTerceroMBean.mode == utilityConstantes.modeview}"
													styleClass="crud-field-value-one-col">
													<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0"/>
												</p:outputLabel>
												
												<p:inputText
													value="#{ventaTerceroMBean.entity.vlrVehiculo}"
													rendered="#{ventaTerceroMBean.mode != utilityConstantes.modeview}"
													required="true"
													styleClass="crud-field-value-one-col"
													requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','ventaTercero_term_neg_VlrVehiculo')}"
													converterMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_validateNumber','ventaTercero_term_neg_VlrVehiculo')}">
													<f:convertNumber type="number"/>
												</p:inputText>
											</p:column>
										</p:row>
										
										<p:row>
											<p:column>
												<p:outputLabel styleClass="crud-field-label-one-col" value="#{msg.ventaTercero_FormaPago}: (*)"/>
											</p:column>
										</p:row>
										
										<p:row>
											<p:column>
												<p:outputLabel 
													styleClass="crud-field-value-one-col" 
													rendered="#{ventaTerceroMBean.mode == utilityConstantes.modeview}"
													value="#{ventaTerceroMBean.entity.formaPago.nombre}"/>
													
												<p:selectOneMenu
														id="selectorFormaPago"
														styleClass="crud-field-value-one-col"
														rendered="#{ventaTerceroMBean.mode != utilityConstantes.modeview}"
														value="#{ventaTerceroMBean.entity.formaPago.id}"
														required="true"
														requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','ventaTercero_FormaPago')}">
														<f:selectItems value="#{ventaTerceroMBean.formasPagoDropDownList}"
															var="formaPago"
															itemLabel="#{formaPago.nombre}"
															itemValue="#{formaPago.id}"/>
													</p:selectOneMenu>
											</p:column>
										</p:row>
										
										<p:row>
											<p:column>
												<p:outputLabel styleClass="crud-field-label-one-col" value="#{msg.ventaTercero_CuentaEntrada}: (*)"/>
											</p:column>
										</p:row>
										
										<p:row>
											<p:column>
												<p:outputLabel 
													styleClass="crud-field-value-one-col" 
													rendered="#{ventaTerceroMBean.mode == utilityConstantes.modeview}"
													value="#{ventaTerceroMBean.entity.cuentaEntrada.nombre}"/>
													
												<p:selectOneMenu
														id="selectorCuentaEntrada"
														styleClass="crud-field-value-one-col"
														rendered="#{ventaTerceroMBean.mode != utilityConstantes.modeview}"
														value="#{ventaTerceroMBean.entity.cuentaEntrada.id}"
														required="true"
														requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','ventaTercero_CuentaEntrada')}">
														<f:selectItems value="#{ventaTerceroMBean.cuentasDropDownList}"
															var="cuenta"
															itemLabel="#{cuenta.nombre}"
															itemValue="#{cuenta.id}"/>
													</p:selectOneMenu>
													
											</p:column>
										</p:row>
										
									</p:panelGrid>
								</div>

							</p:fieldset>
							
						</div>
						
					</div>
					
				</div>
				
			</p:fieldset>
			
			<ui:include src="/generics/generics.xhtml"/>
			
		</h:form>
		
	</ui:define>
</ui:composition>