<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/generics/template.xhtml">
	
	<ui:define name="content">
	
		<h:form id="frm">
		
			<p:toolbar id="ribbons" styleClass="ribbons">
				<f:facet name="left">
					<p:outputLabel value="#{msg.venta_dialogTitle}: #{ventaMBean.entity.codigo} (#{ventaMBean.entity.estadoLbl})"/>
				</f:facet>
				<f:facet name="right">
					
					<p:commandButton 
						styleClass="dialogHidden crud-button-back fa fa-arrow-left"
						ajax="false" 
						immediate="true" 
						title="#{msg.generics_Regresar}" 
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
						action="/venta/ventaList.faces"/>
						
					<p:commandButton 
						update=":frm :frm:growl"
						rendered="#{(ventaMBean.mode == utilityConstantes.modecreate and ventaMBean.hasPermissionTo(utilityConstantes.actioncreate)) or (ventaMBean.mode == utilityConstantes.modeedit and ventaMBean.entity.estado != 'FI' and ventaMBean.entity.estado != 'DC' and ventaMBean.hasPermissionTo(utilityConstantes.actionupdate))}"
						ajax="#{!utilityMethods.isMobile()}"
						title="#{msg.generics_guardar}" 
						action="#{ventaMBean.saveEntity()}"
						styleClass="crud-button-save fa fa-floppy-o"
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
								
					<p:commandButton 
						rendered="#{ventaMBean.mode == utilityConstantes.modeview and ventaMBean.hasPermissionTo(utilityConstantes.actionupdate) and ventaMBean.entity.estado != 'FI' and ventaMBean.entity.estado != 'DC'}"
						ajax="false"
						title="#{msg.generics_editar}" 
						action="#{ventaMBean.editEntity(ventaMBean.entity.id, false)}"
						styleClass="crud-button-edit fa fa-edit"
						immediate="true"
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
					
					<p:commandButton 
						rendered="#{ventaMBean.mode == utilityConstantes.modeview and ventaMBean.hasPermissionTo(utilityConstantes.actionimprimir) and ventaMBean.entity.estado != 'FI' and ventaMBean.entity.estado != 'DC'}"
						ajax="true"
						title="#{msg.generics_imprimir}" 
						action="#{ventaMBean.openGenerarPlantillaForm()}"
						styleClass="crud-button-edit fa fa-print"
						immediate="true"
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
						
					<p:commandButton 
						rendered="#{ventaMBean.mode == utilityConstantes.modeview and ventaMBean.hasPermissionTo(utilityConstantes.actiondeclinar) and ventaMBean.entity.estado == 'CI'}"
						ajax="true" 
						title="#{msg.venta_declinar_btn}" 
						action="#{ventaMBean.declinarVenta()}"
						styleClass="crud-button-delete fa fa-ban"
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
						<p:confirm header="#{msg.generics_Confirm}" 
							 message="#{msg.venta_declinar_confirm}"
							 icon="ui-icon-alert"/>	
					</p:commandButton>
					
					<p:commandButton 
						rendered="#{ventaMBean.mode == utilityConstantes.modeview and ventaMBean.hasPermissionTo(utilityConstantes.actiondelete) and ventaMBean.entity.estado == 'CI'}"
						ajax="true" 
						title="#{msg.generics_eliminar}" 
						action="#{ventaMBean.deleteEntity(ventaMBean.entity.id, false)}"
						styleClass="crud-button-delete fa fa-trash-o"
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
						<p:confirm header="#{msg.generics_Confirm}" 
							 message="#{msg.generics_Confirm_msg_delete}"
							 icon="ui-icon-alert"/>	
					</p:commandButton>
								
				</f:facet>
			</p:toolbar>
			
			<p:fieldset styleClass="crudFieldset">
				
				<div class="crud-requiredMsg">#{msg.generics_requiredText}</div>
				
				<p:separator/>
				
				<div class="ui-grid ui-grid-responsive">
					
					<div class="ui-grid-row">
						
						<div class="ui-grid-col-4">
						
							<p:fieldset legend="#{msg.venta_infocliente_Title}"
								toggleable="true" toggleSpeed="500"  style="height:550px"
								styleClass="crud_fieldset_title_no_height">
								
								<div style="width: 100%; text-align: center">
								
									<a class="venta_cliente_icono fa fa-user"/>
									
									<p:confirmDialog widgetVar="dataChangeDlgCliente" appendTo="@(body)" 
										global="true" showEffect="fade" hideEffect="fade" styleClass="confirmDialog" 
										message="#{msg.venta_clienteNoExiste}">
										<p:commandButton value="#{msg.generics_SI}" oncomplete="PF('dataChangeDlgCliente').hide();" onclick="PF('dataChangeDlgCliente').hide();$('#frm\\:btnOpenNewClienteForm').click();"/>
										<p:commandButton value="#{msg.generics_NO}"   onclick="PF('dataChangeDlgCliente').hide();" />
									</p:confirmDialog>
										
									<p:commandButton id="btnOpenNewClienteForm"
										actionListener="#{clienteMBean.newEntity(ventaMBean.entity.cliente.cedula)}"
										rendered="#{clienteMBean.hasPermissionTo(utilityConstantes.actioncreate) and ventaMBean.mode != utilityConstantes.modeview}"
										styleClass="list-button-add-new-min fa fa-plus"
										process="@this"
										style="display:none"
										immediate="true"
										ajax="#{!utilityMethods.isMobile()}"
										onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
										<p:ajax event="dialogReturn" listener="#{ventaMBean.dialogListenerCliente()}" 
											oncomplete="PF('dataChangeDlgCliente').hide();" 
											update=":frm:growl autoCompleteClienteID panelDatosCliente"/>
									</p:commandButton>
										
									<p:remoteCommand name="rc" update=":frm:growl autoCompleteClienteID panelDatosCliente" immediate="true" actionListener="#{ventaMBean.loadCliente()}" />
											
									<p:panelGrid styleClass="crud-panelgrid" id="panelDatosCliente" style="width:100%">
										<p:row>
											<p:column colspan="2">
												<p:outputLabel value="#{msg.venta_infocliente_Cliente}: (*)"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row>
											<p:column>
												<p:outputLabel 
													value="#{ventaMBean.entity.cliente.cedula}"
													styleClass="crud-field-value-one-col"
													rendered="#{ventaMBean.mode == utilityConstantes.modeview}"/>
												<p:autoComplete 
													id="autoCompleteClienteID"
													value="#{ventaMBean.entity.cliente.cedula}" 
													completeMethod="#{ventaMBean.autocompleteClientes}" 
													effect="fade"
													required="true"
													dropdown="true"
													rendered="#{ventaMBean.mode != utilityConstantes.modeview}"
													onkeypress="if (event.keyCode == 13) {event.preventDefault();rc();}"
													styleClass="crud-field-select-value-one-col"
													panelStyleClass="crud-field-select-panel"
													requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','venta_infocliente_Cliente')}">
													<p:ajax event="itemSelect" listener="#{ventaMBean.loadCliente()}" update="panelDatosCliente"/>
												</p:autoComplete>
												
												<p:inputText
													id="autoCompleteClienteIDView"
													style="display:none"
													value="#{ventaMBean.entity.cliente.cedula}"  />
											</p:column>
											<p:column>
												<p:commandButton
													id="btnSearchClienteForm"
													styleClass="list-button-read fa fa-search"
													includeViewParams="true"
													actionListener="#{clienteMBean.selectEntityFromVenta()}"
													immediate="true"
													style="margin-left:0px;margin-top:1px;"
													onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
													ajax="#{!utilityMethods.isMobile()}">
												<p:ajax 
													event="dialogReturn" 
													listener="#{ventaMBean.dialogListenerCliente()}"  
													update=":frm:growl autoCompleteClienteID panelDatosCliente"/>				
												</p:commandButton>
											</p:column>
										</p:row>
										
										<p:row rendered="#{ventaMBean.mode == utilityConstantes.modeview}">
											<p:column>
												<p:outputLabel 
													value="#{msg.venta_infocliente_Nombres}:"
													styleClass="crud-field-label-one-col" />
											</p:column>
											<p:column>
												<p:outputLabel 
													value="#{msg.venta_infocliente_Apellidos}:"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row rendered="#{ventaMBean.mode == utilityConstantes.modeview}">
											<p:column>
												<p:outputLabel 
													value="#{ventaMBean.entity.cliente.nombres}"
													styleClass="crud-field-value-one-col"/>
											</p:column>
											<p:column>
												<p:outputLabel 
													value="#{ventaMBean.entity.cliente.apellidos}"
													styleClass="crud-field-value-one-col"/>
											</p:column>
										</p:row>
										
										<p:row>
											<p:column>
												<p:outputLabel 
													value="#{msg.venta_infocliente_Tel1}:"
													styleClass="crud-field-label-one-col" />
											</p:column>
											<p:column>
												<p:outputLabel 
													value="#{msg.venta_infocliente_Celular1}:"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row>
											<p:column>
												<p:outputLabel 
													value="#{ventaMBean.entity.cliente.telefono1}"
													styleClass="crud-field-value-one-col"/>
											</p:column>
											<p:column>
												<p:outputLabel 
													value="#{ventaMBean.entity.cliente.celular1}"
													styleClass="crud-field-value-one-col"/>
											</p:column>
										</p:row>
										
										<p:row>
											<p:column colspan="2">
												<p:outputLabel 
													value="#{msg.venta_infocliente_Correo}:"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row>
											<p:column colspan="2">
												<p:outputLabel 
													value="#{ventaMBean.entity.cliente.correoElectronico}"
													styleClass="crud-field-value-one-col"/>
											</p:column>
										</p:row>
											
										<p:row>
											<p:column colspan="2">
												<p:outputLabel 
													value="#{msg.venta_infocliente_ReqDatosMatricula}: (*)"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row>
											<p:column colspan="2">
												<p:selectOneRadio 
													value="#{ventaMBean.entity.requiereDatosMatricula}" 
													styleClass="crud-field-radio-value-one-col"
													rendered="#{ventaMBean.mode != utilityConstantes.modeview}"
													required="true"
													requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','venta_infocliente_ReqDatosMatricula')}">
													<p:ajax process="@this" update="panelInfoDM"/>
											            <f:selectItem itemLabel="#{msg.generics_SI}" itemValue="true" />
											            <f:selectItem itemLabel="#{msg.generics_NO}" itemValue="false" />
										        </p:selectOneRadio>
										        
										        <p:outputLabel
													value="#{msg.generics_SI}"
													styleClass="crud-field-value-one-col"
													rendered="#{ventaMBean.mode == utilityConstantes.modeview and ventaMBean.entity.requiereDatosMatricula}"/>
														
												<p:outputLabel
													value="#{msg.generics_NO}"
													styleClass="crud-field-value-one-col"
													rendered="#{ventaMBean.mode == utilityConstantes.modeview and !ventaMBean.entity.requiereDatosMatricula}"/>
											</p:column>
										</p:row>
										
									</p:panelGrid>
									
									<p:panelGrid styleClass="crud-panelgrid" id="panelInfoDM">
										<p:row rendered="#{ventaMBean.entity.requiereDatosMatricula}">
											<p:column>
												<p:outputLabel
									        		value="#{msg.venta_infocliente_reqmat_cedula}: (*)"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row rendered="#{ventaMBean.entity.requiereDatosMatricula}">
											<p:column colspan="2">
												<p:outputLabel 
													value="#{ventaMBean.entity.identificacionMatricula}"
													rendered="#{ventaMBean.mode == utilityConstantes.modeview}"
													styleClass="crud-field-value-one-col" />
													
												<p:inputText
													value="#{ventaMBean.entity.identificacionMatricula}"
													rendered="#{ventaMBean.mode != utilityConstantes.modeview}"
													maxlength="50"
													required="true"
													styleClass="crud-field-value-one-col"
													converterMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_validateNumber','venta_infocliente_reqmat_cedula')}"
													requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','venta_infocliente_reqmat_cedula')}">
													<f:convertNumber type="number"/>
												</p:inputText>
											</p:column>
										</p:row>
										
										<p:row rendered="#{ventaMBean.entity.requiereDatosMatricula}">
											<p:column colspan="2">
												<p:outputLabel 
													value="#{msg.venta_infocliente_reqmat_nombre}: (*)"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row rendered="#{ventaMBean.entity.requiereDatosMatricula}">
											<p:column colspan="2">
												<p:outputLabel 
													value="#{ventaMBean.entity.nombreMatricula}"
													rendered="#{ventaMBean.mode == utilityConstantes.modeview}"
													styleClass="crud-field-value-one-col" />
													
												<p:inputText
													value="#{ventaMBean.entity.nombreMatricula}"
													rendered="#{ventaMBean.mode != utilityConstantes.modeview}"
													maxlength="200"
													required="true"
													styleClass="crud-field-value-one-col"
													requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','venta_infocliente_reqmat_nombre')}"/>
											</p:column>
										</p:row>
									</p:panelGrid>
										
								</div>
									
							</p:fieldset>
							
						</div>
						
						<div class="ui-grid-col-4">
				
							<p:fieldset legend="#{msg.venta_infovehiculo_Title}" 
								toggleable="true" toggleSpeed="500" style="height:550px"
								styleClass="crud_fieldset_title_no_height">
											
								<div style="width: 100%; text-align: center">
					
									<a class="venta_vehiculo_icono fa fa-car"/>
										
									<p:panelGrid styleClass="crud-panelgrid" id="panelDatosVehiculo">
									
										<p:row>
											<p:column colspan="2">
												<p:outputLabel 
													value="#{msg.venta_infovehiculo_Vehiculo}: (*)"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row>
											<p:column>
												<p:outputLabel 
													value="#{ventaMBean.entity.vehiculo.placa}"
													styleClass="crud-field-value-one-col"
													rendered="#{ventaMBean.mode == utilityConstantes.modeview}"/>
													
												<p:selectOneMenu
													id="selectorVehiculos"
													styleClass="crud-field-select-value-one-col"
													value="#{ventaMBean.entity.vehiculo.id}"
													rendered="#{ventaMBean.mode == utilityConstantes.modecreate}"
													filter="true" filterMatchMode="contains"
													panelStyleClass="crud-field-select-panel"
													required="true"
													requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','venta_infovehiculo_Vehiculo')}">
													<p:ajax listener="#{ventaMBean.loadVehiculo()}" update=":frm:growl panelDatosVehiculo"/>
													<f:selectItem itemLabel="" itemValue="" noSelectionOption="true"/>
													<f:selectItems value="#{ventaMBean.vehiculosDropDownList}"
														var="vehiculo"
														itemLabel="#{vehiculo.placa}"
														itemValue="#{vehiculo.id}"/>
												</p:selectOneMenu>
												
												<p:inputText
													id="autoCompleteVehiculoIDView"
													style="display:none"
													value="#{ventaMBean.entity.vehiculo.placa}"  />
											
											</p:column>
											<p:column>
												<p:commandButton
													id="btnSearchVehiculoForm"
													styleClass="list-button-read fa fa-search"
													includeViewParams="true"
													actionListener="#{vehiculoMBean.selectEntityFromVenta()}"
													immediate="true"
													style="margin-left:0px;margin-top:1px;"
													onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
													ajax="#{!utilityMethods.isMobile()}">
												<p:ajax 
													event="dialogReturn" 
													listener="#{ventaMBean.dialogListenerVehiculo()}"  
													update=":frm:growl panelDatosVehiculo"/>				
												</p:commandButton>
											</p:column>
										</p:row>
										
										<p:row>
											<p:column>
												<p:outputLabel 
													value="#{msg.venta_infovehiculo_Marca}:"
													styleClass="crud-field-label-one-col" />
											</p:column>
											<p:column>
												<p:outputLabel 
													value="#{msg.venta_infovehiculo_Linea}:"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row>
											<p:column>
												<p:outputLabel
													value="#{ventaMBean.entity.vehiculo.marca.nombre}"
													styleClass="crud-field-value-one-col"/>
											</p:column>
											<p:column>
												<p:outputLabel
													value="#{ventaMBean.entity.vehiculo.linea}"
													styleClass="crud-field-value-one-col"/>
											</p:column>
										</p:row>
										
										<p:row>
											<p:column>
												<p:outputLabel 
													value="#{msg.venta_infovehiculo_Cilindraje}:"
													styleClass="crud-field-label-one-col" />
											</p:column>
											<p:column>
												<p:outputLabel 
													value="#{msg.venta_infovehiculo_Modelo}:"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row>
											<p:column>
												<p:outputLabel
													value="#{ventaMBean.entity.vehiculo.cilindraje}"
													styleClass="crud-field-value-one-col"/>
											</p:column>
											<p:column>
												<p:outputLabel
													value="#{ventaMBean.entity.vehiculo.modelo}"
													styleClass="crud-field-value-one-col"/>
											</p:column>
										</p:row>
										
									</p:panelGrid>
										
								</div>
									
							</p:fieldset>
							
						</div>
						
						<div class="ui-grid-col-4">
						
							<p:fieldset legend="#{msg.venta_term_neg_Title}" 
											toggleable="true" toggleSpeed="500"
											styleClass="crud_fieldset_title_no_height" style="height: 550px;">
											
								<div style="width: 100%; text-align: center">
									<a class="venta_negocio_icono fa fa-credit-card"/>
								</div>
								
								<div style="width: 100%;">
									<p:panelGrid styleClass="crud-panelgrid">
									
										<p:row>
											<p:column>
												<p:outputLabel 
													value="#{msg.venta_term_neg_PrecioVenta}: (*)"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										
										<p:row>
											<p:column>
												<p:outputLabel 
													value="#{ventaMBean.entity.valorVehiculo}"
													rendered="#{ventaMBean.mode == utilityConstantes.modeview}"
													styleClass="crud-field-value-one-col">
													<f:convertNumber type="currency" currencySymbol="$" />
												</p:outputLabel>
												
												<p:inputText
													value="#{ventaMBean.entity.valorVehiculo}"
													rendered="#{ventaMBean.mode != utilityConstantes.modeview}"
													required="true"
													styleClass="crud-field-value-one-col"
													requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','venta_term_neg_PrecioVenta')}"
													converterMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_validateNumber','venta_term_neg_PrecioVenta')}">
													<f:convertNumber type="number"/>
												</p:inputText>
											</p:column>
										</p:row>
										
									</p:panelGrid>
								</div>

							</p:fieldset>
							
						</div>
						
					</div>
					
				</div>
				
			</p:fieldset>
			
			<ui:include src="/generics/generics.xhtml"/>
			
		</h:form>
		
	</ui:define>
</ui:composition>