<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:pm="http://primefaces.org/mobile"
	template="../generics/template.xhtml">
	
	<ui:define name="content">
	
		<h:form id="frm">
			
			<div class="ui-grid ui-grid-responsive login-grid-ppal">
				<div class="ui-grid-row">
					<div class="ui-grid-col-4 login-field-label">
						<p:outputLabel value="#{msg.cambiarPw_pwanterior}: (*)"/>
					</div>
					<div class="ui-grid-col-8">
						<p:password id="txt_pwanterior" label="#{msg.cambiarPw_pwanterior}"
								value="#{loginMBean.pwAnterior}" required="true"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','cambiarPw_pwanterior')}"
								styleClass="crud-field-value" rendered="true"/>
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-4 login-field-label">
						<p:outputLabel value="#{msg.cambiarPw_pwnueva}: (*)"/>
					</div>
					<div class="ui-grid-col-8 login-field-value">
						<p:password id="txt_pwnueva" label="#{msg.cambiarPw_pwnueva}"
								value="#{loginMBean.pwNueva}" required="true"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','cambiarPw_pwnueva')}"
								styleClass="crud-field-value" rendered="true"/>	
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-4 login-field-label">
						<p:outputLabel value="#{msg.cambiarPw_confirmPw}: (*)"/>
					</div>
					<div class="ui-grid-col-8 login-field-value">
						<p:password id="txt_pwconfirmar" label="#{msg.cambiarPw_confirmPw}"
								value="#{loginMBean.pwConfirmar}" required="true"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','cambiarPw_confirmPw')}"
								styleClass="crud-field-value" rendered="true"/>	
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-12 changepw-button">
						<p:commandButton 
								value="#{msg.cambiarPw_cambiarPw}" 
								actionListener="#{loginMBean.cambiarPassword}" 
								update="frm growl" 
								rendered="true"
								ajax="false"
								validateClient="true"
								onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
					</div>
				</div>
			</div>
			
			<ui:include src="/generics/generics.xhtml"/>
			
		</h:form>
			
	</ui:define>
	
</ui:composition>