<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pm="http://primefaces.org/mobile"
	xmlns:f="http://java.sun.com/jsf/core">
	
	<f:view contentType="text/html">
	
		<title>Premium Vehicle Sales</title>
		
		<h:head>
		
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1.0" />
			
			<h:outputStylesheet name="css/DEFAULT/theme_definirCia.css"/>

		</h:head>
		
		<h:body>
		
			<h:form id="frm">
		
				<div class="ui-grid ui-grid-responsive defCia-grid-ppal">
					<div class="ui-grid-row">
						<div class="ui-grid-col-12  defCia-grid-tt">
							<p:outputLabel value="#{msg.header_applicationName}"/>
						</div>
					</div>
					<div class="ui-grid-row">
						<div class="ui-grid-col-12 defCia-grid-nota">
							<p:outputLabel value="#{msg.DefinirCiaForm_Nota}"/>
						</div>
					</div>
					<div class="ui-grid-row">							
						<div class="ui-grid-col-12 defCia-grid-selector">
							<p:selectOneMenu id="selector_cia" value="#{loginMBean.compania.id}" panelStyle="width:200px"
								effect="fade" style="width:200px" filter="true" filterMatchMode="contains" required="true"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','DefinirCiaForm_cia')}">
								<f:selectItems value="#{loginMBean.companias}" var="cia" itemLabel="#{cia.nombre}" itemValue="#{cia.id}" />				
								<p:column>
									<h:outputText value="#{loginMBean.compania.nombre}" />
								</p:column>
							</p:selectOneMenu>
						</div>
					</div>
					<div class="ui-grid-row">
						<div class="ui-grid-col-12 defCia-grid-button">
							<p:commandButton value="#{msg.DefinirCiaForm_btnIngresar}" action="#{loginMBean.registrarCia}" 
								update="growl selector_cia" process="@this,selector_cia" rendered="true"
								validateClient="true" ajax="false"
								onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
						</div>
					</div>
				</div>
				
				<ui:include src="/generics/generics.xhtml"/>
					
			</h:form>
			
		</h:body>
		
	</f:view>
	
</html>