<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:pm="http://primefaces.org/mobile"
	template="../generics/template.xhtml">
	
	<ui:define name="content">

		<h:form id="frm" >

			<div class="ui-grid ui-grid-responsive">
				
				<div class="ui-grid-row">
					<div class="ui-grid-col-12 errorPage-title">					
						<h:outputText value="#{msg.errorGeneral_titleSection}" />					
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-12 errorPage-text">					
						<h:outputText value="#{msg.errorGeneral_msg}" />				
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-12 errorPage-link">	
						<a href="#{request.contextPath}/seguridad/loginForm.xhtml">#{msg.errorGeneral_link}</a>				
					</div>
				</div>
						
			</div>
			
			<ui:include src="/generics/generics.xhtml"/>
			
		</h:form>
			
	</ui:define>
	
</ui:composition>