<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:pm="http://primefaces.org/mobile"
	template="../generics/template.xhtml">
	
	<ui:define name="content">
	
		<h:form id="frm">
			
			<f:event type="preRenderView" listener="#{utilityMethods.loadSessionMesagges()}" />
			
			<div class="ui-grid ui-grid-responsive login-grid-ppal">
				<div class="ui-grid-row">
					<div class="ui-grid-col-12">
						<img class="imgLogoLogin"/>
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-12 login-app-tt">
						<p:outputLabel value="#{loginMBean.usuario.compania.codigo} - #{loginMBean.usuario.compania.nombre}"/>
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-4 login-field-label">
						<p:outputLabel value="#{msg.loginPage_user}: (*)"/>
					</div>
					<div class="ui-grid-col-8">
						<p:inputText id="txt_user" label="#{msg.loginPage_user}" 
							value="#{loginMBean.usuario.usuario}" required="false"
							styleClass="login-field-value"
							requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','loginPage_user')}"/>
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-4 login-field-label">
						<p:outputLabel value="#{msg.loginPage_password}: (*)"/>
					</div>
					<div class="ui-grid-col-8 login-field-value">
						<p:password id="txt_password" label="#{msg.loginPage_password}" 
							value="#{loginMBean.usuario.clave}" required="false"
							styleClass="login-field-value"
							requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','loginPage_password')}"/>
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-12 login-button">
						<p:commandButton validateClient="true" process="@this frm" 
							actionListener="#{loginMBean.validarUsuario}" 
							update="growl frm" value="#{msg.loginPage_btnIn}"
							onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-12" style="text-align: right; font-size: 12px">
						<p:commandLink value="#{msg.loginPage_SendPW}" actionListener="#{loginMBean.recordarPassword}" 
							update="growl frm" process="@this,txt_user" rendered="true"
							onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()" ajax="false"/>
					</div>
				</div>
				
			</div>
			
			<ui:include src="/generics/generics.xhtml"/>
			
		</h:form>
			
	</ui:define>
	
</ui:composition>