<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:pm="http://primefaces.org/mobile"
	template="../generics/template.xhtml">
	
	<ui:define name="content">

		<h:form id="frm" >

			<div class="ui-grid ui-grid-responsive accessrequest-gridPpal">
				<div class="ui-grid-row">
					<div class="ui-grid-col-2 accessrequest-btnBack">
						<p:commandButton
							immediate="true"
							ajax="false"
							value="#{msg.generics_Regresar}"
							action="loginForm.xhtml"
							styleClass="fa fa-arrow-left"
							onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
					</div>
					<div class="ui-grid-col-8 accessrequest-ttForm">
						<h:outputLabel value="#{msg.solicitudAcceso_Title}"/>
					</div>
					<div class="ui-grid-col-2">
						<br/>
					</div>
				</div>
				
				<div class="ui-grid-row">
					<div class="ui-grid-col-12">
						<br/>
					</div>
				</div>
				
				<div class="ui-grid-row">
					<div class="ui-grid-col-4">
						<p:outputLabel value="#{msg.solicitudAcceso_dialog_NitCliente}: (*)"
							styleClass="accessrequest-field-label"/>
					</div>
					<div class="ui-grid-col-8">
						<p:inputText
							value="#{solicitudAccesoMBean.entity.nitCliente}"
							maxlength="30"
							required="true"
							styleClass="accessrequest-field-value"
							requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','solicitudAcceso_dialog_NitCliente')}"/>			
					</div>
				</div>
				
				<div class="ui-grid-row">
					<div class="ui-grid-col-4">
						<p:outputLabel value="#{msg.solicitudAcceso_dialog_NombreCliente}: (*)"
							styleClass="accessrequest-field-label"/>
					</div>
					<div class="ui-grid-col-8">
						<p:inputText
							value="#{solicitudAccesoMBean.entity.nombreCliente}"
							maxlength="50"
							required="true"
							styleClass="accessrequest-field-value"
							requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','solicitudAcceso_dialog_NombreCliente')}"/>			
					</div>
				</div>
				
				<div class="ui-grid-row">
					<div class="ui-grid-col-4">
						<p:outputLabel value="#{msg.solicitudAcceso_dialog_CedulaSolicitante}: (*)"
							styleClass="accessrequest-field-label"/>
					</div>
					<div class="ui-grid-col-8">
						<p:inputText
							type="number"
							value="#{solicitudAccesoMBean.entity.cedulaSolicitante}"
							required="true"
							styleClass="accessrequest-field-value"
							requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','solicitudAcceso_dialog_CedulaSolicitante')}"
							converterMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_validateNumber','solicitudAcceso_dialog_CedulaSolicitante')}"
							validatorMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_validateNumber','solicitudAcceso_dialog_CedulaSolicitante')}">
							<f:validateDoubleRange minimum="0"/>
						</p:inputText>			
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-4">
						<p:outputLabel value="#{msg.solicitudAcceso_dialog_NombreSolicitante}: (*)"
							styleClass="accessrequest-field-label"/>
					</div>
					<div class="ui-grid-col-8">
						<p:inputText
							value="#{solicitudAccesoMBean.entity.nombreSolicitante}"
							required="true"
							styleClass="accessrequest-field-value"
							requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','solicitudAcceso_dialog_NombreSolicitante')}"/>			
					</div>
				</div>
					
				<div class="ui-grid-row">
					<div class="ui-grid-col-4">
						<p:outputLabel value="#{msg.solicitudAcceso_dialog_Observaciones}: "
							styleClass="accessrequest-field-label"/>
					</div>
					<div class="ui-grid-col-8">
						<p:inputTextarea
							styleClass="accessrequest-field-value"
							value="#{solicitudAccesoMBean.entity.observaciones}"/>			
					</div>
				</div>
					
				<div class="ui-grid-row">
					<div class="ui-grid-col-4">
						<p:outputLabel value="#{msg.solicitudAcceso_dialog_CondicionesLegales}: "
							styleClass="accessrequest-field-label"/>
					</div>
					<div class="ui-grid-col-8">
					
						<p:scrollPanel 
							mode="#{utilityMethods.isMobile() eq true ? 'deafult' : 'native'}" 
							style="width:100%;height:400px">
							<div style="text-align: justify; width:100%;" class="accessrequest-field-value">
								<p:outputLabel escape="false" value="#{loginMBean.usuario.tbCompania.terminosCondicionesSolicitudAcceso}"/>
						    </div>
						    
						    <br/>
						    
						    <p:outputLabel value="#{msg.solicitudAcceso_dialog_AceptaTerm}: "
											styleClass="accessrequest-field-label"/>
											
							<p:selectOneRadio 
								id="rbnAceptaTerm"
								value="#{solicitudAccesoMBean.aceptaTerminos}">
								<p:ajax update="btnSolicitar" process="rbnAceptaTerm"/>
								<f:selectItem itemLabel="#{msg.generics_SI}" itemValue="#{true}"/>
								<f:selectItem itemLabel="#{msg.generics_NO}" itemValue="#{false}"/>
							</p:selectOneRadio>	
						    
						</p:scrollPanel>
						
					</div>
				</div>
					
				<div class="ui-grid-row">
					<div class="ui-grid-col-12 accessrequest-btnSolicitar">
						<p:outputPanel id="btnSolicitar">
							<p:commandButton
								validateClient="true"
								value="#{msg.solicitudAcceso_dialog_Solicitar}"
								actionListener="#{solicitudAccesoMBean.save()}"
								ajax="false"
								update="frm"
								styleClass="fa fa-paper-plane"
								rendered="#{solicitudAccesoMBean.aceptaTerminos}"
								onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
							</p:commandButton>
						</p:outputPanel>	
					</div>
				</div>
					
			</div>
			
			<ui:include src="/generics/generics.xhtml"/>
			
		</h:form>
			
	</ui:define>
	
</ui:composition>