<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:pm="http://primefaces.org/mobile"
	template="../generics/template.xhtml">
	
	<ui:define name="metadata">
	</ui:define>
	
	<ui:define name="content">
	
		<h:form id="workArea">
			<f:event type="preRenderView" listener="#{utilityMethods.loadSessionMesagges()}" />
		
			<!-- Mensajes -->
			<p:growl id="growl"/>
						
			<table style="width: 100%;">
				<tr style="width: 100%;">
					<td style="width: 100%; text-align: center; padding-top: 60px;">
						<p:graphicImage  value="http://localhost:8080/PVSWeb/resources/images/PC/main_background.png"></p:graphicImage>
					</td>
				</tr>
			</table>
			
		</h:form>
			
	</ui:define>
	
</ui:composition>