<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/generics/template.xhtml">
	
	<ui:define name="content">
	
		<h:form id="frm">
		
			<p:toolbar id="ribbons" styleClass="ribbons">
				<f:facet name="left">
					<p:outputLabel value="#{msg.retoma_dialogTitle}: #{retomaMBean.entity.codigo} (#{retomaMBean.entity.estadoLbl})"/>
				</f:facet>
				<f:facet name="right">
					
					<p:commandButton 
						styleClass="dialogHidden crud-button-back fa fa-arrow-left"
						ajax="false" 
						immediate="true" 
						title="#{msg.generics_Regresar}" 
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
						action="/retoma/retomaList.faces"/>
						
					<p:commandButton 
						update=":frm :frm:growl"
						rendered="#{(retomaMBean.mode == utilityConstantes.modecreate and retomaMBean.hasPermissionTo(utilityConstantes.actioncreate)) or (retomaMBean.mode == utilityConstantes.modeedit and retomaMBean.entity.estado != 'FI' and retomaMBean.entity.estado != 'DC' and retomaMBean.hasPermissionTo(utilityConstantes.actionupdate))}"
						ajax="#{!utilityMethods.isMobile()}"
						title="#{msg.generics_guardar}" 
						action="#{retomaMBean.saveEntity()}"
						styleClass="crud-button-save fa fa-floppy-o"
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
								
					<p:commandButton 
						rendered="#{retomaMBean.mode == utilityConstantes.modeview and retomaMBean.hasPermissionTo(utilityConstantes.actionupdate) and retomaMBean.entity.estado != 'FI' and retomaMBean.entity.estado != 'DC'}"
						ajax="false"
						title="#{msg.generics_editar}" 
						action="#{retomaMBean.editEntity(retomaMBean.entity.id, false)}"
						styleClass="crud-button-edit fa fa-edit"
						immediate="true"
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
						
					<p:commandButton 
						rendered="#{retomaMBean.mode == utilityConstantes.modeview and retomaMBean.hasPermissionTo(utilityConstantes.actionimprimir) and retomaMBean.entity.estado != 'FI' and retomaMBean.entity.estado != 'DC'}"
						ajax="true"
						title="#{msg.generics_imprimir}" 
						action="#{retomaMBean.openGenerarPlantillaForm()}"
						styleClass="crud-button-edit fa fa-print"
						immediate="true"
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
						
					<p:commandButton 
						rendered="#{retomaMBean.mode == utilityConstantes.modeview and retomaMBean.hasPermissionTo(utilityConstantes.actiondeclinar) and retomaMBean.entity.estado == 'CI'}"
						ajax="true" 
						title="#{msg.retoma_declinar_btn}" 
						action="#{retomaMBean.declinarRetoma()}"
						styleClass="crud-button-delete fa fa-ban"
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
						<p:confirm header="#{msg.generics_Confirm}" 
							 message="#{msg.retoma_declinar_confirm}"
							 icon="ui-icon-alert"/>	
					</p:commandButton>
							
					<p:commandButton 
						rendered="#{retomaMBean.mode == utilityConstantes.modeview and retomaMBean.hasPermissionTo(utilityConstantes.actiondelete) and retomaMBean.entity.estado == 'CI'}"
						ajax="true" 
						title="#{msg.generics_eliminar}" 
						action="#{retomaMBean.deleteEntity(retomaMBean.entity.id, false)}"
						styleClass="crud-button-delete fa fa-trash-o"
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
						<p:confirm header="#{msg.generics_Confirm}" 
							 message="#{msg.generics_Confirm_msg_delete}"
							 icon="ui-icon-alert"/>	
					</p:commandButton>
								
				</f:facet>
			</p:toolbar>
			
			<p:fieldset styleClass="crudFieldset">
				
				<div class="crud-requiredMsg">#{msg.generics_requiredText}</div>
				
				<p:separator/>
				
				<div class="ui-grid ui-grid-responsive">
					
					<div class="ui-grid-row">
						
						<div class="ui-grid-col-4">
						
							<p:fieldset legend="#{msg.retoma_infocliente_Title}"
								toggleable="true" toggleSpeed="500"  style="height:550px"
								styleClass="crud_fieldset_title_no_height">
								
								<div style="width: 100%; text-align: center">
								
									<a class="retoma_cliente_icono fa fa-user"/>
									
									<p:confirmDialog widgetVar="dataChangeDlgCliente" appendTo="@(body)" 
										global="true" showEffect="fade" hideEffect="fade" styleClass="confirmDialog" 
										message="#{msg.retoma_clienteNoExiste}">
										<p:commandButton value="#{msg.generics_SI}" oncomplete="PF('dataChangeDlgCliente').hide();" onclick="PF('dataChangeDlgCliente').hide();$('#frm\\:btnOpenNewClienteForm').click();"/>
										<p:commandButton value="#{msg.generics_NO}"   onclick="PF('dataChangeDlgCliente').hide();" />
									</p:confirmDialog>
									
									<p:confirmDialog widgetVar="dataChangeDlgConcesionario" appendTo="@(body)" 
										global="true" showEffect="fade" hideEffect="fade" styleClass="confirmDialog" 
										message="#{msg.retoma_concesionarioNoExiste}">
										<p:commandButton value="#{msg.generics_SI}" oncomplete="PF('dataChangeDlgConcesionario').hide();" onclick="PF('dataChangeDlgConcesionario').hide();$('#frm\\:btnOpenNewConcesionarioForm').click();"/>
										<p:commandButton value="#{msg.generics_NO}"   onclick="PF('dataChangeDlgConcesionario').hide();" />
									</p:confirmDialog>
										
									<p:commandButton id="btnOpenNewClienteForm"
										actionListener="#{clienteMBean.newEntity(retomaMBean.entity.cliente.cedula)}"
										rendered="#{clienteMBean.hasPermissionTo(utilityConstantes.actioncreate) and retomaMBean.mode != utilityConstantes.modeview}"
										styleClass="list-button-add-new-min fa fa-plus"
										process="@this"
										style="display:none"
										immediate="true"
										ajax="#{!utilityMethods.isMobile()}"
										onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
										<p:ajax event="dialogReturn" listener="#{retomaMBean.dialogListenerCliente()}" 
											oncomplete="PF('dataChangeDlgCliente').hide();" 
											update=":frm:growl autoCompleteClienteID panelDatosCliente"/>
									</p:commandButton>
									
									<p:commandButton id="btnOpenNewConcesionarioForm"
										actionListener="#{concesionarioMBean.newEntity(retomaMBean.entity.concesionario.nit)}"
										rendered="#{concesionarioMBean.hasPermissionTo(utilityConstantes.actioncreate) and retomaMBean.mode != utilityConstantes.modeview}"
										styleClass="list-button-add-new-min fa fa-plus"
										process="@this"
										style="display:none"
										immediate="true"
										ajax="#{!utilityMethods.isMobile()}"
										onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
										<p:ajax event="dialogReturn" listener="#{retomaMBean.dialogListenerConcesionario()}" 
											oncomplete="PF('dataChangeDlgConcesionario').hide();" 
											update=":frm:growl autoCompleteConcesionarioID panelDatosCliente"/>
									</p:commandButton>
										
									<p:remoteCommand name="rc" update=":frm:growl autoCompleteClienteID panelDatosCliente" immediate="true" actionListener="#{retomaMBean.loadCliente()}" />
									<p:remoteCommand name="rcConcesionario" update=":frm:growl autoCompleteConcesionarioID panelDatosCliente" immediate="true" actionListener="#{retomaMBean.loadConcesionario()}" />
											
									<p:panelGrid styleClass="crud-panelgrid" id="panelDatosCliente" style="width:100%">
										<p:row>
											<p:column colspan="2">
												<p:outputLabel value="#{msg.retoma_hechapor}: (*)"
													rendered="#{retomaMBean.mode == utilityConstantes.modecreate}"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row>
											<p:column colspan="2">
												<p:selectOneRadio 
													value="#{retomaMBean.isRetomaCliente}" 
													styleClass="crud-field-radio-value-one-col"
													rendered="#{retomaMBean.mode == utilityConstantes.modecreate}"
													required="true"
													requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','retoma_infocliente_ReqDatosMatricula')}">
													<p:ajax process="@this" update="panelDatosCliente"/>
											            <f:selectItem itemLabel="#{msg.retoma_hechapor_cliente}" itemValue="true" />
											            <f:selectItem itemLabel="#{msg.retoma_hechapor_concesionario}" itemValue="false" />
										        </p:selectOneRadio>
										        
											</p:column>
										</p:row>
										<p:row>
											<p:column colspan="2">
												<p:outputLabel value="#{msg.retoma_infocliente_Cliente}: (*)"
													rendered="#{retomaMBean.isRetomaCliente}"
													styleClass="crud-field-label-one-col" />
													
												<p:outputLabel value="#{msg.retoma_infoconcesionario_Concesionario}: (*)"
													rendered="#{!retomaMBean.isRetomaCliente}"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row>
											<p:column>
												<p:outputLabel 
													value="#{retomaMBean.entity.cliente.cedula}"
													styleClass="crud-field-value-one-col"
													rendered="#{retomaMBean.mode != utilityConstantes.modecreate and retomaMBean.isRetomaCliente}"/>
												<p:autoComplete 
													id="autoCompleteClienteID"
													value="#{retomaMBean.entity.cliente.cedula}" 
													completeMethod="#{retomaMBean.autocompleteClientes}" 
													effect="fade"
													required="true"
													dropdown="true"
													rendered="#{retomaMBean.mode == utilityConstantes.modecreate and retomaMBean.isRetomaCliente}"
													onkeypress="if (event.keyCode == 13) {event.preventDefault();rc();}"
													styleClass="crud-field-select-value-one-col"
													panelStyleClass="crud-field-select-panel"
													requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','retoma_infocliente_Cliente')}">
													<p:ajax event="itemSelect" listener="#{retomaMBean.loadCliente()}" update="panelDatosCliente"/>
												</p:autoComplete>
												
												<p:inputText
													id="autoCompleteClienteIDView"
													style="display:none"
													value="#{retomaMBean.entity.cliente.cedula}"  />
												
												<p:outputLabel 
													value="#{retomaMBean.entity.concesionario.nit}"
													styleClass="crud-field-value-one-col"
													rendered="#{retomaMBean.mode != utilityConstantes.modecreate and !retomaMBean.isRetomaCliente}"/>
												<p:autoComplete 
													id="autoCompleteConcesionarioID"
													value="#{retomaMBean.entity.concesionario.nit}" 
													completeMethod="#{retomaMBean.autocompleteConcesionarios}" 
													effect="fade"
													required="true"
													dropdown="true"
													rendered="#{retomaMBean.mode == utilityConstantes.modecreate and !retomaMBean.isRetomaCliente}"
													onkeypress="if (event.keyCode == 13) {event.preventDefault();rcConcesionario();}"
													styleClass="crud-field-select-value-one-col"
													panelStyleClass="crud-field-select-panel"
													requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','retoma_infoconcesionario_Concesionario')}">
													<p:ajax event="itemSelect" listener="#{retomaMBean.loadConcesionario()}" update="panelDatosCliente"/>
												</p:autoComplete>
												
												<p:inputText
													id="autoCompleteConcesionarioIDView"
													style="display:none"
													value="#{retomaMBean.entity.concesionario.nit}"  />
												
											</p:column>
											<p:column>
												<p:commandButton
													id="btnSearchClienteForm"
													styleClass="list-button-read fa fa-search"
													includeViewParams="true"
													actionListener="#{clienteMBean.selectEntityFromRetoma()}"
													immediate="true"
													style="margin-left:0px;margin-top:1px;"
													onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
													ajax="#{!utilityMethods.isMobile()}"
													rendered="#{retomaMBean.isRetomaCliente}">
													<p:ajax 
														event="dialogReturn" 
														listener="#{retomaMBean.dialogListenerCliente()}"  
														update=":frm:growl autoCompleteClienteID panelDatosCliente"/>				
												</p:commandButton>
												
												<p:commandButton
													id="btnSearchConcesionarioForm"
													styleClass="list-button-read fa fa-search"
													includeViewParams="true"
													actionListener="#{concesionarioMBean.selectEntityFromRetoma()}"
													immediate="true"
													style="margin-left:0px;margin-top:1px;"
													onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
													ajax="#{!utilityMethods.isMobile()}"
													rendered="#{!retomaMBean.isRetomaCliente}">
													<p:ajax 
														event="dialogReturn" 
														listener="#{retomaMBean.dialogListenerConcesionario()}"  
														update=":frm:growl autoCompleteConcesionarioID panelDatosCliente"/>				
												</p:commandButton>
											</p:column>
										</p:row>
										
										<p:row rendered="#{retomaMBean.mode == utilityConstantes.modeview}">
											<p:column>
												<p:outputLabel 
													value="#{msg.retoma_infocliente_Nombres}:"
													rendered="#{retomaMBean.isRetomaCliente}"
													styleClass="crud-field-label-one-col" />
												<p:outputLabel 
													value="#{msg.retoma_infoconcesionario_Nombre}:"
													rendered="#{!retomaMBean.isRetomaCliente}"
													styleClass="crud-field-label-one-col" />
											</p:column>
											<p:column>
												<p:outputLabel 
													value="#{msg.retoma_infocliente_Apellidos}:"
													rendered="#{retomaMBean.isRetomaCliente}"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row rendered="#{retomaMBean.mode == utilityConstantes.modeview}">
											<p:column>
												<p:outputLabel 
													value="#{retomaMBean.entity.cliente.nombres}"
													rendered="#{retomaMBean.isRetomaCliente}"
													styleClass="crud-field-value-one-col"/>
												<p:outputLabel 
													value="#{retomaMBean.entity.concesionario.nombre}"
													rendered="#{!retomaMBean.isRetomaCliente}"
													styleClass="crud-field-value-one-col"/>
											</p:column>
											<p:column>
												<p:outputLabel 
													value="#{retomaMBean.entity.cliente.apellidos}"
													rendered="#{retomaMBean.isRetomaCliente}"
													styleClass="crud-field-value-one-col"/>
											</p:column>
										</p:row>
										
										<p:row>
											<p:column>
												<p:outputLabel 
													value="#{msg.retoma_infocliente_Tel1}:"
													rendered="#{retomaMBean.isRetomaCliente}"
													styleClass="crud-field-label-one-col" />
												<p:outputLabel 
													value="#{msg.retoma_infoconcesionario_Telefono}:"
													rendered="#{!retomaMBean.isRetomaCliente}"
													styleClass="crud-field-label-one-col" />
											</p:column>
											<p:column>
												<p:outputLabel 
													value="#{msg.retoma_infocliente_Celular1}:"
													rendered="#{retomaMBean.isRetomaCliente}"
													styleClass="crud-field-label-one-col" />
												<p:outputLabel 
													value="#{msg.retoma_infoconcesionario_Contacto}:"
													rendered="#{!retomaMBean.isRetomaCliente}"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row>
											<p:column>
												<p:outputLabel 
													value="#{retomaMBean.entity.cliente.telefono1}"
													rendered="#{retomaMBean.isRetomaCliente}"
													styleClass="crud-field-value-one-col"/>
												<p:outputLabel 
													value="#{retomaMBean.entity.concesionario.telefono}"
													rendered="#{!retomaMBean.isRetomaCliente}"
													styleClass="crud-field-value-one-col"/>
											</p:column>
											<p:column>
												<p:outputLabel 
													value="#{retomaMBean.entity.cliente.celular1}"
													rendered="#{retomaMBean.isRetomaCliente}"
													styleClass="crud-field-value-one-col"/>
												<p:outputLabel 
													value="#{retomaMBean.entity.concesionario.contacto}"
													rendered="#{!retomaMBean.isRetomaCliente}"
													styleClass="crud-field-value-one-col"/>
											</p:column>
										</p:row>
										
										<p:row>
											<p:column colspan="2">
												<p:outputLabel 
													value="#{msg.retoma_infocliente_Correo}:"
													rendered="#{retomaMBean.isRetomaCliente}"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row>
											<p:column colspan="2">
												<p:outputLabel 
													value="#{retomaMBean.entity.cliente.correoElectronico}"
													rendered="#{retomaMBean.isRetomaCliente}"
													styleClass="crud-field-value-one-col"/>
											</p:column>
										</p:row>
											
										<p:row>
											<p:column colspan="2">
												<p:outputLabel 
													value="#{msg.retoma_infocliente_ReqDatosMatricula}: (*)"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row>
											<p:column colspan="2">
												<p:selectOneRadio 
													value="#{retomaMBean.entity.requiereDatosMatricula}" 
													styleClass="crud-field-radio-value-one-col"
													rendered="#{retomaMBean.mode != utilityConstantes.modeview}"
													required="true"
													requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','retoma_infocliente_ReqDatosMatricula')}">
													<p:ajax process="@this" update="panelInfoDM"/>
											            <f:selectItem itemLabel="#{msg.generics_SI}" itemValue="true" />
											            <f:selectItem itemLabel="#{msg.generics_NO}" itemValue="false" />
										        </p:selectOneRadio>
										        
										        <p:outputLabel
													value="#{msg.generics_SI}"
													styleClass="crud-field-value-one-col"
													rendered="#{retomaMBean.mode == utilityConstantes.modeview and retomaMBean.entity.requiereDatosMatricula}"/>
														
												<p:outputLabel
													value="#{msg.generics_NO}"
													styleClass="crud-field-value-one-col"
													rendered="#{retomaMBean.mode == utilityConstantes.modeview and !retomaMBean.entity.requiereDatosMatricula}"/>
											</p:column>
										</p:row>
										
									</p:panelGrid>
									
									<p:panelGrid styleClass="crud-panelgrid" id="panelInfoDM">
										<p:row rendered="#{retomaMBean.entity.requiereDatosMatricula}">
											<p:column>
												<p:outputLabel
									        		value="#{msg.retoma_infocliente_reqmat_cedula}: (*)"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row rendered="#{retomaMBean.entity.requiereDatosMatricula}">
											<p:column colspan="2">
												<p:outputLabel 
													value="#{retomaMBean.entity.identificacionMatricula}"
													rendered="#{retomaMBean.mode == utilityConstantes.modeview}"
													styleClass="crud-field-value-one-col" />
													
												<p:inputText
													value="#{retomaMBean.entity.identificacionMatricula}"
													rendered="#{retomaMBean.mode != utilityConstantes.modeview}"
													maxlength="50"
													required="true"
													styleClass="crud-field-value-one-col"
													converterMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_validateNumber','retoma_infocliente_reqmat_cedula')}"
													requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','retoma_infocliente_reqmat_cedula')}">
													<f:convertNumber type="number"/>
												</p:inputText>
											</p:column>
										</p:row>
										
										<p:row rendered="#{retomaMBean.entity.requiereDatosMatricula}">
											<p:column colspan="2">
												<p:outputLabel 
													value="#{msg.retoma_infocliente_reqmat_nombre}: (*)"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row rendered="#{retomaMBean.entity.requiereDatosMatricula}">
											<p:column colspan="2">
												<p:outputLabel 
													value="#{retomaMBean.entity.nombreMatricula}"
													rendered="#{retomaMBean.mode == utilityConstantes.modeview}"
													styleClass="crud-field-value-one-col" />
													
												<p:inputText
													value="#{retomaMBean.entity.nombreMatricula}"
													rendered="#{retomaMBean.mode != utilityConstantes.modeview}"
													maxlength="200"
													required="true"
													styleClass="crud-field-value-one-col"
													requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','retoma_infocliente_reqmat_nombre')}"/>
											</p:column>
										</p:row>
									</p:panelGrid>
										
								</div>
									
							</p:fieldset>
							
						</div>
						
						<div class="ui-grid-col-4">
				
							<p:fieldset legend="#{msg.retoma_infovehiculo_Title}" 
								toggleable="true" toggleSpeed="500" style="height:550px"
								styleClass="crud_fieldset_title_no_height">
											
								<div style="width: 100%; text-align: center">
					
									<a class="retoma_vehiculo_icono fa fa-car"/>
										
									<p:confirmDialog widgetVar="dataChangeDlgVehiculo" appendTo="@(body)" 
										global="true" showEffect="fade" hideEffect="fade" styleClass="confirmDialog"
										message="#{msg.retoma_vehiculoNoExiste}">
										<p:commandButton value="#{msg.generics_SI}" oncomplete="PF('dataChangeDlgVehiculo').hide();" onclick="PF('dataChangeDlgVehiculo').hide();$('#frm\\:btnOpenNewVehiculoForm').click();"/>
										<p:commandButton value="#{msg.generics_NO}"   onclick="PF('dataChangeDlgVehiculo').hide();" /> 
									</p:confirmDialog>
										
									<p:commandButton
										id="btnOpenNewVehiculoForm"
										actionListener="#{vehiculoMBean.newEntity(retomaMBean.entity.vehiculo.placa)}"
										rendered="#{vehiculoMBean.hasPermissionTo(utilityConstantes.actioncreate) and retomaMBean.mode != utilityConstantes.modeview}"
										styleClass="list-button-add-new-min fa fa-plus"
										process="@this"
										style="display:none"
										immediate="true"
										ajax="#{!utilityMethods.isMobile()}"
										onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
										<p:ajax 
											event="dialogReturn" 
											oncomplete="PF('dataChangeDlgVehiculo').hide();" 
											listener="#{retomaMBean.dialogListenerVehiculo()}"  
											update="autoCompleteVehiculoID :frm:growl panelDatosVehiculo"/>
									</p:commandButton>
										
									<p:remoteCommand name="rcV" update="autoCompleteVehiculoID :frm:growl panelDatosVehiculo" immediate="true" actionListener="#{retomaMBean.loadVehiculo()}" />
							
									<p:panelGrid styleClass="crud-panelgrid" id="panelDatosVehiculo">
									
										<p:row>
											<p:column colspan="2">
												<p:outputLabel 
													value="#{msg.retoma_infovehiculo_Vehiculo}: (*)"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row>
											<p:column>
												<p:outputLabel 
													value="#{retomaMBean.entity.vehiculo.placa}"
													styleClass="crud-field-value-one-col"
													rendered="#{retomaMBean.mode != utilityConstantes.modecreate}"/>
													
												<p:autoComplete 
													id="autoCompleteVehiculoID"
													value="#{retomaMBean.entity.vehiculo.placa}" 
													completeMethod="#{retomaMBean.autocompleteVehiculos}" 
													effect="fade"
													required="true"
													dropdown="true"
													rendered="#{retomaMBean.mode == utilityConstantes.modecreate}"
													onkeypress="if (event.keyCode == 13) {event.preventDefault();rcV();}"
													styleClass="crud-field-select-value-one-col"
													panelStyleClass="crud-field-select-panel"
													requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','retoma_infovehiculo_Vehiculo')}">
													<p:ajax event="itemSelect" listener="#{retomaMBean.loadVehiculo()}" update="autoCompleteVehiculoID :frm:growl panelDatosVehiculo"/>
												</p:autoComplete>
												
												<p:inputText
													id="autoCompleteVehiculoIDView"
													style="display:none"
													value="#{retomaMBean.entity.vehiculo.placa}"  />
											</p:column>
											<p:column>
												<p:commandButton
													id="btnSearchVehiculoForm"
													styleClass="list-button-read fa fa-search"
													includeViewParams="true"
													actionListener="#{vehiculoMBean.selectEntityFromRetoma()}"
													immediate="true"
													style="margin-left:0px;margin-top:1px;"
													onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
													ajax="#{!utilityMethods.isMobile()}">
												<p:ajax 
													event="dialogReturn" 
													listener="#{retomaMBean.dialogListenerVehiculo()}"  
													update="autoCompleteVehiculoID :frm:growl panelDatosVehiculo"/>				
												</p:commandButton>
											</p:column>
										</p:row>
										
										<p:row>
											<p:column>
												<p:outputLabel 
													value="#{msg.retoma_infovehiculo_Marca}:"
													styleClass="crud-field-label-one-col" />
											</p:column>
											<p:column>
												<p:outputLabel 
													value="#{msg.retoma_infovehiculo_Linea}:"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row>
											<p:column>
												<p:outputLabel
													value="#{retomaMBean.entity.vehiculo.marca.nombre}"
													styleClass="crud-field-value-one-col"/>
											</p:column>
											<p:column>
												<p:outputLabel
													value="#{retomaMBean.entity.vehiculo.linea}"
													styleClass="crud-field-value-one-col"/>
											</p:column>
										</p:row>
										
										<p:row>
											<p:column>
												<p:outputLabel 
													value="#{msg.retoma_infovehiculo_Cilindraje}:"
													styleClass="crud-field-label-one-col" />
											</p:column>
											<p:column>
												<p:outputLabel 
													value="#{msg.retoma_infovehiculo_Modelo}:"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row>
											<p:column>
												<p:outputLabel
													value="#{retomaMBean.entity.vehiculo.cilindraje}"
													styleClass="crud-field-value-one-col"/>
											</p:column>
											<p:column>
												<p:outputLabel
													value="#{retomaMBean.entity.vehiculo.modelo}"
													styleClass="crud-field-value-one-col"/>
											</p:column>
										</p:row>
										
										<p:row>
											<p:column colspan="2">
												<p:outputLabel 
													value="#{msg.retoma_infovehiculo_Kilometraje}:"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row>
											<p:column colspan="2">
												<p:outputLabel
													value="#{retomaMBean.entity.kilometraje}"
													styleClass="crud-field-value-one-col"
													rendered="#{retomaMBean.mode == utilityConstantes.modeview}"/>
													
												<p:inputText
													value="#{retomaMBean.entity.kilometraje}"
													required="false"
													styleClass="crud-field-value-one-col"
													rendered="#{retomaMBean.mode != utilityConstantes.modeview}"
													converterMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_validateNumber','retoma_infovehiculo_Kilometraje')}">
													<f:convertNumber type="number"/>
												</p:inputText>
											</p:column>
										</p:row>
										
										<p:row>
											<p:column colspan="2">
												<p:outputLabel 
													value="#{msg.retoma_infovehiculo_FchVenSoat}:"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row>
											<p:column colspan="2">
												<p:outputLabel 
													value="#{retomaMBean.entity.fchVenceSoat}"
													styleClass="crud-field-value-one-col"
													rendered="#{retomaMBean.mode == utilityConstantes.modeview}">
													<f:convertDateTime pattern="dd/MM/yyyy" />
												</p:outputLabel>
														
												<p:calendar 
											 		value="#{retomaMBean.entity.fchVenceSoat}"
											 		rendered="#{retomaMBean.mode != utilityConstantes.modeview}"
											 		required="false"
											 		showOn="button"
													styleClass="crud-field-value-one-col"
													pattern="dd/MM/yyyy"
													navigator="true"/>
											</p:column>
										</p:row>
										
										<p:row>
											<p:column colspan="2">
												<p:outputLabel 
													value="#{msg.retoma_infovehiculo_aplicaRevisionTM}: (*)"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row>
											<p:column colspan="2">
												<p:selectOneRadio 
													value="#{retomaMBean.entity.aplicaRevisionTM}" 
													styleClass="crud-field-radio-value-one-col"
													rendered="#{retomaMBean.mode != utilityConstantes.modeview}"
													required="true"
													requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','retoma_infovehiculo_aplicaRevisionTM')}">
													<p:ajax process="@this" update="panelInfoRTM"/>
													<f:selectItem itemLabel="#{msg.generics_SI}" itemValue="true" />
													<f:selectItem itemLabel="#{msg.generics_NO}" itemValue="false" />
										        </p:selectOneRadio>
										        
										        <p:outputLabel
													value="#{msg.generics_SI}"
													styleClass="crud-field-value-one-col"
													rendered="#{retomaMBean.mode == utilityConstantes.modeview and retomaMBean.entity.aplicaRevisionTM}"/>
														
												<p:outputLabel
													value="#{msg.generics_NO}"
													styleClass="crud-field-value-one-col"
													rendered="#{retomaMBean.mode == utilityConstantes.modeview and !retomaMBean.entity.aplicaRevisionTM}"/>
											</p:column>
										</p:row>
											
									</p:panelGrid>
										
									<p:panelGrid id="panelInfoRTM" styleClass="crud-panelgrid">
										<p:row>
											<p:column>
												<p:outputLabel 
													value="#{msg.retoma_infovehiculo_FchVenRT}: (*)"
													rendered="#{retomaMBean.entity.aplicaRevisionTM}"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row>
											<p:column>
												<p:outputLabel 
													value="#{retomaMBean.entity.fchVenceRevtm}"
													styleClass="crud-field-value-one-col"
													rendered="#{retomaMBean.mode == utilityConstantes.modeview and retomaMBean.entity.aplicaRevisionTM}">
													<f:convertDateTime pattern="dd/MM/yyyy" />
												</p:outputLabel>
													
												<p:calendar 
											 		value="#{retomaMBean.entity.fchVenceRevtm}"
											 		rendered="#{retomaMBean.mode != utilityConstantes.modeview and retomaMBean.entity.aplicaRevisionTM}"
											 		required="#{retomaMBean.entity.aplicaRevisionTM}"
													styleClass="crud-field-value-one-col"
													pattern="dd/MM/yyyy"
													navigator="true"
													showOn="button"
												requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','retoma_infovehiculo_FchVenRT')}"/>
											</p:column>
										</p:row>
													
									</p:panelGrid>
							
								</div>
									
							</p:fieldset>
							
						</div>
						
						<div class="ui-grid-col-4">
						
							<p:fieldset legend="#{msg.retoma_term_neg_Title}" 
											toggleable="true" toggleSpeed="500"
											styleClass="crud_fieldset_title_no_height" style="height: 550px;">
											
								<div style="width: 100%; text-align: center">
									<a class="retoma_negocio_icono fa fa-credit-card"/>
								</div>
								
								<div style="width: 100%;">
									<p:panelGrid styleClass="crud-panelgrid">
									
										<p:row>
											<p:column>
												<p:outputLabel 
													value="#{msg.retoma_term_neg_PrecioVenta}: (*)"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										
										<p:row>
											<p:column>
												<p:outputLabel 
													value="#{retomaMBean.entity.valorVehiculo}"
													rendered="#{retomaMBean.mode == utilityConstantes.modeview}"
													styleClass="crud-field-value-one-col">
													<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0"/>
												</p:outputLabel>
												
												<p:inputText
													value="#{retomaMBean.entity.valorVehiculo}"
													rendered="#{retomaMBean.mode != utilityConstantes.modeview}"
													required="true"
													styleClass="crud-field-value-one-col"
													requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','retoma_term_neg_PrecioVenta')}"
													converterMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_validateNumber','retoma_term_neg_PrecioVenta')}">
													<f:convertNumber type="number"/>
												</p:inputText>
											</p:column>
										</p:row>
										
										<p:row>
											<p:column>
												<p:outputLabel 
													value="#{msg.retoma_term_neg_Negociable}: (*)"
													styleClass="crud-field-label-one-col" />
											</p:column>
										</p:row>
										<p:row>
											<p:column>
												<p:selectOneRadio 
													value="#{retomaMBean.entity.negociable}" 
													styleClass="crud-field-radio-value-one-col"
													rendered="#{retomaMBean.mode != utilityConstantes.modeview}"
													required="true"
													requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','retoma_term_neg_Negociable')}">
											        <f:selectItem itemLabel="#{msg.generics_SI}" itemValue="true" />
											        <f:selectItem itemLabel="#{msg.generics_NO}" itemValue="false" />
									        	</p:selectOneRadio>
								        
										        <p:outputLabel
													value="#{msg.generics_SI}"
													styleClass="crud-field-value-one-col"
													rendered="#{retomaMBean.mode == utilityConstantes.modeview and retomaMBean.entity.negociable}"/>
														
												<p:outputLabel
													value="#{msg.generics_NO}"
													styleClass="crud-field-value-one-col"
													rendered="#{retomaMBean.mode == utilityConstantes.modeview and !retomaMBean.entity.negociable}"/>
											</p:column>
										</p:row>
												
									</p:panelGrid>
								</div>

							</p:fieldset>
							
						</div>
						
					</div>
					
				</div>
				
			</p:fieldset>
			
			<ui:include src="/generics/generics.xhtml"/>
			
		</h:form>
		
	</ui:define>
</ui:composition>