<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/generics/template.xhtml">
	
	<ui:define name="content">
		
		<h:form id="frm">
		
			<p:accordionPanel styleClass="crud_accordion">
        		<p:tab title="#{msg.oficinaTransito_dialogTitle}">

					<p:toolbar id="ribbons" styleClass="ribbons">
						<f:facet name="right">
							<p:commandButton 
								styleClass="dialogHidden crud-button-back fa fa-arrow-left"
								ajax="false" 
								immediate="true" 
								value="#{msg.generics_Regresar}" 
								onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
								action="/configuracion/oficinaTransito/oficinaTransitoList.faces"/>
								
							<p:commandButton 
										update=":frm :frm:growl"
										rendered="#{(oficinaTransitoMBean.mode == utilityConstantes.modecreate and oficinaTransitoMBean.hasPermissionTo(utilityConstantes.actioncreate)) or (oficinaTransitoMBean.mode == utilityConstantes.modeedit and oficinaTransitoMBean.hasPermissionTo(utilityConstantes.actionupdate))}"
										ajax="#{!utilityMethods.isMobile()}"
										value="#{msg.generics_guardar}"
										process="@this,datosOficina"
										action="#{oficinaTransitoMBean.saveEntity()}"
										styleClass="crud-button-save fa fa-floppy-o"
										onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
										
							<p:commandButton 
									rendered="#{oficinaTransitoMBean.mode == utilityConstantes.modeview and oficinaTransitoMBean.hasPermissionTo(utilityConstantes.actionupdate)}"
									ajax="false"
									value="#{msg.generics_editar}" 
									action="#{oficinaTransitoMBean.editEntity(oficinaTransitoMBean.entity.id, false)}"
									styleClass="crud-button-edit fa fa-edit"
									onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
									
							<p:commandButton 
									rendered="#{oficinaTransitoMBean.mode == utilityConstantes.modeview and oficinaTransitoMBean.hasPermissionTo(utilityConstantes.actiondelete)}"
									ajax="true" 
									value="#{msg.generics_eliminar}" 
									action="#{oficinaTransitoMBean.deleteEntity(oficinaTransitoMBean.entity.id, false)}"
									styleClass="crud-button-delete fa fa-trash-o"
									onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
									<p:confirm header="#{msg.generics_Confirm}" 
									 		message="#{msg.generics_Confirm_msg_delete}"
									 		icon="ui-icon-alert"/>	
								</p:commandButton>
										
						</f:facet>
					</p:toolbar>
					
					<p:fieldset id="datosOficina" styleClass="crudFieldset">
						
						<div class="crud-requiredMsg">#{msg.generics_requiredText}</div>
						
						<p:separator/>
						
						<div class="ui-grid ui-grid-responsive">
							
							<div class="ui-grid-row">
								<div class="ui-grid-col-4">
									<p:outputLabel styleClass="crud-field-label" value="#{msg.oficinaTransito_dialog_Nombre}: (*)"/>
								</div>
								<div class="ui-grid-col-8">
									<p:outputLabel
										value="#{oficinaTransitoMBean.entity.nombre}"
										styleClass="crud-field-value"
										rendered="#{oficinaTransitoMBean.mode == utilityConstantes.modeview}" />
									
									<p:inputText
										value="#{oficinaTransitoMBean.entity.nombre}"
										rendered="#{oficinaTransitoMBean.mode != utilityConstantes.modeview}"
										maxlength="100"
										required="true"
										styleClass="crud-field-value"
										requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','oficinaTransito_dialog_Nombre')}"/>			
								</div>
							</div>
							
							<div class="ui-grid-row">
								<div class="ui-grid-col-4">
									<p:outputLabel styleClass="crud-field-label" value="#{msg.oficinaTransito_dialog_Estado}: (*)"/>
								</div>
								<div class="ui-grid-col-8">
									<p:outputLabel
										value="#{oficinaTransitoMBean.entity.esActivo == true ? msg.generics_Activo : msg.generics_Inactivo}"
										styleClass="crud-field-value"
										rendered="#{oficinaTransitoMBean.mode == utilityConstantes.modeview}" />
									
									<p:selectOneRadio
										value="#{oficinaTransitoMBean.entity.esActivo}"
										rendered="#{oficinaTransitoMBean.mode != utilityConstantes.modeview}"
										required="true"
										styleClass="crud-field-value"
										requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','oficinaTransito_dialog_Estado')}">
										<f:selectItem itemLabel="#{msg.generics_Activo}" itemValue="#{true}"/>
										<f:selectItem itemLabel="#{msg.generics_Inactivo}" itemValue="#{false}"/>
									</p:selectOneRadio>
								
								</div>
							</div>
							
							<div class="ui-grid-row">
								<div class="ui-grid-col-4">
									<p:outputLabel styleClass="crud-field-label" value="#{msg.oficinaTransito_dialog_Descripcion}:"/>
								</div>
								<div class="ui-grid-col-8">
									<p:outputLabel
										value="#{oficinaTransitoMBean.entity.descripcion}"
										styleClass="crud-field-value"
										rendered="#{oficinaTransitoMBean.mode == utilityConstantes.modeview}" />
									
									<p:inputTextarea
										value="#{oficinaTransitoMBean.entity.descripcion}"
										styleClass="crud-field-value"
										rendered="#{oficinaTransitoMBean.mode != utilityConstantes.modeview}"/>			
								</div>
							</div>
							
						</div>
						
					</p:fieldset>
					
				</p:tab>
				
				<p:tab title="#{msg.oficinaTransito_tramite_title}" rendered="#{oficinaTransitoMBean.mode != utilityConstantes.modecreate}">
					
					<p:fieldset id="datosTramite" styleClass="crudFieldsetNoRibbon">
					
						<div class="ui-grid ui-grid-responsive">
							
							<p:outputPanel rendered="#{oficinaTransitoMBean.mode != utilityConstantes.modecreate}">
								<p:outputPanel rendered="#{oficinaTransitoMBean.mode != utilityConstantes.modeview}">
									<div class="ui-grid-row">
										<div class="ui-grid-col-4">
											<p:outputLabel styleClass="crud-field-label" value="#{msg.oficinaTransito_tramite_gasto}: (*)"/>
										</div>
										<div class="ui-grid-col-8">
											<p:selectOneMenu
												styleClass="crud-field-select-value"
												value="#{oficinaTransitoMBean.tramite.gasto.id}"
												rendered="#{oficinaTransitoMBean.mode != utilityConstantes.modeview}">
												<p:ajax process="@this" listener="#{oficinaTransitoMBean.changeGastoListener()}" update="valorGasto descripcionGasto"/>
												<f:selectItems value="#{oficinaTransitoMBean.gastosDropDownList}"
													var="gasto"
													itemLabel="#{gasto.nombre}"
													itemValue="#{gasto.id}"/>
											</p:selectOneMenu>			
										</div>
									</div>
									<div class="ui-grid-row">
										<div class="ui-grid-col-4">
											<p:outputLabel styleClass="crud-field-label" value="#{msg.oficinaTransito_tramite_valor}:"/>
										</div>
										<div class="ui-grid-col-8">
											<p:inputText
												id="valorGasto"
												value="#{oficinaTransitoMBean.tramite.valor}"
												required="false"
												styleClass="crud-field-value"
												converterMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_validateNumber','oficinaTransito_tramite_valor')}">
												<f:convertNumber type="number"/>
											</p:inputText>		
										</div>
									</div>
									<div class="ui-grid-row">
										<div class="ui-grid-col-4">
											<p:outputLabel styleClass="crud-field-label" value="#{msg.oficinaTransito_tramite_descripcion}:"/>
										</div>
										<div class="ui-grid-col-8">
											<p:inputTextarea
												id="descripcionGasto"
												value="#{oficinaTransitoMBean.tramite.descripcion}"
												required="false"
												styleClass="crud-field-value"/>			
										</div>
									</div>
									<div class="ui-grid-row">
										<div class="ui-grid-col-4">
											<p:outputLabel styleClass="crud-field-label" 
												value="#{msg.oficinaTransito_tramite_asignadoA}:"/>
										</div>
										<div class="ui-grid-col-8">
											<p:selectOneRadio
												styleClass="crud-field-radio-value"
												value="#{oficinaTransitoMBean.tramite.asignadoA}"
												rendered="true"
												required="true"
												requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','oficinaTransito_tramite_asignadoA')}">
												<f:selectItem itemLabel="#{msg.oficinaTransito_tramite_Comprador}" itemValue="CO"/>
												<f:selectItem itemLabel="#{msg.oficinaTransito_tramite_Vendedor}" itemValue="VE"/>
												<f:selectItem itemLabel="#{msg.oficinaTransito_tramite_Ambos}" itemValue="AM"/>
											</p:selectOneRadio>		
										</div>
									</div>
									<div class="ui-grid-row">
										<div class="ui-grid-col-12" style="text-align: center;">
											<p:commandButton 
												update=":frm:growl datosTramite"
												rendered="#{oficinaTransitoMBean.mode != utilityConstantes.modeview}"
												ajax="true"
												process="@this,datosTramite"
												value="#{msg.generics_guardar}" 
												action="#{oficinaTransitoMBean.saveTramite()}"
												styleClass="crud-button-save fa fa-floppy-o"
												onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
										</div>
									</div>
								</p:outputPanel>
									
								<div class="ui-grid-row">
									<div class="ui-grid-col-12">
										<p:dataTable
											id="dtaTramites" 
											var="tramite" 
											value="#{oficinaTransitoMBean.entity.tramites}"
											emptyMessage="#{msg.generics_RegistrosNoEncontrados}"
											paginator="true"
											rows="3"
											paginatorTemplate="  {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
											currentPageReportTemplate="({currentPage} de {totalPages})"
											styleClass="list-datatable">
											
											<p:column headerText="#{msg.oficinaTransito_tramite_gasto}">
												<h:outputText value="#{tramite.gasto.nombre}" />
											</p:column>
											
											<p:column headerText="#{msg.oficinaTransito_tramite_valor}">
												<h:outputText value="#{tramite.valor}">
													<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0"/>
												</h:outputText>
											</p:column>
											
											<p:column headerText="#{msg.oficinaTransito_tramite_descripcion}">
												<h:outputText value="#{tramite.descripcion}" />
											</p:column>
											
											<p:column headerText="#{msg.oficinaTransito_tramite_asignadoA}">
												<h:outputText value="#{msg.oficinaTransito_tramite_Comprador}" rendered="#{tramite.asignadoA == 'CO'}"/>
												<h:outputText value="#{msg.oficinaTransito_tramite_Vendedor}" rendered="#{tramite.asignadoA == 'VE'}"/>
												<h:outputText value="#{msg.oficinaTransito_tramite_Ambos}" rendered="#{tramite.asignadoA == 'AM'}"/>
											</p:column>
											
											<p:column rendered="#{oficinaTransitoMBean.mode != utilityConstantes.modeview}">
												<p:commandButton 
													rendered="#{oficinaTransitoMBean.mode != utilityConstantes.modeview}"
													ajax="true" 
													value="#{msg.generics_eliminar}" 
													action="#{oficinaTransitoMBean.deleteTramite(tramite)}"
													styleClass="crud-button-delete fa fa-trash-o"
													immediate="true"
													update=":frm :frm:growl"
													onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
													<p:confirm header="#{msg.generics_Confirm}" 
													 		message="#{msg.generics_Confirm_msg_delete}"
													 		icon="ui-icon-alert"/>	
												</p:commandButton>
											</p:column>
											
										</p:dataTable>
									</div>
								</div>
									
							</p:outputPanel>
						</div>
						
					</p:fieldset>
					
				</p:tab>
				
			</p:accordionPanel>
				
					
			<ui:include src="/generics/generics.xhtml"/>
			
		</h:form>
		
	</ui:define>
</ui:composition>