<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/generics/template.xhtml">
	
	<ui:define name="content">
		
		<h:form id="frm">

			<p:toolbar id="ribbons" styleClass="ribbons">
				<f:facet name="left">
					<p:outputLabel value="#{msg.hojaNegocio_GastoDialog_Title}"/>
				</f:facet>
				<f:facet name="right">
						
					<p:commandButton 
								update=":frm :frm:growl"
								ajax="#{!utilityMethods.isMobile()}"
								value="#{msg.generics_guardar}" 
								action="#{hojaNegocioMBean.saveGasto()}"
								rendered="#{hojaNegocioMBean.mode == 'GTOTRVENNEW' or hojaNegocioMBean.mode == 'GTOADVENNEW' or hojaNegocioMBean.mode == 'GTOTRCOMNEW' or hojaNegocioMBean.mode == 'GTOADCOMNEW' or hojaNegocioMBean.mode == 'GTOADCIANEW'}"
								styleClass="crud-button-save fa fa-floppy-o"
								onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
								
					<p:commandButton 
								update=":frm :frm:growl"
								ajax="#{!utilityMethods.isMobile()}"
								value="#{msg.generics_eliminar}" 
								action="#{hojaNegocioMBean.deleteGasto(hojaNegocioMBean.gastoxHojaNegocio)}"
								rendered="#{hojaNegocioMBean.mode == 'GTOTRVENVIEW' or hojaNegocioMBean.mode == 'GTOADVENVIEW' or hojaNegocioMBean.mode == 'GTOTRCOMVIEW' or hojaNegocioMBean.mode == 'GTOADCOMVIEW' or hojaNegocioMBean.mode == 'GTOADCIAVIEW'}"
								styleClass="crud-button-delete fa fa-trash-o"
								onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
								
				</f:facet>
			</p:toolbar>
			
			<p:fieldset styleClass="crudFieldset">
				
				<div class="crud-requiredMsg">#{msg.generics_requiredText}</div>
				
				<p:separator/>
				
				<div class="ui-grid ui-grid-responsive">
				
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel 
								rendered="#{hojaNegocioMBean.gastoxHojaNegocio.tipoGasto == 'TR'}" 
								styleClass="crud-field-label" 
								value="#{msg.hojaNegocio_GastoDialog_OficinaTransito}:"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel 
								rendered="#{hojaNegocioMBean.gastoxHojaNegocio.tipoGasto == 'TR'}" 
								styleClass="crud-field-value" 
								value="#{hojaNegocioMBean.entity.oficinaTransito.nombre}"/>
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.hojaNegocio_GastoDialog_Gasto}: (*)"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel 
								styleClass="crud-field-value" 
								rendered="#{hojaNegocioMBean.mode == 'GTOTRVENVIEW' or hojaNegocioMBean.mode == 'GTOADVENVIEW' or hojaNegocioMBean.mode == 'GTOTRCOMVIEW' or hojaNegocioMBean.mode == 'GTOADCOMVIEW' or hojaNegocioMBean.mode == 'GTOADCIAVIEW'}"
								value="#{hojaNegocioMBean.gastoxHojaNegocio.gasto.nombre}"/>
								
							<p:selectOneMenu
								styleClass="crud-field-select-value"
								value="#{hojaNegocioMBean.gastoxHojaNegocio.gasto.id}"
								rendered="#{hojaNegocioMBean.mode == 'GTOTRVENNEW' or hojaNegocioMBean.mode == 'GTOADVENNEW' or hojaNegocioMBean.mode == 'GTOTRCOMNEW' or hojaNegocioMBean.mode == 'GTOADCOMNEW' or hojaNegocioMBean.mode == 'GTOADCIANEW'}"
								required="true"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','hojaNegocio_GastoDialog_Gasto')}">
								<p:ajax process="@this" listener="#{hojaNegocioMBean.changeGastoListener()}" update="valorGasto descripcionGasto"/>
								<f:selectItems value="#{hojaNegocioMBean.gastosDropDownList}"
									var="gasto"
									itemLabel="#{gasto.nombre}"
									itemValue="#{gasto.id}"/>
							</p:selectOneMenu>
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.hojaNegocio_GastoDialog_Descripcion}: "/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel 
								styleClass="crud-field-value" 
								rendered="#{hojaNegocioMBean.mode == 'GTOTRVENVIEW' or hojaNegocioMBean.mode == 'GTOADVENVIEW' or hojaNegocioMBean.mode == 'GTOTRCOMVIEW' or hojaNegocioMBean.mode == 'GTOADCOMVIEW' or hojaNegocioMBean.mode == 'GTOADCIAVIEW'}"
								value="#{hojaNegocioMBean.gastoxHojaNegocio.descripcion}"/>
								
							<p:inputTextarea
								id="descripcionGasto"
								value="#{hojaNegocioMBean.gastoxHojaNegocio.descripcion}"
								rendered="#{hojaNegocioMBean.mode == 'GTOTRVENNEW' or hojaNegocioMBean.mode == 'GTOADVENNEW' or hojaNegocioMBean.mode == 'GTOTRCOMNEW' or hojaNegocioMBean.mode == 'GTOADCOMNEW' or hojaNegocioMBean.mode == 'GTOADCIANEW'}"
								required="false"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','hojaNegocio_GastoDialog_Descripcion')}"
								styleClass="crud-field-value"/>
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.hojaNegocio_GastoDialog_Valor}: (*)"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel 
								styleClass="crud-field-value" 
								rendered="#{hojaNegocioMBean.mode == 'GTOTRVENVIEW' or hojaNegocioMBean.mode == 'GTOADVENVIEW' or hojaNegocioMBean.mode == 'GTOTRCOMVIEW' or hojaNegocioMBean.mode == 'GTOADCOMVIEW' or hojaNegocioMBean.mode == 'GTOADCIAVIEW'}"
								value="#{hojaNegocioMBean.gastoxHojaNegocio.valor}">
								<f:convertNumber type="currency" currencySymbol="$" />
							</p:outputLabel>
								
							<p:inputText
								id="valorGasto"
								value="#{hojaNegocioMBean.gastoxHojaNegocio.valor}"
								required="true"
								rendered="#{hojaNegocioMBean.mode == 'GTOTRVENNEW' or hojaNegocioMBean.mode == 'GTOADVENNEW' or hojaNegocioMBean.mode == 'GTOTRCOMNEW' or hojaNegocioMBean.mode == 'GTOADCOMNEW' or hojaNegocioMBean.mode == 'GTOADCIANEW'}"
								styleClass="crud-field-value"
								converterMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_validateNumber','hojaNegocio_GastoDialog_Valor')}"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','hojaNegocio_GastoDialog_Valor')}">
								<f:convertNumber type="number"/>
							</p:inputText>
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.hojaNegocio_GastoDialog_TipoGasto}:"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								value="#{hojaNegocioMBean.gastoxHojaNegocio.tipoGasto == 'AD' ? msg.gasto_dialog_TipoGastoAD : msg.gasto_dialog_TipoGastoTR}"
								styleClass="crud-field-value"/>
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.hojaNegocio_GastoDialog_AsignadoA}:"/>
						</div>
						<div class="ui-grid-col-8">
							<h:outputText 
									value="#{msg.hojaNegocio_GastoDialog_AsignadoCO}"
									styleClass="crud-field-value"
									rendered="#{hojaNegocioMBean.gastoxHojaNegocio.asignadoA == 'CO'}"/>
							<h:outputText 
									value="#{msg.hojaNegocio_GastoDialog_AsignadoVE}"
									styleClass="crud-field-value"
									rendered="#{hojaNegocioMBean.gastoxHojaNegocio.asignadoA == 'VE'}"/>
							<h:outputText 
									value="#{loginMBean.usuario.compania.nombre}"
									styleClass="crud-field-value"
									rendered="#{hojaNegocioMBean.gastoxHojaNegocio.asignadoA == 'CI'}"/>
						</div>
					</div>

					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.hojaNegocio_PagoDialog_CuentaSalida}: (*)"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
									styleClass="crud-field-value"
									rendered="#{hojaNegocioMBean.mode == 'GTOTRVENVIEW' or hojaNegocioMBean.mode == 'GTOADVENVIEW' or hojaNegocioMBean.mode == 'GTOTRCOMVIEW' or hojaNegocioMBean.mode == 'GTOADCOMVIEW' or hojaNegocioMBean.mode == 'GTOADCIAVIEW'}"
									value="#{hojaNegocioMBean.gastoxHojaNegocio.cuenta.nombre}"/>

							<p:selectOneMenu
									styleClass="crud-field-value"
									value="#{hojaNegocioMBean.gastoxHojaNegocio.cuenta.id}"
									required="true"
									rendered="#{hojaNegocioMBean.mode == 'GTOTRVENNEW' or hojaNegocioMBean.mode == 'GTOADVENNEW' or hojaNegocioMBean.mode == 'GTOTRCOMNEW' or hojaNegocioMBean.mode == 'GTOADCOMNEW' or hojaNegocioMBean.mode == 'GTOADCIANEW'}"
									requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','hojaNegocio_PagoDialog_CuentaSalida')}">
								<f:selectItems value="#{hojaNegocioMBean.cuentasDropDownList}"
											   var="cuenta"
											   itemLabel="#{cuenta.nombre}"
											   itemValue="#{cuenta.id}"/>
							</p:selectOneMenu>
						</div>
					</div>
					
				</div>
				
			</p:fieldset>
			
			<ui:include src="/generics/generics.xhtml"/>
			
		</h:form>
		
	</ui:define>
</ui:composition>
