<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/generics/template.xhtml">
	
	<ui:define name="content">
			
		<h:form id="frm">
		
			<div class="ui-grid ui-grid-responsive">
				<div class="ui-grid-row">
					<div class="ui-grid-col-12 list_title">
						<p:outputLabel value="#{msg.hojaNegocio_Title}"/>
					</div>
				</div>
				
				<div class="ui-grid-row">
					<div class="ui-grid-col-12">
					
						<!-- Sección del datatable -->
						<p:dataTable
							id="dta" 
							widgetVar="dtaWV"
							var="entity" 
							value="#{hojaNegocioMBean.entityList}"
							emptyMessage="#{msg.generics_RegistrosNoEncontrados}"
							filteredValue="#{hojaNegocioMBean.entityFilterList}"
							paginator="true"
							rows="10"
							paginatorTemplate="  {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
							currentPageReportTemplate="({currentPage} de {totalPages})"
							sortMode="multiple"
							styleClass="list-datatable">
							
							<f:facet name="footer">
							 	<h:outputFormat value="#{msg.generics_list_total}" 
							 		rendered="#{hojaNegocioMBean.entityList != null}">
							 		 <f:param value="#{hojaNegocioMBean.entityList.size()}" />
							 	</h:outputFormat>
							</f:facet>
							
							<p:column
								headerText="#{msg.hojaNegocio_dialog_Vehiculo}"
								sortBy="#{entity.vehiculo.placa}"
								filterBy="#{entity.vehiculo.placa}"
								filterMatchMode="contains">
								<h:outputText value="#{entity.vehiculo.placa}" />
							</p:column>
							
							<p:column
								headerText="#{msg.hojaNegocio_dialog_Vendedor}"
								sortBy="#{entity.nombreVendedor}"
								filterBy="#{entity.nombreVendedor}"
								filterMatchMode="contains">
								<h:outputText value="#{entity.nombreVendedor}" />
							</p:column>
							
							<p:column
								headerText="#{msg.hojaNegocio_dialog_Comprador}"
								sortBy="#{entity.venta.cliente.nombres}"
								filterBy="#{entity.venta.cliente.nombres}"
								filterMatchMode="contains">
								<h:outputText value="#{entity.venta.cliente.cedula}" />
								<h:outputText value=" - " />
								<h:outputText value="#{entity.venta.cliente.nombres}" />
							</p:column>
							
							<p:column
								headerText="#{msg.hojaNegocio_dialog_Estado}"
								sortBy="#{entity.estadoLbl}"
								filterBy="#{entity.estadoLbl}"
								filterMatchMode="contains">
								<h:outputText value="#{entity.estadoLbl}" />
							</p:column>
							
							<p:column headerText="#{msg.generics_tabla_acciones}">
									
									<p:commandButton 
											rendered="#{hojaNegocioMBean.hasPermissionTo(utilityConstantes.actionread)}"
											styleClass="list-button-read fa fa-search"
											includeViewParams="true"
											actionListener="#{hojaNegocioMBean.selectEntity(entity.id)}"
											onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
											ajax="false">
										<p:ajax event="dialogReturn" listener="#{hojaNegocioMBean.dialogListener}" update="dta :frm:growl" oncomplete="PF('dtaWV').filter()"/>				
									</p:commandButton>
													
							</p:column>
							
		                </p:dataTable>
					</div>
				</div>
				
			</div>
			
			<ui:include src="/generics/generics.xhtml"/>
			
		</h:form>
	</ui:define>
</ui:composition>
	
