<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/generics/template.xhtml">
	
	<ui:define name="content">
		
		<h:form id="frm">

			<p:toolbar id="ribbons" styleClass="ribbons">
				<f:facet name="left">
					<p:outputLabel value="#{msg.hojaNegocio_dialogTitle} (Estado: #{hojaNegocioMBean.entity.estadoLbl})"/> 
				</f:facet>
				<f:facet name="right">
					<p:commandButton 
						styleClass="dialogHidden crud-button-back fa fa-arrow-left"
						ajax="false" 
						immediate="true" 
						title="#{msg.generics_Regresar}" 
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
						action="/hojanegocio/hojaNegocioList.faces"/>
						
					<p:commandButton 
						update=":frm :frm:growl"
						rendered="#{hojaNegocioMBean.entity.estado == 'EP' and (hojaNegocioMBean.hasPermissionTo(utilityConstantes.actioncreate) or hojaNegocioMBean.hasPermissionTo(utilityConstantes.actionupdate))}"
						ajax="#{!utilityMethods.isMobile()}"
						title="#{msg.generics_guardar}" 
						action="#{hojaNegocioMBean.saveEntity()}"
						styleClass="crud-button-save fa fa-floppy-o"
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
					
					<p:commandButton 
						rendered="#{hojaNegocioMBean.mode == utilityConstantes.modeview and hojaNegocioMBean.hasPermissionTo(utilityConstantes.actionimprimir)}"
						ajax="true"
						title="#{msg.generics_imprimir}" 
						action="#{hojaNegocioMBean.openGenerarPlantillaForm()}"
						styleClass="crud-button-edit fa fa-print"
						immediate="true"
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
						
					<p:commandButton 
						rendered="#{hojaNegocioMBean.mode == utilityConstantes.modeview and hojaNegocioMBean.hasPermissionTo(utilityConstantes.actionfinalizar) and hojaNegocioMBean.entity.estado == 'EP'}"
						ajax="true" 
						title="#{msg.hojaNegocio_finalizar_btn}" 
						action="#{hojaNegocioMBean.finalizarHojaNegocio()}"
						styleClass="crud-button-delete fa fa-check"
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
						<p:confirm header="#{msg.generics_Confirm}" 
							 message="#{msg.hojaNegocio_finalizar_confirm}"
							 icon="ui-icon-alert"/>	
					</p:commandButton>
						
					<p:commandButton 
						rendered="#{hojaNegocioMBean.entity.estado == 'EP' and hojaNegocioMBean.hasPermissionTo(utilityConstantes.actiondelete)}"
						ajax="true" 
						title="#{msg.generics_eliminar}" 
						action="#{hojaNegocioMBean.deleteEntity(hojaNegocioMBean.entity.id, false)}"
						styleClass="crud-button-delete fa fa-trash-o"
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
						<p:confirm header="#{msg.generics_Confirm}" 
						 		message="#{msg.generics_Confirm_msg_delete}"
						 		icon="ui-icon-alert"/>	
					</p:commandButton>
								
				</f:facet>
			</p:toolbar>
			
			<p:fieldset styleClass="crudFieldset">
				
				<div>#{msg.hojaNegocio_dialog_InfoNegocio}</div>
				
				<p:separator/>
				
				<div class="ui-grid ui-grid-responsive">
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
						
							<p:panelGrid styleClass="crud-panelgrid">
								<p:row>
									<p:column>
										<p:outputLabel 
											value="#{msg.hojaNegocio_ttConsignacion}:"
											rendered="#{hojaNegocioMBean.entity.fromConsignacion}"
											styleClass="crud-field-label" />
										<p:outputLabel 
											value="#{msg.hojaNegocio_ttRetoma}:"
											rendered="#{hojaNegocioMBean.entity.fromRetoma}"
											styleClass="crud-field-label" />
									</p:column>
									<p:column>
										<p:outputLabel 
											value="#{hojaNegocioMBean.entity.consignacion.codigo}"
											rendered="#{hojaNegocioMBean.entity.fromConsignacion}"
											styleClass="crud-field-value"/>
										<p:outputLabel 
											value="#{hojaNegocioMBean.entity.retoma.codigo}"
											rendered="#{hojaNegocioMBean.entity.fromRetoma}"
											styleClass="crud-field-value"/>
									</p:column>
								</p:row>
							
							</p:panelGrid>
								
						</div>
						<div class="ui-grid-col-4">
						
							<p:panelGrid styleClass="crud-panelgrid">
								<p:row>
									<p:column>
										<p:outputLabel 
											value="#{msg.hojaNegocio_ttOficinaTransito}:"
											styleClass="crud-field-label" />
									</p:column>
									<p:column>
										<p:outputLabel 
											value="#{hojaNegocioMBean.entity.oficinaTransito.nombre}"
											rendered="#{hojaNegocioMBean.entity.estado != 'EP'}"
											styleClass="crud-field-value"/>
											
										<p:selectOneMenu
											styleClass="crud-field-value"
											value="#{hojaNegocioMBean.entity.oficinaTransito.id}"
											required="true"
											rendered="#{hojaNegocioMBean.entity.estado == 'EP'}"
											requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','hojaNegocio_ttOficinaTransito')}">
											<f:selectItems value="#{hojaNegocioMBean.oficinasTransitoDropDownList}"
												var="oficinaTransito"
												itemLabel="#{oficinaTransito.nombre}"
												itemValue="#{oficinaTransito.id}"/>
										</p:selectOneMenu>
									</p:column>
									<p:column>
										<p:commandButton 
											update=":frm :frm:growl"
											rendered="#{hojaNegocioMBean.entity.hasOficinaTransito and hojaNegocioMBean.entity.estado == 'EP'}"
											ajax="false"
											action="#{hojaNegocioMBean.updateOficinaTransito()}"
											styleClass="crud-button-save fa fa-refresh"
											onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
									</p:column>
									<p:column>
										<p:commandButton 
											update=":frm :frm:growl"
											rendered="#{!hojaNegocioMBean.entity.hasOficinaTransito and hojaNegocioMBean.entity.estado == 'EP'}"
											ajax="false"
											action="#{hojaNegocioMBean.assignOficinaTransito()}"
											styleClass="crud-button-save fa fa-refresh"
											onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
									</p:column>
								</p:row>
							</p:panelGrid>
								
						</div>
						<div class="ui-grid-col-4">
							<p:panelGrid styleClass="crud-panelgrid">
								<p:row>
									<p:column>
										<p:outputLabel 
											value="#{msg.hojaNegocio_ttVenta}:"
											rendered="#{hojaNegocioMBean.entity.hasVenta}"
											styleClass="crud-field-label" />
									</p:column>
									<p:column>
										<p:outputLabel 
											value="#{hojaNegocioMBean.entity.venta.codigo}"
											rendered="#{hojaNegocioMBean.entity.hasVenta}"
											styleClass="crud-field-value"/>
									</p:column>
								</p:row>
							</p:panelGrid>
						</div>
					</div>
				</div>
				
				<div class="ui-grid ui-grid-responsive">
					
					<div class="ui-grid-row">
						
						<div class="ui-grid-col-4">
							<p:fieldset legend="#{msg.hojaNegocio_dialog_Vendedor}" 
											toggleable="true" toggleSpeed="500" collapsed="true"
											styleClass="crud_fieldset_title_no_height">
									
									<div style="width: 100%; text-align: center">
					
										<a class="hojanegocio_vendedor_icono fa fa-user"/>
										
									</div>
									
									<div style="width: 100%;">
										<p:panelGrid styleClass="crud-panelgrid" style="width: 100%;">
											
											<p:row>
												<p:column colspan="2">
													<p:outputLabel 
														value="#{msg.hojaNegocio_dialog_Vendedor_Cedula}:"
														rendered="#{hojaNegocioMBean.entity.fromConsignacion or hojaNegocioMBean.entity.fromRetomaCliente}"
														styleClass="crud-field-label-one-col" />
														
													<p:outputLabel 
														value="#{msg.hojaNegocio_dialog_Concesionario_Nit}:"
														rendered="#{!hojaNegocioMBean.entity.fromConsignacion and !hojaNegocioMBean.entity.fromRetomaCliente}"
														styleClass="crud-field-label-one-col" />
												</p:column>
											</p:row>
											<p:row>
												<p:column colspan="2">
													<p:outputLabel 
														value="#{hojaNegocioMBean.entity.consignacion.cliente.cedula}"
														styleClass="crud-field-value-one-col"
														rendered="#{hojaNegocioMBean.entity.fromConsignacion}"/>
													<p:outputLabel 
														value="#{hojaNegocioMBean.entity.retoma.cliente.cedula}"
														styleClass="crud-field-value-one-col"
														rendered="#{hojaNegocioMBean.entity.fromRetomaCliente}"/>
													<p:outputLabel 
														value="#{hojaNegocioMBean.entity.retoma.concesionario.nit}"
														styleClass="crud-field-value-one-col"
														rendered="#{!hojaNegocioMBean.entity.fromConsignacion and !hojaNegocioMBean.entity.fromRetomaCliente}"/>
												</p:column>
											</p:row>
											<p:row>
												<p:column colspan="2">
													<p:outputLabel 
														value="#{msg.hojaNegocio_dialog_Vendedor_Nombre}:"
														rendered="#{hojaNegocioMBean.entity.fromConsignacion or hojaNegocioMBean.entity.fromRetomaCliente}"
														styleClass="crud-field-label-one-col" />
														
													<p:outputLabel 
														value="#{msg.hojaNegocio_dialog_Concesionario_Nombre}:"
														rendered="#{!hojaNegocioMBean.entity.fromConsignacion and !hojaNegocioMBean.entity.fromRetomaCliente}"
														styleClass="crud-field-label-one-col" />
												</p:column>
											</p:row>
											<p:row>
												<p:column colspan="2">
													<p:outputLabel 
														value="#{hojaNegocioMBean.entity.consignacion.cliente.nombres} #{hojaNegocioMBean.entity.consignacion.cliente.apellidos}"
														styleClass="crud-field-value-one-col"
														rendered="#{hojaNegocioMBean.entity.fromConsignacion}"/>
													<p:outputLabel 
														value="#{hojaNegocioMBean.entity.retoma.cliente.nombres} #{hojaNegocioMBean.entity.retoma.cliente.apellidos}"
														styleClass="crud-field-value-one-col"
														rendered="#{hojaNegocioMBean.entity.fromRetomaCliente}"/>
													<p:outputLabel 
														value="#{hojaNegocioMBean.entity.retoma.concesionario.nombre}"
														styleClass="crud-field-value-one-col"
														rendered="#{!hojaNegocioMBean.entity.fromConsignacion and !hojaNegocioMBean.entity.fromRetomaCliente}"/>
												</p:column>
											</p:row>
											<p:row>
												<p:column>
													<p:outputLabel 
														value="#{msg.hojaNegocio_dialog_Vendedor_Telefono1}:"
														rendered="#{hojaNegocioMBean.entity.fromConsignacion or hojaNegocioMBean.entity.fromRetomaCliente}"
														styleClass="crud-field-label-one-col" />
													<p:outputLabel 
														value="#{msg.hojaNegocio_dialog_Concesionario_Telefono}:"
														rendered="#{!hojaNegocioMBean.entity.fromConsignacion and !hojaNegocioMBean.entity.fromRetomaCliente}"
														styleClass="crud-field-label-one-col" />
												</p:column>
												<p:column>
													<p:outputLabel 
														value="#{msg.hojaNegocio_dialog_Vendedor_Celular1}:"
														rendered="#{hojaNegocioMBean.entity.fromConsignacion or hojaNegocioMBean.entity.fromRetomaCliente}"
														styleClass="crud-field-label-one-col" />
													<p:outputLabel 
														value="#{msg.hojaNegocio_dialog_Concesionario_Contacto}:"
														rendered="#{!hojaNegocioMBean.entity.fromConsignacion and !hojaNegocioMBean.entity.fromRetomaCliente}"
														styleClass="crud-field-label-one-col" />
												</p:column>
											</p:row>
											<p:row>
												<p:column>
													<p:outputLabel 
														value="#{hojaNegocioMBean.entity.consignacion.cliente.telefono1}"
														styleClass="crud-field-value-one-col"
														rendered="#{hojaNegocioMBean.entity.fromConsignacion}"/>
													<p:outputLabel 
														value="#{hojaNegocioMBean.entity.retoma.cliente.telefono1}"
														styleClass="crud-field-value-one-col"
														rendered="#{hojaNegocioMBean.entity.fromRetomaCliente}"/>
													<p:outputLabel 
														value="#{hojaNegocioMBean.entity.retoma.concesionario.telefono}"
														styleClass="crud-field-value-one-col"
														rendered="#{!hojaNegocioMBean.entity.fromConsignacion and !hojaNegocioMBean.entity.fromRetomaCliente}"/>
												</p:column>
												<p:column>
													<p:outputLabel 
														value="#{hojaNegocioMBean.entity.consignacion.cliente.celular1}"
														styleClass="crud-field-value-one-col"
														rendered="#{hojaNegocioMBean.entity.fromConsignacion}"/>
													<p:outputLabel 
														value="#{hojaNegocioMBean.entity.retoma.cliente.celular1}"
														styleClass="crud-field-value-one-col"
														rendered="#{hojaNegocioMBean.entity.fromRetomaCliente}"/>
													<p:outputLabel 
														value="#{hojaNegocioMBean.entity.retoma.concesionario.contacto}"
														styleClass="crud-field-value-one-col"
														rendered="#{!hojaNegocioMBean.entity.fromConsignacion and !hojaNegocioMBean.entity.fromRetomaCliente}"/>
												</p:column>
											</p:row>
													
										</p:panelGrid>
									</div>			
											
							</p:fieldset>
						</div>
						
						<div class="ui-grid-col-4">
							<p:fieldset legend="#{msg.hojaNegocio_dialog_Vehiculo}" 
											toggleable="true" toggleSpeed="500" collapsed="false"
											styleClass="crud_fieldset_title_no_height">
											
									<div style="width: 100%; text-align: center">
					
										<a class="hojanegocio_vehiculo_icono fa fa-car"/>
										
									</div>
									
									<div style="width: 100%;">
										
										<p:panelGrid styleClass="crud-panelgrid" style="width: 100%;">
										
											<p:row>
												<p:column colspan="2">
													<p:outputLabel 
														value="#{msg.hojaNegocio_dialog_Vehiculo_Placa}:"
														styleClass="crud-field-label-one-col" />
												</p:column>
											</p:row>
											
											<p:row>
												<p:column colspan="2">
													<p:outputLabel 
														value="#{hojaNegocioMBean.entity.vehiculo.placa}"
														styleClass="crud-field-value-one-col"/>
												</p:column>
											</p:row>
											
											<p:row>
												<p:column>
													<p:outputLabel 
														value="#{msg.hojaNegocio_dialog_Vehiculo_Marca}:"
														styleClass="crud-field-label-one-col" />
												</p:column>
												<p:column>
													<p:outputLabel 
														value="#{msg.hojaNegocio_dialog_Vehiculo_Linea}:"
														styleClass="crud-field-label-one-col" />
												</p:column>
											</p:row>
											
											<p:row>
												<p:column>
													<p:outputLabel 
														value="#{hojaNegocioMBean.entity.vehiculo.marca.nombre}"
														styleClass="crud-field-value-one-col"/>
												</p:column>
												<p:column>
													<p:outputLabel 
														value="#{hojaNegocioMBean.entity.vehiculo.linea}"
														styleClass="crud-field-value-one-col"/>
												</p:column>
											</p:row>
											
											<p:row>
												<p:column>
													<p:outputLabel 
														value="#{msg.hojaNegocio_dialog_Vehiculo_Modelo}:"
														styleClass="crud-field-label-one-col" />
												</p:column>
												<p:column>
													<p:outputLabel 
														value="#{msg.hojaNegocio_dialog_Vehiculo_Color}:"
														styleClass="crud-field-label-one-col" />
												</p:column>
											</p:row>
											
											<p:row>
												<p:column>
													<p:outputLabel 
														value="#{hojaNegocioMBean.entity.vehiculo.modelo}"
														styleClass="crud-field-value-one-col"/>
												</p:column>
												<p:column>
													<p:outputLabel 
														value="#{hojaNegocioMBean.entity.vehiculo.color.nombre}"
														styleClass="crud-field-value-one-col"/>
												</p:column>
											</p:row>
										
										</p:panelGrid>
										
									</div>
											
							</p:fieldset>
						</div>
						
						<div class="ui-grid-col-4">
							<p:fieldset legend="#{msg.hojaNegocio_dialog_Comprador}" collapsed="true"
											toggleable="true" toggleSpeed="500"
											styleClass="crud_fieldset_title_no_height">
									
									<div style="width: 100%; text-align: center">
					
										<a class="hojanegocio_comprador_icono fa fa-user"/>
										
									</div>
									
									<div style="width: 100%;">
										<p:panelGrid styleClass="crud-panelgrid" style="width: 100%;">
											<p:row>
												<p:column colspan="2">
													<p:outputLabel 
														value="#{msg.hojaNegocio_dialog_Comprador_Cedula}:"
														styleClass="crud-field-label-one-col" />
												</p:column>
											</p:row>
											<p:row>
												<p:column colspan="2">
													<p:outputLabel 
														value="#{hojaNegocioMBean.entity.venta.cliente.cedula}"
														styleClass="crud-field-value-one-col"
														rendered="#{hojaNegocioMBean.entity.hasVenta}"/>
												</p:column>
											</p:row>
											<p:row>
												<p:column colspan="2">
													<p:outputLabel 
														value="#{msg.hojaNegocio_dialog_Comprador_Nombre}:"
														styleClass="crud-field-label-one-col" />
												</p:column>
											</p:row>
											<p:row>
												<p:column colspan="2">
													<p:outputLabel 
														value="#{hojaNegocioMBean.entity.venta.cliente.nombres} #{hojaNegocioMBean.entity.venta.cliente.apellidos}"
														styleClass="crud-field-value-one-col"
														rendered="#{hojaNegocioMBean.entity.hasVenta}"/>
												</p:column>
											</p:row>
											<p:row>
												<p:column>
													<p:outputLabel 
														value="#{msg.hojaNegocio_dialog_Comprador_Telefono1}:"
														styleClass="crud-field-label-one-col" />
												</p:column>
												<p:column>
													<p:outputLabel 
														value="#{msg.hojaNegocio_dialog_Comprador_Celular1}:"
														styleClass="crud-field-label-one-col" />
												</p:column>
											</p:row>
											<p:row>
												<p:column>
													<p:outputLabel 
														value="#{hojaNegocioMBean.entity.venta.cliente.telefono1}"
														styleClass="crud-field-value-one-col"
														rendered="#{hojaNegocioMBean.entity.hasVenta}"/>
												</p:column>
												<p:column>
													<p:outputLabel 
														value="#{hojaNegocioMBean.entity.venta.cliente.celular1}"
														styleClass="crud-field-value-one-col"
														rendered="#{hojaNegocioMBean.entity.hasVenta}"/>
												</p:column>
											</p:row>
											
										</p:panelGrid>
									</div>	
											
							</p:fieldset>
						</div>
						
					</div>
					
					<div class="ui-grid-row">
						
						<div class="ui-grid-col-4">
						
							<p:fieldset legend="#{msg.hojaNegocio_dialog_HNVendedor}" id="idFieldSetHNVendedor"
								toggleable="true" toggleSpeed="500" collapsed="true" styleClass="crud_fieldset_title_no_height">
								
								<p:panelGrid styleClass="crud-panelgrid" style="width:100%">
									<p:row>
										<p:column>
											<h:outputText
												styleClass="crud-field-label-one-col" 
												value="#{msg.hojaNegocio_dialog_HNVendedor_SaldoVehiculo}:" />
										</p:column>
										<p:column>
											<h:outputText 
												id="saldoVehiculoOutPutRed" 
												value="#{hojaNegocioMBean.entity.getSaldoVehiculo('VE')}"
												style="color: red"
												rendered="#{hojaNegocioMBean.entity.getSaldoVehiculo('VE') lt 0}">
												<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0" />
											</h:outputText>
											<h:outputText 
												id="saldoVehiculoOutPut" 
												value="#{hojaNegocioMBean.entity.getSaldoVehiculo('VE')}"
												rendered="#{hojaNegocioMBean.entity.getSaldoVehiculo('VE') ge 0}">
												<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0" />
											</h:outputText>
										</p:column>
									</p:row>
									<p:row>
										<p:column>
											<h:outputText
												styleClass="crud-field-label-one-col" 
												value="#{msg.hojaNegocio_dialog_HNVendedor_Total_Abonos}:" />
										</p:column>
										<p:column>
											<h:outputText 
												id="TotalAbonosOutPutRed" 
												value="#{hojaNegocioMBean.entity.getTotalAbonos('VE')}"
												style="color: red"
												rendered="#{hojaNegocioMBean.entity.getTotalAbonos('VE') lt 0}">
												<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0" />
											</h:outputText>
											<h:outputText 
												id="TotalAbonosOutPut" 
												value="#{hojaNegocioMBean.entity.getTotalAbonos('VE')}"
												rendered="#{hojaNegocioMBean.entity.getTotalAbonos('VE') ge 0}">
												<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0" />
											</h:outputText>
										</p:column>
									</p:row>
									<p:row>
										<p:column>
											<h:outputText
												styleClass="crud-field-label-one-col" 
												value="#{msg.hojaNegocio_dialog_HNVendedor_Total_GastosTraspaso}:" />
										</p:column>
										<p:column>
											<h:outputText 
												id="TotalGastosTraspasoOutPutRed" 
												value="#{hojaNegocioMBean.entity.getTotalGastosTraspaso('VE')}"
												style="color: red"
												rendered="#{hojaNegocioMBean.entity.getTotalGastosTraspaso('VE') lt 0}">
												<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0" />
											</h:outputText>
											<h:outputText 
												id="TotalGastosTraspasoOutPut" 
												value="#{hojaNegocioMBean.entity.getTotalGastosTraspaso('VE')}"
												rendered="#{hojaNegocioMBean.entity.getTotalGastosTraspaso('VE') ge 0}">
												<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0" />
											</h:outputText>
										</p:column>
									</p:row>
									<p:row>
										<p:column>
											<h:outputText
												styleClass="crud-field-label-one-col" 
												value="#{msg.hojaNegocio_dialog_HNVendedor_Total_GastosAdicionales}:" />
										</p:column>
										<p:column>
											<h:outputText 
												id="TotalGastosAdicionalesOutPutRed" 
												value="#{hojaNegocioMBean.entity.getTotalGastosAdicionales('VE')}"
												style="color: red"
												rendered="#{hojaNegocioMBean.entity.getTotalGastosAdicionales('VE') lt 0}">
												<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0" />
											</h:outputText>
											<h:outputText 
												id="TotalGastosAdicionalesOutPut" 
												value="#{hojaNegocioMBean.entity.getTotalGastosAdicionales('VE')}"
												rendered="#{hojaNegocioMBean.entity.getTotalGastosAdicionales('VE') ge 0}">
												<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0" />
											</h:outputText>
										</p:column>
									</p:row>
									<p:row>
										<p:column colspan="2">
											<p:separator/>
										</p:column>
									</p:row>
									<p:row>
										<p:column styleClass="hojanegocio_saldo_lbl_td">
											<h:outputText
												styleClass="hojanegocio_saldo_lbl" 
												value="#{msg.hojaNegocio_PagoDialog_Saldo}" />
										</p:column>
										<p:column>
											<h:outputText
												id="saldoTotalOutPutRed"
												styleClass="crud-field-label-one-col" 
												value="#{hojaNegocioMBean.entity.getSaldoTotal('VE')}"
												style="color: red"
												rendered="#{hojaNegocioMBean.entity.getSaldoTotal('VE') lt 0}">
												<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0" />
											</h:outputText>
											<h:outputText
												id="saldoTotalOutPut"
												styleClass="crud-field-label-one-col" 
												value="#{hojaNegocioMBean.entity.getSaldoTotal('VE')}"
												rendered="#{hojaNegocioMBean.entity.getSaldoTotal('VE') ge 0}">
												<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0" />
											</h:outputText>
										</p:column>
									</p:row>
								
								</p:panelGrid>
								
								<p:remoteCommand name="cellEditVlrVehVendedor" 
										action="#{hojaNegocioMBean.onVlrVehVendedorEdit()}" 
										update="hojanegocio_dt_valorvehiculo_vendedor :frm:saldoVehiculoOutPut :frm:saldoTotalOutPut :frm:growl :frm:panelTotalesEmpresa" />
										
								<p:dataTable styleClass="hojanegocio_dt_gastos" id="hojanegocio_dt_valorvehiculo_vendedor"
									var="datosvalor" value="#{hojaNegocioMBean.datosValorVehiculoVendedor}"
									editable="true" editMode="cell">
									<f:facet name="header">
										<h:outputText value="#{msg.hojaNegocio_dialog_HNVendedor_PrecioTT}" />
									</f:facet>
									
									<p:ajax event="cellEdit" oncomplete="cellEditVlrVehVendedor()" />
									
									<p:column style="width:16px">
							            <p:rowToggler />
							        </p:column>
									
							        <p:column headerText="#{msg.hojaNegocio_dialog_HNVendedor_Valor}">
										<p:cellEditor>
											<f:facet name="output">
												<h:outputText value="#{hojaNegocioMBean.entity.vlrVehVendedor}">
													<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0" />
												</h:outputText>
											</f:facet>
											<f:facet name="input">
												<h:outputText value="#{hojaNegocioMBean.entity.vlrVehVendedor}" rendered="#{hojaNegocioMBean.entity.estado != 'EP'}">
													<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0" />
												</h:outputText>
												<p:inputText
														value="#{hojaNegocioMBean.entity.vlrVehVendedor}"
														rendered="#{hojaNegocioMBean.entity.estado == 'EP'}"
														styleClass="crud-field-value-one-col"
														converterMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_validateNumber','hojaNegocio_dialog_HNVendedor_Valor')}">
														<f:convertNumber type="number"/>
												</p:inputText>
											</f:facet>
										</p:cellEditor>
							        </p:column>
							        <p:column headerText="#{msg.hojaNegocio_dialog_HNVendedor_Abonos}">
							        	<h:outputText value="#{datosvalor[1]}">
											<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0"/>
										</h:outputText>
							        </p:column>
							        <p:column headerText="#{msg.hojaNegocio_dialog_HNVendedor_Saldo}">
							        	<h:outputText id="lblvalor" value="#{datosvalor[2]}">
											<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0"/>
										</h:outputText>
							        </p:column>
							        
							        <p:rowExpansion>
										
										<p:dataTable styleClass="hojanegocio_dt_gastos" id="hojanegocio_dt_pagodxvalorvehiculo_comprador"
											var="pago" value="#{hojaNegocioMBean.entity.pagosAlVendedor}">
								       
									        <p:column style="width:16px">
									        	<p:panelGrid  columns="2" columnClasses="label,value">
									        		<h:outputText value="#{msg.hojaNegocio_PagoDialog_Comprobante}:" />
									        		<h:outputText
														value="#{pago.consecutivo}"/>
									        		
									        		<h:outputText value="#{msg.hojaNegocio_PagoDialog_Fecha}:" />
									        		<h:outputText value="#{pago.fchPago}">
									        			<f:convertDateTime type="date" pattern="dd/MM/yyyy hh:mm"/>
									        		</h:outputText>
									        		
									        		<h:outputText value="#{msg.hojaNegocio_PagoDialog_Concepto}:" />
									        		<h:outputText value="#{pago.concepto}" />
									        		
									        		<h:outputText value="#{msg.hojaNegocio_PagoDialog_PagadoPor}:" />
									        		<h:outputText 
															value="#{msg.hojaNegocio_PagoDialog_PagadorCO}"
															rendered="#{pago.pagadoPor == 'CO'}"/>
													<h:outputText 
															value="#{msg.hojaNegocio_PagoDialog_PagadorVE}"
															rendered="#{pago.pagadoPor == 'VE'}"/>
													<h:outputText 
															value="#{loginMBean.usuario.compania.nombre}"
															rendered="#{pago.pagadoPor == 'CI'}"/>
									        		
									        		<h:outputText value="#{msg.hojaNegocio_PagoDialog_Valor}:" />
									        		<h:outputText value="#{pago.valor}">
									        			<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0" />
									        		</h:outputText>
									        		
									        		<h:outputText value="#{msg.hojaNegocio_PagoDialog_FormaPago}:" />
									        		<h:outputText value="#{pago.formaPago.nombre}" />
									        		
									             </p:panelGrid>
									        </p:column>
									        
									       </p:dataTable>
							            
							        </p:rowExpansion>
								</p:dataTable>
									
								<br/>
								
								<p:dataTable
									id="dtaGastosVE" 
									var="gasto" 
									value="#{hojaNegocioMBean.entity.gastosTraspasoList('VE')}"
									emptyMessage="#{msg.generics_RegistrosNoEncontrados}"
									paginator="true"
									rows="5"
									editable="true" editMode="cell"
									paginatorTemplate="  {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
									currentPageReportTemplate="({currentPage} de {totalPages})"
									styleClass="list-datatable">
									
									<f:facet name="header">
										<h:outputText value="#{msg.hojaNegocio_dialog_HNVendedor_GastoTraspasoTT}" />
										<p:commandButton
											value="#{msg.button_addElement}"
											actionListener="#{hojaNegocioMBean.openGastoForm('ADDGTOTRVEN', 0)}"
											styleClass="list-button-add-new-min fa fa-plus"
											ajax="#{!utilityMethods.isMobile()}"
											onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
											rendered="#{hojaNegocioMBean.entity.hasOficinaTransito}">
											<p:ajax 
												event="dialogReturn" 
												listener="#{hojaNegocioMBean.gastoDialogListener()}"  
												update=":frm:idFieldSetHNVendedor :frm:growl"/>
										</p:commandButton>
									</f:facet>
									
									<p:ajax event="cellEdit" listener="#{hojaNegocioMBean.onGastoEdit(gasto)}" update=":frm:TotalGastosTraspasoOutPut :frm:growl" />
									
									<p:column headerText="#{msg.hojaNegocio_dialog_HNVendedor_Gasto}">
										<p:commandLink
											value="#{gasto.gasto.nombre}"
											actionListener="#{hojaNegocioMBean.openGastoForm('ADDGTOTRVEN', gasto.id)}"
											ajax="#{!utilityMethods.isMobile()}"
											onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
											<p:ajax 
												event="dialogReturn" 
												listener="#{hojaNegocioMBean.gastoDialogListener()}"  
												update=":frm:idFieldSetHNVendedor :frm:growl"/>
										</p:commandLink>
									</p:column>
									
									<p:column headerText="#{msg.hojaNegocio_dialog_HNVendedor_Descripcion}">
										<p:cellEditor>
											<f:facet name="output">
												<h:outputText value="#{gasto.descripcion}" />
											</f:facet>
											<f:facet name="input">
												<h:outputText value="#{gasto.descripcion}" rendered="#{hojaNegocioMBean.entity.estado != 'EP'}"/>
												<p:inputText
														value="#{gasto.descripcion}"
														rendered="#{hojaNegocioMBean.entity.estado == 'EP'}"
														styleClass="crud-field-value-one-col"/>
											</f:facet>
										</p:cellEditor>
									</p:column>
									
									<p:column headerText="#{msg.hojaNegocio_dialog_HNVendedor_Valor}">
										<p:cellEditor>
											<f:facet name="output">
												<h:outputText value="#{gasto.valor}">
													<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0"/>
												</h:outputText>
											</f:facet>
											<f:facet name="input">
												<h:outputText value="#{gasto.valor}" rendered="#{hojaNegocioMBean.entity.estado != 'EP'}"/>
												<p:inputText
														value="#{gasto.valor}"
														rendered="#{hojaNegocioMBean.entity.estado == 'EP'}"
														styleClass="crud-field-value-one-col"
														converterMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_validateNumber','hojaNegocio_dialog_HNVendedor_Valor')}">
														<f:convertNumber type="number"/>
												</p:inputText>
											</f:facet>
										</p:cellEditor>
									</p:column>
									
									<p:column rendered="#{hojaNegocioMBean.entity.estado == 'EP'}">
										<p:commandButton 
											ajax="true" 
											value="#{msg.generics_eliminar}" 
											action="#{hojaNegocioMBean.deleteGasto(gasto)}"
											styleClass="crud-button-delete fa fa-trash-o"
											immediate="true"
											update=":frm :frm:growl"
											onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
											<p:confirm header="#{msg.generics_Confirm}" 
											 		message="#{msg.generics_Confirm_msg_delete}"
											 		icon="ui-icon-alert"/>	
										</p:commandButton>
									</p:column>
									
								</p:dataTable>
								
								<br/>
								
								<p:dataTable
									id="dtaGastosADVE" 
									var="gasto" 
									value="#{hojaNegocioMBean.entity.gastosAdicionalesList('VE')}"
									emptyMessage="#{msg.generics_RegistrosNoEncontrados}"
									paginator="true"
									rows="5"
									editable="true" editMode="cell"
									paginatorTemplate="  {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
									currentPageReportTemplate="({currentPage} de {totalPages})"
									styleClass="list-datatable">
									
									<f:facet name="header">
										<h:outputText value="#{msg.hojaNegocio_dialog_HNVendedor_GastoAdTT}" />
										<p:commandButton
											value="#{msg.button_addElement}"
											actionListener="#{hojaNegocioMBean.openGastoForm('ADDGTOADVEN', 0)}"
											styleClass="list-button-add-new-min fa fa-plus"
											ajax="#{!utilityMethods.isMobile()}"
											onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
											<p:ajax 
												event="dialogReturn" 
												listener="#{hojaNegocioMBean.gastoDialogListener()}"  
												update=":frm:idFieldSetHNVendedor :frm:growl"/>
										</p:commandButton>
									</f:facet>
									
									<p:ajax event="cellEdit" listener="#{hojaNegocioMBean.onGastoEdit(gasto)}" update=":frm:TotalGastosAdicionalesOutPut :frm:growl" />
									
									<p:column headerText="#{msg.hojaNegocio_dialog_HNVendedor_Gasto}">
										<p:commandLink
											value="#{gasto.gasto.nombre}"
											actionListener="#{hojaNegocioMBean.openGastoForm('ADDGTOADVEN', gasto.id)}"
											ajax="#{!utilityMethods.isMobile()}"
											onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
											<p:ajax 
												event="dialogReturn" 
												listener="#{hojaNegocioMBean.gastoDialogListener()}"  
												update=":frm:idFieldSetHNVendedor :frm:growl"/>
										</p:commandLink>
									</p:column>
									
									<p:column headerText="#{msg.hojaNegocio_dialog_HNVendedor_Descripcion}">
										<p:cellEditor>
											<f:facet name="output">
												<h:outputText value="#{gasto.descripcion}" />
											</f:facet>
											<f:facet name="input">
												<h:outputText value="#{gasto.descripcion}" rendered="#{hojaNegocioMBean.entity.estado != 'EP'}"/>
												<p:inputText
														value="#{gasto.descripcion}"
														rendered="#{hojaNegocioMBean.entity.estado == 'EP'}"
														styleClass="crud-field-value-one-col"/>
											</f:facet>
										</p:cellEditor>
									</p:column>
									
									<p:column headerText="#{msg.hojaNegocio_dialog_HNVendedor_Valor}">
										<p:cellEditor>
											<f:facet name="output">
												<h:outputText value="#{gasto.valor}">
													<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0"/>
												</h:outputText>
											</f:facet>
											<f:facet name="input">
												<h:outputText value="#{gasto.valor}" rendered="#{hojaNegocioMBean.entity.estado != 'EP'}"/>
												<p:inputText
														value="#{gasto.valor}"
														rendered="#{hojaNegocioMBean.entity.estado == 'EP'}"
														styleClass="crud-field-value-one-col"
														converterMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_validateNumber','hojaNegocio_dialog_HNVendedor_Valor')}">
														<f:convertNumber type="number"/>
												</p:inputText>
											</f:facet>
										</p:cellEditor>
									</p:column>
									
									<p:column rendered="#{hojaNegocioMBean.entity.estado == 'EP'}">
										<p:commandButton 
											ajax="true" 
											value="#{msg.generics_eliminar}" 
											action="#{hojaNegocioMBean.deleteGasto(gasto)}"
											styleClass="crud-button-delete fa fa-trash-o"
											immediate="true"
											update=":frm :frm:growl"
											onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
											<p:confirm header="#{msg.generics_Confirm}" 
											 		message="#{msg.generics_Confirm_msg_delete}"
											 		icon="ui-icon-alert"/>	
										</p:commandButton>
									</p:column>
									
								</p:dataTable>
								
								<br/>
								
								<p:dataTable
									id="dtaAbonosVE" 
									var="abono" 
									value="#{hojaNegocioMBean.entity.abonosList('VE')}"
									emptyMessage="#{msg.generics_RegistrosNoEncontrados}"
									paginator="true"
									rows="5"
									editable="true" editMode="cell"
									paginatorTemplate="  {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
									currentPageReportTemplate="({currentPage} de {totalPages})"
									styleClass="list-datatable">
									
									<f:facet name="header">
										<h:outputText value="#{msg.hojaNegocio_dialog_HNVendedor_AbonosTT}" />
										<p:commandButton
											value="#{msg.button_addElement}"
											actionListener="#{hojaNegocioMBean.openAbonoForm('ADDABONOVEN', 0)}"
											styleClass="list-button-add-new-min fa fa-plus"
											ajax="#{!utilityMethods.isMobile()}"
											onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
											<p:ajax 
												event="dialogReturn" 
												listener="#{hojaNegocioMBean.abonoDialogListener()}"  
												update=":frm:idFieldSetHNCia :frm:idFieldSetHNVendedor :frm:growl"/>
										</p:commandButton>
									</f:facet>
									
									<p:ajax event="cellEdit" listener="#{hojaNegocioMBean.onAbonoEdit(abono)}" update=":frm:TotalAbonosOutPut :frm:growl" />
									
									<p:column headerText="#{msg.hojaNegocio_dialog_HNVendedor_Comprobante}">
										<p:commandLink
											value="#{abono.consecutivo}"
											actionListener="#{hojaNegocioMBean.openAbonoForm('ADDABONOVEN', abono.id)}"
											ajax="#{!utilityMethods.isMobile()}"
											onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
											<p:ajax 
												event="dialogReturn" 
												listener="#{hojaNegocioMBean.abonoDialogListener()}"  
												update=":frm:idFieldSetHNVendedor :frm:growl"/>
										</p:commandLink>
									</p:column>
									
									<p:column headerText="#{msg.hojaNegocio_dialog_HNVendedor_Descripcion}">
										<p:cellEditor>
											<f:facet name="output">
												<h:outputText value="#{abono.concepto}" />
											</f:facet>
											<f:facet name="input">
												<h:outputText value="#{abono.concepto}" rendered="#{hojaNegocioMBean.entity.estado != 'EP'}"/>
												<p:inputText
														value="#{abono.concepto}"
														rendered="#{hojaNegocioMBean.entity.estado == 'EP'}"
														styleClass="crud-field-value-one-col"/>
											</f:facet>
										</p:cellEditor>
									</p:column>
									
									<p:column headerText="#{msg.hojaNegocio_dialog_HNVendedor_Valor}">
										<p:cellEditor>
											<f:facet name="output">
												<h:outputText value="#{abono.valor}">
													<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0"/>
												</h:outputText>
											</f:facet>
											<f:facet name="input">
												<h:outputText value="#{abono.valor}" rendered="#{hojaNegocioMBean.entity.estado != 'EP'}"/>
												<p:inputText
														value="#{abono.valor}"
														rendered="#{hojaNegocioMBean.entity.estado == 'EP'}"
														styleClass="crud-field-value-one-col"
														converterMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_validateNumber','hojaNegocio_dialog_HNVendedor_Valor')}">
														<f:convertNumber type="number"/>
												</p:inputText>
											</f:facet>
										</p:cellEditor>
									</p:column>
									
									<p:column rendered="#{hojaNegocioMBean.entity.estado == 'EP'}">
										<p:commandButton 
											ajax="true" 
											value="#{msg.generics_eliminar}" 
											action="#{hojaNegocioMBean.deletePago(abono)}"
											styleClass="crud-button-delete fa fa-trash-o"
											immediate="true"
											update=":frm :frm:growl"
											onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
											<p:confirm header="#{msg.generics_Confirm}" 
											 		message="#{msg.generics_Confirm_msg_delete}"
											 		icon="ui-icon-alert"/>	
										</p:commandButton>
									</p:column>
									
								</p:dataTable>
											
							</p:fieldset>
						
						</div>
						
						<div class="ui-grid-col-4">
							<p:fieldset legend="#{msg.hojaNegocio_dialog_HNEmpresa} #{loginMBean.usuario.compania.nombre}"  id="idFieldSetHNCia"
								toggleable="true" toggleSpeed="500" collapsed="true" styleClass="crud_fieldset_title_no_height">
								
								<p:panelGrid id="panelTotalesEmpresa" styleClass="crud-panelgrid" style="width:100%">
									<p:row>
										<p:column>
											<h:outputText
													styleClass="crud-field-label"
													value="#{msg.hojaNegocio_porcentajeComision}:" />
										</p:column>
										<p:column>
											<h:outputText value="#{hojaNegocioMBean.entity.porcentajeComision}"
													rendered="#{hojaNegocioMBean.entity.estado != 'EP'}">
												<f:convertNumber type="percent" maxFractionDigits="0" />
											</h:outputText>
											<p:inputText value="#{hojaNegocioMBean.entity.porcentajeComision}"
													rendered="#{hojaNegocioMBean.entity.estado == 'EP'}"														 
													styleClass="crud-field-value-one-col" maxlength="3"                                                    
                                                    converterMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_validateNumber','hojaNegocio_porcentajeComision')}">
                                                <f:convertNumber type="number" maxFractionDigits="0"/>
                                                <p:ajax event="change" listener="#{hojaNegocioMBean.saveEntity}" update=":frm:growl panelTotalesEmpresa"/>
                                            </p:inputText>
										</p:column>
									</p:row>
                                    <p:row>
                                        <p:column>
                                            <h:outputText
                                                    styleClass="crud-field-label"
                                                    value="#{msg.hojaNegocio_comision}:" />
                                        </p:column>
                                        <p:column>
                                            <h:outputText value="#{hojaNegocioMBean.entity.porcentajeComision * hojaNegocioMBean.entity.vlrVehVendedor / 100}">
                                                <f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0" />
                                            </h:outputText>
                                        </p:column>
                                    </p:row>
                                    <p:row>
                                        <p:column>
                                            <h:outputText
                                                    styleClass="crud-field-label"
                                                    value="#{msg.hojaNegocio_otroisIngresos}:" />
                                        </p:column>
                                        <p:column>
                                            <h:outputText value="#{hojaNegocioMBean.entity.vlrVehComprador - hojaNegocioMBean.entity.vlrVehVendedor}">
                                                <f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0" />
                                            </h:outputText>
                                        </p:column>
                                    </p:row>
                                    
									<p:row>
										<p:column>
											<h:outputText
												styleClass="crud-field-label" 
												value="#{msg.hojaNegocio_dialog_HNCia_Total_Gastos}:" />
										</p:column>
										<p:column>
											<h:outputText 
												id="TotalGastosCiaOutPutRed" 
												value="#{hojaNegocioMBean.entity.getTotalGastosAdicionales('CI')}"
												style="color: red">
												<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0" />
											</h:outputText>
										</p:column>
									</p:row>
									<p:row>
										<p:column colspan="2">
											<p:separator/>
										</p:column>
									</p:row>
									<p:row>
										<p:column styleClass="hojanegocio_saldo_lbl_td">
											<h:outputText
												styleClass="hojanegocio_saldo_lbl" 
												value="#{msg.hojaNegocio_utilidad}" />
										</p:column>
										<p:column>
											<h:outputText
												id="saldoTotalCiaOutPutRed"
												styleClass="crud-field-label-one-col" 
												value="#{hojaNegocioMBean.entity.getUtilidadTotal('CI')}"
												style="color: red"
												rendered="#{hojaNegocioMBean.entity.getUtilidadTotal('CI') lt 0}">
												<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0" />
											</h:outputText>
											<h:outputText
												id="saldoTotalCiaOutPut"
												styleClass="crud-field-label-one-col" 
												value="#{hojaNegocioMBean.entity.getUtilidadTotal('CI')}"
												rendered="#{hojaNegocioMBean.entity.getUtilidadTotal('CI') ge 0}">
												<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0" />
											</h:outputText>
										</p:column>
									</p:row>
								
								</p:panelGrid>
                                
                                <br/>
                                <br/>
								
								<p:dataTable styleClass="hojanegocio_dt_gastos" id="hojanegocio_dt_pagos_cia"
									var="pago" value="#{hojaNegocioMBean.entity.pagosACia}"
									editable="true" editMode="cell">
									<f:facet name="header">
										<h:outputText value="#{msg.hojaNegocio_dialog_HNCia_MovtoIngresoTT}" />
									</f:facet>
									
									<p:column headerText="#{msg.hojaNegocio_dialog_HNCia_Comprobante}">
							        	<h:outputText value="#{pago.consecutivo}"/>
							        </p:column>
							        
							        <p:column headerText="#{msg.hojaNegocio_dialog_HNCia_Descripcion}">
							        	<h:outputText value="#{pago.concepto}"/>
							        </p:column>
							        
							        <p:column headerText="#{msg.hojaNegocio_dialog_HNCia_MovtoPagadoPor}">
							        	<h:outputText 
												value="#{msg.hojaNegocio_PagoDialog_PagadorCO}"
												rendered="#{pago.pagadoPor == 'CO'}"/>
										<h:outputText 
												value="#{msg.hojaNegocio_PagoDialog_PagadorVE}"
												rendered="#{pago.pagadoPor == 'VE'}"/>
										<h:outputText 
												value="#{loginMBean.usuario.compania.nombre}"
												rendered="#{pago.pagadoPor == 'CI'}"/>
							        </p:column>
							        
							        <p:column headerText="#{msg.hojaNegocio_dialog_HNCia_Valor}">
							        	<h:outputText value="#{pago.valor}">
											<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0" />
										</h:outputText>
									</p:column>
									
								</p:dataTable>
								
								<br/>
								
								<p:dataTable
									id="dtaAbonosCIA" 
									var="abono" 
									value="#{hojaNegocioMBean.entity.abonosList('CI')}"
									emptyMessage="#{msg.generics_RegistrosNoEncontrados}"
									paginator="true"
									rows="5"
									editable="true" editMode="cell"
									paginatorTemplate="  {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
									currentPageReportTemplate="({currentPage} de {totalPages})"
									styleClass="list-datatable">
									
									<f:facet name="header">
										<h:outputText value="#{msg.hojaNegocio_dialog_HNCia_MovtoEgresoTT}" />
										<p:commandButton
											value="#{msg.button_addElement}"
											actionListener="#{hojaNegocioMBean.openAbonoForm('ADDABONOCIA', 0)}"
											styleClass="list-button-add-new-min fa fa-plus"
											ajax="#{!utilityMethods.isMobile()}"
											onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
											<p:ajax 
												event="dialogReturn" 
												listener="#{hojaNegocioMBean.abonoDialogListener()}"  
												update=":frm:idFieldSetHNVendedor :frm:idFieldSetHNCia :frm:panelTotalesEmpresa :frm:growl"/>
										</p:commandButton>
									</f:facet>
									
									<p:ajax event="cellEdit" listener="#{hojaNegocioMBean.onAbonoEdit(abono)}" update=":frm:panelTotalesEmpresa :frm:growl" />
									
									<p:column headerText="#{msg.hojaNegocio_dialog_HNCia_Comprobante}">
										<p:commandLink
											value="#{abono.consecutivo}"
											actionListener="#{hojaNegocioMBean.openAbonoForm('ADDABONOCIA', abono.id)}"
											ajax="#{!utilityMethods.isMobile()}"
											onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
											<p:ajax 
												event="dialogReturn" 
												listener="#{hojaNegocioMBean.abonoDialogListener()}"  
												update=":frm:idFieldSetHNCia :frm:growl"/>
										</p:commandLink>
									</p:column>
									
									<p:column headerText="#{msg.hojaNegocio_dialog_HNCia_Descripcion}">
										<p:cellEditor>
											<f:facet name="output">
												<h:outputText value="#{abono.concepto}" />
											</f:facet>
											<f:facet name="input">
												<h:outputText value="#{abono.concepto}" rendered="#{hojaNegocioMBean.entity.estado != 'EP'}"/>
												<p:inputText
														value="#{abono.concepto}"
														rendered="#{hojaNegocioMBean.entity.estado == 'EP'}"
														styleClass="crud-field-value-one-col"/>
											</f:facet>
										</p:cellEditor>
									</p:column>
									
									<p:column headerText="#{msg.hojaNegocio_dialog_HNCia_Valor}">
										<p:cellEditor>
											<f:facet name="output">
												<h:outputText value="#{abono.valor}">
													<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0"/>
												</h:outputText>
											</f:facet>
											<f:facet name="input">
												<h:outputText value="#{abono.valor}" rendered="#{hojaNegocioMBean.entity.estado != 'EP'}"/>
												<p:inputText
														value="#{abono.valor}"
														rendered="#{hojaNegocioMBean.entity.estado == 'EP'}"
														styleClass="crud-field-value-one-col"
														converterMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_validateNumber','hojaNegocio_dialog_HNCia_Valor')}">
														<f:convertNumber type="number"/>
												</p:inputText>
											</f:facet>
										</p:cellEditor>
									</p:column>
									
									<p:column rendered="#{hojaNegocioMBean.entity.estado == 'EP'}">
										<p:commandButton 
											ajax="true" 
											value="#{msg.generics_eliminar}" 
											action="#{hojaNegocioMBean.deletePago(abono)}"
											styleClass="crud-button-delete fa fa-trash-o"
											immediate="true"
											update=":frm :frm:growl :frm:panelTotalesEmpresa"
											onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
											<p:confirm header="#{msg.generics_Confirm}" 
											 		message="#{msg.generics_Confirm_msg_delete}"
											 		icon="ui-icon-alert"/>	
										</p:commandButton>
									</p:column>
									
								</p:dataTable>

								<br/>

								<p:dataTable
										id="dtaGastosADCIA"
										var="gasto"
										value="#{hojaNegocioMBean.entity.gastosAdicionalesList('CI')}"
										emptyMessage="#{msg.generics_RegistrosNoEncontrados}"
										paginator="true"
										rows="5"
										editable="true" editMode="cell"
										paginatorTemplate="  {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
										currentPageReportTemplate="({currentPage} de {totalPages})"
										styleClass="list-datatable">

									<f:facet name="header">
										<h:outputText value="#{msg.hojaNegocio_dialog_HNVendedor_GastoAdTT}" />
										<p:commandButton
												value="#{msg.button_addElement}"
												actionListener="#{hojaNegocioMBean.openGastoForm('ADDGTOADCIA', 0)}"
												styleClass="list-button-add-new-min fa fa-plus"
												ajax="#{!utilityMethods.isMobile()}"
												onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
											<p:ajax
													event="dialogReturn"
													listener="#{hojaNegocioMBean.gastoDialogListener()}"
													update=":frm:idFieldSetHNCia :frm:growl"/>
										</p:commandButton>
									</f:facet>

									<p:ajax event="cellEdit" listener="#{hojaNegocioMBean.onGastoEdit(gasto)}" update=":frm:TotalGastosAdicionalesOutPut :frm:growl :frm:panelTotalesEmpresa" />

									<p:column headerText="#{msg.hojaNegocio_dialog_HNVendedor_Gasto}">
										<p:commandLink
												value="#{gasto.gasto.nombre}"
												actionListener="#{hojaNegocioMBean.openGastoForm('ADDGTOADCIA', gasto.id)}"
												ajax="#{!utilityMethods.isMobile()}"
												onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
											<p:ajax
													event="dialogReturn"
													listener="#{hojaNegocioMBean.gastoDialogListener()}"
													update=":frm:idFieldSetHNCia :frm:growl"/>
										</p:commandLink>
									</p:column>

									<p:column headerText="#{msg.hojaNegocio_dialog_HNVendedor_Descripcion}">
										<p:cellEditor>
											<f:facet name="output">
												<h:outputText value="#{gasto.descripcion}" />
											</f:facet>
											<f:facet name="input">
												<h:outputText value="#{gasto.descripcion}" rendered="#{hojaNegocioMBean.entity.estado != 'EP'}"/>
												<p:inputText
														value="#{gasto.descripcion}"
														rendered="#{hojaNegocioMBean.entity.estado == 'EP'}"
														styleClass="crud-field-value-one-col"/>
											</f:facet>
										</p:cellEditor>
									</p:column>

									<p:column headerText="#{msg.hojaNegocio_dialog_HNVendedor_Valor}">
										<p:cellEditor>
											<f:facet name="output">
												<h:outputText value="#{gasto.valor}">
													<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0"/>
												</h:outputText>
											</f:facet>
											<f:facet name="input">
												<h:outputText value="#{gasto.valor}" rendered="#{hojaNegocioMBean.entity.estado != 'EP'}"/>
												<p:inputText
														value="#{gasto.valor}"
														rendered="#{hojaNegocioMBean.entity.estado == 'EP'}"
														styleClass="crud-field-value-one-col"
														converterMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_validateNumber','hojaNegocio_dialog_HNVendedor_Valor')}">
													<f:convertNumber type="number"/>
												</p:inputText>
											</f:facet>
										</p:cellEditor>
									</p:column>

									<p:column rendered="#{hojaNegocioMBean.entity.estado == 'EP'}">
										<p:commandButton
												ajax="true"
												value="#{msg.generics_eliminar}"
												action="#{hojaNegocioMBean.deleteGasto(gasto)}"
												styleClass="crud-button-delete fa fa-trash-o"
												immediate="true"
												update=":frm :frm:growl"
												onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
											<p:confirm header="#{msg.generics_Confirm}"
													   message="#{msg.generics_Confirm_msg_delete}"
													   icon="ui-icon-alert"/>
										</p:commandButton>
									</p:column>

								</p:dataTable>
								
							</p:fieldset>
						</div>
						
						<div class="ui-grid-col-4">
						
							<p:fieldset legend="#{msg.hojaNegocio_dialog_HNComprador}" id="idFieldSetHNComprador"
								toggleable="true" toggleSpeed="500" collapsed="true" styleClass="crud_fieldset_title_no_height">
								
								<p:panelGrid styleClass="crud-panelgrid" style="width:100%">
									<p:row>
										<p:column>
											<h:outputText
												styleClass="crud-field-label-one-col" 
												value="#{msg.hojaNegocio_dialog_HNComprador_SaldoVehiculo}:" />
										</p:column>
										<p:column>
											<h:outputText 
												id="saldoVehiculoCompradorOutPutRed" 
												value="#{hojaNegocioMBean.entity.vlrVehCompradorTmp}"
												style="color: red"
												rendered="#{hojaNegocioMBean.entity.vlrVehCompradorTmp lt 0}">
												<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0" />
											</h:outputText>
											<h:outputText 
												id="saldoVehiculoCompradorOutPut" 
												value="#{hojaNegocioMBean.entity.vlrVehCompradorTmp}"
												rendered="#{hojaNegocioMBean.entity.vlrVehCompradorTmp ge 0}">
												<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0" />
											</h:outputText>
										</p:column>
									</p:row>
									<p:row>
										<p:column>
											<h:outputText
												styleClass="crud-field-label-one-col" 
												value="#{msg.hojaNegocio_dialog_HNComprador_Total_Abonos}:" />
										</p:column>
										<p:column>
											<h:outputText 
												id="TotalAbonosCompradorOutPutRed" 
												value="#{hojaNegocioMBean.entity.getTotalAbonos('CO')}"
												style="color: red"
												rendered="#{hojaNegocioMBean.entity.getTotalAbonos('CO') lt 0}">
												<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0" />
											</h:outputText>
											<h:outputText 
												id="TotalAbonosCompradorOutPut" 
												value="#{hojaNegocioMBean.entity.getTotalAbonos('CO')}"
												rendered="#{hojaNegocioMBean.entity.getTotalAbonos('CO') ge 0}">
												<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0" />
											</h:outputText>
										</p:column>
									</p:row>
									<p:row>
										<p:column>
											<h:outputText
												styleClass="crud-field-label-one-col" 
												value="#{msg.hojaNegocio_dialog_HNComprador_Total_GastosTraspaso}:" />
										</p:column>
										<p:column>
											<h:outputText 
												id="TotalGastosTraspasoCompradorOutPutRed" 
												value="#{hojaNegocioMBean.entity.getTotalGastosTraspaso('CO')}"
												style="color: red"
												rendered="#{hojaNegocioMBean.entity.getTotalGastosTraspaso('CO') lt 0}">
												<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0" />
											</h:outputText>
											<h:outputText 
												id="TotalGastosTraspasoCompradorOutPut" 
												value="#{hojaNegocioMBean.entity.getTotalGastosTraspaso('CO')}"
												rendered="#{hojaNegocioMBean.entity.getTotalGastosTraspaso('CO') ge 0}">
												<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0" />
											</h:outputText>
										</p:column>
									</p:row>
									<p:row>
										<p:column>
											<h:outputText
												styleClass="crud-field-label-one-col" 
												value="#{msg.hojaNegocio_dialog_HNComprador_Total_GastosAdicionales}:" />
										</p:column>
										<p:column>
											<h:outputText 
												id="TotalGastosAdicionalesCompradorOutPutRed" 
												value="#{hojaNegocioMBean.entity.getTotalGastosAdicionales('CO')}"
												style="color: red"
												rendered="#{hojaNegocioMBean.entity.getTotalGastosAdicionales('CO') lt 0}">
												<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0" />
											</h:outputText>
											<h:outputText 
												id="TotalGastosAdicionalesCompradorOutPut" 
												value="#{hojaNegocioMBean.entity.getTotalGastosAdicionales('CO')}"
												rendered="#{hojaNegocioMBean.entity.getTotalGastosAdicionales('CO') ge 0}">
												<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0" />
											</h:outputText>
										</p:column>
									</p:row>
									<p:row>
										<p:column colspan="2">
											<p:separator/>
										</p:column>
									</p:row>
									<p:row>
										<p:column styleClass="hojanegocio_saldo_lbl_td">
											<h:outputText
												styleClass="hojanegocio_saldo_lbl" 
												value="#{msg.hojaNegocio_PagoDialog_Saldo}" />
										</p:column>
										<p:column>
											<h:outputText
												id="saldoTotalCompradorOutPutRed"
												styleClass="crud-field-label-one-col" 
												value="#{hojaNegocioMBean.entity.getSaldoTotal('CO')}"
												style="color: red"
												rendered="#{hojaNegocioMBean.entity.getSaldoTotal('CO') lt 0}">
												<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0" />
											</h:outputText>
											<h:outputText
												id="saldoTotalCompradorOutPut"
												styleClass="crud-field-label-one-col" 
												value="#{hojaNegocioMBean.entity.getSaldoTotal('CO')}"
												rendered="#{hojaNegocioMBean.entity.getSaldoTotal('CO') ge 0}">
												<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0" />
											</h:outputText>
										</p:column>
									</p:row>
								
								</p:panelGrid>
								
								<p:remoteCommand name="cellEditVlrVehComprador" 
										action="#{hojaNegocioMBean.onVlrVehCompradorEdit()}" 
										update="hojanegocio_dt_valorvehiculo_comprador :frm:saldoVehiculoCompradorOutPutRed :frm:saldoTotalCompradorOutPut :frm:growl :frm:panelTotalesEmpresa" />
										
								<p:dataTable styleClass="hojanegocio_dt_gastos" id="hojanegocio_dt_valorvehiculo_comprador"
									var="datosvalor" value="#{hojaNegocioMBean.datosValorVehiculoComprador}"
									editable="true" editMode="cell">
									<f:facet name="header">
										<h:outputText value="#{msg.hojaNegocio_dialog_HNComprador_PrecioTT}" />
									</f:facet>
									
									<p:ajax event="cellEdit" oncomplete="cellEditVlrVehComprador()" />
								
							        <p:column headerText="#{msg.hojaNegocio_dialog_HNComprador_Valor}">
										<p:cellEditor>
											<f:facet name="output">
												<h:outputText value="#{hojaNegocioMBean.entity.vlrVehComprador}">
													<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0" />
												</h:outputText>
											</f:facet>
											<f:facet name="input">
												<h:outputText value="#{hojaNegocioMBean.entity.vlrVehComprador}" rendered="#{hojaNegocioMBean.entity.estado != 'EP'}">
													<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0" />
												</h:outputText>
												<p:inputText
														value="#{hojaNegocioMBean.entity.vlrVehComprador}"
														rendered="#{hojaNegocioMBean.entity.estado == 'EP'}"
														styleClass="crud-field-value-one-col"
														converterMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_validateNumber','hojaNegocio_dialog_HNComprador_Valor')}">
														<f:convertNumber type="number"/>
												</p:inputText>
											</f:facet>
										</p:cellEditor>
							        </p:column>
							        <p:column headerText="#{msg.hojaNegocio_dialog_HNComprador_Abonos}">
							        	<h:outputText value="#{datosvalor[1]}">
											<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0"/>
										</h:outputText>
							        </p:column>
							        <p:column headerText="#{msg.hojaNegocio_dialog_HNComprador_Saldo}">
							        	<h:outputText value="#{datosvalor[2]}">
											<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0"/>
										</h:outputText>
							        </p:column>
								</p:dataTable>
									
								<br/>
										
								<p:dataTable
									id="dtaGastosCO" 
									var="gasto" 
									value="#{hojaNegocioMBean.entity.gastosTraspasoList('CO')}"
									emptyMessage="#{msg.generics_RegistrosNoEncontrados}"
									paginator="true"
									rows="5"
									editable="true" editMode="cell"
									paginatorTemplate="  {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
									currentPageReportTemplate="({currentPage} de {totalPages})"
									styleClass="list-datatable">
									
									<f:facet name="header">
										<h:outputText value="#{msg.hojaNegocio_dialog_HNComprador_GastoTraspasoTT}" />
										<p:commandButton
											value="#{msg.button_addElement}"
											actionListener="#{hojaNegocioMBean.openGastoForm('ADDGTOTRCOM', 0)}"
											styleClass="list-button-add-new-min fa fa-plus"
											ajax="#{!utilityMethods.isMobile()}"
											onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
											rendered="#{hojaNegocioMBean.entity.hasOficinaTransito}">
											<p:ajax 
												event="dialogReturn" 
												listener="#{hojaNegocioMBean.gastoDialogListener()}"  
												update=":frm:idFieldSetHNComprador :frm:growl"/>
										</p:commandButton>
									</f:facet>
									
									<p:ajax event="cellEdit" listener="#{hojaNegocioMBean.onGastoEdit(gasto)}" update=":frm:TotalGastosTraspasoCompradorOutPut :frm:growl" />
									
									<p:column headerText="#{msg.hojaNegocio_dialog_HNComprador_Gasto}">
										<p:commandLink
											value="#{gasto.gasto.nombre}"
											actionListener="#{hojaNegocioMBean.openGastoForm('ADDGTOTRCOM', gasto.id)}"
											ajax="#{!utilityMethods.isMobile()}"
											onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
											<p:ajax 
												event="dialogReturn" 
												listener="#{hojaNegocioMBean.gastoDialogListener()}"  
												update=":frm:idFieldSetHNComprador :frm:growl"/>
										</p:commandLink>
									</p:column>
									
									<p:column headerText="#{msg.hojaNegocio_dialog_HNComprador_Descripcion}">
										<p:cellEditor>
											<f:facet name="output">
												<h:outputText value="#{gasto.descripcion}" />
											</f:facet>
											<f:facet name="input">
												<h:outputText value="#{gasto.descripcion}" rendered="#{hojaNegocioMBean.entity.estado != 'EP'}"/>
												<p:inputText
														value="#{gasto.descripcion}"
														rendered="#{hojaNegocioMBean.entity.estado == 'EP'}"
														styleClass="crud-field-value-one-col"/>
											</f:facet>
										</p:cellEditor>
									</p:column>
									
									<p:column headerText="#{msg.hojaNegocio_dialog_HNComprador_Valor}">
										<p:cellEditor>
											<f:facet name="output">
												<h:outputText value="#{gasto.valor}">
													<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0"/>
												</h:outputText>
											</f:facet>
											<f:facet name="input">
												<h:outputText value="#{gasto.valor}" rendered="#{hojaNegocioMBean.entity.estado != 'EP'}"/>
												<p:inputText
														value="#{gasto.valor}"
														rendered="#{hojaNegocioMBean.entity.estado == 'EP'}"
														styleClass="crud-field-value-one-col"
														converterMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_validateNumber','hojaNegocio_dialog_HNComprador_Valor')}">
														<f:convertNumber type="number"/>
												</p:inputText>
											</f:facet>
										</p:cellEditor>
									</p:column>
									
									<p:column rendered="#{hojaNegocioMBean.entity.estado == 'EP'}">
										<p:commandButton 
											ajax="true" 
											value="#{msg.generics_eliminar}" 
											action="#{hojaNegocioMBean.deleteGasto(gasto)}"
											styleClass="crud-button-delete fa fa-trash-o"
											immediate="true"
											update=":frm :frm:growl"
											onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
											<p:confirm header="#{msg.generics_Confirm}" 
											 		message="#{msg.generics_Confirm_msg_delete}"
											 		icon="ui-icon-alert"/>	
										</p:commandButton>
									</p:column>
									
								</p:dataTable>
								
								<br/>
								
								<p:dataTable
									id="dtaGastosADCO" 
									var="gasto" 
									value="#{hojaNegocioMBean.entity.gastosAdicionalesList('CO')}"
									emptyMessage="#{msg.generics_RegistrosNoEncontrados}"
									paginator="true"
									rows="5"
									editable="true" editMode="cell"
									paginatorTemplate="  {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
									currentPageReportTemplate="({currentPage} de {totalPages})"
									styleClass="list-datatable">
									
									<f:facet name="header">
										<h:outputText value="#{msg.hojaNegocio_dialog_HNComprador_GastoAdTT}" />
										<p:commandButton
											value="#{msg.button_addElement}"
											actionListener="#{hojaNegocioMBean.openGastoForm('ADDGTOADCOM', 0)}"
											styleClass="list-button-add-new-min fa fa-plus"
											ajax="#{!utilityMethods.isMobile()}"
											onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
											<p:ajax 
												event="dialogReturn" 
												listener="#{hojaNegocioMBean.gastoDialogListener()}"  
												update=":frm :frm:growl"/>
										</p:commandButton>
									</f:facet>
									
									<p:ajax event="cellEdit" 
										listener="#{hojaNegocioMBean.onGastoEdit(gasto)}" 
										update=":frm:TotalGastosAdicionalesCompradorOutPut :frm:growl" />
									
									<p:column headerText="#{msg.hojaNegocio_dialog_HNComprador_Gasto}">
										<p:commandLink
											value="#{gasto.gasto.nombre}"
											actionListener="#{hojaNegocioMBean.openGastoForm('ADDGTOADCOM', gasto.id)}"
											ajax="#{!utilityMethods.isMobile()}"
											onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
											<p:ajax 
												event="dialogReturn" 
												listener="#{hojaNegocioMBean.gastoDialogListener()}"  
												update=":frm:idFieldSetHNComprador :frm:growl"/>
										</p:commandLink>
									</p:column>
									
									<p:column headerText="#{msg.hojaNegocio_dialog_HNComprador_Descripcion}">
										<p:cellEditor>
											<f:facet name="output">
												<h:outputText value="#{gasto.descripcion}" />
											</f:facet>
											<f:facet name="input">
												<h:outputText value="#{gasto.descripcion}" rendered="#{hojaNegocioMBean.entity.estado != 'EP'}"/>
												<p:inputText
														value="#{gasto.descripcion}"
														rendered="#{hojaNegocioMBean.entity.estado == 'EP'}"
														styleClass="crud-field-value-one-col"/>
											</f:facet>
										</p:cellEditor>
									</p:column>
									
									<p:column headerText="#{msg.hojaNegocio_dialog_HNComprador_Valor}">
										<p:cellEditor>
											<f:facet name="output">
												<h:outputText value="#{gasto.valor}">
													<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0"/>
												</h:outputText>
											</f:facet>
											<f:facet name="input">
												<h:outputText value="#{gasto.valor}" rendered="#{hojaNegocioMBean.entity.estado != 'EP'}"/>
												<p:inputText
														value="#{gasto.valor}"
														rendered="#{hojaNegocioMBean.entity.estado == 'EP'}"
														styleClass="crud-field-value-one-col"
														converterMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_validateNumber','hojaNegocio_dialog_HNComprador_Valor')}">
														<f:convertNumber type="number"/>
												</p:inputText>
											</f:facet>
										</p:cellEditor>
									</p:column>
									
									<p:column rendered="#{hojaNegocioMBean.entity.estado == 'EP'}">
										<p:commandButton 
											ajax="true" 
											value="#{msg.generics_eliminar}" 
											action="#{hojaNegocioMBean.deleteGasto(gasto)}"
											styleClass="crud-button-delete fa fa-trash-o"
											immediate="true"
											update=":frm :frm:growl"
											onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
											<p:confirm header="#{msg.generics_Confirm}" 
											 		message="#{msg.generics_Confirm_msg_delete}"
											 		icon="ui-icon-alert"/>	
										</p:commandButton>
									</p:column>
									
								</p:dataTable>
								
								<br/>
								
								<p:dataTable
									id="dtaAbonosCO" 
									var="abono" 
									value="#{hojaNegocioMBean.entity.abonosList('CO')}"
									emptyMessage="#{msg.generics_RegistrosNoEncontrados}"
									paginator="true"
									rows="5"
									editable="true" editMode="cell"
									paginatorTemplate="  {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
									currentPageReportTemplate="({currentPage} de {totalPages})"
									styleClass="list-datatable">
									
									<f:facet name="header">
										<h:outputText value="#{msg.hojaNegocio_dialog_HNComprador_AbonosTT}" />
										<p:commandButton
											value="#{msg.button_addElement}"
											actionListener="#{hojaNegocioMBean.openAbonoForm('ADDABONOCOM', 0)}"
											styleClass="list-button-add-new-min fa fa-plus"
											ajax="#{!utilityMethods.isMobile()}"
											onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
											<p:ajax 
												event="dialogReturn" 
												listener="#{hojaNegocioMBean.abonoDialogListener()}"  
												update=":frm:idFieldSetHNCia :frm:idFieldSetHNVendedor :frm:saldoTotalCompradorOutPut :frm:saldoTotalCompradorOutPutRed :frm:idFieldSetHNComprador :frm:growl"/>
										</p:commandButton>
									</f:facet>
									
									<p:ajax event="cellEdit" listener="#{hojaNegocioMBean.onAbonoEdit(abono)}" update=":frm:TotalAbonosCompradorOutPut :frm:growl" />
									
									<p:column headerText="#{msg.hojaNegocio_dialog_HNComprador_Comprobante}">
										<p:commandLink
											value="#{abono.consecutivo}"
											actionListener="#{hojaNegocioMBean.openAbonoForm('ADDABONOCOM', abono.id)}"
											ajax="#{!utilityMethods.isMobile()}"
											onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
											<p:ajax 
												event="dialogReturn" 
												listener="#{hojaNegocioMBean.abonoDialogListener()}"  
												update=":frm:idFieldSetHNComprador :frm:growl"/>
										</p:commandLink>
									</p:column>
									
									<p:column headerText="#{msg.hojaNegocio_dialog_HNComprador_Descripcion}">
										<p:cellEditor>
											<f:facet name="output">
												<h:outputText value="#{abono.concepto}" />
											</f:facet>
											<f:facet name="input">
												<h:outputText value="#{abono.concepto}" rendered="#{hojaNegocioMBean.entity.estado != 'EP'}"/>
												<p:inputText
														value="#{abono.concepto}"
														rendered="#{hojaNegocioMBean.entity.estado == 'EP'}"
														styleClass="crud-field-value-one-col"/>
											</f:facet>
										</p:cellEditor>
									</p:column>
									
									<p:column headerText="#{msg.hojaNegocio_dialog_HNComprador_Valor}">
										<p:cellEditor>
											<f:facet name="output">
												<h:outputText value="#{abono.valor}">
													<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0"/>
												</h:outputText>
											</f:facet>
											<f:facet name="input">
												<h:outputText value="#{abono.valor}" rendered="#{hojaNegocioMBean.entity.estado != 'EP'}"/>
												<p:inputText
														value="#{abono.valor}"
														rendered="#{hojaNegocioMBean.entity.estado == 'EP'}"
														styleClass="crud-field-value-one-col"
														converterMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_validateNumber','hojaNegocio_dialog_HNComprador_Valor')}">
														<f:convertNumber type="number"/>
												</p:inputText>
											</f:facet>
										</p:cellEditor>
									</p:column>
									
									<p:column rendered="#{hojaNegocioMBean.entity.estado == 'EP'}">
										<p:commandButton 
											ajax="true" 
											value="#{msg.generics_eliminar}" 
											action="#{hojaNegocioMBean.deletePago(abono)}"
											styleClass="crud-button-delete fa fa-trash-o"
											immediate="true"
											update=":frm :frm:growl"
											onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
											<p:confirm header="#{msg.generics_Confirm}" 
											 		message="#{msg.generics_Confirm_msg_delete}"
											 		icon="ui-icon-alert"/>	
										</p:commandButton>
									</p:column>
									
								</p:dataTable>
											
							</p:fieldset>
						
						</div>
						
					</div>
					
				</div>
				
			</p:fieldset>
			
			<ui:include src="/generics/generics.xhtml"/>
			
		</h:form>
		
	</ui:define>
</ui:composition>
