<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/generics/template.xhtml">
	
	<ui:define name="content">
		
		<h:form id="frm">

			<p:toolbar id="ribbons" styleClass="ribbons">
				<f:facet name="left">
					<p:outputLabel value="#{msg.hojaNegocio_PagoDialog_Title}"/>
				</f:facet>
				<f:facet name="right">
					<p:commandButton 
						styleClass="dialogHidden crud-button-back fa fa-arrow-left"
						ajax="false" 
						immediate="true" 
						value="#{msg.generics_Regresar}" 
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
						action="/hojanegocio/hojaNegocioList.faces"/>
						
					<p:commandButton 
								update=":frm :frm:growl"
								ajax="#{!utilityMethods.isMobile()}"
								value="#{msg.generics_guardar}" 
								action="#{hojaNegocioMBean.savePago()}"
								rendered="#{hojaNegocioMBean.mode == 'ABONOVENNEW' or hojaNegocioMBean.mode == 'ABONOCOMNEW' or hojaNegocioMBean.mode == 'ABONOCIANEW'}"
								styleClass="crud-button-save fa fa-floppy-o"
								onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
								
					<p:commandButton 
								update=":frm :frm:growl"
								ajax="#{!utilityMethods.isMobile()}"
								value="#{msg.generics_eliminar}" 
								action="#{hojaNegocioMBean.deletePago(hojaNegocioMBean.pagoxHojaNegocio)}"
								rendered="#{hojaNegocioMBean.mode == 'ABONOVENVIEW' or hojaNegocioMBean.mode == 'ABONOCOMVIEW' or hojaNegocioMBean.mode == 'ABONOCIAVIEW'}"
								styleClass="crud-button-delete fa fa-trash-o"
								onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
								
				</f:facet>
			</p:toolbar>
			
			<p:fieldset styleClass="crudFieldset">
				
				<div class="crud-requiredMsg">#{msg.generics_requiredText}</div>
				
				<p:separator/>
				
				<div class="ui-grid ui-grid-responsive">
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.hojaNegocio_PagoDialog_Comprobante}:"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel 
									value="Por Calcular"
									rendered="#{hojaNegocioMBean.pagoxHojaNegocio.consecutivo == '.'}"
									styleClass="crud-field-value" />
									
							<p:outputLabel 
									value="#{hojaNegocioMBean.pagoxHojaNegocio.consecutivo}"
									rendered="#{hojaNegocioMBean.pagoxHojaNegocio.consecutivo != '.'}"
									styleClass="crud-field-value" />
												
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.hojaNegocio_PagoDialog_PagadoPor}:"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel 
									value="#{msg.hojaNegocio_PagoDialog_PagadorCO}"
									rendered="#{hojaNegocioMBean.pagoxHojaNegocio.pagadoPor == 'CO'}"
									styleClass="crud-field-value" />
							<p:outputLabel 
									value="#{msg.hojaNegocio_PagoDialog_PagadorVE}"
									rendered="#{hojaNegocioMBean.pagoxHojaNegocio.pagadoPor == 'VE'}"
									styleClass="crud-field-value" />
							<p:outputLabel 
									value="#{loginMBean.usuario.compania.nombre}"
									rendered="#{hojaNegocioMBean.pagoxHojaNegocio.pagadoPor == 'CI'}"
									styleClass="crud-field-value" />
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.hojaNegocio_PagoDialog_PagadoA}: (*)"/>
						</div>
						<div class="ui-grid-col-8">
						
							<p:outputLabel 
								styleClass="crud-field-value" 
								rendered="#{(hojaNegocioMBean.mode == 'ABONOVENVIEW' or hojaNegocioMBean.mode == 'ABONOCOMVIEW' or hojaNegocioMBean.mode == 'ABONOCIAVIEW') and hojaNegocioMBean.pagoxHojaNegocio.pagadoA == 'VE'}"
								value="#{msg.hojaNegocio_PagoDialog_PagadorVE}"/>
								
							<p:outputLabel 
								styleClass="crud-field-value" 
								rendered="#{(hojaNegocioMBean.mode == 'ABONOVENVIEW' or hojaNegocioMBean.mode == 'ABONOCOMVIEW' or hojaNegocioMBean.mode == 'ABONOCIAVIEW') and hojaNegocioMBean.pagoxHojaNegocio.pagadoA == 'CO'}"
								value="#{msg.hojaNegocio_PagoDialog_PagadorCO}"/>
								
							<p:outputLabel 
								styleClass="crud-field-value" 
								rendered="#{(hojaNegocioMBean.mode == 'ABONOVENVIEW' or hojaNegocioMBean.mode == 'ABONOCOMVIEW' or hojaNegocioMBean.mode == 'ABONOCIAVIEW') and hojaNegocioMBean.pagoxHojaNegocio.pagadoA == 'CI'}"
								value="#{loginMBean.usuario.compania.nombre}"/>
								
							<p:outputLabel 
								styleClass="crud-field-value" 
								rendered="#{(hojaNegocioMBean.mode == 'ABONOVENVIEW' or hojaNegocioMBean.mode == 'ABONOCOMVIEW' or hojaNegocioMBean.mode == 'ABONOCIAVIEW') and hojaNegocioMBean.pagoxHojaNegocio.pagadoA == 'TA'}"
								value="#{msg.hojaNegocio_PagoDialog_PagadorTA}"/>
								
							<p:outputLabel 
								styleClass="crud-field-value" 
								rendered="#{(hojaNegocioMBean.mode == 'ABONOVENVIEW' or hojaNegocioMBean.mode == 'ABONOCOMVIEW' or hojaNegocioMBean.mode == 'ABONOCIAVIEW') and hojaNegocioMBean.pagoxHojaNegocio.pagadoA == 'TE'}"
								value="#{msg.hojaNegocio_PagoDialog_PagadorTE}"/>
								
							<p:selectOneMenu
								styleClass="crud-field-radio-value"
								value="#{hojaNegocioMBean.pagoxHojaNegocio.pagadoA}"
								rendered="#{hojaNegocioMBean.mode == 'ABONOVENNEW' or hojaNegocioMBean.mode == 'ABONOCOMNEW' or hojaNegocioMBean.mode == 'ABONOCIANEW'}"
								required="true"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','hojaNegocio_PagoDialog_PagadoA')}">
								<p:ajax process="@this" update="panelCuentaEntrada panelCuentaSalida"/>
								<f:selectItem itemDisabled="#{hojaNegocioMBean.pagoxHojaNegocio.pagadoPor == 'VE'}" itemLabel="#{msg.hojaNegocio_PagoDialog_PagadorVE}" itemValue="VE"/>
								<f:selectItem itemLabel="#{msg.hojaNegocio_PagoDialog_PagadorCO}" itemValue="CO"/>
								<f:selectItem itemDisabled="#{hojaNegocioMBean.pagoxHojaNegocio.pagadoPor == 'CI'}" itemLabel="#{loginMBean.usuario.compania.nombre}" itemValue="CI"/>
								<f:selectItem itemLabel="#{msg.hojaNegocio_PagoDialog_PagadorTA}" itemValue="TA"/>
								<f:selectItem itemLabel="#{msg.hojaNegocio_PagoDialog_PagadorTE}" itemValue="TE"/>
							</p:selectOneMenu>
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.hojaNegocio_PagoDialog_Concepto}: (*)"/>
						</div>
						<div class="ui-grid-col-8">
						
							<p:outputLabel 
								styleClass="crud-field-value" 
								rendered="#{hojaNegocioMBean.mode == 'ABONOVENVIEW' or hojaNegocioMBean.mode == 'ABONOCOMVIEW' or hojaNegocioMBean.mode == 'ABONOCIAVIEW'}"
								value="#{hojaNegocioMBean.pagoxHojaNegocio.concepto}"/>

							<p:inputTextarea
								value="#{hojaNegocioMBean.pagoxHojaNegocio.concepto}"
								rendered="#{hojaNegocioMBean.mode == 'ABONOVENNEW' or hojaNegocioMBean.mode == 'ABONOCOMNEW' or hojaNegocioMBean.mode == 'ABONOCIANEW'}"
								required="true"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','hojaNegocio_PagoDialog_Concepto')}"
								styleClass="crud-field-value"/>
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.hojaNegocio_PagoDialog_Fecha}: (*)"/>
						</div>
						<div class="ui-grid-col-8">
						
							<p:outputLabel 
								value="#{hojaNegocioMBean.pagoxHojaNegocio.fchPago}"
								styleClass="crud-field-value"
								rendered="#{hojaNegocioMBean.mode == 'ABONOVENVIEW' or hojaNegocioMBean.mode == 'ABONOCOMVIEW' or hojaNegocioMBean.mode == 'ABONOCIAVIEW'}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</p:outputLabel>
									
							<p:calendar 
						 		value="#{hojaNegocioMBean.pagoxHojaNegocio.fchPago}"
						 		rendered="#{hojaNegocioMBean.mode == 'ABONOVENNEW' or hojaNegocioMBean.mode == 'ABONOCOMNEW' or hojaNegocioMBean.mode == 'ABONOCIANEW'}"
						 		required="true"
						 		showOn="button"
								styleClass="crud-field-value"
								pattern="dd/MM/yyyy"
								navigator="true"/>
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.hojaNegocio_PagoDialog_Valor}: (*)"/>
						</div>
						<div class="ui-grid-col-8">
						
							<p:outputLabel 
								styleClass="crud-field-value" 
								rendered="#{hojaNegocioMBean.mode == 'ABONOVENVIEW' or hojaNegocioMBean.mode == 'ABONOCOMVIEW' or hojaNegocioMBean.mode == 'ABONOCIAVIEW'}"
								value="#{hojaNegocioMBean.pagoxHojaNegocio.valor}">
								<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0" />
							</p:outputLabel>
								
							<p:inputText
								value="#{hojaNegocioMBean.pagoxHojaNegocio.valor}"
								required="true"
								styleClass="crud-field-value"
								rendered="#{hojaNegocioMBean.mode == 'ABONOVENNEW' or hojaNegocioMBean.mode == 'ABONOCOMNEW' or hojaNegocioMBean.mode == 'ABONOCIANEW'}"
								converterMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_validateNumber','hojaNegocio_PagoDialog_Valor')}"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','hojaNegocio_PagoDialog_Valor')}"
								validatorMessage="#{msg.hojaNegocio_PagoDialog_ValidateMaximo}">
								<f:convertNumber type="number" />
								<f:validateLongRange minimum="1"/>
							</p:inputText>
							
						</div>
					</div>
					
					<p:outputPanel id="panelCuentaSalida" styleClass="crud-panelgrid">
						<div class="ui-grid-row">
							<div class="ui-grid-col-4">
								<p:outputLabel styleClass="crud-field-label" 
									rendered="#{hojaNegocioMBean.pagoxHojaNegocio.pagadoPor == 'CI'}"
									value="#{msg.hojaNegocio_PagoDialog_CuentaSalida}: (*)"/>
							</div>
							<div class="ui-grid-col-8">
								<p:outputLabel 
									styleClass="crud-field-value" 
									rendered="#{hojaNegocioMBean.pagoxHojaNegocio.pagadoPor == 'CI' and (hojaNegocioMBean.mode == 'ABONOVENVIEW' or hojaNegocioMBean.mode == 'ABONOCOMVIEW' or hojaNegocioMBean.mode == 'ABONOCIAVIEW')}"
									value="#{hojaNegocioMBean.pagoxHojaNegocio.cuentaSalida.nombre}"/>
									
								<p:selectOneMenu
									styleClass="crud-field-value"
									value="#{hojaNegocioMBean.pagoxHojaNegocio.cuentaSalida.id}"
									required="true"
									rendered="#{hojaNegocioMBean.pagoxHojaNegocio.pagadoPor == 'CI' and (hojaNegocioMBean.mode == 'ABONOVENNEW' or hojaNegocioMBean.mode == 'ABONOCOMNEW' or hojaNegocioMBean.mode == 'ABONOCIANEW')}"
									requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','hojaNegocio_PagoDialog_CuentaSalida')}">
									<f:selectItems value="#{hojaNegocioMBean.cuentasDropDownList}"
										var="cuenta"
										itemLabel="#{cuenta.nombre}"
										itemValue="#{cuenta.id}"/>
								</p:selectOneMenu>	
							</div>
						</div>
					</p:outputPanel>
					
					<p:outputPanel id="panelCuentaEntrada" styleClass="crud-panelgrid">
						<div class="ui-grid-row">
							<div class="ui-grid-col-4">
								<p:outputLabel 
									id="labelCuentaEntrada"
									styleClass="crud-field-label" 
									rendered="#{hojaNegocioMBean.pagoxHojaNegocio.pagadoA == 'CI'}"
									value="#{msg.hojaNegocio_PagoDialog_CuentaEntrada}: (*)"/>
							</div>
							<div class="ui-grid-col-8">
								
								<p:outputLabel 
									styleClass="crud-field-value" 
									rendered="#{hojaNegocioMBean.pagoxHojaNegocio.pagadoA == 'CI' and (hojaNegocioMBean.mode == 'ABONOVENVIEW' or hojaNegocioMBean.mode == 'ABONOCOMVIEW' or hojaNegocioMBean.mode == 'ABONOCIAVIEW')}"
									value="#{hojaNegocioMBean.pagoxHojaNegocio.cuentaEntrada.nombre}"/>
								
								<p:selectOneMenu
									id="selectorCuentaEntrada"
									styleClass="crud-field-value"
									value="#{hojaNegocioMBean.pagoxHojaNegocio.cuentaEntrada.id}"
									rendered="#{hojaNegocioMBean.pagoxHojaNegocio.pagadoA == 'CI' and (hojaNegocioMBean.mode == 'ABONOVENNEW' or hojaNegocioMBean.mode == 'ABONOCOMNEW' or hojaNegocioMBean.mode == 'ABONOCIANEW')}"
									required="true"
									requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','hojaNegocio_PagoDialog_CuentaEntrada')}">
									<f:selectItems value="#{hojaNegocioMBean.cuentasDropDownList}"
										var="cuenta"
										itemLabel="#{cuenta.nombre}"
										itemValue="#{cuenta.id}"/>
								</p:selectOneMenu>
							</div>
						</div>
					</p:outputPanel>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.hojaNegocio_PagoDialog_FormaPago}: (*)"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel 
								styleClass="crud-field-value" 
								rendered="#{hojaNegocioMBean.mode == 'ABONOVENVIEW' or hojaNegocioMBean.mode == 'ABONOCOMVIEW' or hojaNegocioMBean.mode == 'ABONOCIAVIEW'}"
								value="#{hojaNegocioMBean.pagoxHojaNegocio.formaPago.nombre}"/>
								
							<p:selectOneMenu
									id="selectorFormaPago"
									styleClass="crud-field-value"
									rendered="#{hojaNegocioMBean.mode == 'ABONOVENNEW' or hojaNegocioMBean.mode == 'ABONOCOMNEW' or hojaNegocioMBean.mode == 'ABONOCIANEW'}"
									value="#{hojaNegocioMBean.pagoxHojaNegocio.formaPago.id}"
									required="true"
									requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','hojaNegocio_PagoDialog_FormaPago')}">
									<f:selectItems value="#{hojaNegocioMBean.formasPagoDropDownList}"
										var="formaPago"
										itemLabel="#{formaPago.nombre}"
										itemValue="#{formaPago.id}"/>
								</p:selectOneMenu>
						</div>
					</div>
					
				</div>
				
			</p:fieldset>
			
			<ui:include src="/generics/generics.xhtml"/>
			
		</h:form>
		
	</ui:define>
</ui:composition>
