<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/generics/template.xhtml">
	
	<ui:define name="content">
		
		<h:form id="frm">
		
			<p:accordionPanel styleClass="crud_accordion">
        		<p:tab title="#{msg.marca_dialogTitle}">

					<p:toolbar id="ribbons" styleClass="ribbons">
						<f:facet name="left">
							<p:outputLabel value="#{msg.marca_dialogTitle}"/>
						</f:facet>
						<f:facet name="right">
							<p:commandButton 
								styleClass="dialogHidden crud-button-back fa fa-arrow-left"
								ajax="false" 
								immediate="true" 
								value="#{msg.generics_Regresar}" 
								onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
								action="/configuracion/marca/marcaList.faces"/>
								
							<p:commandButton 
										update=":frm :frm:growl"
										rendered="#{(marcaMBean.mode == utilityConstantes.modecreate and marcaMBean.hasPermissionTo(utilityConstantes.actioncreate)) or (marcaMBean.mode == utilityConstantes.modeedit and marcaMBean.hasPermissionTo(utilityConstantes.actionupdate))}"
										ajax="#{!utilityMethods.isMobile()}"
										value="#{msg.generics_guardar}" 
										action="#{marcaMBean.saveEntity()}"
										styleClass="crud-button-save fa fa-floppy-o"
										onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
										
							<p:commandButton 
									rendered="#{marcaMBean.mode == utilityConstantes.modeview and marcaMBean.hasPermissionTo(utilityConstantes.actionupdate)}"
									ajax="false"
									value="#{msg.generics_editar}" 
									action="#{marcaMBean.editEntity(marcaMBean.entity.id, false)}"
									styleClass="crud-button-edit fa fa-edit"
									onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
									
							<p:commandButton 
									rendered="#{marcaMBean.mode == utilityConstantes.modeview and marcaMBean.hasPermissionTo(utilityConstantes.actiondelete)}"
									ajax="true" 
									value="#{msg.generics_eliminar}" 
									action="#{marcaMBean.deleteEntity(marcaMBean.entity.id, false)}"
									styleClass="crud-button-delete fa fa-trash-o"
									onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
									<p:confirm header="#{msg.generics_Confirm}" 
									 		message="#{msg.generics_Confirm_msg_delete}"
									 		icon="ui-icon-alert"/>	
								</p:commandButton>
										
						</f:facet>
					</p:toolbar>
				
					<p:fieldset styleClass="crudFieldset">
						
						<div class="crud-requiredMsg">#{msg.generics_requiredText}</div>
						
						<p:separator/>
						
						<div class="ui-grid ui-grid-responsive">
							
							<div class="ui-grid-row">
								<div class="ui-grid-col-4">
									<p:outputLabel styleClass="crud-field-label" value="#{msg.marca_dialog_Nombre}: (*)"/>
								</div>
								<div class="ui-grid-col-8">
									<p:outputLabel
										value="#{marcaMBean.entity.nombre}"
										styleClass="crud-field-value"
										rendered="#{marcaMBean.mode == utilityConstantes.modeview}" />
									
									<p:inputText
										value="#{marcaMBean.entity.nombre}"
										rendered="#{marcaMBean.mode != utilityConstantes.modeview}"
										maxlength="100"
										required="true"
										styleClass="crud-field-value"
										requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','marca_dialog_Nombre')}"/>			
								</div>
							</div>
							
							<div class="ui-grid-row">
								<div class="ui-grid-col-4">
									<p:outputLabel styleClass="crud-field-label" value="#{msg.marca_dialog_Estado}: (*)"/>
								</div>
								<div class="ui-grid-col-8">
									<p:outputLabel
										value="#{marcaMBean.entity.esActivo == true ? msg.generics_Activo : msg.generics_Inactivo}"
										styleClass="crud-field-value"
										rendered="#{marcaMBean.mode == utilityConstantes.modeview}" />
									
									<p:selectOneRadio
										value="#{marcaMBean.entity.esActivo}"
										rendered="#{marcaMBean.mode != utilityConstantes.modeview}"
										required="true"
										styleClass="crud-field-value"
										requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','marca_dialog_Estado')}">
										<f:selectItem itemLabel="#{msg.generics_Activo}" itemValue="#{true}"/>
										<f:selectItem itemLabel="#{msg.generics_Inactivo}" itemValue="#{false}"/>
									</p:selectOneRadio>
								
								</div>
							</div>
							
							<div class="ui-grid-row">
								<div class="ui-grid-col-4">
									<p:outputLabel styleClass="crud-field-label" value="#{msg.marca_dialog_Descripcion}:"/>
								</div>
								<div class="ui-grid-col-8">
									<p:outputLabel
										value="#{marcaMBean.entity.descripcion}"
										styleClass="crud-field-value"
										rendered="#{marcaMBean.mode == utilityConstantes.modeview}" />
									
									<p:inputTextarea
										value="#{marcaMBean.entity.descripcion}"
										styleClass="crud-field-value"
										rendered="#{marcaMBean.mode != utilityConstantes.modeview}"/>			
								</div>
							</div>
							
						</div>
						
					</p:fieldset>
					
				</p:tab>
				
				<p:tab title="#{msg.marca_tipovehiculoxmarca_title}" rendered="#{marcaMBean.mode != utilityConstantes.modecreate}">
					
					<p:fieldset id="datosTiposVehiculo" styleClass="crudFieldsetNoRibbon">
					
						<div class="ui-grid ui-grid-responsive">
							
							<p:outputPanel rendered="#{marcaMBean.mode != utilityConstantes.modecreate}">
								<p:outputPanel rendered="#{marcaMBean.mode != utilityConstantes.modeview}">
									<div class="ui-grid-row">
										<div class="ui-grid-col-4">
											<p:outputLabel styleClass="crud-field-label" value="#{msg.marca_tipovehiculoxmarca_tipoVehiculo}: (*)"/>
										</div>
										<div class="ui-grid-col-8">
											<p:selectOneMenu
												styleClass="crud-field-select-value"
												value="#{marcaMBean.tipoVehiculoxMarca.tipoVehiculo.id}"
												rendered="#{marcaMBean.mode != utilityConstantes.modeview}">
												<f:selectItems value="#{marcaMBean.tiposVehiculoDropDownList}"
													var="tipov"
													itemLabel="#{tipov.nombre}"
													itemValue="#{tipov.id}"/>
											</p:selectOneMenu>			
										</div>
									</div>
									<div class="ui-grid-row">
										<div class="ui-grid-col-12" style="text-align: center;">
											<p:commandButton 
												update=":frm:growl datosTiposVehiculo"
												rendered="#{marcaMBean.mode != utilityConstantes.modeview}"
												ajax="true"
												process="@this,datosTiposVehiculo"
												value="#{msg.generics_guardar}" 
												action="#{marcaMBean.saveTipoVehiculo()}"
												styleClass="crud-button-save fa fa-floppy-o"
												onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
										</div>
									</div>
								</p:outputPanel>
									
								<div class="ui-grid-row">
									<div class="ui-grid-col-12">
										<p:dataTable
											id="dtaTiposVehiculo" 
											var="tipov" 
											value="#{marcaMBean.entity.tiposvehiculo}"
											emptyMessage="#{msg.generics_RegistrosNoEncontrados}"
											paginator="true"
											rows="3"
											paginatorTemplate="  {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
											currentPageReportTemplate="({currentPage} de {totalPages})"
											styleClass="list-datatable">
											
											<p:column headerText="#{msg.marca_tipovehiculoxmarca_tipoVehiculo}">
												<h:outputText value="#{tipov.tipoVehiculo.nombre}" />
											</p:column>
											<p:column rendered="#{marcaMBean.mode != utilityConstantes.modeview}">
												<p:commandButton 
													rendered="#{marcaMBean.mode != utilityConstantes.modeview}"
													ajax="true" 
													value="#{msg.generics_eliminar}" 
													action="#{marcaMBean.deleteTipoVehiculo(tipov)}"
													styleClass="crud-button-delete fa fa-trash-o"
													immediate="true"
													update=":frm :frm:growl"
													onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
													<p:confirm header="#{msg.generics_Confirm}" 
													 		message="#{msg.generics_Confirm_msg_delete}"
													 		icon="ui-icon-alert"/>	
												</p:commandButton>
											</p:column>
											
										</p:dataTable>
									</div>
								</div>
									
							</p:outputPanel>
						</div>
						
					</p:fieldset>
					
				</p:tab>
				
			</p:accordionPanel>
			
			<ui:include src="/generics/generics.xhtml"/>
			
		</h:form>
		
	</ui:define>
</ui:composition>