<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/generics/template.xhtml">
	
	<ui:define name="content">
		
		<h:form id="frm">
		
			<p:toolbar id="ribbons" styleClass="ribbons">
				<f:facet name="left">
					<p:outputLabel value="#{msg.auditoria_title}"/>
				</f:facet>
				<f:facet name="right">
					<p:commandButton 
						styleClass="dialogHidden crud-button-back fa fa-arrow-left"
						ajax="false" 
						immediate="true" 
						value="#{msg.generics_Regresar}" 
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
						action="/seguridad/auditoria/auditoriaList.faces"/>
				</f:facet>
			</p:toolbar>
			
			<p:fieldset styleClass="crudFieldset">
				
				<div class="ui-grid ui-grid-responsive">
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel value="#{msg.auditoria_lbl_id}:"
								styleClass="crud-field-label"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								styleClass="crud-field-value"
								value="#{auditoriaMBean.entity.id}"
								 />
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel value="#{msg.auditoria_lbl_compania}:"
							styleClass="crud-field-label"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								styleClass="crud-field-value"
								value="#{auditoriaMBean.entity.compania}"
								 />
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel value="#{msg.auditoria_lbl_usuario}:"
								styleClass="crud-field-label"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								styleClass="crud-field-value"
								value="#{auditoriaMBean.entity.usuario}"
								 />
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel value="#{msg.auditoria_lbl_formulario}:"
							styleClass="crud-field-label"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								styleClass="crud-field-value"
								value="#{auditoriaMBean.entity.formulario}"
								 />
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel value="#{msg.auditoria_lbl_registro}:"
							styleClass="crud-field-label"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								styleClass="crud-field-value"
								value="#{auditoriaMBean.entity.registro}"
								 />
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel value="#{msg.auditoria_lbl_accion}:"
							styleClass="crud-field-label"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								styleClass="crud-field-value"
								value="#{auditoriaMBean.entity.accion}"
								 />
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel value="#{msg.auditoria_lbl_fecha}:"
							styleClass="crud-field-label"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								styleClass="crud-field-value"
								value="#{auditoriaMBean.entity.fecha}"
								 >
								<f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
							</p:outputLabel>
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel value="#{msg.auditoria_lbl_observacion}:"
							styleClass="crud-field-label"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								styleClass="crud-field-value"
								value="#{auditoriaMBean.entity.observaciones}"
								 />
						</div>
					</div>
					
					
					
				</div>
				
			</p:fieldset>
			
			<ui:include src="/generics/generics.xhtml"/>
			
		</h:form>
		
	</ui:define>
</ui:composition>