<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/generics/template.xhtml">
	
	<ui:define name="content">
			
		<h:form id="frm">
		
			<div class="ui-grid ui-grid-responsive">
				<div class="ui-grid-row">
					<div class="ui-grid-col-12 list_title">
						<p:outputLabel value="#{msg.auditoria_title}"/>
					</div>
				</div>
			</div>
			
			<div>
				<br/>
			</div>

			<div style="margin-left: 10%; margin-right: 10%">

				<div class="ui-grid ui-grid-responsive">
					<div class="ui-grid-row">
						<div class="ui-grid-col-2">
							<p:outputLabel 
								styleClass="crud-field-label"
								value="#{msg.auditoria_lbl_usuario}" />
						</div>
						<div class="ui-grid-col-4">
							<p:inputText
								value="#{auditoriaMBean.entity.usuario}" 
								styleClass="crud-field-value"
								maxlength="30" />
						</div>
						<div class="ui-grid-col-2">
							<p:outputLabel
								styleClass="crud-field-label" 
								value="#{msg.auditoria_lbl_formulario}" />
						</div>
						<div class="ui-grid-col-4">
							<p:inputText
								value="#{auditoriaMBean.entity.formulario}"
								styleClass="crud-field-value"
								maxlength="30" />
						</div>
					</div>
					<div class="ui-grid-row">
						<div class="ui-grid-col-2">
							<p:outputLabel
								styleClass="crud-field-label" 
								value="#{msg.auditoria_lbl_registro}" />
						</div>
						<div class="ui-grid-col-4">
							<p:inputText
								value="#{auditoriaMBean.entity.registro}" 
								styleClass="crud-field-value"
								maxlength="100" />
						</div>
						<div class="ui-grid-col-2">
							<p:outputLabel 
								styleClass="crud-field-label"
								value="#{msg.auditoria_lbl_accion}" />
						</div>
						<div class="ui-grid-col-4">
							<p:inputText
								value="#{auditoriaMBean.entity.accion}" 
								styleClass="crud-field-value"
								maxlength="50" />
						</div>
					</div>
					<div class="ui-grid-row">
						<div class="ui-grid-col-2">
							<p:outputLabel
								styleClass="crud-field-label"
								value="#{msg.auditoria_lbl_fechaIni}" />
						</div>
						<div class="ui-grid-col-4">
							<p:calendar 
								id="fechaIni"
								showOn="button"
								styleClass="crud-field-value"
								value="#{auditoriaMBean.fechaIni}" 
								pattern="dd/MM/yyyy"
								placeholder="dd/MM/yyyy"
								navigator="true"
								yearRange="2015:c+10"
								maxdate="#{auditoriaMBean.fechaFin}"
								converterMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_vaidateDate','auditoria_lbl_fechaIni')}" >
								<p:ajax event="dateSelect" update="fechaFin" />
								<p:ajax event="keyup" update="fechaFin" />
							</p:calendar>
						</div>
						<div class="ui-grid-col-2">
							<p:outputLabel
								styleClass="crud-field-label" 
								value="#{msg.auditoria_lbl_fechaFin}" />
						</div>
						<div class="ui-grid-col-4">
							<p:calendar 
								id="fechaFin"
								showOn="button"
								styleClass="crud-field-value"
								value="#{auditoriaMBean.fechaFin}" 
								pattern="dd/MM/yyyy"
								placeholder="dd/MM/yyyy"
								navigator="true"
								yearRange="2015:c+10"
								mindate="#{auditoriaMBean.fechaIni}"
								maxdate="calwidget.today()" widgetVar="calwidget"
								converterMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_vaidateDate','auditoria_lbl_fechaFin')}" >
								<p:ajax event="dateSelect" update="fechaIni" />
								<p:ajax event="keyup" update="fechaIni" />
							</p:calendar>
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-12">
							<div style="width: 70%; margin: auto;text-align: center;">
								<p:commandButton 
									styleClass="list-button-read fa fa-search"
									action="#{auditoriaMBean.filtrar()}"
									update=":frm:growl :frm:dta" 
									rendered="#{auditoriaMBean.hasPermissionTo(utilityConstantes.actionread)}"
									title="#{msg.generics_Filtrar}" />
							</div>

						</div>
					</div>
				</div>
			</div>


			<div class="ui-grid ui-grid-responsive">
				<div >
					<br/>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-12">
					
						<!-- Sección del datatable -->
						<p:dataTable
							id="dta" 
							widgetVar="dtaWV"
							var="entity" 
							value="#{auditoriaMBean.lista}"
							emptyMessage="#{msg.generics_RegistrosNoEncontrados}"
							filteredValue="#{auditoriaMBean.entityFilterList}"
		            		rowsPerPageTemplate="5,10,20,50,100"
		            		currentPageReportTemplate="({currentPage} de {totalPages})"
		                	paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink}  {PageLinks} {NextPageLink} {LastPageLink} {CurrentPageReport}"
							paginator="true"
							rows="10"
							sortMode="multiple"
							styleClass="list-datatable">
						
							<f:facet name="header">
							 	<h:outputFormat value="#{msg.generics_list_total}" 
							 		rendered="#{auditoriaMBean.entityList.rowCount != null}">
							 		 <f:param value="#{auditoriaMBean.entityList.rowCount}" />
							 	</h:outputFormat>
							</f:facet>
							
							<f:facet name="footer">
							 	<h:outputFormat value="#{msg.generics_list_total}" 
							 		rendered="#{auditoriaMBean.lista != null}">
							 		 <f:param value="#{auditoriaMBean.lista.size()}" />
							 	</h:outputFormat>
							</f:facet>
							
							 <p:column 
					        	headerText="#{msg.auditoria_lbl_compania}"
					        	rendered="#{!utilityMethods.isMobile()}"
					       		sortBy="#{entity.compania}"
					       		filterBy="#{entity.compania}"
					       		filterMatchMode="contains"
					       		>  
					            <h:outputText value="#{entity.compania}" />  
					        </p:column>
							
						 	<p:column 
					        	headerText="#{msg.auditoria_lbl_usuario}"
					        	rendered="#{!utilityMethods.isMobile()}"
					       		sortBy="#{entity.usuario}"
					       		filterBy="#{entity.usuario}"
					       		filterMatchMode="contains"
					       		>  
					            <h:outputText value="#{entity.usuario}" />  
					        </p:column>
					        
					        <p:column 
					        	headerText="#{msg.auditoria_lbl_formulario}"
					       		sortBy="#{entity.formulario}"
					       		filterBy="#{entity.formulario}"
					       		filterMatchMode="contains"
					       		>  
					            <h:outputText value="#{entity.formulario}" />  
					        </p:column>
					        
					        <p:column 
					        	headerText="#{msg.auditoria_lbl_registro}"
					       		sortBy="#{entity.registro}"
					       		filterBy="#{entity.registro}"
					       		filterMatchMode="contains"
					       		>  
					            <h:outputText value="#{entity.registro}" />  
					        </p:column>
					        
				          	<p:column 
					        	headerText="#{msg.auditoria_lbl_accion}"
					       		sortBy="#{entity.accion}"
					       		filterBy="#{entity.accion}"
					       		filterMatchMode="contains"
					       		>  
					            <h:outputText value="#{entity.accion}" />  
					        </p:column>
					        
					        <p:column 
					        	headerText="#{msg.auditoria_lbl_fecha}"
					        	rendered="#{!utilityMethods.isMobile()}"
					       		sortBy="#{entity.fecha}"
					       		>  
					            <h:outputText value="#{entity.fecha}">
								    <f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
								</h:outputText>  
					        </p:column>
					        
							<p:column
								headerText="#{msg.generics_tabla_acciones}">
								
					             <p:commandButton
					             	styleClass="list-button-read fa fa-search"
					             	includeViewParams="true"
					             	title="#{msg.generics_consultar}"
					             	actionListener="#{auditoriaMBean.selectEntity(entity.id)}"
					             	onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
									ajax="#{!utilityMethods.isMobile()}">
								</p:commandButton>
									
							</p:column>
							
		                </p:dataTable>
					</div>
				</div>
				
			</div>
			
			<ui:include src="/generics/generics.xhtml"/>
			
		</h:form>
	</ui:define>
</ui:composition>
	
