<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/generics/template.xhtml">
	
	<ui:define name="content">
		
		<h:form id="frm">

			<p:toolbar id="ribbons" styleClass="ribbons">
				<f:facet name="left">
					<p:outputLabel value="#{msg.generarPlantilla_dialogTitle}"/>
				</f:facet>
				<f:facet name="right">
						
								
				</f:facet>
			</p:toolbar>
			
			<p:fieldset styleClass="crudFieldset">
				
				<div class="crud-requiredMsg">#{msg.generics_requiredText}</div>
				
				<p:separator/>
				
				<div class="ui-grid ui-grid-responsive">
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.generarPlantilla_plantilla}: (*)"/>
						</div>
						<div class="ui-grid-col-8">
							<p:selectOneMenu
								id="selector"
								styleClass="crud-field-value"
								value="#{documentos.plantillaSeleccionada.id}"
								rendered="true"
								required="true"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','generarPlantilla_plantilla')}">
								<p:ajax process="@this" update="descripcionPlantilla"/>
								<f:selectItem itemLabel="" itemValue="" noSelectionOption="true"/>
								<f:selectItems value="#{documentos.plantillasDropDown}"
									var="plantilla"
									itemLabel="#{plantilla.nombre}"
									itemValue="#{plantilla.id}"/>
							</p:selectOneMenu>	
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.generarPlantilla_descripcion}:"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel id="descripcionPlantilla" styleClass="crud-field-value" value="#{documentos.descripcionPlantilla}"/>
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.generarPlantilla_hnGenerarPara}:" 
								rendered="#{documentos.paramProceso=='H'}"/>
						</div>
						<div class="ui-grid-col-8">
							<p:selectOneMenu
								id="selectorGenerarPara"
								styleClass="crud-field-value"
								value="#{documentos.hnEsComprador}"
								required="true"
								rendered="#{documentos.paramProceso=='H'}"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','generarPlantilla_hnGenerarPara')}">
								<f:selectItem itemLabel="#{msg.generarPlantilla_hnGenerarParaComprador}" itemValue="true"/>
								<f:selectItem itemLabel="#{msg.generarPlantilla_hnGenerarParaVendedor}" itemValue="false"/>
							</p:selectOneMenu>	
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-12" style="text-align: center;">
							<!-- Boton Generar -->
							<br/>
							<p:commandButton
								style="font-size:12px;"
								immediate="false"
								value="#{msg.generarPlantilla_btnGenerar}"
								action="#{documentos.generarPlantilla}"
								ajax="false"/>
						</div>
					</div>
					
				</div>
				
			</p:fieldset>
			
			<ui:include src="/generics/generics.xhtml"/>
			
		</h:form>
		
	</ui:define>
</ui:composition>