<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/generics/template.xhtml">
	
	<ui:define name="content">
		
		<h:form id="frm">

			<p:toolbar id="ribbons" styleClass="ribbons">
				<f:facet name="left">
					<p:outputLabel value="#{msg.accesoriosxcompraventa_Entidad}"/>
				</f:facet>
				<f:facet name="right">
						
					<p:commandButton 
								update=":frm :frm:growl"
								ajax="#{!utilityMethods.isMobile()}"
								value="#{msg.generics_guardar}" 
								action="#{compraVentaAccesoriosMBean.saveAccesorio()}"
								rendered="#{compraVentaAccesoriosMBean.mode == 'ACCESORIONEW'}"
								styleClass="crud-button-save fa fa-floppy-o"
								onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
								
					<p:commandButton 
								update=":frm :frm:growl"
								ajax="#{!utilityMethods.isMobile()}"
								value="#{msg.generics_eliminar}" 
								action="#{compraVentaAccesoriosMBean.deleteAccesorio(compraVentaAccesoriosMBean.accesorioxCompraVenta)}"
								rendered="#{compraVentaAccesoriosMBean.mode == 'ACCESORIOVIEW'}"
								styleClass="crud-button-delete fa fa-trash-o"
								onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
								
				</f:facet>
			</p:toolbar>
			
			<p:fieldset styleClass="crudFieldset">
				
				<div class="crud-requiredMsg">#{msg.generics_requiredText}</div>
				
				<p:separator/>
				
				<div class="ui-grid ui-grid-responsive">
				
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.accesoriosxcompraventa_dialog_Accesorio}: (*)"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel 
								styleClass="crud-field-value" 
								rendered="#{compraVentaAccesoriosMBean.mode == 'ACCESORIOVIEW'}"
								value="#{compraVentaAccesoriosMBean.accesorioxCompraVenta.accesorio.nombre}"/>
								
							<p:selectOneMenu
								styleClass="crud-field-select-value"
								value="#{compraVentaAccesoriosMBean.accesorioxCompraVenta.accesorio.id}"
								rendered="#{compraVentaAccesoriosMBean.mode == 'ACCESORIONEW'}"
								required="true"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','accesoriosxcompraventa_dialog_Accesorio')}">
								<f:selectItems value="#{compraVentaAccesoriosMBean.accesoriosDropDownList}"
									var="accesorio"
									itemLabel="#{accesorio.nombre}"
									itemValue="#{accesorio.id}"/>
							</p:selectOneMenu>
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.accesoriosxcompraventa_dialog_Cantidad}: (*)"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel 
								styleClass="crud-field-value" 
								rendered="#{compraVentaAccesoriosMBean.mode == 'ACCESORIOVIEW'}"
								value="#{compraVentaAccesoriosMBean.accesorioxCompraVenta.cantidad}">
								<f:convertNumber type="number" maxFractionDigits="0" />
							</p:outputLabel>
								
							<p:inputText
								value="#{compraVentaAccesoriosMBean.accesorioxCompraVenta.cantidad}"
								required="true"
								rendered="#{compraVentaAccesoriosMBean.mode == 'ACCESORIONEW'}"
								styleClass="crud-field-value"
								converterMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_validateNumber','accesoriosxcompraventa_dialog_Cantidad')}"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','accesoriosxcompraventa_dialog_Cantidad')}">
								<f:convertNumber type="number"/>
								<p:ajax event="blur" update="totalCalculado"/>
							</p:inputText>
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.accesoriosxcompraventa_dialog_Precio} unitario: (*)"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel 
								styleClass="crud-field-value" 
								rendered="#{compraVentaAccesoriosMBean.mode == 'ACCESORIOVIEW'}"
								value="#{compraVentaAccesoriosMBean.accesorioxCompraVenta.precio}">
								<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0" />
							</p:outputLabel>
								
							<p:inputText
								value="#{compraVentaAccesoriosMBean.accesorioxCompraVenta.precio}"
								required="true"
								rendered="#{compraVentaAccesoriosMBean.mode == 'ACCESORIONEW'}"
								styleClass="crud-field-value"
								converterMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_validateNumber','accesoriosxcompraventa_dialog_Precio')}"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','accesoriosxcompraventa_dialog_Precio')}">
								<f:convertNumber type="number"/>
								<p:ajax event="blur" update="totalCalculado"/>
							</p:inputText>
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="Total:"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel 
								id="totalCalculado"
								styleClass="crud-field-value" 
								rendered="true"
								value="#{compraVentaAccesoriosMBean.accesorioxCompraVenta.precio*compraVentaAccesoriosMBean.accesorioxCompraVenta.cantidad}">
								<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0" />
							</p:outputLabel>
						</div>
					</div>
					
				</div>
				
			</p:fieldset>
			
			<ui:include src="/generics/generics.xhtml"/>
			
		</h:form>
		
	</ui:define>
</ui:composition>