<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/generics/template.xhtml">
	
	<ui:define name="content">
			
		<h:form id="frm">
		
			<div class="ui-grid ui-grid-responsive">
				<div class="ui-grid-row">
					<div class="ui-grid-col-12 list_title">
						<p:outputLabel value="#{msg.compraVentaAccesorios_Title}"/>
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-12">
						
						<p:commandButton
							value="#{msg.button_addElement}"
							actionListener="#{compraVentaAccesoriosMBean.newEntity()}"
							rendered="#{compraVentaAccesoriosMBean.hasPermissionTo(utilityConstantes.actioncreate)}"
							styleClass="list-button-add-new fa fa-plus"
							process="frm"
							ajax="false"
							onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
							<p:ajax 
								event="dialogReturn" 
								listener="#{compraVentaAccesoriosMBean.dialogListener}"  
								update="dta :frm:growl"
								oncomplete="PF('dtaWV').filter()"/>
						</p:commandButton>
						
					</div>
				</div>
				
				<div class="ui-grid-row">
					<div class="ui-grid-col-12">
					
						<!-- Sección del datatable -->
						<p:dataTable
							id="dta" 
							widgetVar="dtaWV"
							var="entity" 
							value="#{compraVentaAccesoriosMBean.entityList}"
							emptyMessage="#{msg.generics_RegistrosNoEncontrados}"
							filteredValue="#{compraVentaAccesoriosMBean.entityFilterList}"
							paginator="true"
							rows="10"
							paginatorTemplate="  {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
							currentPageReportTemplate="({currentPage} de {totalPages})"
							sortMode="multiple"
							styleClass="list-datatable">
							
							<f:facet name="footer">
							 	<h:outputFormat value="#{msg.generics_list_total}" 
							 		rendered="#{compraVentaAccesoriosMBean.entityList != null}">
							 		 <f:param value="#{hojaNegocioMBean.entityList.size()}" />
							 	</h:outputFormat>
							</f:facet>
							
							<p:column
								headerText="#{msg.compraVentaAccesorios_dialog_Fecha}"
								sortBy="#{entity.fecha}">
								<h:outputText value="#{entity.fecha}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
							</p:column>
							
							<p:column
								headerText="#{msg.compraVentaAccesorios_dialog_esCompra}"
								sortBy="#{entity.esCompra}">
								<p:outputLabel
									value="#{msg.compraVentaAccesorios_dialog_esCompraC}"
									styleClass="crud-field-label"
									rendered="#{entity.esCompra}"/>
										
								<p:outputLabel
									value="#{msg.compraVentaAccesorios_dialog_esCompraV}"
									styleClass="crud-field-label"
									rendered="#{!entity.esCompra}"/>
							</p:column>
							
							<p:column
								headerText="#{msg.compraVentaAccesorios_dialog_NroFactura}"
								sortBy="#{entity.nroFactura}"
								filterBy="#{entity.nroFactura}"
								filterMatchMode="contains">
								<h:outputText value="#{entity.nroFactura}" />
							</p:column>
							
							<p:column
								headerText="#{msg.compraVentaAccesorios_dialog_Proveedor}"
								sortBy="#{entity.proveedor}"
								filterBy="#{entity.proveedor}"
								filterMatchMode="contains">
								<h:outputText value="#{entity.proveedor}" />
							</p:column>
							
							<p:column
								headerText="#{msg.compraVentaAccesorios_dialog_Valor}"
								sortBy="#{entity.valor}">
								<h:outputText value="#{entity.valor}">
									<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0"/>
								</h:outputText>
							</p:column>
							
							<p:column headerText="#{msg.generics_tabla_acciones}">
									
									<p:commandButton 
											rendered="#{compraVentaAccesoriosMBean.hasPermissionTo(utilityConstantes.actionread)}"
											styleClass="list-button-read fa fa-search"
											includeViewParams="true"
											actionListener="#{compraVentaAccesoriosMBean.selectEntity(entity.id)}"
											onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
											ajax="false">
										<p:ajax event="dialogReturn" listener="#{compraVentaAccesoriosMBean.dialogListener}" update="dta :frm:growl" oncomplete="PF('dtaWV').filter()"/>				
									</p:commandButton>
													
							</p:column>
							
		                </p:dataTable>
					</div>
				</div>
				
			</div>
			
			<ui:include src="/generics/generics.xhtml"/>
			
		</h:form>
	</ui:define>
</ui:composition>
	
