<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/generics/template.xhtml">
	
	<ui:define name="content">
		
		<h:form id="frm">

			<p:toolbar id="ribbons" styleClass="ribbons">
				<f:facet name="left">
					<p:outputLabel value="#{msg.compraVentaAccesorios_dialogTitle}"/> 
				</f:facet>
				<f:facet name="right">
					<p:commandButton 
						styleClass="dialogHidden crud-button-back fa fa-arrow-left"
						ajax="false" 
						immediate="true" 
						title="#{msg.generics_Regresar}" 
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
						action="/contabilidad/compraVentaAccesoriosList.faces"/>
						
					<p:commandButton 
						update=":frm :frm:growl"
						rendered="#{compraVentaAccesoriosMBean.mode != utilityConstantes.modeview and (compraVentaAccesoriosMBean.hasPermissionTo(utilityConstantes.actioncreate) or compraVentaAccesoriosMBean.hasPermissionTo(utilityConstantes.actionupdate))}"
						ajax="#{!utilityMethods.isMobile()}"
						title="#{msg.generics_guardar}" 
						action="#{compraVentaAccesoriosMBean.saveEntity()}"
						styleClass="crud-button-save fa fa-floppy-o"
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
						
					<p:commandButton 
						rendered="#{compraVentaAccesoriosMBean.mode == utilityConstantes.modeview and compraVentaAccesoriosMBean.hasPermissionTo(utilityConstantes.actionupdate)}"
						ajax="false"
						title="#{msg.generics_editar}" 
						action="#{compraVentaAccesoriosMBean.editEntity(compraVentaAccesoriosMBean.entity.id, false)}"
						styleClass="crud-button-edit fa fa-edit"
						immediate="true"
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
					
					<p:commandButton 
						rendered="#{compraVentaAccesoriosMBean.mode == utilityConstantes.modeview and compraVentaAccesoriosMBean.hasPermissionTo(utilityConstantes.actionimprimir)}"
						ajax="true"
						title="#{msg.generics_imprimir}" 
						action="#{compraVentaAccesoriosMBean.openGenerarPlantillaForm()}"
						styleClass="crud-button-edit fa fa-print"
						immediate="true"
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
						
					<p:commandButton 
						rendered="#{compraVentaAccesoriosMBean.mode == utilityConstantes.modeview and compraVentaAccesoriosMBean.hasPermissionTo(utilityConstantes.actiondelete)}"
						ajax="true" 
						title="#{msg.generics_eliminar}" 
						action="#{compraVentaAccesoriosMBean.deleteEntity(compraVentaAccesoriosMBean.entity.id, false)}"
						styleClass="crud-button-delete fa fa-trash-o"
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
						<p:confirm header="#{msg.generics_Confirm}" 
						 		message="#{msg.generics_Confirm_msg_delete}"
						 		icon="ui-icon-alert"/>	
					</p:commandButton>
								
				</f:facet>
			</p:toolbar>
			
			<p:fieldset styleClass="crudFieldset">
				
				<p:separator/>

				<div class="ui-grid ui-grid-responsive">
					
					<div class="ui-grid-row">
						
						<div class="ui-grid-col-6">
							<p:fieldset legend="#{msg.compraVentaAccesorios_Title}" 
											toggleable="true" toggleSpeed="500" collapsed="false"
											styleClass="crud_fieldset_title_no_height">
									
									<div style="width: 100%;">
										<p:panelGrid id="panelDatos" styleClass="crud-panelgrid" style="width: 100%;">
											
											<p:row>
												<p:column>
													<p:outputLabel 
														value="#{msg.compraVentaAccesorios_dialog_Fecha}: (*)"
														styleClass="crud-field-value" />
												</p:column>
												<p:column>
													<p:outputLabel 
														value="#{compraVentaAccesoriosMBean.entity.fecha}"
														styleClass="crud-field-label"
														rendered="#{compraVentaAccesoriosMBean.mode == utilityConstantes.modeview}">
														<f:convertDateTime pattern="dd/MM/yyyy" />
													</p:outputLabel>
															
													<p:calendar 
												 		value="#{compraVentaAccesoriosMBean.entity.fecha}"
												 		rendered="#{compraVentaAccesoriosMBean.mode != utilityConstantes.modeview}"
												 		required="true"
												 		showOn="button"
														styleClass="crud-field-value"
														pattern="dd/MM/yyyy"
														navigator="true"
														requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','compraVentaAccesorios_dialog_Fecha')}"/>
												</p:column>
											</p:row>
											<p:row>
												<p:column>
													<p:outputLabel 
														value="#{msg.compraVentaAccesorios_dialog_FchVencimiento}:"
														styleClass="crud-field-value" />
												</p:column>
												<p:column>
													<p:outputLabel 
														value="#{compraVentaAccesoriosMBean.entity.fchVencimiento}"
														styleClass="crud-field-label"
														rendered="#{compraVentaAccesoriosMBean.mode == utilityConstantes.modeview}">
														<f:convertDateTime pattern="dd/MM/yyyy" />
													</p:outputLabel>
															
													<p:calendar 
												 		value="#{compraVentaAccesoriosMBean.entity.fchVencimiento}"
												 		rendered="#{compraVentaAccesoriosMBean.mode != utilityConstantes.modeview}"
												 		required="false"
												 		showOn="button"
														styleClass="crud-field-value"
														pattern="dd/MM/yyyy"
														navigator="true"/>
												</p:column>
											</p:row>
											<p:row>
												<p:column>
													<p:outputLabel 
														value="#{msg.compraVentaAccesorios_dialog_esCompra}: (*)"
														styleClass="crud-field-value" />
												</p:column>
												<p:column>
													<p:selectOneRadio 
														value="#{compraVentaAccesoriosMBean.entity.esCompra}" 
														styleClass="crud-field-radio-value-one-col"
														rendered="#{compraVentaAccesoriosMBean.mode != utilityConstantes.modeview}"
														required="true"
														requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','compraVentaAccesorios_dialog_esCompra')}">
														<f:selectItem itemLabel="#{msg.compraVentaAccesorios_dialog_esCompraC}" itemValue="true" />
														<f:selectItem itemLabel="#{msg.compraVentaAccesorios_dialog_esCompraV}" itemValue="false" />
											        </p:selectOneRadio>
											        
											        <p:outputLabel
														value="#{msg.compraVentaAccesorios_dialog_esCompraC}"
														styleClass="crud-field-label"
														rendered="#{compraVentaAccesoriosMBean.mode == utilityConstantes.modeview and compraVentaAccesoriosMBean.entity.esCompra}"/>
															
													<p:outputLabel
														value="#{msg.compraVentaAccesorios_dialog_esCompraV}"
														styleClass="crud-field-label"
														rendered="#{compraVentaAccesoriosMBean.mode == utilityConstantes.modeview and !compraVentaAccesoriosMBean.entity.esCompra}"/>
												</p:column>
											</p:row>
											<p:row>
												<p:column>
													<p:outputLabel 
														value="#{msg.compraVentaAccesorios_dialog_NroFactura}: (*)"
														styleClass="crud-field-value" />
												</p:column>
												<p:column>
													<p:outputLabel 
														value="#{compraVentaAccesoriosMBean.entity.nroFactura}"
														rendered="#{compraVentaAccesoriosMBean.mode == utilityConstantes.modeview}"
														styleClass="crud-field-label" />
														
													<p:inputText
														value="#{compraVentaAccesoriosMBean.entity.nroFactura}"
														rendered="#{compraVentaAccesoriosMBean.mode != utilityConstantes.modeview}"
														maxlength="200"
														required="true"
														styleClass="crud-field-value"
														requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','compraVentaAccesorios_dialog_NroFactura')}"/>
												</p:column>
											</p:row>
											<p:row>
												<p:column>
													<p:outputLabel 
														value="#{msg.compraVentaAccesorios_dialog_Proveedor}: (*)"
														styleClass="crud-field-value" />
												</p:column>
												<p:column>
													<p:outputLabel 
														value="#{compraVentaAccesoriosMBean.entity.proveedor}"
														rendered="#{compraVentaAccesoriosMBean.mode == utilityConstantes.modeview}"
														styleClass="crud-field-label" />
														
													<p:inputText
														value="#{compraVentaAccesoriosMBean.entity.proveedor}"
														rendered="#{compraVentaAccesoriosMBean.mode != utilityConstantes.modeview}"
														maxlength="500"
														required="true"
														styleClass="crud-field-value"
														requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','compraVentaAccesorios_dialog_Proveedor')}"/>
												</p:column>
											</p:row>
											<p:row>
												<p:column>
													<p:outputLabel 
														value="#{msg.compraVentaAccesorios_dialog_NitProveedor}:"
														styleClass="crud-field-value" />
												</p:column>
												<p:column>
													<p:outputLabel 
														value="#{compraVentaAccesoriosMBean.entity.nitProveedor}"
														rendered="#{compraVentaAccesoriosMBean.mode == utilityConstantes.modeview}"
														styleClass="crud-field-label" />
														
													<p:inputText
														value="#{compraVentaAccesoriosMBean.entity.nitProveedor}"
														rendered="#{compraVentaAccesoriosMBean.mode != utilityConstantes.modeview}"
														required="false"
														styleClass="crud-field-value"/>
												</p:column>
											</p:row>
											<p:row>
												<p:column>
													<p:outputLabel 
														value="#{msg.compraVentaAccesorios_dialog_Observaciones}:"
														styleClass="crud-field-value" />
												</p:column>
												<p:column>
													<p:outputLabel
														value="#{compraVentaAccesoriosMBean.entity.observaciones}"
														styleClass="crud-field-value"
														rendered="#{compraVentaAccesoriosMBean.mode == utilityConstantes.modeview}" />
													
													<p:inputTextarea
														value="#{compraVentaAccesoriosMBean.entity.observaciones}"
														styleClass="crud-field-value"
														required="false"
														maxlength="500"
														rendered="#{compraVentaAccesoriosMBean.mode != utilityConstantes.modeview}"
														requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','compraVentaAccesorios_dialog_Observaciones')}"/>	
												</p:column>
											</p:row>
											<p:row>
												<p:column>
													<p:outputLabel 
														value="#{msg.compraVentaAccesorios_dialog_Valor}: (*)"
														styleClass="crud-field-value" />
												</p:column>
												<p:column>
													<p:outputLabel 
														value="#{compraVentaAccesoriosMBean.entity.valor}"
														rendered="true"
														styleClass="crud-field-label">
														<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0"/>
													</p:outputLabel>
													
												</p:column>
											</p:row>
											<p:row>
												<p:column>
													<p:outputLabel 
														value="#{msg.compraVentaAccesorios_dialog_Descuento}:"
														styleClass="crud-field-value" />
												</p:column>
												<p:column>
													<p:outputLabel 
														value="#{compraVentaAccesoriosMBean.entity.descuento}"
														rendered="#{compraVentaAccesoriosMBean.mode == utilityConstantes.modeview}"
														styleClass="crud-field-label">
														<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0"/>
													</p:outputLabel>
													
													<p:inputText
														value="#{compraVentaAccesoriosMBean.entity.descuento}"
														rendered="#{compraVentaAccesoriosMBean.mode != utilityConstantes.modeview}"
														required="false"
														styleClass="crud-field-value"
														converterMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_validateNumber','compraVentaAccesorios_dialog_Descuento')}">
														<f:convertNumber type="number"/>
														<p:ajax event="blur" update="totalCalculado"/>
													</p:inputText>
												</p:column>
											</p:row>
											<p:row>
												<p:column>
													<p:outputLabel 
														value="#{msg.compraVentaAccesorios_dialog_Iva}:"
														styleClass="crud-field-value" />
												</p:column>
												<p:column>
													<p:outputLabel 
														value="#{compraVentaAccesoriosMBean.entity.iva}"
														rendered="#{compraVentaAccesoriosMBean.mode == utilityConstantes.modeview}"
														styleClass="crud-field-label">
														<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0"/>
													</p:outputLabel>
													
													<p:inputText
														value="#{compraVentaAccesoriosMBean.entity.iva}"
														rendered="#{compraVentaAccesoriosMBean.mode != utilityConstantes.modeview}"
														required="false"
														styleClass="crud-field-value"
														converterMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_validateNumber','compraVentaAccesorios_dialog_Iva')}">
														<f:convertNumber type="number"/>
														<p:ajax event="blur" update="totalCalculado"/>
													</p:inputText>
												</p:column>
											</p:row>
											<p:row>
												<p:column>
													<p:outputLabel 
														value="#{msg.compraVentaAccesorios_dialog_Total}:"
														styleClass="crud-field-value" />
												</p:column>
												<p:column>
													<p:outputLabel 
														id="totalCalculado"
														value="#{compraVentaAccesoriosMBean.entity.total}"
														rendered="true"
														styleClass="crud-field-label">
														<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0"/>
													</p:outputLabel>
													
												</p:column>
											</p:row>
											<p:row>
												<p:column>
													<p:outputLabel 
														value="#{msg.compraVentaAccesorios_dialog_Cuenta}: (*)"
														styleClass="crud-field-value" />
												</p:column>
												<p:column>
													<p:outputLabel
														value="#{compraVentaAccesoriosMBean.entity.cuenta.nombre}"
														styleClass="crud-field-label"
														rendered="#{compraVentaAccesoriosMBean.mode == utilityConstantes.modeview}" />
														
													<p:selectOneMenu
														id="selectorCuentas"
														styleClass="crud-field-value"
														value="#{compraVentaAccesoriosMBean.entity.cuenta.id}"
														required="true"
														rendered="#{compraVentaAccesoriosMBean.mode != utilityConstantes.modeview}"
														requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','compraVentaAccesorios_dialog_Cuenta')}">
														<f:selectItem itemLabel="" itemValue=""/>
														<f:selectItems value="#{compraVentaAccesoriosMBean.cuentasDropDownList}"
															var="cuenta"
															itemLabel="#{cuenta.nombre}"
															itemValue="#{cuenta.id}"/>
													</p:selectOneMenu>	
												</p:column>
											</p:row>
											<p:row>
												<p:column>
													<p:outputLabel 
														value="#{msg.compraVentaAccesorios_dialog_EsPagado}: (*)"
														styleClass="crud-field-value" />
												</p:column>
												<p:column>
													<p:selectOneRadio 
														value="#{compraVentaAccesoriosMBean.entity.esPagado}" 
														styleClass="crud-field-radio-value-one-col"
														rendered="#{compraVentaAccesoriosMBean.mode != utilityConstantes.modeview}"
														required="true"
														requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','compraVentaAccesorios_dialog_esPagado')}">
														<p:ajax process="@this" update="panelInfoPlazo"/>
														<f:selectItem itemLabel="#{msg.compraVentaAccesorios_dialog_EsPagadoSi}" itemValue="true" />
														<f:selectItem itemLabel="#{msg.compraVentaAccesorios_dialog_EsPagadoNo}" itemValue="false" />
											        </p:selectOneRadio>
											        
											        <p:outputLabel
														value="#{msg.compraVentaAccesorios_dialog_EsPagadoSi}"
														styleClass="crud-field-label"
														rendered="#{compraVentaAccesoriosMBean.mode == utilityConstantes.modeview and compraVentaAccesoriosMBean.entity.esPagado}"/>
															
													<p:outputLabel
														value="#{msg.compraVentaAccesorios_dialog_EsPagadoNo}"
														styleClass="crud-field-label"
														rendered="#{compraVentaAccesoriosMBean.mode == utilityConstantes.modeview and !compraVentaAccesoriosMBean.entity.esPagado}"/>
												</p:column>
											</p:row>
											<p:panelGrid styleClass="crud-panelgrid" style="width: 100%;" id="panelInfoPlazo">
												<p:row rendered="#{!compraVentaAccesoriosMBean.entity.esPagado}">
													<p:column>
														<p:outputLabel 
															value="#{msg.compraVentaAccesorios_dialog_Plazo}:"
															styleClass="crud-field-label" style="margin-right:75px"/>
													</p:column>
													<p:column>
														<p:inputText
															styleClass="crud-field-value"
															type="number"
															value="#{compraVentaAccesoriosMBean.entity.plazo}"
															rendered="#{compraVentaAccesoriosMBean.mode != utilityConstantes.modeview}"
															required="false"
															converterMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_vaidateNumber','compraVentaAccesorios_dialog_Plazo')}"/>	
														<p:outputLabel
															value="#{compraVentaAccesoriosMBean.entity.plazo}"
															styleClass="crud-field-label"
															style="margin-left:-275px"
															rendered="#{compraVentaAccesoriosMBean.mode == utilityConstantes.modeview}"/>
													</p:column>
												</p:row>
												<p:row>
												<p:column>
													<p:outputLabel 
														value="#{msg.compraVentaAccesorios_dialog_Usuario}: (*)"
														styleClass="crud-field-value" />
												</p:column>
												<p:column>
													<p:outputLabel
														value="#{compraVentaAccesoriosMBean.entity.usuario.nombre}"
														styleClass="crud-field-label"
														rendered="#{compraVentaAccesoriosMBean.mode == utilityConstantes.modeview}" />
														
													<p:selectOneMenu
														id="selectorUsuarios"
														styleClass="crud-field-value"
														value="#{compraVentaAccesoriosMBean.entity.usuario.id}"
														rendered="#{compraVentaAccesoriosMBean.mode != utilityConstantes.modeview}">
														<f:selectItems value="#{compraVentaAccesoriosMBean.usuariosDropDownList}"
															var="usuario"
															itemLabel="#{usuario.nombre}"
															itemValue="#{usuario.id}"/>
													</p:selectOneMenu>
												</p:column>
											</p:row>
											</p:panelGrid>
										</p:panelGrid>
									</div>			
											
							</p:fieldset>
						</div>
						
						<div class="ui-grid-col-6">
							<p:fieldset legend="#{msg.accesoriosxcompraventa_Title}" 
											id="idFieldSetAccesorios"
											toggleable="true" toggleSpeed="500" collapsed="false"
											styleClass="crud_fieldset_title_no_height"
											rendered="#{compraVentaAccesoriosMBean.mode != utilityConstantes.modecreate}">
									
									<div style="width: 100%;">
										<p:panelGrid styleClass="crud-panelgrid" style="width: 100%;">
											
											<p:row>
												<p:column>
													<p:dataTable
														id="dtaAccesorios" 
														var="accesorioxcva" 
														value="#{compraVentaAccesoriosMBean.entity.accesoriosXCVAList()}"
														emptyMessage="#{msg.generics_RegistrosNoEncontrados}"
														paginator="true"
														rows="5"
														editable="true" editMode="cell"
														paginatorTemplate="  {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
														currentPageReportTemplate="({currentPage} de {totalPages})"
														styleClass="list-datatable">
														
														<f:facet name="header">
															<h:outputText value="#{msg.accesoriosxcompraventa_Entidad}" />
															<p:commandButton
																value="#{msg.button_addElement}"
																actionListener="#{compraVentaAccesoriosMBean.openAccesorioForm('ADDACCESORIO', 0)}"
																styleClass="list-button-add-new-min fa fa-plus"
																ajax="#{!utilityMethods.isMobile()}"
																immediate="true"
																onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
																rendered="#{compraVentaAccesoriosMBean.mode != utilityConstantes.modeview}">
																<p:ajax 
																	event="dialogReturn" 
																	listener="#{compraVentaAccesoriosMBean.accesorioDialogListener()}"  
																	update=":frm :frm:idFieldSetAccesorios :frm:growl"/>
															</p:commandButton>
														</f:facet>
														
														<p:ajax event="cellEdit" listener="#{compraVentaAccesoriosMBean.onAccesorioEdit(accesorioxcva)}" update=":frm:panelDatos :frm:growl" />
														
														<p:column headerText="#{msg.accesoriosxcompraventa_dialog_Accesorio}">
															<p:commandLink
																value="#{accesorioxcva.accesorio.nombre}"
																actionListener="#{compraVentaAccesoriosMBean.openAccesorioForm('ADDACCESORIO', accesorioxcva.id)}"
																ajax="#{!utilityMethods.isMobile()}"
																onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
																<p:ajax 
																	event="dialogReturn" 
																	listener="#{compraVentaAccesoriosMBean.accesorioDialogListener()}"  
																	update=":frm :frm:idFieldSetAccesorios :frm:growl"/>
															</p:commandLink>
														</p:column>
														
														<p:column headerText="#{msg.accesoriosxcompraventa_dialog_Cantidad}">
															<p:cellEditor>
																<f:facet name="output">
																	<h:outputText value="#{accesorioxcva.cantidad}" >
																		<f:convertNumber type="number" maxFractionDigits="0"/>
																	</h:outputText>
																</f:facet>
																<f:facet name="input">
																	<p:inputText
																			value="#{accesorioxcva.cantidad}"
																			styleClass="crud-field-value-one-col"/>
																</f:facet>
															</p:cellEditor>
														</p:column>
														
														<p:column headerText="#{msg.accesoriosxcompraventa_dialog_Precio}">
															<p:cellEditor>
																<f:facet name="output">
																	<h:outputText value="#{accesorioxcva.precio}">
																		<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0"/>
																	</h:outputText>
																</f:facet>
																<f:facet name="input">
																	<p:inputText
																			value="#{accesorioxcva.precio}"
																			styleClass="crud-field-value-one-col"
																			converterMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_validateNumber','accesoriosxcompraventa_dialog_Precio')}">
																			<f:convertNumber type="number"/>
																	</p:inputText>
																</f:facet>
															</p:cellEditor>
														</p:column>
														
													</p:dataTable>
												</p:column>
											</p:row>
													
										</p:panelGrid>
									</div>			
											
							</p:fieldset>
						</div>						
						
					</div>
					
				</div>
				
			</p:fieldset>
			
			<ui:include src="/generics/generics.xhtml"/>
			
		</h:form>
		
	</ui:define>
</ui:composition>
