<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/generics/template.xhtml">
	
	<ui:define name="content">
			
		<h:form id="frm">
		
			<div class="ui-grid ui-grid-responsive">
				<div class="ui-grid-row">
					<div class="ui-grid-col-12 list_title">
						<p:outputLabel value="#{msg.movimientoContable_Title}"/>
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-4"></div>
					<div class="ui-grid-col-4"></div>
					<div class="ui-grid-col-4">
					
						<!-- Sección del datatable -->
						<p:dataTable
							id="dtaCuentas" 
							widgetVar="dtaWV"
							var="entity" 
							value="#{movimientoContableMBean.cuentasSaldosDropDownList}"
							emptyMessage="#{msg.generics_RegistrosNoEncontrados}"
							rows="10"
							styleClass="list-datatable">
							
							<p:column
								headerText="#{msg.cuenta_dialog_Nombre}">
								<h:outputText value="#{entity.nombre}" />
							</p:column>
							
							<p:column
								headerText="#{msg.cuenta_dialog_Saldo}">
								<h:outputText value="#{entity.saldoReal}">
									<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0"/>
								</h:outputText>
							</p:column>
							
		                </p:dataTable>
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-12">
						
						<p:commandButton
							value="#{msg.button_addElement}"
							actionListener="#{movimientoContableMBean.newEntity()}"
							rendered="#{movimientoContableMBean.hasPermissionTo(utilityConstantes.actioncreate)}"
							styleClass="list-button-add-new fa fa-plus"
							process="frm"
							ajax="#{!utilityMethods.isMobile()}"
							onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
							<p:ajax 
								event="dialogReturn" 
								listener="#{movimientoContableMBean.dialogListener}"  
								update="dta :frm:growl :frm:dtaCuentas"
								oncomplete="PF('dtaWV').filter()"/>
						</p:commandButton>
						
					</div>
				</div>
				
				<div class="ui-grid-row">
					<div class="ui-grid-col-12">
					
						<!-- Sección del datatable -->
						<p:dataTable
							id="dta" 
							widgetVar="dtaWV"
							var="entity" 
							value="#{movimientoContableMBean.entityList}"
							emptyMessage="#{msg.generics_RegistrosNoEncontrados}"
							filteredValue="#{movimientoContableMBean.entityFilterList}"
							paginator="true"
							rows="10"
							paginatorTemplate="  {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
							currentPageReportTemplate="({currentPage} de {totalPages})"
							sortMode="multiple"
							rowStyleClass="#{entity.esPendiente? 'redRow' : null}"
							styleClass="list-datatable">
							
							<f:facet name="footer">
							 	<h:outputFormat value="#{msg.generics_list_total}" 
							 		rendered="#{movimientoContableMBean.entityList != null}">
							 		 <f:param value="#{movimientoContableMBean.entityList.size()}" />
							 	</h:outputFormat>
							</f:facet>
							
							<p:column
								headerText="#{msg.movimientoContable_dialog_Codigo}"
								sortBy="#{entity.codigo}"
								filterBy="#{entity.codigo}"
								filterMatchMode="contains">
								<h:outputText value="#{entity.codigo}" />
							</p:column>

							<p:column
									headerText="#{msg.movimientoContable_dialog_Fecha}"
									sortBy="#{entity.fecha}"
									filterBy="#{entity.fecha}"
									filterMatchMode="contains">
								<h:outputText value="#{entity.fecha}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
							</p:column>
							
							<p:column
								headerText="#{msg.movimientoContable_dialog_Descripcion}"
								sortBy="#{entity.descripcion}"
								filterBy="#{entity.descripcion}"
								filterMatchMode="contains">
								<h:outputText value="#{entity.descripcion}" />
							</p:column>
							
							<p:column
								headerText="#{msg.movimientoContable_dialog_Cuenta}"
								sortBy="#{entity.cuenta.nombre}"
								filterBy="#{entity.cuenta.nombre}"
								filterMatchMode="contains">
								<h:outputText value="#{entity.cuenta.nombre}" />
							</p:column>
							
							<p:column
								headerText="#{msg.movimientoContable_dialog_Tipo}"
								sortBy="#{entity.esIngreso}"
								filterBy="#{entity.esIngreso}"
								filterMatchMode="contains">
								<h:outputText value="#{entity.esIngreso == true ? msg.movimientoContable_dialog_TipoI : msg.movimientoContable_dialog_TipoE}"  />
							</p:column>
							
							<p:column
								headerText="#{msg.movimientoContable_dialog_Valor}"
								sortBy="#{entity.valor}"
								filterBy="#{entity.valor}"
								filterMatchMode="contains">
								<h:outputText value="#{entity.valor}">
									<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0"/>
								</h:outputText>
							</p:column>

							<p:column
									headerText="#{msg.movimientoContable_dialog_EsPendiente}"
									sortBy="#{entity.esPendiente == true ? msg.generics_SI : msg.generics_NO}"
									filterBy="#{entity.esPendiente == true ? msg.generics_SI : msg.generics_NO}"
									filterMatchMode="contains">
								<h:outputText value="#{entity.esPendiente == true ? msg.generics_SI : msg.generics_NO}"  />
							</p:column>
							
							<p:column headerText="#{msg.generics_tabla_acciones}">
									
									<p:commandButton 
											rendered="#{movimientoContableMBean.hasPermissionTo(utilityConstantes.actionread)}"
											styleClass="list-button-read fa fa-search"
											includeViewParams="true"
											actionListener="#{movimientoContableMBean.selectEntity(entity.id)}"
											onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
											ajax="#{!utilityMethods.isMobile()}">
										<p:ajax event="dialogReturn" listener="#{movimientoContableMBean.dialogListener}" update="dta :frm:growl :frm:dtaCuentas" oncomplete="PF('dtaWV').filter()"/>				
									</p:commandButton>
									
									<p:commandButton 
											rendered="#{movimientoContableMBean.hasPermissionTo(utilityConstantes.actionupdate)}"
											styleClass="list-button-edit fa fa-edit"
											includeViewParams="true" 
											actionListener="#{movimientoContableMBean.editEntity(entity.id, true)}"
											onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
											ajax="#{!utilityMethods.isMobile()}">
										<p:ajax event="dialogReturn" update="dta :frm:growl :frm:dtaCuentas" listener="#{movimientoContableMBean.dialogListener()}" oncomplete="PF('dtaWV').filter()"/>					
									</p:commandButton>
									
									<p:commandButton 
											rendered="#{movimientoContableMBean.hasPermissionTo(utilityConstantes.actiondelete)}"
											styleClass="list-button-delete fa fa-trash-o" 
											update="dta :frm:growl :frm:dtaCuentas" 
											actionListener="#{movimientoContableMBean.deleteEntity(entity.id, true)}"
											onclick="PF('statusDialog').show()" oncomplete="PF('dtaWV').filter();PF('statusDialog').hide()"
											ajax="true">
										 <p:confirm header="#{msg.generics_Confirm}" 
										 		message="#{msg.generics_Confirm_msg_delete}"
										 		icon="ui-icon-alert"/>											
									</p:commandButton>
													
							</p:column>
							
		                </p:dataTable>
					</div>
				</div>
				
			</div>
			
			<ui:include src="/generics/generics.xhtml"/>
			
		</h:form>
	</ui:define>
</ui:composition>
	
