<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/generics/template.xhtml">
	
	<ui:define name="content">
		
		<h:form id="frm">

			<p:toolbar id="ribbons" styleClass="ribbons">
				<f:facet name="left">
					<p:outputLabel value="#{msg.movimientoContable_dialogTitle}"/>
				</f:facet>
				<f:facet name="right">
					<p:commandButton 
						styleClass="dialogHidden crud-button-back fa fa-arrow-left"
						ajax="false" 
						immediate="true" 
						value="#{msg.generics_Regresar}" 
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
						action="/contabilidad/movimientoContableList.faces"/>
						
					<p:commandButton 
								update=":frm :frm:growl"
								rendered="#{(movimientoContableMBean.mode == utilityConstantes.modecreate and movimientoContableMBean.hasPermissionTo(utilityConstantes.actioncreate)) or (movimientoContableMBean.mode == utilityConstantes.modeedit and movimientoContableMBean.hasPermissionTo(utilityConstantes.actionupdate))}"
								ajax="#{!utilityMethods.isMobile()}"
								value="#{msg.generics_guardar}" 
								action="#{movimientoContableMBean.saveEntity()}"
								styleClass="crud-button-save fa fa-floppy-o"
								onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
								
					<p:commandButton 
							rendered="#{movimientoContableMBean.mode == utilityConstantes.modeview and movimientoContableMBean.hasPermissionTo(utilityConstantes.actionupdate)}"
							ajax="false"
							value="#{msg.generics_editar}" 
							action="#{movimientoContableMBean.editEntity(movimientoContableMBean.entity.id, false)}"
							styleClass="crud-button-edit fa fa-edit"
							onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
							
					<p:commandButton 
							rendered="#{movimientoContableMBean.mode == utilityConstantes.modeview and movimientoContableMBean.hasPermissionTo(utilityConstantes.actiondelete)}"
							ajax="true" 
							value="#{msg.generics_eliminar}" 
							action="#{movimientoContableMBean.deleteEntity(movimientoContableMBean.entity.id, false)}"
							styleClass="crud-button-delete fa fa-trash-o"
							onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
							<p:confirm header="#{msg.generics_Confirm}" 
							 		message="#{msg.generics_Confirm_msg_delete}"
							 		icon="ui-icon-alert"/>	
						</p:commandButton>
								
				</f:facet>
			</p:toolbar>
			
			<p:fieldset styleClass="crudFieldset">
				
				<div class="crud-requiredMsg">#{msg.generics_requiredText}</div>
				
				<p:separator/>
				
				<div class="ui-grid ui-grid-responsive">
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.movimientoContable_dialog_Codigo}: (*)"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								value="#{movimientoContableMBean.entity.codigo}"
								styleClass="crud-field-value"
								rendered="#{movimientoContableMBean.mode == utilityConstantes.modeview}" />
							
							<p:inputText
								value="#{movimientoContableMBean.entity.codigo}"
								rendered="#{movimientoContableMBean.mode != utilityConstantes.modeview}"
								maxlength="45"
								required="true"
								styleClass="crud-field-value"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','movimientoContable_dialog_Codigo')}"/>			
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.movimientoContable_dialog_Descripcion}: (*)"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								value="#{movimientoContableMBean.entity.descripcion}"
								styleClass="crud-field-value"
								rendered="#{movimientoContableMBean.mode == utilityConstantes.modeview}" />
							
							<p:inputText
								value="#{movimientoContableMBean.entity.descripcion}"
								rendered="#{movimientoContableMBean.mode != utilityConstantes.modeview}"
								maxlength="500"
								required="true"
								styleClass="crud-field-value"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','movimientoContable_dialog_Descripcion')}"/>			
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.movimientoContable_dialog_Fecha}: (*)"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel 
								value="#{movimientoContableMBean.entity.fecha}"
								styleClass="crud-field-value"
								rendered="#{movimientoContableMBean.mode == utilityConstantes.modeview}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</p:outputLabel>
							
							<p:calendar 
						 		value="#{movimientoContableMBean.entity.fecha}"
						 		rendered="#{movimientoContableMBean.mode != utilityConstantes.modeview}"
						 		required="false"
						 		showOn="button"
								styleClass="crud-field-value"
								pattern="dd/MM/yyyy"
								navigator="true"/>
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.movimientoContable_dialog_Valor}: (*)"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel 
								value="#{movimientoContableMBean.entity.valor}"
								rendered="#{movimientoContableMBean.mode == utilityConstantes.modeview}"
								styleClass="crud-field-value">
								<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0"/>
							</p:outputLabel>
							<p:inputText
								value="#{movimientoContableMBean.entity.valor}"
								rendered="#{movimientoContableMBean.mode != utilityConstantes.modeview}"
								required="true"
								styleClass="crud-field-value"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','movimientoContable_dialog_Valor')}"
								converterMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_validateNumber','movimientoContable_dialog_Valor')}">
								<f:convertNumber type="number"/>
							</p:inputText>
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.movimientoContable_dialog_Tipo}: (*)"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								value="#{movimientoContableMBean.entity.esIngreso == true ? msg.movimientoContable_dialog_TipoI : msg.movimientoContable_dialog_TipoE}"
								styleClass="crud-field-value"
								rendered="#{movimientoContableMBean.mode == utilityConstantes.modeview}" />
							
							<p:selectOneRadio
								value="#{movimientoContableMBean.entity.esIngreso}"
								rendered="#{movimientoContableMBean.mode != utilityConstantes.modeview}"
								required="true"
								styleClass="crud-field-value"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','movimientoContable_dialog_Estado')}">
								<f:selectItem itemLabel="#{msg.movimientoContable_dialog_TipoI}" itemValue="#{true}"/>
								<f:selectItem itemLabel="#{msg.movimientoContable_dialog_TipoE}" itemValue="#{false}"/>
							</p:selectOneRadio>
						
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.movimientoContable_dialog_Cuenta}: (*)"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								value="#{movimientoContableMBean.entity.cuenta.nombre}"
								styleClass="crud-field-value"
								rendered="#{movimientoContableMBean.mode == utilityConstantes.modeview}" />
								
							<p:selectOneMenu
								id="selectorCuentas"
								styleClass="crud-field-value"
								value="#{movimientoContableMBean.entity.cuenta.id}"
								rendered="#{movimientoContableMBean.mode != utilityConstantes.modeview}">
								<f:selectItems value="#{movimientoContableMBean.cuentasDropDownList}"
									var="cuenta"
									itemLabel="#{cuenta.nombre}"
									itemValue="#{cuenta.id}"/>
							</p:selectOneMenu>	
							
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.movimientoContable_dialog_Usuario}: (*)"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								value="#{movimientoContableMBean.entity.usuario.nombre}"
								styleClass="crud-field-value"
								rendered="#{movimientoContableMBean.mode == utilityConstantes.modeview}" />
								
							<p:selectOneMenu
								id="selectorUsuarios"
								styleClass="crud-field-value"
								value="#{movimientoContableMBean.entity.usuario.id}"
								rendered="#{movimientoContableMBean.mode != utilityConstantes.modeview}">
								<f:selectItems value="#{movimientoContableMBean.usuariosDropDownList}"
									var="usuario"
									itemLabel="#{usuario.nombre}"
									itemValue="#{usuario.id}"/>
							</p:selectOneMenu>	
							
						</div>
					</div>

					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.movimientoContable_dialog_EsPendiente}: (*)"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
									value="#{movimientoContableMBean.entity.esPendiente == true ? msg.generics_SI : msg.generics_NO}"
									styleClass="crud-field-value"
									rendered="#{movimientoContableMBean.mode == utilityConstantes.modeview}" />

							<p:selectOneRadio
									value="#{movimientoContableMBean.entity.esPendiente}"
									rendered="#{movimientoContableMBean.mode != utilityConstantes.modeview}"
									required="true"
									styleClass="crud-field-value"
									requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','movimientoContable_dialog_EsPendiente')}">
								<f:selectItem itemLabel="#{msg.generics_SI}" itemValue="#{true}"/>
								<f:selectItem itemLabel="#{msg.generics_NO}" itemValue="#{false}"/>
							</p:selectOneRadio>

						</div>
					</div>
					
				</div>
				
			</p:fieldset>
			
			<ui:include src="/generics/generics.xhtml"/>
			
		</h:form>
		
	</ui:define>
</ui:composition>
