<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/generics/template.xhtml">
	
	<ui:define name="content">
			
		<h:form id="frm">
		
			<div class="ui-grid ui-grid-responsive">
				<div class="ui-grid-row">
					<div class="ui-grid-col-12 list_title">
						<p:outputLabel value="#{msg.reporteCartera_Title}"/>
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-12">
						<div>#{msg.reporteCartera_Filtros}</div>
						<p:separator/>
						<p:panelGrid styleClass="crud-panelgrid-reporte">
							<p:row>
								<p:column>
									<p:outputLabel 
										value="#{msg.reporteCartera_Filtros_CompraPPago}:"
										styleClass="crud-field-label" />
								</p:column>
								<p:column>
									<p:selectBooleanCheckbox value="#{reporteCarteraMBean.compraPPago}"></p:selectBooleanCheckbox>
								</p:column>
							</p:row>
							<p:row>
								<p:column>
									<p:outputLabel 
										value="#{msg.reporteCartera_Filtros_VentaPCobro}:"
										styleClass="crud-field-label" />
								</p:column>
								<p:column>
									<p:selectBooleanCheckbox value="#{reporteCarteraMBean.ventaPCobro}"></p:selectBooleanCheckbox>
								</p:column>
							</p:row>
							<p:row>
								<p:column>
									<p:outputLabel 
										value="#{msg.reporteCartera_Filtros_PagoPComprador}:"
										styleClass="crud-field-label" />
								</p:column>
								<p:column>
									<p:selectBooleanCheckbox value="#{reporteCarteraMBean.pagosPComprador}"></p:selectBooleanCheckbox>
								</p:column>
							</p:row>
							<p:row>
								<p:column>
									<p:outputLabel 
										value="#{msg.reporteCartera_Filtros_CobroPComprador}:"
										styleClass="crud-field-label" />
								</p:column>
								<p:column>
									<p:selectBooleanCheckbox value="#{reporteCarteraMBean.cobrosPComprador}"></p:selectBooleanCheckbox>
								</p:column>
							</p:row>
							<p:row>
								<p:column>
									<p:outputLabel 
										value="#{msg.reporteCartera_Filtros_PagoPVendedor}:"
										styleClass="crud-field-label" />
								</p:column>
								<p:column>
									<p:selectBooleanCheckbox value="#{reporteCarteraMBean.pagosPVendedor}"></p:selectBooleanCheckbox>
								</p:column>
							</p:row>
							<p:row>
								<p:column>
									<p:outputLabel 
										value="#{msg.reporteCartera_Filtros_CobroPVendedor}:"
										styleClass="crud-field-label" />
								</p:column>
								<p:column>
									<p:selectBooleanCheckbox value="#{reporteCarteraMBean.cobrosPVendedor}"></p:selectBooleanCheckbox>
								</p:column>
							</p:row>
							<p:row>
								<p:column colspan="4">
									<p:commandButton
										value="#{msg.reporteCartera_BtnBuscar}"
										actionListener="#{reporteCarteraMBean.fillEntityList()}"
										styleClass="list-button-add-new"
										process="frm"
										ajax="false"
										onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
									</p:commandButton>
								</p:column>
							</p:row>
							<p:row>
								<p:column style="text-align:right">
									
								</p:column>
								<p:column style="text-align:right">
									
								</p:column>
								<p:column style="text-align:right">
									<p:outputLabel 
										value="#{msg.reporteCartera_Totales_ValorTotal}:"
										styleClass="crud-field-label" />
								</p:column>
								<p:column style="text-align:right">
									<p:outputLabel 
										value="#{reporteCarteraMBean.valorTotal}"
										styleClass="crud-field-value">
										<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0"/>
									</p:outputLabel>
								</p:column>
							</p:row>
						</p:panelGrid>
					</div>
				</div>
				
				<div class="ui-grid-row">
					<div class="ui-grid-col-12" style="text-align: right; margin-right: 20px">
						<h:commandLink>
			                <p:graphicImage name="/images/DEFAULT/excel.png" width="24"/>
			                <p:dataExporter type="xls" target="dta" fileName="reporteCartera" />
			            </h:commandLink>
			 
					</div>
				</div>
				           
				
				<div class="ui-grid-row">
					<div class="ui-grid-col-12">
					
						<!-- Sección del datatable -->
						<p:dataTable
							id="dta" 
							widgetVar="dtaWV"
							var="entity" 
							value="#{reporteCarteraMBean.entityList}"
							emptyMessage="#{msg.generics_RegistrosNoEncontrados}"
							paginator="true"
							rows="100"
							paginatorTemplate="  {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
							currentPageReportTemplate="({currentPage} de {totalPages})"
							sortMode="multiple"
							styleClass="list-datatable">
							
							<f:facet name="footer">
							 	<h:outputFormat value="#{msg.generics_list_total}" 
							 		rendered="#{reporteCarteraMBean.entityList != null}">
							 		 <f:param value="#{reporteCarteraMBean.entityList.size()}" />
							 	</h:outputFormat>
							</f:facet>
							
							<p:column
								headerText="#{msg.reporteCartera_Tabla_Origen}"
								sortBy="#{entity.origen}"
								width="180">
								<h:outputText value="#{entity.origen}" />
							</p:column>
							
							<p:column
								headerText="#{msg.reporteCartera_Tabla_Fecha}"
								sortBy="#{entity.fecha}"
								width="80">
								<h:outputText value="#{entity.fecha}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
							</p:column>
							
							<p:column
								headerText="#{msg.reporteCartera_Tabla_Descripcion}"
								sortBy="#{entity.descripcion}">
								<h:outputText value="#{entity.descripcion}" />
							</p:column>
							
							<p:column
								headerText="#{msg.reporteCartera_Tabla_FechaV}"
								sortBy="#{entity.fechaV}"
								width="80">
								<h:outputText value="#{entity.fechaV}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
							</p:column>
							
							<p:column
								headerText="#{msg.reporteCartera_Tabla_Plazo}"
								sortBy="#{entity.plazo}"
								width="100">
								<h:outputText value="#{entity.plazo}">
									<f:convertNumber type="number" maxFractionDigits="0"/>
								</h:outputText>
							</p:column>
							
							<p:column
								headerText="#{msg.reporteCartera_Tabla_Valor}"
								sortBy="#{entity.valor}"
								width="100">
								<h:outputText value="#{entity.valor}">
									<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0"/>
								</h:outputText>
							</p:column>
							
		                </p:dataTable>
					</div>
				</div>
				
			</div>
			
			<ui:include src="/generics/generics.xhtml"/>
			
		</h:form>
	</ui:define>
</ui:composition>
	
