<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/generics/template.xhtml">
	
	<ui:define name="content">
			
		<h:form id="frm">
		
			<div class="ui-grid ui-grid-responsive">
				<div class="ui-grid-row">
					<div class="ui-grid-col-12 list_title">
						<p:outputLabel value="#{msg.reporteContable_Title}"/>
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-12">
						<div>#{msg.reporteContable_Filtros}</div>
						<p:separator/>
						<p:panelGrid styleClass="crud-panelgrid-reporte">
							<p:row>
								<p:column>
									<p:outputLabel 
										value="#{msg.reporteContable_Filtros_FechasDesde}: (*)"
										styleClass="crud-field-label" />
								</p:column>
								<p:column>
									<p:calendar 
								 		value="#{reporteContableMBean.fchIni}"
								 		required="true"
								 		showOn="button"
										styleClass="crud-field-value-one-col"
										pattern="dd/MM/yyyy"
										navigator="true"
										requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','reporteContable_Filtros_FechasDesde')}"/>
								</p:column>
								<p:column>
									<p:outputLabel 
										value="#{msg.reporteContable_Filtros_FechasHasta}: (*)"
										styleClass="crud-field-label" />
								</p:column>
								<p:column>
									<p:calendar 
								 		value="#{reporteContableMBean.fchFin}"
								 		required="true"
								 		showOn="button"
										styleClass="crud-field-value-one-col"
										pattern="dd/MM/yyyy"
										navigator="true"
										requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','reporteContable_Filtros_FechasHasta')}"/>
								</p:column>
							</p:row>
							<p:row>
								<p:column>
									<p:outputLabel 
										value="#{msg.reporteContable_Filtros_Cuenta}:"
										styleClass="crud-field-label" />
								</p:column>
								<p:column>
									<p:selectOneMenu
										styleClass="crud-field-value-one-col"
										value="#{reporteContableMBean.cuenta.id}"
										required="false">
										<f:selectItem itemLabel="" itemValue=""></f:selectItem>
										<f:selectItems value="#{reporteContableMBean.cuentasDropDownList}"
											var="cuenta"
											itemLabel="#{cuenta.nombre}"
											itemValue="#{cuenta.id}"/>
									</p:selectOneMenu>
								</p:column>
								<p:column>
								</p:column>
								<p:column>
								</p:column>
							</p:row>
							<p:row>
								<p:column colspan="4">
									<p:commandButton
										value="#{msg.reporteContable_BtnBuscar}"
										actionListener="#{reporteContableMBean.fillEntityList()}"
										styleClass="list-button-add-new"
										process="frm"
										ajax="false"
										onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
									</p:commandButton>
								</p:column>
							</p:row>
							<p:row>
								<p:column style="text-align:right">
									
								</p:column>
								<p:column style="text-align:right">
									
								</p:column>
								<p:column style="text-align:right">
									<p:outputLabel 
										value="#{msg.reporteContable_Totales_TotalIngresos}:"
										styleClass="crud-field-label" />
								</p:column>
								<p:column style="text-align:right">
									<p:outputLabel 
										value="#{reporteContableMBean.totalIngresos}"
										styleClass="crud-field-value">
										<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0"/>
									</p:outputLabel>
								</p:column>
							</p:row>
							<p:row>
								<p:column style="text-align:right">
									
								</p:column>
								<p:column style="text-align:right">
									
								</p:column>
								<p:column style="text-align:right">
									<p:outputLabel 
										value="#{msg.reporteContable_Totales_TotalEgresos}:"
										styleClass="crud-field-label" />
								</p:column>
								<p:column style="text-align:right">
									<p:outputLabel 
										value="#{reporteContableMBean.totalEgresos}"
										styleClass="crud-field-value" >
										<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0"/>
									</p:outputLabel>
								</p:column>
							</p:row>
							<p:row>
								<p:column style="text-align:right">
									
								</p:column>
								<p:column style="text-align:right">
									
								</p:column>
								<p:column style="text-align:right">
									<p:outputLabel 
										value="#{msg.reporteContable_Totales_Balance}:"
										styleClass="crud-field-label" />
								</p:column>
								<p:column style="text-align:right">
									<p:outputLabel 
										value="#{reporteContableMBean.balance}"
										styleClass="crud-field-value"
										style="font-weight: bold;">
										<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0"/>
									</p:outputLabel>
								</p:column>
							</p:row>
						</p:panelGrid>
					</div>
				</div>
				
				<div class="ui-grid-row">
					<div class="ui-grid-col-12" style="text-align: right; margin-right: 20px">
						<h:commandLink>
			                <p:graphicImage name="/images/DEFAULT/excel.png" width="24"/>
			                <p:dataExporter type="xls" target="dta" fileName="ReporteContable" />
			            </h:commandLink>
			 
					</div>
				</div>
				           
				
				<div class="ui-grid-row">
					<div class="ui-grid-col-12">
					
						<!-- Sección del datatable -->
						<p:dataTable
							id="dta" 
							widgetVar="dtaWV"
							var="entity" 
							value="#{reporteContableMBean.entityList}"
							emptyMessage="#{msg.generics_RegistrosNoEncontrados}"
							paginator="true"
							rows="10"
							paginatorTemplate="  {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
							currentPageReportTemplate="({currentPage} de {totalPages})"
							sortMode="multiple"
							styleClass="list-datatable">
							
							<f:facet name="footer">
							 	<h:outputFormat value="#{msg.generics_list_total}" 
							 		rendered="#{reporteContableMBean.entityList != null}">
							 		 <f:param value="#{reporteContableMBean.entityList.size()}" />
							 	</h:outputFormat>
							</f:facet>
							
							<p:column
								headerText="#{msg.reporteContable_Tabla_Origen}"
								sortBy="#{entity.origen}"
								width="180">
								<h:outputText value="#{entity.origen}" />
							</p:column>
							
							<p:column
								headerText="#{msg.reporteContable_Tabla_Fecha}"
								sortBy="#{entity.fecha}"
								width="80">
								<h:outputText value="#{entity.fecha}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
							</p:column>
							
							<p:column
								headerText="#{msg.reporteContable_Tabla_Descripcion}"
								sortBy="#{entity.descripcion}">
								<h:outputText value="#{entity.descripcion}" />
							</p:column>
							
							<p:column
								headerText="#{msg.reporteContable_Tabla_Cuenta}"
								sortBy="#{entity.cuenta.nombre}"
								width="180">
								<h:outputText value="#{entity.cuenta.nombre}" />
							</p:column>
							
							<p:column
								headerText="#{msg.reporteContable_Tabla_Ingreso}"
								sortBy="#{entity.ingreso}"
								width="100">
								<h:outputText value="#{entity.ingreso}">
									<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0"/>
								</h:outputText>
							</p:column>
							
							<p:column
								headerText="#{msg.reporteContable_Tabla_Egreso}"
								sortBy="#{entity.egreso}"
								width="100">
								<h:outputText value="#{entity.egreso}">
									<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0"/>
								</h:outputText>
							</p:column>
							
		                </p:dataTable>
					</div>
				</div>
				
			</div>
			
			<ui:include src="/generics/generics.xhtml"/>
			
		</h:form>
	</ui:define>
</ui:composition>
	
