<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/generics/template.xhtml">
	
	<ui:define name="content">
			
		<h:form id="frm">
		
			<div class="ui-grid ui-grid-responsive">
				<div class="ui-grid-row">
					<div class="ui-grid-col-12 list_title">
						<p:outputLabel value="#{msg.reporteUtilidad_Title}"/>
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-12">
						<div>#{msg.reporteUtilidad_Filtros}</div>
						<p:separator/>
						<p:panelGrid styleClass="crud-panelgrid-reporte">
							<p:row>
								<p:column>
									<p:outputLabel 
										value="#{msg.reporteUtilidad_Filtros_FechasDesde}: (*)"
										styleClass="crud-field-label" />
								</p:column>
								<p:column>
									<p:calendar 
								 		value="#{reporteUtilidadMBean.fchIni}"
								 		required="true"
								 		showOn="button"
										styleClass="crud-field-value-one-col"
										pattern="dd/MM/yyyy"
										navigator="true"
										requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','reporteUtilidad_Filtros_FechasDesde')}"/>
								</p:column>
								<p:column>
									<p:outputLabel 
										value="#{msg.reporteUtilidad_Filtros_FechasHasta}: (*)"
										styleClass="crud-field-label" />
								</p:column>
								<p:column>
									<p:calendar 
								 		value="#{reporteUtilidadMBean.fchFin}"
								 		required="true"
								 		showOn="button"
										styleClass="crud-field-value-one-col"
										pattern="dd/MM/yyyy"
										navigator="true"
										requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','reporteUtilidad_Filtros_FechasHasta')}"/>
								</p:column>
							</p:row>
							<p:row>
								<p:column colspan="4">
									<p:commandButton
										value="#{msg.reporteUtilidad_BtnBuscar}"
										actionListener="#{reporteUtilidadMBean.fillEntityList()}"
										styleClass="list-button-add-new"
										process="frm"
										ajax="false"
										onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
									</p:commandButton>
								</p:column>
							</p:row>
							<p:row>
								<p:column style="text-align:right">
									
								</p:column>
								<p:column style="text-align:right">
									
								</p:column>
								<p:column style="text-align:right">
									<p:outputLabel 
										value="#{msg.reporteUtilidad_Totales_TotalComisiones}:"
										styleClass="crud-field-label" />
								</p:column>
								<p:column style="text-align:right">
									<p:outputLabel 
										value="#{reporteUtilidadMBean.totalComisiones}"
										styleClass="crud-field-value">
										<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0"/>
									</p:outputLabel>
								</p:column>
							</p:row>
							<p:row>
								<p:column style="text-align:right">
									
								</p:column>
								<p:column style="text-align:right">
									
								</p:column>
								<p:column style="text-align:right">
									<p:outputLabel 
										value="#{msg.reporteUtilidad_Totales_TotalOtrosIngresos}:"
										styleClass="crud-field-label" />
								</p:column>
								<p:column style="text-align:right">
									<p:outputLabel 
										value="#{reporteUtilidadMBean.totalOtrosIngresos}"
										styleClass="crud-field-value" >
										<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0"/>
									</p:outputLabel>
								</p:column>
							</p:row>
							<p:row>
								<p:column style="text-align:right">

								</p:column>
								<p:column style="text-align:right">

								</p:column>
								<p:column style="text-align:right">
									<p:outputLabel
											value="#{msg.reporteUtilidad_Totales_TotalGastosAdicionales}:"
											styleClass="crud-field-label" />
								</p:column>
								<p:column style="text-align:right">
									<p:outputLabel
											value="#{reporteUtilidadMBean.totalGastosAdicionales}"
											style="color:red"
											styleClass="crud-field-value" >
										<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0"/>
									</p:outputLabel>
								</p:column>
							</p:row>
							<p:row>
								<p:column style="text-align:right">
									
								</p:column>
								<p:column style="text-align:right">
									
								</p:column>
								<p:column style="text-align:right">
									<p:outputLabel 
										value="#{msg.reporteUtilidad_Totales_TotalUtilidad}:"
										style="font-weight: bold;"
										styleClass="crud-field-label" />
								</p:column>
								<p:column style="text-align:right">
									<p:outputLabel 
										value="#{reporteUtilidadMBean.totalUtilidades}"
										styleClass="crud-field-value"
										style="font-weight: bold;">
										<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0"/>
									</p:outputLabel>
								</p:column>
							</p:row>
						</p:panelGrid>
					</div>
				</div>
				
				<div class="ui-grid-row">
					<div class="ui-grid-col-12" style="text-align: right; margin-right: 20px">
						<h:commandLink>
			                <p:graphicImage name="/images/DEFAULT/excel.png" width="24"/>
			                <p:dataExporter type="xls" target="dta" fileName="reporteUtilidad" />
			            </h:commandLink>
			 
					</div>
				</div>
				           
				
				<div class="ui-grid-row">
					<div class="ui-grid-col-12">
					
						<!-- Sección del datatable -->
						<p:dataTable
							id="dta" 
							widgetVar="dtaWV"
							var="entity" 
							value="#{reporteUtilidadMBean.entityList}"
							emptyMessage="#{msg.generics_RegistrosNoEncontrados}"
							paginator="true"
							rows="10"
							paginatorTemplate="  {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
							currentPageReportTemplate="({currentPage} de {totalPages})"
							sortMode="multiple"
							styleClass="list-datatable">
							
							<f:facet name="footer">
							 	<h:outputFormat value="#{msg.generics_list_total}" 
							 		rendered="#{reporteUtilidadMBean.entityList != null}">
							 		 <f:param value="#{reporteUtilidadMBean.entityList.size()}" />
							 	</h:outputFormat>
							</f:facet>
														
							<p:column
								headerText="#{msg.reporteUtilidad_Tabla_FechaConsignacion}"
								sortBy="#{entity.consignacion.fchConsignacion}"
								width="80px">
								<h:outputText value="#{entity.consignacion.fchConsignacion}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
							</p:column>
							
							<p:column
								headerText="#{msg.reporteUtilidad_Tabla_Placa}"
								sortBy="#{entity.vehiculo.placa}" width="80px">
								<h:outputText value="#{entity.vehiculo.placa}" />
							</p:column>
														
							<p:column
								headerText="#{msg.reporteUtilidad_Tabla_Comision}"
								width="100">
								<h:outputText value="#{entity.porcentajeComision * entity.vlrVehVendedor / 100}">
									<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0"/>
								</h:outputText>
							</p:column>

							<p:column
									headerText="#{msg.reporteUtilidad_Tabla_OtrosIngresos}"
									width="100">
								<h:outputText value="#{entity.vlrVehComprador - entity.vlrVehVendedor}">
									<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0"/>
								</h:outputText>
							</p:column>

							<p:column
									headerText="#{msg.reporteUtilidad_Tabla_Gastos}"
									width="100">
								<h:outputText value="#{entity.getTotalGastosAdicionales('CI')}">
									<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0"/>
								</h:outputText>
							</p:column>

							<p:column
									headerText="#{msg.reporteUtilidad_Tabla_Utilidad}"
									width="100">
								<h:outputText value="#{entity.getUtilidadTotal('CI')}">
									<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0"/>
								</h:outputText>
							</p:column>
							
							
							
		                </p:dataTable>
					</div>
				</div>
				
			</div>
			
			<ui:include src="/generics/generics.xhtml"/>
			
		</h:form>
	</ui:define>
</ui:composition>
	
