<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/generics/template.xhtml">
	
	<ui:define name="content">
		
		<h:form id="frm">
		
			<p:toolbar id="ribbons" styleClass="ribbons">
				<f:facet name="left">
					<p:outputLabel value="#{msg.usuario_dialogTitle}"/>
				</f:facet>
				<f:facet name="right">
				
					<p:commandButton 
						styleClass="dialogHidden crud-button-back fa fa-arrow-left"
						ajax="false" 
						immediate="true" 
						value="#{msg.generics_Regresar}" 
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
						action="/seguridad/usuario/usuarioList.faces"/>
				
					<p:commandButton
						validateClient="true"
						action="#{usuarioMBean.restituirPw()}"
						title="#{msg.generics_restituirClave}"
						process="@this"
						styleClass="crud-button-password fa fa-key"
						update=":frm :frm:growl"
						rendered="#{usuarioMBean.mode == utilityConstantes.modeview and 
							usuarioMBean.hasPermissionTo(utilityConstantes.actionrestituirpassword)}">
						<p:confirm header="#{msg.generics_Confirm}" message="#{msg.usuario_valida_clave_restituida}" icon="ui-icon-alert"/>
					</p:commandButton>
					
					<p:commandButton 
								update=":frm :frm:growl"
								rendered="#{(usuarioMBean.mode == utilityConstantes.modecreate and usuarioMBean.hasPermissionTo(utilityConstantes.actioncreate)) or (usuarioMBean.mode == utilityConstantes.modeedit and usuarioMBean.hasPermissionTo(utilityConstantes.actionupdate))}"
								ajax="#{!utilityMethods.isMobile()}"
								title="#{msg.generics_guardar}" 
								action="#{usuarioMBean.saveEntity()}"
								styleClass="crud-button-save fa fa-floppy-o"
								onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
								
					<p:commandButton 
						rendered="#{usuarioMBean.mode == utilityConstantes.modeview and usuarioMBean.hasPermissionTo(utilityConstantes.actionupdate)}"
						ajax="false"
						title="#{msg.generics_editar}" 
						action="#{usuarioMBean.editEntity(usuarioMBean.entity.id, false)}"
						styleClass="crud-button-edit fa fa-edit"
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
							
					<p:commandButton 
						rendered="#{usuarioMBean.mode == utilityConstantes.modeview and usuarioMBean.hasPermissionTo(utilityConstantes.actiondelete)}"
						ajax="true" 
						title="#{msg.generics_eliminar}" 
						action="#{usuarioMBean.deleteEntity(usuarioMBean.entity.id, false)}"
						styleClass="crud-button-delete fa fa-trash-o"
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
						<p:confirm header="#{msg.generics_Confirm}" 
					 		message="#{msg.generics_Confirm_msg_delete}"
					 		icon="ui-icon-alert"/>	
					</p:commandButton>
				
									
				</f:facet>
			</p:toolbar>
			
			<p:fieldset styleClass="crudFieldset">
				<div class="crud-requiredMsg">#{msg.generics_requiredText}</div>
				<p:separator/>
				
				<div class="ui-grid ui-grid-responsive">
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel value="#{msg.usuario_dialog_Usuario}: (*)"
								styleClass="crud-field-label"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								styleClass="crud-field-value"
								value="#{usuarioMBean.entity.usuario}"
								rendered="#{usuarioMBean.mode != utilityConstantes.modecreate}" />
							
							<p:inputText
								styleClass="crud-field-value"
								value="#{usuarioMBean.entity.usuario}"
								rendered="#{usuarioMBean.mode == utilityConstantes.modecreate}"
								maxlength="20"
								required="true"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','usuario_dialog_Usuario')}"/>			
						</div>
					</div>
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel value="#{msg.usuario_dialog_Nombre}: (*)"
								styleClass="crud-field-label"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								styleClass="crud-field-value"
								value="#{usuarioMBean.entity.nombre}"
								rendered="#{usuarioMBean.mode == utilityConstantes.modeview}" />
							
							<p:inputText
								styleClass="crud-field-value"
								value="#{usuarioMBean.entity.nombre}"
								rendered="#{usuarioMBean.mode != utilityConstantes.modeview}"
								maxlength="100"
								required="true"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','usuario_dialog_Nombre')}"/>			
						</div>
					</div>
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel value="#{msg.usuario_dialog_Email}: (*)"
								styleClass="crud-field-label"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								styleClass="crud-field-value"
								value="#{usuarioMBean.entity.email}"
								rendered="#{usuarioMBean.mode == utilityConstantes.modeview}" />
							
							<p:inputText
								styleClass="crud-field-value"
								value="#{usuarioMBean.entity.email}"
								rendered="#{usuarioMBean.mode != utilityConstantes.modeview}"
								maxlength="100"
								required="true"
								validatorMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_validateEmail','usuario_dialog_Email')}"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','usuario_dialog_Email')}">
								<f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />	
							</p:inputText>
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel value="#{msg.usuario_dialog_Direccion}:"
								styleClass="crud-field-label"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								styleClass="crud-field-value"
								value="#{usuarioMBean.entity.direccion}"
								rendered="#{usuarioMBean.mode == utilityConstantes.modeview}" />
							
							<p:inputText
								styleClass="crud-field-value"
								value="#{usuarioMBean.entity.direccion}"
								rendered="#{usuarioMBean.mode != utilityConstantes.modeview}"
								maxlength="1000"
								required="false"/>			
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel value="#{msg.usuario_dialog_Telefono}:"
								styleClass="crud-field-label"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								styleClass="crud-field-value"
								value="#{usuarioMBean.entity.telefono}"
								rendered="#{usuarioMBean.mode == utilityConstantes.modeview}" />
							
							<p:inputText
								styleClass="crud-field-value"
								value="#{usuarioMBean.entity.telefono}"
								rendered="#{usuarioMBean.mode != utilityConstantes.modeview}"
								maxlength="45"
								required="false"/>			
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel value="#{msg.usuario_dialog_Celular}:"
								styleClass="crud-field-label"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								styleClass="crud-field-value"
								value="#{usuarioMBean.entity.celular}"
								rendered="#{usuarioMBean.mode == utilityConstantes.modeview}" />
							
							<p:inputText
								styleClass="crud-field-value"
								value="#{usuarioMBean.entity.celular}"
								rendered="#{usuarioMBean.mode != utilityConstantes.modeview}"
								maxlength="45"
								required="false"/>			
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel value="#{msg.usuario_dialog_Estado}: (*)"
								styleClass="crud-field-label"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								styleClass="crud-field-value"
								value="#{usuarioMBean.entity.esActivo == true ? msg.generics_Activo : msg.generics_Inactivo}"
								rendered="#{usuarioMBean.mode == utilityConstantes.modeview}" />
								
							<p:selectOneRadio
								styleClass="crud-field-value"
								value="#{usuarioMBean.entity.esActivo}"
								rendered="#{usuarioMBean.mode != utilityConstantes.modeview}"
								required="true"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','usuario_dialog_Estado')}">
								<f:selectItem itemLabel="#{msg.generics_Activo}" itemValue="#{true}"/>
								<f:selectItem itemLabel="#{msg.generics_Inactivo}" itemValue="#{false}"/>
							</p:selectOneRadio>
							
						</div>
					</div>
					
					<p:outputPanel id="panelperfiles" rendered="#{usuarioMBean.mode != utilityConstantes.modecreate}">
						<div class="ui-grid-row">
							<div class="ui-grid-col-12 crud_subsection_title">
								<p:outputLabel value="#{msg.usuario_perfil_section_title}"/>
								<p:separator/>
							</div>
						</div>
						<div class="ui-grid-row">
							<div class="ui-grid-col-4 crud_subsection_title">
								<p:outputLabel value="#{msg.usuario_perfil_section_Perfil}" rendered="#{usuarioMBean.mode != utilityConstantes.modeview}"/>
							</div>
							<div class="ui-grid-col-4 crud_subsection_title">
								<p:selectOneMenu
									styleClass="crud-field-value"
									id="selector"
									value="#{usuarioMBean.selectedPerfil.id}"
									rendered="#{usuarioMBean.mode != utilityConstantes.modeview}"
									required="false"
									requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','usuario_dialog_Perfil')}">
									<f:selectItems value="#{usuarioMBean.perfilesList}"
										var="perfil"
										itemLabel="#{perfil.nombre}"
										itemValue="#{perfil.id}"/>
								</p:selectOneMenu>
							</div>
							<div class="ui-grid-col-4 crud_subsection_title">
								<p:commandButton 
										update=":frm :frm:growl dtaPerfiles"
										rendered="#{(usuarioMBean.mode == utilityConstantes.modeedit and usuarioMBean.hasPermissionTo(utilityConstantes.actionupdate))}"
										ajax="true"
										title="#{msg.generics_guardar}" 
										action="#{usuarioMBean.savePerfil()}"
										styleClass="crud-button-save fa fa-plus"
										onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
							</div>
						</div>
						<div class="ui-grid-row">
							<div class="ui-grid-col-12">
								<!-- Sección del datatable -->
								<p:dataTable
									id="dtaPerfiles" 
									var="perfilxusuario" 
									value="#{usuarioMBean.entity.perfilesxusuario}"
									emptyMessage="#{msg.generics_RegistrosNoEncontrados}"
									paginator="true"
									rows="10"
									paginatorTemplate="  {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
									currentPageReportTemplate="({currentPage} de {totalPages})"
									sortMode="multiple"
									styleClass="list-datatable">
							
									<p:column
										headerText="#{msg.usuario_perfil_section_Datatable_Col1}">
										<h:outputText value="#{perfilxusuario.perfil.nombre}" />
									</p:column>
									
									<p:column>
										<p:commandButton 
											update=":frm:dtaPerfiles :frm :frm:growl"
											rendered="#{(usuarioMBean.mode == utilityConstantes.modeedit and usuarioMBean.hasPermissionTo(utilityConstantes.actionupdate))}"
											ajax="true"
											title="#{msg.generics_eliminar}" 
											action="#{usuarioMBean.deletePerfil(perfilxusuario.id)}"
											styleClass="crud-button-delete fa fa-trash-o"
											onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
									</p:column>
								</p:dataTable>
							</div>
						</div>
					</p:outputPanel>
					
				</div>
				
			</p:fieldset>
			
			<ui:include src="/generics/generics.xhtml"/>
			
		</h:form>
		
	</ui:define>
</ui:composition>