<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/generics/template.xhtml">
	
	<ui:define name="content">
		
		<h:form id="frm">

			<p:toolbar id="ribbons" styleClass="ribbons">
				<f:facet name="left">
					<p:outputLabel value="#{msg.compania_dialogTitle}"/>
				</f:facet>
				<f:facet name="right">
					<p:commandButton 
						styleClass="dialogHidden crud-button-back fa fa-arrow-left"
						ajax="false" 
						immediate="true" 
						value="#{msg.generics_Regresar}" 
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
						action="/seguridad/compania/companiaList.faces"/>
						
					<p:commandButton 
						update=":frm :frm:growl"
						rendered="#{(companiaMBean.mode == utilityConstantes.modecreate and companiaMBean.hasPermissionTo(utilityConstantes.actioncreate)) or (companiaMBean.mode == utilityConstantes.modeedit and companiaMBean.hasPermissionTo(utilityConstantes.actionupdate))}"
						ajax="#{!utilityMethods.isMobile()}"
						value="#{msg.generics_guardar}" 
						action="#{companiaMBean.saveEntity()}"
						styleClass="crud-button-save fa fa-floppy-o"
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
								
					<p:commandButton 
						rendered="#{companiaMBean.mode == utilityConstantes.modeview and companiaMBean.hasPermissionTo(utilityConstantes.actionupdate)}"
						ajax="false"
						value="#{msg.generics_editar}" 
						action="#{companiaMBean.editEntity(companiaMBean.entity.id, false)}"
						styleClass="crud-button-edit fa fa-edit"
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
							
					<p:commandButton 
						rendered="#{companiaMBean.mode == utilityConstantes.modeview and companiaMBean.hasPermissionTo(utilityConstantes.actiondelete)}"
						ajax="true" 
						value="#{msg.generics_eliminar}" 
						action="#{companiaMBean.deleteEntity(companiaMBean.entity.id, false)}"
						styleClass="crud-button-delete fa fa-trash-o"
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
						<p:confirm header="#{msg.generics_Confirm}" 
						 		message="#{msg.generics_Confirm_msg_delete}"
						 		icon="ui-icon-alert"/>	
					</p:commandButton>
								
				</f:facet>
			</p:toolbar>
			
			<p:fieldset styleClass="crudFieldset">
				
				<div class="crud-requiredMsg">#{msg.generics_requiredText}</div>
				
				<p:separator/>
				
				<div class="ui-grid ui-grid-responsive">
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.compania_dialog_Codigo}: (*)"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								value="#{companiaMBean.entity.codigo}"
								styleClass="crud-field-value"
								rendered="#{companiaMBean.mode != utilityConstantes.modecreate}" />
							
							<p:inputText
								value="#{companiaMBean.entity.codigo}"
								rendered="#{companiaMBean.mode == utilityConstantes.modecreate}"
								maxlength="20"
								required="true"
								styleClass="crud-field-value"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','compania_dialog_Codigo')}"/>			
						</div>
					</div>
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.compania_dialog_Nombre}: (*)"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								value="#{companiaMBean.entity.nombre}"
								styleClass="crud-field-value"
								rendered="#{companiaMBean.mode == utilityConstantes.modeview}" />
							
							<p:inputText
								value="#{companiaMBean.entity.nombre}"
								rendered="#{companiaMBean.mode != utilityConstantes.modeview}"
								maxlength="200"
								required="true"
								styleClass="crud-field-value"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','compania_dialog_Nombre')}"/>			
						</div>
					</div>
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.compania_dialog_CssFolder}: (*)"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								value="#{companiaMBean.entity.cssFolder}"
								styleClass="crud-field-value"
								rendered="#{companiaMBean.mode == utilityConstantes.modeview}" />
							
							<p:inputText
								value="#{companiaMBean.entity.cssFolder}"
								rendered="#{companiaMBean.mode != utilityConstantes.modeview}"
								maxlength="45"
								required="true"
								styleClass="crud-field-value"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','compania_dialog_CssFolder')}"/>			
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.compania_dialog_Estado}: (*)"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								value="#{companiaMBean.entity.esActiva == true ? msg.generics_Activo : msg.generics_Inactivo}"
								styleClass="crud-field-value"
								rendered="#{companiaMBean.mode == utilityConstantes.modeview}" />
							
							<p:selectOneRadio
								value="#{companiaMBean.entity.esActiva}"
								rendered="#{companiaMBean.mode != utilityConstantes.modeview}"
								required="true"
								styleClass="crud-field-value"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','compania_dialog_Estado')}">
								<f:selectItem itemLabel="#{msg.generics_Activo}" itemValue="#{true}"/>
								<f:selectItem itemLabel="#{msg.generics_Inactivo}" itemValue="#{false}"/>
							</p:selectOneRadio>
						
						</div>
					</div>
					
				</div>
				
			</p:fieldset>
			
			<ui:include src="/generics/generics.xhtml"/>
			
		</h:form>
		
	</ui:define>
</ui:composition>