<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/generics/template.xhtml">
	
	<ui:define name="content">
		
		<h:form id="frm">

			<p:toolbar id="ribbons" styleClass="ribbons">
				<f:facet name="left">
					<p:outputLabel value="#{msg.gasto_dialogTitle}"/>
				</f:facet>
				<f:facet name="right">
					<p:commandButton 
						styleClass="dialogHidden crud-button-back fa fa-arrow-left"
						ajax="false" 
						immediate="true" 
						value="#{msg.generics_Regresar}" 
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
						action="/configuracion/gasto/gastoList.faces"/>
						
					<p:commandButton 
								update=":frm :frm:growl"
								rendered="#{(gastoMBean.mode == utilityConstantes.modecreate and gastoMBean.hasPermissionTo(utilityConstantes.actioncreate)) or (gastoMBean.mode == utilityConstantes.modeedit and gastoMBean.hasPermissionTo(utilityConstantes.actionupdate))}"
								ajax="#{!utilityMethods.isMobile()}"
								value="#{msg.generics_guardar}" 
								action="#{gastoMBean.saveEntity()}"
								styleClass="crud-button-save fa fa-floppy-o"
								onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
								
					<p:commandButton 
							rendered="#{gastoMBean.mode == utilityConstantes.modeview and gastoMBean.hasPermissionTo(utilityConstantes.actionupdate)}"
							ajax="false"
							value="#{msg.generics_editar}" 
							action="#{gastoMBean.editEntity(gastoMBean.entity.id, false)}"
							styleClass="crud-button-edit fa fa-edit"
							onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
							
					<p:commandButton 
							rendered="#{gastoMBean.mode == utilityConstantes.modeview and gastoMBean.hasPermissionTo(utilityConstantes.actiondelete)}"
							ajax="true" 
							value="#{msg.generics_eliminar}" 
							action="#{gastoMBean.deleteEntity(gastoMBean.entity.id, false)}"
							styleClass="crud-button-delete fa fa-trash-o"
							onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
							<p:confirm header="#{msg.generics_Confirm}" 
							 		message="#{msg.generics_Confirm_msg_delete}"
							 		icon="ui-icon-alert"/>	
						</p:commandButton>
								
				</f:facet>
			</p:toolbar>
			
			<p:fieldset styleClass="crudFieldset">
				
				<div class="crud-requiredMsg">#{msg.generics_requiredText}</div>
				
				<p:separator/>
				
				<div class="ui-grid ui-grid-responsive">
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.gasto_dialog_Nombre}: (*)"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								value="#{gastoMBean.entity.nombre}"
								styleClass="crud-field-value"
								rendered="#{gastoMBean.mode == utilityConstantes.modeview}" />
							
							<p:inputText
								value="#{gastoMBean.entity.nombre}"
								rendered="#{gastoMBean.mode != utilityConstantes.modeview}"
								maxlength="100"
								required="true"
								styleClass="crud-field-value"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','gasto_dialog_Nombre')}"/>			
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.gasto_dialog_Valor}:"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								value="#{gastoMBean.entity.valor}"
								styleClass="crud-field-value"
								rendered="#{gastoMBean.mode == utilityConstantes.modeview}">
								<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0"/>
							</p:outputLabel>
							
							<p:inputText
								value="#{gastoMBean.entity.valor}"
								rendered="#{gastoMBean.mode != utilityConstantes.modeview}"
								required="false"
								styleClass="crud-field-value"
								converterMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_validateNumber','gasto_dialog_Valor')}">
								<f:convertNumber type="number"/>
							</p:inputText>			
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.gasto_dialog_TipoGasto}: (*)"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								value="#{gastoMBean.entity.tipoGasto == 'AD' ? msg.gasto_dialog_TipoGastoAD : msg.gasto_dialog_TipoGastoTR}"
								styleClass="crud-field-value"
								rendered="#{gastoMBean.mode == utilityConstantes.modeview}" />
							
							<p:selectOneRadio
								value="#{gastoMBean.entity.tipoGasto}"
								rendered="#{gastoMBean.mode != utilityConstantes.modeview}"
								required="true"
								styleClass="crud-field-value"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','gasto_dialog_TipoGasto')}">
								<f:selectItem itemLabel="#{msg.gasto_dialog_TipoGastoAD}" itemValue="AD"/>
								<f:selectItem itemLabel="#{msg.gasto_dialog_TipoGastoTR}" itemValue="TR"/>
							</p:selectOneRadio>
						
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.gasto_dialog_Estado}: (*)"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								value="#{gastoMBean.entity.esActivo == true ? msg.generics_Activo : msg.generics_Inactivo}"
								styleClass="crud-field-value"
								rendered="#{gastoMBean.mode == utilityConstantes.modeview}" />
							
							<p:selectOneRadio
								value="#{gastoMBean.entity.esActivo}"
								rendered="#{gastoMBean.mode != utilityConstantes.modeview}"
								required="true"
								styleClass="crud-field-value"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','gasto_dialog_Estado')}">
								<f:selectItem itemLabel="#{msg.generics_Activo}" itemValue="#{true}"/>
								<f:selectItem itemLabel="#{msg.generics_Inactivo}" itemValue="#{false}"/>
							</p:selectOneRadio>
						
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.gasto_dialog_EsDefectoConsignacion}: (*)"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								value="#{gastoMBean.entity.esDefectoConsignacion == true ? msg.generics_SI : msg.generics_NO}"
								styleClass="crud-field-value"
								rendered="#{gastoMBean.mode == utilityConstantes.modeview}" />
							
							<p:selectOneRadio
								value="#{gastoMBean.entity.esDefectoConsignacion}"
								rendered="#{gastoMBean.mode != utilityConstantes.modeview}"
								required="true"
								styleClass="crud-field-value"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','gasto_dialog_EsDefectoConsignacion')}">
								<f:selectItem itemLabel="#{msg.generics_SI}" itemValue="#{true}"/>
								<f:selectItem itemLabel="#{msg.generics_NO}" itemValue="#{false}"/>
							</p:selectOneRadio>
						
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.gasto_dialog_Descripcion}:"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								value="#{gastoMBean.entity.descripcion}"
								styleClass="crud-field-value"
								rendered="#{gastoMBean.mode == utilityConstantes.modeview}" />
							
							<p:inputTextarea
								value="#{gastoMBean.entity.descripcion}"
								styleClass="crud-field-value"
								rendered="#{gastoMBean.mode != utilityConstantes.modeview}"/>			
						</div>
					</div>
					
				</div>
				
			</p:fieldset>
			
			<ui:include src="/generics/generics.xhtml"/>
			
		</h:form>
		
	</ui:define>
</ui:composition>