<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/generics/template.xhtml">
	
	<ui:define name="content">
		
		<h:form id="frm">
		
			<p:toolbar id="ribbons" styleClass="ribbons">
				<f:facet name="left">
					<p:outputLabel value="#{msg.formulario_dialogTitle}"/>
				</f:facet>
				<f:facet name="right">
				
					<p:commandButton 
						styleClass="dialogHidden crud-button-back fa fa-arrow-left"
						ajax="false" 
						immediate="true" 
						value="#{msg.generics_Regresar}" 
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
						action="/seguridad/formulario/formularioList.faces"/>
						
					<p:commandButton 
						update=":frm :frm:growl"
						rendered="#{(formularioMBean.mode == utilityConstantes.modecreate and formularioMBean.hasPermissionTo(utilityConstantes.actioncreate)) or (formularioMBean.mode == utilityConstantes.modeedit and formularioMBean.hasPermissionTo(utilityConstantes.actionupdate))}"
						ajax="#{!utilityMethods.isMobile()}"
						title="#{msg.generics_guardar}" 
						action="#{formularioMBean.saveEntity()}"
						styleClass="crud-button-save fa fa-floppy-o"
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
								
					<p:commandButton 
						rendered="#{formularioMBean.mode == utilityConstantes.modeview and formularioMBean.hasPermissionTo(utilityConstantes.actionupdate)}"
						ajax="false"
						title="#{msg.generics_editar}" 
						action="#{formularioMBean.editEntity(formularioMBean.entity.id, false)}"
						styleClass="crud-button-edit fa fa-edit"
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
							
					<p:commandButton 
						rendered="#{formularioMBean.mode == utilityConstantes.modeview and formularioMBean.hasPermissionTo(utilityConstantes.actiondelete)}"
						ajax="true" 
						title="#{msg.generics_eliminar}" 
						action="#{formularioMBean.deleteEntity(formularioMBean.entity.id, false)}"
						styleClass="crud-button-delete fa fa-trash-o"
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
						<p:confirm header="#{msg.generics_Confirm}" 
					 		message="#{msg.generics_Confirm_msg_delete}"
					 		icon="ui-icon-alert"/>	
					</p:commandButton>
					
				</f:facet>
			</p:toolbar>
			
			<p:fieldset styleClass="crudFieldset">
				<div class="crud-requiredMsg">#{msg.generics_requiredText}</div>
				<p:separator/>
				
				<div class="ui-grid ui-grid-responsive">
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel
								styleClass="crud-field-label" 
								value="#{msg.formulario_dialog_Nombre}: (*)"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								styleClass="crud-field-value"
								value="#{formularioMBean.entity.nombreDescriptivo}"
								rendered="#{formularioMBean.mode == utilityConstantes.modeview}" />
							
							<p:inputText
								styleClass="crud-field-value"
								value="#{formularioMBean.entity.nombreDescriptivo}"
								rendered="#{formularioMBean.mode != utilityConstantes.modeview}"
								maxlength="20"
								required="true"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','formulario_dialog_Nombre')}"/>			
						</div>
					</div>
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel
								styleClass="crud-field-label" 
								value="#{msg.formulario_dialog_Padre}: "/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								styleClass="crud-field-value"
								value="#{formularioMBean.entity.formularioPadre.nombreDescriptivo}"
								rendered="#{formularioMBean.mode == utilityConstantes.modeview}" />
							
							<p:selectOneMenu
								id="selector"
								styleClass="crud-field-value"
								value="#{formularioMBean.entity.formularioPadre.id}"
								rendered="#{formularioMBean.mode != utilityConstantes.modeview}"
								>
								<f:selectItem 
									itemLabel=""
									itemValue=""
									noSelectionOption="#{true}"
									/>
								<f:selectItems value="#{formularioMBean.formulariosDropDownList}"
									var="formulario"
									itemLabel="#{formulario.nombreDescriptivo}"
									itemValue="#{formulario.id}"/>
							</p:selectOneMenu>		
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel
								styleClass="crud-field-label" 
								value="#{msg.formulario_dialog_Orden}:"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								styleClass="crud-field-value"
								value="#{formularioMBean.entity.orden}"
								rendered="#{formularioMBean.mode == utilityConstantes.modeview}" />
							
							<p:inputText
								styleClass="crud-field-value"
								type="number"
								value="#{formularioMBean.entity.orden}"
								rendered="#{formularioMBean.mode != utilityConstantes.modeview}"
								required="true"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','formulario_dialog_Orden')}"
								converterMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_vaidateNumber','formulario_dialog_Orden')}"
								/>			
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel 
								value="#{msg.formulario_dialog_Estado}: (*)"
								styleClass="crud-field-label"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								styleClass="crud-field-value"
								value="#{formularioMBean.entity.esActivo == true ? msg.generics_Activo : msg.generics_Inactivo}"
								rendered="#{formularioMBean.mode == utilityConstantes.modeview}" />
								
							<p:selectOneRadio
								styleClass="crud-field-value"
								value="#{formularioMBean.entity.esActivo}"
								rendered="#{formularioMBean.mode != utilityConstantes.modeview}"
								required="true"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','formulario_dialog_Estado')}">
								<f:selectItem itemLabel="#{msg.generics_Activo}" itemValue="#{true}"/>
								<f:selectItem itemLabel="#{msg.generics_Inactivo}" itemValue="#{false}"/>
							</p:selectOneRadio>
							
						</div>
					</div>
				</div>
				
			</p:fieldset>
			
			<ui:include src="/generics/generics.xhtml"/>
			
		</h:form>
		
	</ui:define>
</ui:composition>