<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
	
	<div class="ui-grid ui-grid-responsive footerGrid">
		<div class="ui-grid-row">
			<div class="ui-grid-col-2">
				<br/>
			</div>
			<div class="ui-grid-col-8 footerCenterText">
				<p:outputLabel value="#{msg['header_applicationName']}" />
			</div>
			<div class="ui-grid-col-2 footerLeftLogo">
				<div class="footerLeftImgLogo"/>
			</div>
		</div>
	</div>
		
</ui:composition>
