<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<p:growl id="growl" showDetail="false" showSummary="true"/>

	<p:confirmDialog appendTo="@(body)" global="true" showEffect="fade" hideEffect="fade" styleClass="confirmDialog">
		<p:commandButton value="#{msg.generics_SI}" type="button"
					styleClass="ui-confirmdialog-yes fa fa-check"/>
		<p:commandButton value="#{msg.generics_NO}" type="button"
					styleClass="ui-confirmdialog-no fa fa-times"/>
	</p:confirmDialog>
	
	<p:dialog styleClass="dialogLoading" appendTo="@(body)" widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
		<div class="imgLoading"/>
	</p:dialog>
	
</ui:composition>
