<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
	
	<h:form>
	
		<div class="ui-grid ui-grid-responsive headerGrid">
			<div class="ui-grid-row">
				<div class="headerLogo">
					<div class="imgLogo"/>
				</div>
				<div class="ui-grid-col-8 headerNombreApp">
					<h:outputText styleClass="headerNombreAppLabel" value="#{msg['header_applicationInitials']} - #{msg['header_applicationName']}" />
					<br/>
					<h:outputText styleClass="headerNombreCiaLabel" value="#{loginMBean.usuario.compania.codigo} - #{loginMBean.usuario.compania.nombre}" />
					
					<p:menubar styleClass="customMenu" model="#{loginMBean.model}" rendered="#{loginMBean.logeado}"/>
					
				</div>
				<div class="headerUserInfo">
					<table>
						<tr>
							<td>
								<p:commandLink
									ajax="false"
									value="#{msg['header_inicio']}"
									rendered="#{loginMBean.logeado}"
									action="/seguridad/workArea.faces"/>
							</td>
							<td>
								<p:outputLabel value="&nbsp;|&nbsp;" rendered="#{loginMBean.logeado}"/>
							</td>
							<td style="text-align: center;">
								<p:commandLink
									ajax="false"
									value="#{msg['header_cambiarPW']}"
									rendered="#{loginMBean.logeado}"
									action="/seguridad/cambiarPassword.faces"/>
							</td>
							<td>
								<p:outputLabel value="&nbsp;|&nbsp;" rendered="#{loginMBean.logeado}"/>
							</td>
							<td style="text-align: center;">
								<p:commandLink
									ajax="false"
									value="#{msg['header_salir']}"
									rendered="#{loginMBean.logeado}"
									actionListener="#{loginMBean.cerrarSesion}"/>
							</td>
						</tr>
						<tr>
							<td colspan="5">
								<br/>
							</td>
						</tr>
						<tr>
							<td colspan="4">
								<p:outputLabel value="#{loginMBean.usuario.nombre}" rendered="#{loginMBean.logeado}"/>
							</td>
							<td>
								<script type="text/javascript">
								    function openHelpPage() {
								    	var actualPage = window.location.pathname.substring(location.pathname.lastIndexOf("/") + 1);
								    	window.open("/PVSWeb/ayuda/help_inicio.faces?actualPage="+actualPage);				
								    }
								</script>
								<!-- <p:outputPanel styleClass="header_help_container" rendered="#{loginMBean.logeado}">
									<div class="header_help fa fa-question" onclick="openHelpPage();"/>
								</p:outputPanel> -->
							</td>
						</tr>
					</table>
					
				</div>
			</div>
		</div>
		
		<div class="ui-grid ui-grid-responsive headerGridMobile">
			<div class="ui-grid-row">
				<div class="ui-grid-col-12">
					<p:outputPanel rendered="#{loginMBean.logeado}">
						<table width="95%">
							<tr>
								<td width="20%" align="left">
									<p:commandButton id="showMenu" styleClass="header-btnMenu fa fa-bars" type="button"/>
									<p:menu toggleable="true" overlay="true" trigger="showMenu" my="left top" at="left bottom" styleClass="customMenu" model="#{loginMBean.model}"/>
								</td>
								<td width="60%" align="center" class="headerNombreApp">
									<h:outputText value="#{msg['header_applicationName']}" />
									<br/>
									<h:outputText value="#{loginMBean.usuario.compania.codigo} - #{loginMBean.usuario.compania.nombre}" />
								</td>
								<td  width="20%" align="right">
									<p:commandButton id="showUserActions" type="button" styleClass="header-btnActions fa fa-user"/>
									<p:menu overlay="true" trigger="showUserActions" my="left top" at="left bottom" styleClass="customMenu">
										<p:submenu label="#{loginMBean.usuario.nombre}"/>
							            <p:menuitem value="#{msg['header_inicio']}" action="/seguridad/workArea.faces"/>
							            <p:menuitem value="#{msg['header_cambiarPW']}" action="/seguridad/cambiarPassword.faces"/>
							            <p:menuitem value="#{msg['header_salir']}" actionListener="#{loginMBean.cerrarSesion}"/>
								    </p:menu>
								</td>
							</tr>
						</table>
					</p:outputPanel>
				</div>
			</div>
		</div>
		
	</h:form>
	
</ui:composition>