<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pm="http://primefaces.org/mobile"
	xmlns:f="http://java.sun.com/jsf/core">
	
	<f:view contentType="text/html">
	
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		
		<title>Premium Vehicle Sales</title>
		
		<h:head>
		
			<h:outputStylesheet name="css/PC/theme.css" 
								rendered="#{!utilityMethods.isMobile() and !utilityMethods.isDlg()}"/>
			<h:outputStylesheet name="css/PC/theme_mobile.css" 
								rendered="#{utilityMethods.isMobile() and !utilityMethods.isDlg()}"/>
			<h:outputStylesheet name="css/PC/theme_modal.css" 
								rendered="#{!utilityMethods.isMobile() and utilityMethods.isDlg()}"/>
								
			<h:outputStylesheet name="css/DEFAULT/font-awesome/css/font-awesome.min.css"/>
								
			<meta name="viewport" content="width=device-width, initial-scale=1.0" />	

		</h:head>
		
		<h:body>
		
			<p:layout fullPage="true" resizeTitle="resize" style="background-color:#FFFFFF;">
			
				<p:layoutUnit position="north" minSize="110" styleClass="layoutHeader">
					<ui:include src="header.xhtml" />
				</p:layoutUnit>

				<p:layoutUnit position="center" styleClass="layoutContent">
					<ui:insert name="content" />
				</p:layoutUnit>
				
				<p:layoutUnit position="south" minSize="65" styleClass="layoutFooter">
					<ui:include src="footer.xhtml" />
				</p:layoutUnit>
				
			</p:layout>
			
		</h:body>
		
	</f:view>
	
</html>