<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/generics/template.xhtml">
	
	<ui:define name="content">
		
		<h:form id="frm">

			<p:toolbar id="ribbons" styleClass="ribbons">
				<f:facet name="left">
					<p:outputLabel value="#{msg.constante_dialogTitle}"/>
				</f:facet>
				<f:facet name="right">
					<p:commandButton 
						styleClass="dialogHidden crud-button-back fa fa-arrow-left"
						ajax="false" 
						immediate="true" 
						value="#{msg.generics_Regresar}" 
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
						action="/configuracion/constante/constanteList.faces"/>
						
					<p:commandButton 
								update=":frm :frm:growl"
								rendered="#{(constanteMBean.mode == utilityConstantes.modecreate and constanteMBean.hasPermissionTo(utilityConstantes.actioncreate)) or (constanteMBean.mode == utilityConstantes.modeedit and constanteMBean.hasPermissionTo(utilityConstantes.actionupdate))}"
								ajax="#{!utilityMethods.isMobile()}"
								value="#{msg.generics_guardar}" 
								action="#{constanteMBean.saveEntity()}"
								styleClass="crud-button-save fa fa-floppy-o"
								onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
								
					<p:commandButton 
							rendered="#{constanteMBean.mode == utilityConstantes.modeview and constanteMBean.hasPermissionTo(utilityConstantes.actionupdate)}"
							ajax="false"
							value="#{msg.generics_editar}" 
							action="#{constanteMBean.editEntity(constanteMBean.entity.id, false)}"
							styleClass="crud-button-edit fa fa-edit"
							onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
							
					<p:commandButton 
							rendered="#{constanteMBean.mode == utilityConstantes.modeview and constanteMBean.hasPermissionTo(utilityConstantes.actiondelete)}"
							ajax="true" 
							value="#{msg.generics_eliminar}" 
							action="#{constanteMBean.deleteEntity(constanteMBean.entity.id, false)}"
							styleClass="crud-button-delete fa fa-trash-o"
							onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
							<p:confirm header="#{msg.generics_Confirm}" 
							 		message="#{msg.generics_Confirm_msg_delete}"
							 		icon="ui-icon-alert"/>	
						</p:commandButton>
								
				</f:facet>
			</p:toolbar>
			
			<p:fieldset styleClass="crudFieldset">
				
				<div class="crud-requiredMsg">#{msg.generics_requiredText}</div>
				
				<p:separator/>
				
				<div class="ui-grid ui-grid-responsive">
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.constante_dialog_Codigo}: (*)"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								value="#{constanteMBean.entity.codigo}"
								styleClass="crud-field-value"
								rendered="#{constanteMBean.mode != utilityConstantes.modecreate}" />
							
							<p:inputText
								value="#{constanteMBean.entity.codigo}"
								rendered="#{constanteMBean.mode == utilityConstantes.modecreate}"
								maxlength="40"
								required="true"
								styleClass="crud-field-value"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','constante_dialog_Codigo')}"/>			
						</div>
					</div>
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.constante_dialog_Valor}: (*)"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								value="#{constanteMBean.entity.valor}"
								styleClass="crud-field-value"
								rendered="#{constanteMBean.mode == utilityConstantes.modeview}" />
							
							<p:inputText
								value="#{constanteMBean.entity.valor}"
								rendered="#{constanteMBean.mode != utilityConstantes.modeview}"
								maxlength="200"
								required="true"
								styleClass="crud-field-value"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','constante_dialog_Valor')}"/>			
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.constante_dialog_Descripcion}:"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								value="#{constanteMBean.entity.descripcion}"
								styleClass="crud-field-value"
								rendered="#{constanteMBean.mode == utilityConstantes.modeview}" />
							
							<p:inputTextarea
								value="#{constanteMBean.entity.descripcion}"
								styleClass="crud-field-value"
								rendered="#{constanteMBean.mode != utilityConstantes.modeview}"/>			
						</div>
					</div>
					
				</div>
				
			</p:fieldset>
			
			<ui:include src="/generics/generics.xhtml"/>
			
		</h:form>
		
	</ui:define>
</ui:composition>