<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/generics/template.xhtml">
	
	<ui:define name="content">
		
		<h:form id="frm">

			<p:toolbar id="ribbons" styleClass="ribbons">
				<f:facet name="left">
					<p:outputLabel value="#{msg.mensajeNotificacion_dialogTitle}"/>
				</f:facet>
				<f:facet name="right">
					<p:commandButton 
						styleClass="dialogHidden crud-button-back fa fa-arrow-left"
						ajax="false" 
						immediate="true" 
						value="#{msg.generics_Regresar}" 
						onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
						action="/configuracion/mensajenotificacion/mensajeNotificacionList.faces"/>
						
					<p:commandButton 
								update=":frm :frm:growl"
								rendered="#{(mensajeNotificacionMBean.mode == utilityConstantes.modecreate and mensajeNotificacionMBean.hasPermissionTo(utilityConstantes.actioncreate)) or (mensajeNotificacionMBean.mode == utilityConstantes.modeedit and mensajeNotificacionMBean.hasPermissionTo(utilityConstantes.actionupdate))}"
								ajax="#{!utilityMethods.isMobile()}"
								value="#{msg.generics_guardar}" 
								action="#{mensajeNotificacionMBean.saveEntity()}"
								styleClass="crud-button-save fa fa-floppy-o"
								onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
								
					<p:commandButton 
							rendered="#{mensajeNotificacionMBean.mode == utilityConstantes.modeview and mensajeNotificacionMBean.hasPermissionTo(utilityConstantes.actionupdate)}"
							ajax="false"
							value="#{msg.generics_editar}" 
							action="#{mensajeNotificacionMBean.editEntity(mensajeNotificacionMBean.entity.id, false)}"
							styleClass="crud-button-edit fa fa-edit"
							onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
							
					<p:commandButton 
							rendered="#{mensajeNotificacionMBean.mode == utilityConstantes.modeview and mensajeNotificacionMBean.hasPermissionTo(utilityConstantes.actiondelete)}"
							ajax="true" 
							value="#{msg.generics_eliminar}" 
							action="#{mensajeNotificacionMBean.deleteEntity(mensajeNotificacionMBean.entity.id, false)}"
							styleClass="crud-button-delete fa fa-trash-o"
							onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
							<p:confirm header="#{msg.generics_Confirm}" 
							 		message="#{msg.generics_Confirm_msg_delete}"
							 		icon="ui-icon-alert"/>	
						</p:commandButton>
								
				</f:facet>
			</p:toolbar>
			
			<p:fieldset styleClass="crudFieldset">
				
				<div class="crud-requiredMsg">#{msg.generics_requiredText}</div>
				
				<p:separator/>
				
				<div class="ui-grid ui-grid-responsive">
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.mensajeNotificacion_dialog_Codigo}: (*)"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								value="#{mensajeNotificacionMBean.entity.codigo}"
								styleClass="crud-field-value"
								rendered="#{mensajeNotificacionMBean.mode != utilityConstantes.modecreate}" />
							
							<p:inputText
								value="#{mensajeNotificacionMBean.entity.codigo}"
								rendered="#{mensajeNotificacionMBean.mode == utilityConstantes.modecreate}"
								maxlength="20"
								required="true"
								styleClass="crud-field-value"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','mensajeNotificacion_dialog_Codigo')}"/>			
						</div>
					</div>
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.mensajeNotificacion_dialog_Asunto}: (*)"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								value="#{mensajeNotificacionMBean.entity.asunto}"
								styleClass="crud-field-value"
								rendered="#{mensajeNotificacionMBean.mode == utilityConstantes.modeview}" />
							
							<p:inputText
								value="#{mensajeNotificacionMBean.entity.asunto}"
								rendered="#{mensajeNotificacionMBean.mode != utilityConstantes.modeview}"
								maxlength="100"
								required="true"
								styleClass="crud-field-value"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','mensajeNotificacion_dialog_Asunto')}"/>			
						</div>
					</div>
					
					<div class="ui-grid-row">
						<div class="ui-grid-col-4">
							<p:outputLabel styleClass="crud-field-label" value="#{msg.mensajeNotificacion_dialog_Mensaje}: (*)"/>
						</div>
						<div class="ui-grid-col-8">
							<p:outputLabel
								value="#{mensajeNotificacionMBean.entity.mensaje}"
								styleClass="crud-field-value"
								rendered="#{mensajeNotificacionMBean.mode == utilityConstantes.modeview}" />
							
							<p:inputTextarea
								required="true"
								value="#{mensajeNotificacionMBean.entity.mensaje}"
								styleClass="crud-field-value"
								rendered="#{mensajeNotificacionMBean.mode != utilityConstantes.modeview}"
								requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','mensajeNotificacion_dialog_Mensaje')}"/>		
						</div>
					</div>
					
				</div>
				
			</p:fieldset>
			
			<ui:include src="/generics/generics.xhtml"/>
			
		</h:form>
		
	</ui:define>
</ui:composition>