<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/generics/template.xhtml">
	
	<ui:define name="content">
		
		<h:form id="frm">

			<p:accordionPanel styleClass="crud_accordion">
        		<p:tab title="#{msg.vehiculo_dialog_SeccionGral}">
        		
        			<p:toolbar>
						<f:facet name="right">
							<p:commandButton 
								styleClass="dialogHidden crud-button-back fa fa-arrow-left"
								ajax="false" 
								immediate="true" 
								value="#{msg.generics_Regresar}" 
								onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
								action="/configuracion/vehiculo/vehiculoList.faces"/>
								
							<p:commandButton 
										update=":frm :frm:growl"
										rendered="#{!vehiculoMBean.noOptions and ((vehiculoMBean.mode == utilityConstantes.modecreate and vehiculoMBean.hasPermissionTo(utilityConstantes.actioncreate)) or (vehiculoMBean.mode == utilityConstantes.modeedit and vehiculoMBean.hasPermissionTo(utilityConstantes.actionupdate)))}"
										ajax="#{!utilityMethods.isMobile()}"
										value="#{msg.generics_guardar}" 
										action="#{vehiculoMBean.saveEntity()}"
										styleClass="crud-button-save fa fa-floppy-o"
										onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
										
							<p:commandButton 
									rendered="#{!vehiculoMBean.noOptions and (vehiculoMBean.mode == utilityConstantes.modeview and vehiculoMBean.hasPermissionTo(utilityConstantes.actionupdate))}"
									ajax="false"
									value="#{msg.generics_editar}" 
									action="#{vehiculoMBean.editEntity(vehiculoMBean.entity.id, false)}"
									styleClass="crud-button-edit fa fa-edit"
									onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
									
							<p:commandButton 
									rendered="#{!vehiculoMBean.noOptions and (vehiculoMBean.mode == utilityConstantes.modeview and vehiculoMBean.hasPermissionTo(utilityConstantes.actiondelete))}"
									ajax="true" 
									value="#{msg.generics_eliminar}" 
									action="#{vehiculoMBean.deleteEntity(vehiculoMBean.entity.id, false)}"
									styleClass="crud-button-delete fa fa-trash-o"
									onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()">
									<p:confirm header="#{msg.generics_Confirm}" 
									 		message="#{msg.generics_Confirm_msg_delete}"
									 		icon="ui-icon-alert"/>	
								</p:commandButton>
										
						</f:facet>
					</p:toolbar>
					
					<p:fieldset styleClass="crudFieldset">
						
						<div class="crud-requiredMsg">#{msg.generics_requiredText}</div>
						
						<p:separator/>
						
						<div class="ui-grid ui-grid-responsive">
							
							<div class="ui-grid-row">
								<div class="ui-grid-col-4">
									<p:outputLabel styleClass="crud-field-label" value="#{msg.vehiculo_dialog_Placa}: (*)"/>
								</div>
								<div class="ui-grid-col-8">
								
									<script type="text/javascript">
										function toMayus(o){
											o.value = o.value.toUpperCase().replace(/([^0-9A-Z])/g,"");
										}
									</script>

									<p:outputLabel
										value="#{vehiculoMBean.entity.placa}"
										styleClass="crud-field-value"
										rendered="#{vehiculoMBean.mode == utilityConstantes.modeview}" />
									
									<p:inputText
										value="#{vehiculoMBean.entity.placa}"
										rendered="#{vehiculoMBean.mode != utilityConstantes.modeview}"
										maxlength="6"
										required="true"
										onkeydown="toMayus(this)"
       									onkeyup="toMayus(this)"
										styleClass="crud-field-value"
										requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','vehiculo_dialog_Placa')}"
										validatorMessage="#{msg.vehiculo_validacion_Placa}">
										<!-- <f:validateRegex pattern="^([A-Z]{3}\d{3})$" /> -->
									</p:inputText>			
								</div>
							</div>
							
							<div class="ui-grid-row">
								<div class="ui-grid-col-4">
									<p:outputLabel styleClass="crud-field-label" value="#{msg.vehiculo_dialog_TipoVehiculo}: (*)"/>
								</div>
								<div class="ui-grid-col-8">
									<p:outputLabel
										value="#{vehiculoMBean.entity.tipoVehiculo.nombre}"
										styleClass="crud-field-value"
										rendered="#{vehiculoMBean.mode == utilityConstantes.modeview}" />
										
									<p:selectOneMenu
										id="selectorTipoVehiculo"
										styleClass="crud-field-select-value"
										value="#{vehiculoMBean.entity.tipoVehiculo.id}"
										required="true"
										requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','vehiculo_dialog_TipoVehiculo')}"
										rendered="#{vehiculoMBean.mode != utilityConstantes.modeview}">
										<p:ajax process="@this" listener="#{vehiculoMBean.fillDropDownsDependentTipoVehiculo()}" 
													event="change" update="selectorMarcas selectorCarrocerias" />
										<f:selectItem itemDisabled="" itemValue="" noSelectionOption="true"/>
										<f:selectItems value="#{vehiculoMBean.tiposVehiculoDropDownList}"
											var="tipoVehiculo"
											itemLabel="#{tipoVehiculo.nombre}"
											itemValue="#{tipoVehiculo.id}"/>
									</p:selectOneMenu>	
									
								</div>
							</div>
							
							<div class="ui-grid-row">
								<div class="ui-grid-col-4">
									<p:outputLabel styleClass="crud-field-label" value="#{msg.vehiculo_dialog_Marca}: (*)"/>
								</div>
								<div class="ui-grid-col-8">
									<p:outputLabel
										value="#{vehiculoMBean.entity.marca.nombre}"
										styleClass="crud-field-value"
										rendered="#{vehiculoMBean.mode == utilityConstantes.modeview}" />
										
									<p:selectOneMenu
										id="selectorMarcas"
										styleClass="crud-field-select-value"
										value="#{vehiculoMBean.entity.marca.id}"
										required="true"
										requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','vehiculo_dialog_Marca')}"
										rendered="#{vehiculoMBean.mode != utilityConstantes.modeview}">
										<f:selectItems value="#{vehiculoMBean.marcasDropDownList}"
											var="marca"
											itemLabel="#{marca.nombre}"
											itemValue="#{marca.id}"/>
									</p:selectOneMenu>	
									
								</div>
							</div>
							
							<div class="ui-grid-row">
								<div class="ui-grid-col-4">
									<p:outputLabel styleClass="crud-field-label" value="#{msg.vehiculo_dialog_Carroceria}: (*)"/>
								</div>
								<div class="ui-grid-col-8">
									<p:outputLabel
										value="#{vehiculoMBean.entity.carroceria.nombre}"
										styleClass="crud-field-value"
										rendered="#{vehiculoMBean.mode == utilityConstantes.modeview}" />
										
									<p:selectOneMenu
										id="selectorCarrocerias"
										styleClass="crud-field-select-value"
										value="#{vehiculoMBean.entity.carroceria.id}"
										required="true"
										requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','vehiculo_dialog_Carroceria')}"
										rendered="#{vehiculoMBean.mode != utilityConstantes.modeview}">
										<f:selectItems value="#{vehiculoMBean.carroceriasDropDownList}"
											var="carroceria"
											itemLabel="#{carroceria.nombre}"
											itemValue="#{carroceria.id}"/>
									</p:selectOneMenu>	
									
								</div>
							</div>
							
							<div class="ui-grid-row">
								<div class="ui-grid-col-4">
									<p:outputLabel styleClass="crud-field-label" value="#{msg.vehiculo_dialog_Color}: (*)"/>
								</div>
								<div class="ui-grid-col-8">
									<p:outputLabel
										value="#{vehiculoMBean.entity.color.nombre}"
										styleClass="crud-field-value"
										rendered="#{vehiculoMBean.mode == utilityConstantes.modeview}" />
										
									<p:selectOneMenu
										id="selectorColores"
										styleClass="crud-field-select-value"
										value="#{vehiculoMBean.entity.color.id}"
										required="true"
										requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','vehiculo_dialog_Color')}"
										rendered="#{vehiculoMBean.mode != utilityConstantes.modeview}">
										<f:selectItems value="#{vehiculoMBean.coloresDropDownList}"
											var="color"
											itemLabel="#{color.nombre}"
											itemValue="#{color.id}"/>
									</p:selectOneMenu>	
									
								</div>
							</div>
							
							<div class="ui-grid-row">
								<div class="ui-grid-col-4">
									<p:outputLabel styleClass="crud-field-label" value="#{msg.vehiculo_dialog_Modelo}: (*)"/>
								</div>
								<div class="ui-grid-col-8">
									<p:outputLabel
										value="#{vehiculoMBean.entity.modelo}"
										styleClass="crud-field-value"
										rendered="#{vehiculoMBean.mode == utilityConstantes.modeview}" />
										
									<p:selectOneMenu
										id="selectorModelos"
										styleClass="crud-field-select-value"
										value="#{vehiculoMBean.entity.modelo}"
										required="true"
										requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','vehiculo_dialog_Modelo')}"
										rendered="#{vehiculoMBean.mode != utilityConstantes.modeview}">
										<f:selectItems value="#{vehiculoMBean.modelosDropDownList}"
											var="modelo"
											itemLabel="#{modelo}"
											itemValue="#{modelo}"/>
									</p:selectOneMenu>	
									
								</div>
							</div>
							
							<div class="ui-grid-row">
								<div class="ui-grid-col-4">
									<p:outputLabel styleClass="crud-field-label" value="#{msg.vehiculo_dialog_Transmision}: (*)"/>
								</div>
								<div class="ui-grid-col-8">
									<p:outputLabel
										value="#{vehiculoMBean.entity.transmision.nombre}"
										styleClass="crud-field-value"
										rendered="#{vehiculoMBean.mode == utilityConstantes.modeview}" />
										
									<p:selectOneMenu
										id="selectorTransmisiones"
										styleClass="crud-field-select-value"
										value="#{vehiculoMBean.entity.transmision.id}"
										required="true"
										requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','vehiculo_dialog_Transmision')}"
										rendered="#{vehiculoMBean.mode != utilityConstantes.modeview}">
										<f:selectItems value="#{vehiculoMBean.transmisionesDropDownList}"
											var="transmision"
											itemLabel="#{transmision.nombre}"
											itemValue="#{transmision.id}"/>
									</p:selectOneMenu>	
									
								</div>
							</div>
							
							<div class="ui-grid-row">
								<div class="ui-grid-col-4">
									<p:outputLabel styleClass="crud-field-label" value="#{msg.vehiculo_dialog_Cilindraje}: (*)"/>
								</div>
								<div class="ui-grid-col-8">
									<p:outputLabel
										value="#{vehiculoMBean.entity.cilindraje}"
										styleClass="crud-field-value"
										rendered="#{vehiculoMBean.mode == utilityConstantes.modeview}" />
										
									<p:inputText
										value="#{vehiculoMBean.entity.cilindraje}"
										rendered="#{vehiculoMBean.mode != utilityConstantes.modeview}"
										maxlength="4"
										required="true"
										styleClass="crud-field-value"
										requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','vehiculo_dialog_Cilindraje')}"
										converterMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_validateNumber','vehiculo_dialog_Cilindraje')}"/>
									
								</div>
							</div>
							
							<div class="ui-grid-row">
								<div class="ui-grid-col-4">
									<p:outputLabel styleClass="crud-field-label" value="#{msg.vehiculo_dialog_Linea}: (*)"/>
								</div>
								<div class="ui-grid-col-8">
									<p:outputLabel
										value="#{vehiculoMBean.entity.linea}"
										styleClass="crud-field-value"
										rendered="#{vehiculoMBean.mode == utilityConstantes.modeview}" />
									
									<p:inputText
										value="#{vehiculoMBean.entity.linea}"
										rendered="#{vehiculoMBean.mode != utilityConstantes.modeview}"
										maxlength="200"
										required="true"
										styleClass="crud-field-value"
										requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','vehiculo_dialog_Linea')}"/>			
								</div>
							</div>
							
							<div class="ui-grid-row">
								<div class="ui-grid-col-4">
									<p:outputLabel styleClass="crud-field-label" value="#{msg.vehiculo_dialog_Motor}: (*)"/>
								</div>
								<div class="ui-grid-col-8">
									<p:outputLabel
										value="#{vehiculoMBean.entity.motor}"
										styleClass="crud-field-value"
										rendered="#{vehiculoMBean.mode == utilityConstantes.modeview}" />
									
									<p:inputText
										value="#{vehiculoMBean.entity.motor}"
										rendered="#{vehiculoMBean.mode != utilityConstantes.modeview}"
										maxlength="200"
										required="true"
										styleClass="crud-field-value"
										requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','vehiculo_dialog_Motor')}"/>			
								</div>
							</div>
							
							<div class="ui-grid-row">
								<div class="ui-grid-col-4">
									<p:outputLabel styleClass="crud-field-label" value="#{msg.vehiculo_dialog_Chasis}: (*)"/>
								</div>
								<div class="ui-grid-col-8">
									<p:outputLabel
										value="#{vehiculoMBean.entity.chasis}"
										styleClass="crud-field-value"
										rendered="#{vehiculoMBean.mode == utilityConstantes.modeview}" />
									
									<p:inputText
										value="#{vehiculoMBean.entity.chasis}"
										rendered="#{vehiculoMBean.mode != utilityConstantes.modeview}"
										maxlength="200"
										required="true"
										styleClass="crud-field-value"
										requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','vehiculo_dialog_Chasis')}"/>			
								</div>
							</div>
							
							<div class="ui-grid-row">
								<div class="ui-grid-col-4">
									<p:outputLabel styleClass="crud-field-label" value="#{msg.vehiculo_dialog_Serie}: (*)"/>
								</div>
								<div class="ui-grid-col-8">
									<p:outputLabel
										value="#{vehiculoMBean.entity.serie}"
										styleClass="crud-field-value"
										rendered="#{vehiculoMBean.mode == utilityConstantes.modeview}" />
									
									<p:inputText
										value="#{vehiculoMBean.entity.serie}"
										rendered="#{vehiculoMBean.mode != utilityConstantes.modeview}"
										maxlength="200"
										required="true"
										styleClass="crud-field-value"
										requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','vehiculo_dialog_Serie')}"/>			
								</div>
							</div>
							
							<div class="ui-grid-row">
								<div class="ui-grid-col-4">
									<p:outputLabel styleClass="crud-field-label" value="#{msg.vehiculo_dialog_Estado}: (*)"/>
								</div>
								<div class="ui-grid-col-8">
									<p:outputLabel
										value="#{vehiculoMBean.entity.esActivoInventario == true ? msg.generics_Activo : msg.generics_Inactivo}"
										styleClass="crud-field-value"
										rendered="#{vehiculoMBean.mode != utilityConstantes.modeedit}" />
									
									<p:selectOneRadio
										value="#{vehiculoMBean.entity.esActivoInventario}"
										rendered="#{vehiculoMBean.mode == utilityConstantes.modeedit}"
										required="true"
										styleClass="crud-field-value"
										requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','vehiculo_dialog_Estado')}">
										<f:selectItem itemLabel="#{msg.generics_Activo}" itemValue="#{true}"/>
										<f:selectItem itemLabel="#{msg.generics_Inactivo}" itemValue="#{false}"/>
									</p:selectOneRadio>
								
								</div>
							</div>

							<div class="ui-grid-row">
								<div class="ui-grid-col-4">
									<p:outputLabel styleClass="crud-field-label" value="#{msg.vehiculo_dialog_Servicio}: (*)"/>
								</div>
								<div class="ui-grid-col-8">
									<p:outputLabel
											value="#{vehiculoMBean.entity.servicio == 'Pu' ? msg.vehiculo_dialog_Servicio_Pu : msg.vehiculo_dialog_Servicio_Pa}"
											styleClass="crud-field-value"
											rendered="#{vehiculoMBean.mode == utilityConstantes.modeview}" />

									<p:selectOneRadio
											value="#{vehiculoMBean.entity.servicio}"
											rendered="#{vehiculoMBean.mode != utilityConstantes.modeview}"
											required="true"
											styleClass="crud-field-value"
											requiredMessage="#{utilityMethods.getMsgResourceWithResourceParams('generics_required','vehiculo_dialog_Servicio')}">
										<f:selectItem itemLabel="#{msg.vehiculo_dialog_Servicio_Pu}" itemValue="Pu"/>
										<f:selectItem itemLabel="#{msg.vehiculo_dialog_Servicio_Pa}" itemValue="Pa"/>
									</p:selectOneRadio>

								</div>
							</div>
							
						</div>
						
					</p:fieldset>
				</p:tab>
				
				<p:tab title="#{msg.vehiculo_dialog_SeccionFotos}">
					<div class="ui-grid-row">
						<div class="ui-grid-col-12">
						
							<!-- Sección del datatable -->
							<p:dataTable
								id="dtaFotos" 
								var="foto" 
								value="#{vehiculoMBean.entity.fotos}"
								emptyMessage="#{msg.generics_RegistrosNoEncontrados}"
								paginator="true"
								rows="10"
								paginatorTemplate="  {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
								currentPageReportTemplate="({currentPage} de {totalPages})"
								sortMode="multiple"
								styleClass="list-datatable">
								
								<p:column
									headerText="#{msg.vehiculo_dialog_SeccionFotos_Nombre}">
									<h:outputText value="#{foto.nombreArchivo}" />
								</p:column>
								
								<p:column
									headerText="#{msg.vehiculo_dialog_SeccionFotos_Foto}">
									<p:graphicImage value="#{utilityMethods.vehicleImage}" width="80px">
										<f:param name="vehiculoId" value="#{vehiculoMBean.entity.id}" />
							            <f:param name="fotoId" value="#{foto.id}" />
							        </p:graphicImage>
								</p:column>
								
								<p:column rendered="#{vehiculoMBean.mode != utilityConstantes.modeview}">
									<p:commandButton
										id="descargararchivo"
										immediate="true"
										update=":frm:growl"
										action="#{vehiculoMBean.descargarArchivo(foto.id)}"
										ajax="false"
										styleClass="crud-button-download fa fa-download"/>	
									<p:commandButton 
											styleClass="list-button-delete fa fa-trash-o" 
											update="dtaFotos :frm:growl" 
											actionListener="#{vehiculoMBean.borrarArchivo(foto.id)}"
											onclick="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
											ajax="true">
										 <p:confirm header="#{msg.generics_Confirm}" 
										 		message="#{msg.generics_Confirm_msg_delete}"
										 		icon="ui-icon-alert"/>											
									</p:commandButton>
								</p:column>
								
							</p:dataTable>
						
							<p:fileUpload 
								id="fileUploadControl" 
								fileUploadListener="#{vehiculoMBean.handleFileUpload}" 
								rendered="#{vehiculoMBean.mode != utilityConstantes.modeview}"
								mode="advanced" 
								dragDropSupport="true"
                         		update=":frm :frm:growl" 
                         		allowTypes="/(\.|\/)(gif|jpg|jpeg|png)$/" 
                         		styleClass="crud-file-upload"
                         		invalidFileMessage="#{msg.generics_invalid_file_type}"
								cancelLabel="#{msg.generics_cancel}"
								uploadLabel="#{msg.generics_upload}" 
								label="#{msg.generics_choose}"/>
								
						</div>
					</div>
					
				</p:tab>
				
			</p:accordionPanel>
			
			<ui:include src="/generics/generics.xhtml"/>
			
		</h:form>
		
	</ui:define>
</ui:composition>
