<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pm="http://primefaces.org/mobile"
	xmlns:f="http://java.sun.com/jsf/core">
	
	<f:view contentType="text/html">
	
		<title>Premium Vehicle Sales</title>
		
		<h:head>
		
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1.0" />
			
			<h:outputStylesheet name="css/PC/theme_catalogo.css"/>
			

		</h:head>
		
		<h:body>
		
			<h:form id="frm">
			
				<div class="ui-grid ui-grid-responsive headerGrid">
					<div class="ui-grid-row">
						<div class="ui-grid-col-12 logoContent">
							<img class="imgLogo"/>
						</div>
					</div>
				</div>
			
				<div class="ui-grid ui-grid-responsive contentGrid">
					<div class="ui-grid-row">
						<div class="ui-grid-col-2">
						
							<p:outputLabel styleClass="crud-field-label" value="#{msg.vehiculo_dialog_TipoVehiculo}:"/>
							
							<br/>
							
							<p:selectOneMenu
								id="selectorTipoVehiculo"
								styleClass="crud-field-select-value"
								value="#{catalogoMBean.tipovehiculo.id}">
								<p:ajax process="@this" listener="#{catalogoMBean.fillDropDownsDependentTipoVehiculo()}" 
											event="change" update="selectorMarcas selectorCarrocerias" />
								<f:selectItem itemDisabled="" itemValue="" noSelectionOption="true"/>
								<f:selectItems value="#{catalogoMBean.tiposVehiculoDropDownList}"
									var="tipoVehiculo"
									itemLabel="#{tipoVehiculo.nombre}"
									itemValue="#{tipoVehiculo.id}"/>
							</p:selectOneMenu>
							
							<br/>
							
							<p:outputLabel styleClass="crud-field-label" value="#{msg.vehiculo_dialog_Marca}:"/>
							
							<br/>
							
							<p:selectOneMenu
								id="selectorMarcas"
								styleClass="crud-field-select-value">
								<f:selectItems value="#{catalogoMBean.marcasDropDownList}"
									var="marca"
									itemLabel="#{marca.nombre}"
									itemValue="#{marca.id}"/>
							</p:selectOneMenu>
							
							<br/>
							
							<p:outputLabel styleClass="crud-field-label" value="#{msg.vehiculo_dialog_Carroceria}:"/>
							
							<br/>
									
							<p:selectOneMenu
								id="selectorCarrocerias"
								styleClass="crud-field-select-value">
								<f:selectItems value="#{catalogoMBean.carroceriasDropDownList}"
									var="carroceria"
									itemLabel="#{carroceria.nombre}"
									itemValue="#{carroceria.id}"/>
							</p:selectOneMenu>
							
							<br/>
							
							<p:outputLabel styleClass="crud-field-label" value="#{msg.vehiculo_dialog_Color}:"/>
							
							<br/>
									
							<p:selectOneMenu
								styleClass="crud-field-select-value">
								<f:selectItems value="#{catalogoMBean.coloresDropDownList}"
									var="color"
									itemLabel="#{color.nombre}"
									itemValue="#{color.id}"/>
							</p:selectOneMenu>
							
							<br/>
							
							<p:outputLabel styleClass="crud-field-label" value="#{msg.vehiculo_dialog_Modelo}:"/>
							
							<br/>
							
							<p:selectOneMenu
								styleClass="crud-field-select-value">
								<f:selectItems value="#{catalogoMBean.modelosDropDownList}"
									var="modelo"
									itemLabel="#{modelo}"
									itemValue="#{modelo}"/>
							</p:selectOneMenu>	
							
							<br/>
							
							<p:outputLabel styleClass="crud-field-label" value="#{msg.vehiculo_dialog_Transmision}:"/>
							
							<br/>
									
							<p:selectOneMenu
								styleClass="crud-field-select-value">
								<f:selectItems value="#{catalogoMBean.transmisionesDropDownList}"
									var="color"
									itemLabel="#{color.nombre}"
									itemValue="#{color.id}"/>
							</p:selectOneMenu>
							
						</div>
						<div class="ui-grid-col-10">
							<p:dataGrid var="vehiculo" value="#{catalogoMBean.vehiculos}" columns="3" layout="grid"
						        rows="10" paginator="true" id="cars"
						        paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						        rowsPerPageTemplate="5,10,15" styleClass="grid-cars-ppal">
						 
						        <f:facet name="header">
						            <h:outputLabel value="#{msg.catalogo_Title}"/>
						        </f:facet>
						 
						        <p:panel header="#{vehiculo.marca.nombre} - #{vehiculo.linea} (#{vehiculo.placa})" style="text-align:center">
						            <h:panelGrid columns="1" style="width:100%" styleClass="grid_detail_car">
								        
								        <p:galleria value="#{vehiculo.fotos}" var="image" showCaption="false" panelWidth="200" panelHeight="150">
										    <p:graphicImage value="#{utilityMethods.vehicleImage}" width="200px">
												<f:param name="vehiculoId" value="#{vehiculo.id}" />
									            <f:param name="fotoId" value="#{image.id}" />
									        </p:graphicImage>
										</p:galleria>
										
										<p:panelGrid columns="2" styleClass="grid_detail_car_table" columnClasses="lbl, value">
											<h:outputText value="#{msg.catalogo_Precio}"/> 
											<h:outputText value="#{vehiculo.precioTmp}">
												<f:convertNumber type="currency" currencySymbol="$" maxFractionDigits="0" />
											</h:outputText> 
						                	<h:outputText value="#{msg.catalogo_Kilometros}"/>
						                	<h:outputText value="#{vehiculo.kilometrosTmp}"/> 
						                	<h:outputText value="#{msg.catalogo_Modelo}"/>
						                	<h:outputText value="#{vehiculo.modelo}"/> 
										</p:panelGrid>
										
										<p:commandButton type="button" value="Detalles" onclick="PF('dlg').show()" icon="ui-icon-extlink"/>
 
										<p:dialog header="Detalles" widgetVar="dlg" modal="true"
										    draggable="false" resizable="false" width="650px;" height="500px">
										 
										    <p:galleria id="galeriaModal" value="#{vehiculo.fotos}" autoPlay="false" var="image" showCaption="false" panelWidth="650" panelHeight="400">
											    <p:graphicImage value="#{utilityMethods.vehicleImage}" width="500px">
													<f:param name="vehiculoId" value="#{vehiculo.id}" />
										            <f:param name="fotoId" value="#{image.id}" />
										        </p:graphicImage>
											</p:galleria>
											
											<p:fieldset styleClass="crudFieldset">
						
												<p:separator/>
												
												<div class="ui-grid ui-grid-responsive">
													
													<div class="ui-grid-row">
														<div class="ui-grid-col-4">
															<p:outputLabel styleClass="crud-field-label" value="#{msg.vehiculo_dialog_Placa}:"/>
														</div>
														<div class="ui-grid-col-8">
														
															<p:outputLabel
																value="#{vehiculo.placa}"
																styleClass="crud-field-value"/>
															
														</div>
													</div>
													
													<div class="ui-grid-row">
														<div class="ui-grid-col-4">
															<p:outputLabel styleClass="crud-field-label" value="#{msg.vehiculo_dialog_TipoVehiculo}:"/>
														</div>
														<div class="ui-grid-col-8">
															<p:outputLabel
																value="#{vehiculo.tipoVehiculo.nombre}"
																styleClass="crud-field-value"/>
														</div>
													</div>
													
													<div class="ui-grid-row">
														<div class="ui-grid-col-4">
															<p:outputLabel styleClass="crud-field-label" value="#{msg.vehiculo_dialog_Marca}:"/>
														</div>
														<div class="ui-grid-col-8">
															<p:outputLabel
																value="#{vehiculo.marca.nombre}"
																styleClass="crud-field-value"/>
															
														</div>
													</div>
													
													<div class="ui-grid-row">
														<div class="ui-grid-col-4">
															<p:outputLabel styleClass="crud-field-label" value="#{msg.vehiculo_dialog_Carroceria}:"/>
														</div>
														<div class="ui-grid-col-8">
															<p:outputLabel
																value="#{vehiculo.carroceria.nombre}"
																styleClass="crud-field-value"/>
														</div>
													</div>
													
													<div class="ui-grid-row">
														<div class="ui-grid-col-4">
															<p:outputLabel styleClass="crud-field-label" value="#{msg.vehiculo_dialog_Color}:"/>
														</div>
														<div class="ui-grid-col-8">
															<p:outputLabel
																value="#{vehiculo.color.nombre}"
																styleClass="crud-field-value"/>
														</div>
													</div>
													
													<div class="ui-grid-row">
														<div class="ui-grid-col-4">
															<p:outputLabel styleClass="crud-field-label" value="#{msg.vehiculo_dialog_Modelo}:"/>
														</div>
														<div class="ui-grid-col-8">
															<p:outputLabel
																value="#{vehiculo.modelo}"
																styleClass="crud-field-value"/>
														</div>
													</div>
													
													<div class="ui-grid-row">
														<div class="ui-grid-col-4">
															<p:outputLabel styleClass="crud-field-label" value="#{msg.vehiculo_dialog_Transmision}:"/>
														</div>
														<div class="ui-grid-col-8">
															<p:outputLabel
																value="#{vehiculo.transmision.nombre}"
																styleClass="crud-field-value"/>
														</div>
													</div>
													
													<div class="ui-grid-row">
														<div class="ui-grid-col-4">
															<p:outputLabel styleClass="crud-field-label" value="#{msg.vehiculo_dialog_Cilindraje}:"/>
														</div>
														<div class="ui-grid-col-8">
															<p:outputLabel
																value="#{vehiculo.cilindraje}"
																styleClass="crud-field-value"/>
														</div>
													</div>
													
													<div class="ui-grid-row">
														<div class="ui-grid-col-4">
															<p:outputLabel styleClass="crud-field-label" value="#{msg.vehiculo_dialog_Linea}:"/>
														</div>
														<div class="ui-grid-col-8">
															<p:outputLabel
																value="#{vehiculo.linea}"
																styleClass="crud-field-value"/>
														</div>
													</div>
													
												</div>
												
											</p:fieldset>

										</p:dialog>

						            </h:panelGrid>
						        </p:panel>
						 
						    </p:dataGrid>
						</div>
					</div>
					
				</div>
				
				<ui:include src="/generics/generics.xhtml"/>
				
			</h:form>
			
		</h:body>
		
	</f:view>
</html>
